<div class="aboutPage">
    <div class="page-header">
        <h1>About this node <small>we rock!</small></h1>
    </div>
    <div class="span4">
    <p>
    Sustainable tattooed sriracha, in velit farm-to-table fanny pack kale chips
    messenger bag. Ethnic deserunt accusamus scenester fixie vegan, blog enim.
    Retro butcher thundercats lo-fi assumenda, master cleanse occupy aliqua cosby
    sweater quinoa nesciunt truffaut williamsburg. Mlkshk sed tumblr sunt, cray
    street art pour-over typewriter. Twee mustache qui cardigan. Freegan
    adipisicing direct trade deserunt. Anim cliche ennui officia commodo terry
    richardson.
    </p>
    </div>
    <div class="span4">
    <a href="#" class="thumbnail">
      <img src="http://placehold.it/300x200" alt="">
    </a>
    </div>
</div>
