<tr class="template-upload" id="{{item_id}}">
  <td class="preview"></span></td>
  <td class="name"><span>{{name}}</span></td>
  <td class="size"><span>{{filesize}}</span></td>

  <!-- td class="error" colspan="2"><span class="label
      label-important">Error</span> {{error}}</td-->

  <td>
    <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
      <div class="bar" style="width:0%;"></div>
    </div>
  </td>
  <!-- td class="start">
    <button class="btn btn-primary">
      <i class="icon-upload icon-white"></i>
      <span>Start</span>
    </button>
  </td>
  <td colspan="2"></td-->
  <td class="cancel">
  <button class="btn btn-warning">
      <i class="icon-ban-circle icon-white"></i>
      <span>Cancel</span>
  </button>
  </td>
</tr>

