<div class="homePage jumbotron masthead">
    <h1>Welcome to GLClient!</h1>
    <p>I speak
    <select>
        <option>English</option>
        <option>Serbian</option>
    </select>
</div>

<div>
    </p>
    <p>Through this you will be able to submit anonymous tips to GlobaLeaks</p>

    <ul class="nav nav-pills">
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li><a href="#/submission">Submission</a></li>
      <li><a href="#/about">About</a></li>
      <li><a href="#/status/foo">Status Page</a></li>
      <li><a href="#/receiver/foo">Receiver</a></li>
      <li><a href="#/admin">Admin</a></li>
    </ul>

</div>
