
<div class="jumbotron subhead">
  <div class="container">
  <h1>Tip Status Page</h1>
  <p>You receipt is <input id="receiptNumber" type="text" value="{{receipt}}"></p>
  </div>
</div>

<div class="container statusPage">
  <div class="row">
    <div class="span4">
      <dl>
        {{#fields}}
        <dt>{{name}}</dt>
        <dd>{{value}}</dd>
        {{/fields}}
      </dl>
    </div>
    <div class="span4">
      <h3>Files</h3>
      <div class="well">
        <ul>
          <li><i class="icon-book"></i> Document.pdf</li>
          <li><i class="icon-book"></i> Document.pdf</li>
          <li><i class="icon-book"></i> Document.pdf</li>
          <li><i class="icon-book"></i> Document.pdf</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="span4">
   <div class="table-container">
   <table class="table table-striped table-bordered dataTable" id="receiverList">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody id="receiverListBody">
    </tbody>
  </table>

    <ul>
    {{#receivers}}
    <td>{{name}}</td>
    <td>{{description}}</td>
    {{/receivers}}
    </ul>
  </div>
</div>
