<div class="statusPage">
    <div class="page-header">
        <h1>Example Receipt Page <small>for tip {{tip_id}}</small></h1>
    </div>

    <div class="row">
        <div class="span4">
            <dl>
                <dt>Title</dt>
                <dd>The Title</dd>
                <dt>Description</dt>
                <dd><div class="well">
               Sustainable tattooed sriracha, in velit farm-to-table fanny pack
               kale chips messenger bag. Ethnic deserunt accusamus scenester
               fixie vegan, blog enim. Retro butcher thundercats lo-fi
               assumenda, master cleanse occupy aliqua cosby sweater quinoa
               nesciunt truffaut williamsburg. Mlkshk sed tumblr sunt, cray
               street art pour-over typewriter. Twee mustache qui cardigan.
               Freegan adipisicing direct trade deserunt. Anim cliche ennui
               officia commodo terry richardson.
                </div></dd>
            </dl>
        </div>
        <div class="span4">
            <h3>Files</h3>
            <div class="well">
                <ul>
                    <li><i class="icon-book"></i> Document.pdf</li>
                    <li><i class="icon-book"></i> Document.pdf</li>
                    <li><i class="icon-book"></i> Document.pdf</li>
                    <li><i class="icon-book"></i> Document.pdf</li>
                </ul>
            </div>
        </div>
    </div>
</div>
