
<div class="jumbotron subhead">
    <div class="container">
    <h1>Tip Status Page</h1>
    <p>You receipt is <input id="receiptNumber" type="text" value="{{tip_id}}"</p>
    </div>
</div>

<div class="container statusPage">
  <div class="row">
    <div class="span4">
      <dl>
        {{#fields}}
        <dt>{{name}}</dt>
        <dd>{{value}}</dd>
        {{/fields}}
      </dl>
    </div>
    <div class="span4">
      <h3>Files</h3>
      <div class="well">
        <ul>
          <li><i class="icon-book"></i> Document.pdf</li>
          <li><i class="icon-book"></i> Document.pdf</li>
          <li><i class="icon-book"></i> Document.pdf</li>
          <li><i class="icon-book"></i> Document.pdf</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <ul>
    {{#receivers}}
    <li>{{name}}</li>
    <li>{{description}}</li>
    {{/receivers}}
    </ul>
  </div>
</div>
