<div class="jumbotron subhead">
    <div class="container">
    <h1>New Submission</h1>
    <p>I want to report on
    <select id="context_selector">
    </select>
    </div>
</div>
<div class="submission container">
  <p>{{intro}}</p>
  <div class="submissionContainer span8">
    <div class="receipt hide">
    </div>
    <form class="submissionForm">
      <div class="row">
        <div class="submissionFormLeft span4">
        </div>
        <div class="submissionFormRight span4">
        </div>
      </div>
    </form>
    <div class="fileUpload">
    </div>
  </div>
  <div class="row hide debug_info">
    <div class="span4">
    <h2>Debug functions</h2>
    <button id="node_button">Node info</button>
    <button id="create_new">Create New</button>
    <button id="send_fields">Send Fields</button>
    <button id="select_context">Select context</button>
    <button id="status">Status</button>
    <button id="finalize_button">Finalize</button>
  </div>
</div>

