<div class="jumbotron subhead">
    <div class="container">
    <h1>New Submission</h1>
    <p>I want to report on
    <select>
        <option>Context 1</option>
        <option>Context 2</option>
    </select>
    </div>
</div>
<div class="submission container">
    <p>{{intro}}</p>
    <div class="submissionContainer">
        <form class="submissionForm">
            <div class="row">
                <div class="submissionFormLeft span4">
                </div>
                <div class="submissionFormRight span4">
                </div>
            </div>
        </form>
    </div>
    <h2>Debug functions</h2>
    <button id="node_button">Node info</button>
    <button id="create_new">Create New</button>
    <button id="send_fields">Send Fields</button>
    <button id="status">Status</button>
    <button id="finalize_button">Finalize</button>

</div>

