env:
  browser: true
  node: true
  jasmine: true
  mocha: true
  protractor: true
  serviceworker: true
globals:
  angular: true
  console: true
  fustyFlowFactory: true
  d3: true
  GLClient: true
  importScripts: true
  onmessage: true
  saveAs: true
  StackTrace: true
rules:
  "comma-dangle": 0
extends: [
  "eslint:recommended"
]
