{
  "reporter": ["lcov", "text-summary"],
  "include": ["app/js/**/*"],
  "exclude": ["cypress/**", "node_modules/**", "app/lib/**/*"],
  "check-coverage": false,
  "report-dir": "cypress/coverage",
  "sourceMap": false
}
