<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label data-translate>Logo</label>
      <div data-image-upload data-image-upload-model="resources.node" data-image-upload-model-attr='logo' data-image-upload-id="{{'logo'}}"></div>
    </div>

    <div class="form-group">
      <label data-translate>Project name</label>
      <input class="form-control" data-ng-model="resources.node.name" type="text" />
    </div>

    <div class="form-group">
      <label data-translate>Description</label>
      <div>
        <textarea class="form-control" data-ng-model="resources.node.description"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Homepage title</label>
      <div>
        <textarea class="form-control" data-ng-model="resources.node.header_title_homepage"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Presentation</label>
      <div>
        <textarea class="form-control" data-ng-model="resources.node.presentation"></textarea>
      </div>
    </div>

    <div class="form-group" data-ng-if="Authentication.session.role === 'admin'">
      <label data-translate>Question to solicit possible whistleblowers</label>
      <div>
        <textarea class="form-control" data-ng-model="resources.node.whistleblowing_question"></textarea>
      </div>
    </div>

    <div class="form-group" data-ng-if="Authentication.session.role === 'admin'">
      <label data-translate>Whistleblowing button</label>
      <input class="form-control" data-ng-model="resources.node.whistleblowing_button" type="text" />
    </div>

    <div class="form-group" data-ng-if="public.node.mode === 'default'">
      <div class="form-group">
        <label data-translate>Disclaimer</label>
        <div>
          <textarea class="form-control" data-ng-model="resources.node.disclaimer_text"></textarea>
        </div>
      </div>

      <div>
        <label data-translate>Footer</label>
        <div>
          <textarea class="form-control" data-ng-model="resources.node.footer"></textarea>
        </div>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary"
              data-ng-disabled="contentForm.$invalid"
              data-ng-click="updateNode()" type="submit">
        <i class="fas fa-check"></i>
        <span data-translate>Save</span>
      </button>
    </div>
  </div>
</div>
