<div class="row">
  <div class="col-md-6">

    <div class="form-group">
      <label data-translate>Project name</label>
      <input class="form-control" data-ng-model="admin.node.name" value="{{admin.node.name}}" type="text" />
    </div>

    <div class="form-group">
      <label data-translate>Homepage title</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.header_title_homepage">{{admin.node.header_title_homepage}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Presentation</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.presentation">{{admin.node.presentation}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Description</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.description">{{admin.node.description}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Footer</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.footer">{{admin.node.footer}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Question to solicit possible whistleblowers</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.whistleblowing_question">{{admin.node.whistleblowing_question}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Whistleblowing button</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.whistleblowing_button">{{admin.node.whistleblowing_button}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Title of the submission page</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.header_title_submissionpage">{{admin.node.header_title_submissionpage}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Title of the receipt page</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.header_title_receiptpage">{{admin.node.header_title_receiptpage}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Title of the submission status page</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.header_title_tippage">{{admin.node.header_title_tippage}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Title of the comments widget</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.widget_comments_title">{{admin.node.widget_comments_title}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Title of the messages widget</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.widget_messages_title">{{admin.node.widget_messages_title}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Title of the attachments widget</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.widget_files_title">{{admin.node.widget_files_title}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Text shown in front of the context selector</label>
      <input class="form-control" data-ng-model="admin.node.context_selector_label" type="text" />
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.show_contexts_in_alphabetical_order" type="checkbox" />
        <span data-translate>Show contexts in alphabetical order</span>
      </label>
    </div>

    <div class="form-group">
      <label data-translate>Tor hidden service (URL)</label>
      <input class="form-control" name="hidden_service" data-ng-model="admin.node.hidden_service" data-ng-pattern="/^http://[0-9a-z]{16}\.onion$/" type="text">
      <p class="text-red" data-ng-show="contentForm.hidden_service.$error.pattern">
        <span data-translate>Invalid format for hidden service (similar to http://thirteenchars123.onion)</span>
      </p>
    </div>

    <div class="form-group">
      <label data-translate>Tor2web public site (URL)</label>
      <input class="form-control" name="public_site" data-ng-model="admin.node.public_site" data-ng-pattern="https_regexp" type="url">
      <p class="text-red" data-ng-show="contentForm.public_site.$error.pattern">
        <span data-translate>Invalid format for public site (similar to https://thirteenchars123.tor2web.org)</span>
      </p>
    </div>
  </div>
</div>
