<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label data-translate>Favicon</label>
      <div class="well well-large uploadfile file-favicon">
        <div flow-init="{target: 'admin/files/favicon'}"
              flow-files-submitted="$flow.upload()"
              flow-file-success="reload()"
              extend-flow-valid-size="node.maximum_filesize*1024*1024"
              extend-flow-valid-types="['ico']">
          <span class="btn btn-success fileinput-button">
            <span class="uploadfile" flow-btn>
              <span class="glyphicon glyphicon-plus"></span>
              <span data-translate>Upload</span>
            </span>
          </span>
          <span data-ng-if="node['favicon']">
            <a class="btn btn-primary" href="data:application/octet-stream;base64,{{node['favicon']}}" download={{favicon}}>
              <span class="glyphicon glyphicon-download"></span>
              <span data-translate>Download</span>
            </a>
            <a class="btn btn-danger" data-ng-click="delete_file('admin/files/favicon')">
              <span class="glyphicon glyphicon-trash"></span>
              <span data-translate>Delete</span>
            </a>
          </span>
          <div errors-upload></div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div data-ng-repeat="admin_file in admin_files" data-ng-include="'views/partials/admin_file.html'"></div>
      <label data-translate>Upload custom file</label>
      <br />
      <span data-translate>The file will be available at URL: /s/$filename</span>
      <div class="well well-large uploadfile file-custom">
        <span flow-init="{target: 'admin/staticfiles/upload'}"
              flow-files-submitted="$flow.upload()"
              flow-file-success="reload()"
              extend-flow-valid-size="node.maximum_filesize*1024*1024">
          <div class="btn btn-success fileinput-button">
            <span class="uploadfile" flow-btn>
              <span class="glyphicon glyphicon-plus"></span>
              <span data-translate>Upload</span>
            </span>
          </div>
          <div errors-upload></div>
        </span>
      </div>
      <div data-ng-if="staticfiles.length">
        <label data-translate>Files</label>
        <br />
        <div class="table-container">
          <table class="table table-striped" id="fileList">
            <tbody id="fileListBody">
              <tr data-ng-repeat="file in staticfiles | orderBy:'name'">
                <td>{{file.name}}</td>
                <td>
                  <a class="btn btn-primary" data-ng-href="s/{{file.name}}" download="{{file.name}}">
                    <span class="glyphicon glyphicon-download"></span>
                    <span data-translate>Download</span>
                  </a>
                  <a class="btn btn-danger" data-ng-click="delete_file('admin/staticfiles/' + file.name)" data-single-click>
                    <span class="glyphicon glyphicon-trash"></span>
                    <span data-translate>Delete</span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
