<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label data-translate>Language configuration</label>
      <button class="btn btn-xs btn-primary add-language-btn" data-ng-click="toggleLangSelect()">
        <i class="glyphicon glyphicon-plus"></i>
        <span data-translate>Add</span>
      </button>
      <div>
        <div id="languageAdder" class="row">
          <div class="col-md-12" data-ng-if="showLangSelect">
            <ui-select data-ng-model="selected.value" data-theme="bootstrap" data-on-select='enableLanguage($item);'>
              <ui-select-match data-ng-attr-placeholder="{{'Type to search…' | translate}}">
                <span data-ng-bind="$select.selected.name"></span>
              </ui-select-match>
              <ui-select-choices data-repeat="language in admin.node.languages_supported | filter:langNotEnabledFilter | filter: {name: $select.search}">
                <span data-ng-bind-html="languages_supported[language.code] | highlight: $select.search"></span>
                <span>[{{language.code}}]</span>
              </ui-select-choices>
            </ui-select>
            <br/>
          </div>
        </div>
        <ol class="selectionList">
          <li data-ng-repeat="lang_code in admin.node.languages_enabled">
            <span class="action-btns">
              <span data-ng-if="lang_code !== admin.node.default_language" data-ng-click="admin.node.languages_enabled.splice($index, 1)" uib-popover="{{'Remove' | translate}}" popover-trigger="'mouseenter'">
                <i class="glyphicon glyphicon-remove"></i>
              </span>
              <span data-ng-if="lang_code === admin.node.default_language" uib-popover="{{'Default' | translate}}" popover-trigger="'mouseenter'">
                <i class="glyphicon glyphicon-record"></i>
              </span>
            </span>
            <label>{{languages_supported[lang_code]}} [{{lang_code}}]</label>
          </li>
        </ol>
    </div>

    <div class="form-group">
      <label data-translate>Default language</label>
      <select class="form-control" data-ng-model="admin.node.default_language" data-ng-options="lang_code as languages_supported[lang_code] for lang_code in admin.node.languages_enabled"></select>
    </div>
  </div>
</div>
