<div class="form-group">
    <form name="adminNetForm" #adminNetForm="ngForm" novalidate>
        <p class="input-group">
            <span class="input-group-prepend">
                <span class="input-group-text rounded-end-0">{{ 'Hostname' | translate }}</span>
            </span>
            <input name="hostname" class="form-control" type="text" [(ngModel)]="hostName" #hostname="ngModel" [pattern]="Constants.hostnameRegexp" [ngClass]="{'is-invalid': hostname.errors?.['pattern']}" />
            <span class="input-group-append">
                <button class="btn btn-primary rounded-start-0 m-0" id="save_hostname" (click)="updateHostname(hostName)" [disabled]="hostname.errors?.['pattern'] || adminNetForm.pristine">{{ 'Save' | translate }}</button>
            </span>
        </p>
    </form>
</div>
@if (appDataService.public.node.hostname) {
    <div id="HTTPSSettings">
        <div class="card card-default">
            <div class="card-body">
            <src-https-status [tlsConfig]="tlsConfig" (dataToParent)="httpsStatus($event)"></src-https-status>
            @switch (menuState) {
            @case ('setup') {
                <div>
                    <src-https-setup (dataToParent)="httpsSetup($event)"></src-https-setup>
                </div>
            }
            @default {
                <div>
                    <src-https-files [tlsConfig]="tlsConfig" [state]="state" (dataToParent)="httpsFiles($event)"></src-https-files>
                </div>
            }
            }
            </div>
        </div>
    </div>
}