<div class="modal-header">
  <div class="modal-title" data-translate>Change status</div>
</div>
<div class="modal-body">
  <div data-translate>Status:</div>
  <select id="assignSubmissionStatus" class="form-control" data-ng-model="arg.status" data-ng-options="state as state.label | translate for state in arg.submission_statuses.slice(1)"></select>
</div>
<div class="modal-footer">
  <button id="modal-action-ok" class="btn btn-primary" data-ng-click="confirm(arg)">
    <i class="fa-solid fa-check"></i>
    <span data-translate>Confirm</span>
  </button>
  <span id="modal-action-cancel" class="btn btn-outline-secondary" data-ng-click="cancel()">
    <i class="fa-solid fa-times"></i>
    <span data-translate>Cancel</span>
  </span>
</div>
