<div class="modal-header">
  <div class="modal-title" data-translate>Are you sure?</div>
  <button type="button" class="close" data-ng-click="cancel()" aria-label="{{'Close' | translate}}">
    <i class="fa-solid fa-times"></i>
  </button>
</div>
<div class="modal-body"></div>
<div class="modal-footer">
  <button id="modal-action-ok" class="btn btn-primary" data-ng-click="confirm(arg)">
    <i class="fa-solid fa-check"></i>
    <span data-translate>Yes</span>
  </button>
  <button id="modal-action-cancel" class="btn btn-outline-secondary" data-ng-click="cancel()">
    <i class="fa-solid fa-times"></i>
    <span data-translate>No</span>
  </button>
</div>
