<div class="modal-header">
  <div class="modal-title" data-translate>Enable two factor authentication</div>
</div>
<div class="modal-body">
  <div data-ng-include="'views/partials/enable_2fa.html'"></div>
</div>
<div class="modal-footer">
 <button data-ng-click="confirm(totp.token)" data-ng-disabled="totp.secret.length !== 32 || totp.token.length !== 6" class="btn btn-primary" data-translate>Enable</button>
 <button data-ng-click="cancel()" class="btn btn-light" data-translate>Close</button>
</div>
