<div class="modal-header">
  <div class="modal-title" data-translate>Account recovery key</div>
</div>
<div class="modal-body">
  <div class="text-center font-weight-bold" data-uib-tooltip="{{'Copy to clipboard' | translate}}" data-ng-click="Utils.copyToClipboard(erk)">{{erk}}</div>
  <br />
  <div data-translate>Make a copy and store it in a safe place. It will be necessary if you lose your password to recover the access to your account without data loss.</div>
</div>
<div class="modal-footer">
  <button data-ng-click="cancel()" class="btn btn-outline-secondary" data-translate>Close</button>
</div>
