<div class="modal-header">
  <div class="modal-title">
    <h2>{{arg.name}}</h2>
  </div>
  <button type="button" class="close" data-ng-click="cancel()">
    <i class="fa-solid fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <div data-ng-if="!arg.objectUrl" class="Loader"></div>
  <div data-ng-if="arg.objectUrl" data-ng-switch="arg.tag">
    <div data-ng-switch-when="image">
      <img id="viewer" data-ng-src="{{arg.objectUrl}}" />
    </div>
    <div data-ng-switch-when="video">
      <video id="viewer" controls data-ng-src="{{arg.objectUrl}}"></video>
    </div>
    <div data-ng-switch-when="audio">
      <audio id="viewer" controls data-ng-src="{{arg.objectUrl}}"></audio>
    </div>
  </div>
</div>
<div class="modal-footer">
  <a id="modal-action-cancel"
     class="btn btn-outline-secondary"
     data-ng-click="cancel()">
    <i class="fa-solid fa-times"></i>
    <span data-translate>Close</span>
  </a>
</div>
