<div class="modal-header">
  <div class="modal-title" data-translate>Attention</div>
  <button type="button" class="close" data-ng-click="cancel()" aria-label="{{'Close' | translate}}">
    <i class="fa-solid fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-12">
      <label for="ReceiptCode" data-translate>For security reason th receipt code for your report needs to be changed.</label>
      <div class="mt-2 form-inline" data-uib-tooltip="{{'Copy to clipboard' | translate}}" data-ng-click="Utils.copyToClipboard(receipt)">
        <div class="form-group d-block mx-auto">
          <div class="input-group">
            <input id="ReceiptCode" class="form-control" type="text" maxlength="19" size="19" data-ng-model="formatted_receipt" name="receipt-input" disabled>
            <span class="input-group-append">
              <button id="ReceiptButton" data-ng-click="Utils.copyToClipboard(receipt)" class="btn btn-primary" type="button" data-ng-attr-aria-label="{{'Copy to clipboard' | translate}}" >
                <i class="fa-solid fa-copy"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button id="modal-action-ok" class="btn btn-primary" data-ng-click="confirm()">
    <span data-translate>Confirm</span>
  </button>
  <a id="modal-action-cancel" class="btn btn-outline-secondary" data-ng-click="cancel()">
    <i class="fa-solid fa-times"></i>
    <span>Close</span>
  </a>
</div>
