<div class="modal-header">
  <div class="modal-title" data-translate>Deny access to the whistleblower's identity</div>
  <button type="button" class="close" data-ng-click="cancel()" aria-label="{{'Close' | translate}}">
    <i class="fa-solid fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <label data-translate>Please write a motivation for the reply</label>
  <span class="text-danger" data-uib-tooltip="{{'This field is mandatory' | translate}}">*</span>
  <textarea class="form-control" data-ng-model="reply_motivation" data-ng-attr-placeholder="{{'Reply motivation' | translate}}"></textarea>
</div>
<div class="modal-footer">
  <button id="modal-action-ok" class="btn btn-primary" data-ng-disabled="!reply_motivation" data-ng-click="confirm()">
    <i class="fa-solid fa-check"></i>
    <span data-translate>Send</span>
  </button>
  <span id="modal-action-cancel" class="btn btn-outline-secondary" data-ng-click="cancel()">
    <i class="fa-solid fa-times"></i>
    <span data-translate>Cancel</span>
  </span>
</div>
