<div>
  <textarea
    pgp-pubkey-validator
    class="form-control"
    name="pgpkey"
    data-ng-attr-placeholder="{{'Copy and paste the PGP public key here'}}"
    data-ng-model="localModel"
    data-ng-required="required"></textarea>
  <br />
  <div class="alert alert-danger"
       data-ng-show="keyForm.pgpkey.$error.pgpPubKeyValidator && keyForm.pgpkey.$modelValue.$invalid">
    <p class="has-error" data-translate>The PGP public key you input is invalid!</p>
  </div>
  <div class="alert alert-success"
       data-ng-show="keyForm.pgpkey.$valid && keyForm.pgpkey.$dirty">
    <p data-translate>The PGP public key you input is valid!</p>
  </div>
</div>
