<div class="modal-header">
  <div class="modal-title">
    <span data-translate>Congratulations!</span>
  </div>
</div>
<div class="modal-body">
  <div class="alert alert-info">
    <p>
      <i class="glyphicon glyphicon-cog gly-spin"></i>
        <span data-translate>You have succesfully completed the platform wizard. You are now ready to further tweak the platform with the admin interface.</span>
      <span data-translate>Your browser will be redirected to the following URL.</span>
    </p>
  </div>
  <div class="well text-center">
    <code>{{ $resolve.https_url }}</code>
  </div>
</div>
