<form name="wizardForm" novalidate>
  <div id="WizardStep1" data-ng-show="step == 1">
    <div class="row wizard-block">
      <div class="col-md-12">
        <div class="title1" data-translate>Welcome to GlobaLeaks!</div>
        <div data-translate>The following step by step wizard will guide you through configuring your whistleblowing site.</div>
      </div>
      <hr />
      <div class="col-md-12">
        <div class="title3" data-translate>Please choose the primary language of the site:</div>
        <div id="LanguagePickerBox" class="languagePick alert alert-warning">
          <select data-ng-model="GLTranslate.indirect.appLanguage" data-ng-options="item.code as item.native for item in languages_enabled_selector" class="form-control"></select>
        </div>
      </div>
    </div>
    <div class="pager pull-right">
      <button class="ButtonNext btn btn-primary" data-ng-click="step=step+1">
        <span data-translate>next step</span>
        <i class="glyphicon glyphicon-circle-arrow-right"></i>
      </button>
    </div>
  </div>
  <div id="WizardStep2" data-ng-show="step == 2" data-ng-form="wizardFormStep2">
    <div class="row wizard-block">
      <div class="title" data-translate>General</div>
      <div class="col-md-6">
        <div class="form-group col-md-12">
          <label class="col-md-4">
            <span data-translate>Project name</span>
            <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right">*</span>
          </label>
          <div class="col-md-8" data-ng-class="{'has-error': wizardFormStep2.node_name.$error.required}">
            <input name="node_name" class="form-control" data-ng-model="wizard.node_name" data-ng-attr-placeholder="{{'Project name' | translate}}" type="text" required>
          </div>
        </div>
      </div>
    </div>
    <div class="pager pull-right">
      <button class="ButtonPrevious btn btn-primary" data-ng-click="step=step-1">
        <i class="glyphicon glyphicon-circle-arrow-left"></i>
        <span data-translate>previous step</span>
      </button>
      <button class="ButtonNext btn btn-primary" data-ng-click="step=step+1" data-ng-disabled="wizardFormStep2.$invalid">
        <span data-translate>next step</span>
        <i class="glyphicon glyphicon-circle-arrow-right"></i>
      </button>
    </div>
  </div>
  <div id="WizardStep3" data-ng-show="step == 3">
    <div class="row wizard-block">
      <div class="title" data-translate>Please choose a configuration profile:</div>
      <div class="col-md-6">
        <div data-ng-include="'views/wizard/profiles.html'"></div>
      </div>
      <div class="col-md-6">
        <div class="wizard-help-hint">
          <p data-translate>These profiles contain settings used by successful projects in each respective field.</p>
        </div>
      </div>
    </div>
    <div class="pager pull-right">
      <button class="ButtonPrevious btn btn-primary" data-ng-click="step=step-1">
        <i class="glyphicon glyphicon-circle-arrow-left"></i>
        <span data-translate>previous step</span>
      </button>
      <button class="ButtonNext btn btn-primary" data-ng-click="step=step+1">
        <span data-translate>next step</span>
        <i class="glyphicon glyphicon-circle-arrow-right"></i>
      </button>
    </div>
  </div>
  <div id="WizardStep4" data-ng-show="step == 4" data-ng-form="wizardFormStep4">
    <div class="row wizard-block">
      <div class="title" data-translate>Admin</div>
       <div class="col-md-6">
        <div class="form-group col-md-12">
          <label class="col-md-4">
            <span data-translate>Name</span>
            <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right">*</span>
          </label>
          <div class="col-md-8" data-ng-class="{'has-error': wizardFormStep4.admin_name.$error.required}">
            <input name="admin_name" class="form-control" data-ng-model="wizard.admin_name" type="text" data-ng-attr-placeholder="{{'Name' | translate}}" required>
          </div>
        </div>
         <div class="form-group col-md-12">
           <label class="col-md-4">
             <span data-translate>Email address</span>
             <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right">*</span>
           </label>
           <div class="col-md-8" data-ng-class="{'has-error': wizardFormStep4.admin_email.$error.required || wizardFormStep4.admin_email.$error.pattern}">
             <input name="admin_email" class="form-control" data-ng-model="wizard.admin_mail_address" data-ng-attr-placeholder="{{'Email address' | translate}}" data-ng-pattern="email_regexp" type="text" required>
             <div class="text-danger" data-ng-show="wizardFormStep4.admin_email.$error.pattern">
               <span data-translate>Invalid email address</span>
             </div>
           </div>
         </div>
         <div class="form-group col-md-12">
          <label class="col-md-4">
            <span data-translate>Password</span>
            <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right">*</span>
          </label>
          <div class="col-md-8" data-ng-class="{'has-error': wizardFormStep4.password.$error.required || wizardFormStep4.password.$error.passwordStrength}">
            <input name="password" class="form-control" data-ng-model="wizard.admin_password" type="password" data-ng-attr-placeholder="{{'Password' | translate}}" autocomplete="off" data-zxcvbn="passwordStrength" data-zx-min-score="3" required />
            <zx-password-meter value="passwordStrength"></zx-password-meter>
            <div class="text-danger" data-ng-show="!wizardFormStep4.password.$error.required && wizardFormStep4.password.$error.passwordStrength">
              <p data-translate>The chosen password is too weak. Make it more secure by adding special characters, numbers, and unusual symbols.</p>
            </div>
          </div>
        </div>
        <div class="form-group col-md-12">
          <label class="col-md-4">
            <span data-translate>Confirm password</span>
            <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right">*</span>
          </label>
          <div class="col-md-8" data-ng-class="{'has-error': wizardFormStep4.checkpassword.$error.required || wizard.admin_password !== admin_check_password}">
            <input name="checkpassword" class="form-control" data-ng-model="admin_check_password" type="password" data-ng-attr-placeholder="{{'Password' | translate}}" autocomplete="off" required />
            <div class="text-danger" data-ng-show="!wizardFormStep4.password.$error.passwordStrength && (wizard.admin_password !== admin_check_password)" data-translate>The two passwords do not match</div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="wizard-help-hint">
          <span data-translate>The default username is:</span>
          <span class="label label-warning">admin</span>
        </div>
      </div>
    </div>
    <div class="pager pull-right">
      <button class="ButtonPrevious btn btn-primary" data-ng-click="step=step-1">
        <i class="glyphicon glyphicon-circle-arrow-left"></i>
        <span data-translate>previous step</span>
      </button>
      <button class="ButtonNext btn btn-primary" data-ng-click="step=step+1" data-ng-disabled="wizardFormStep4.$invalid || (wizard.admin_password !== admin_check_password)">
        <span data-translate>next step</span>
        <i class="glyphicon glyphicon-circle-arrow-right"></i>
      </button>
    </div>
  </div>
  <div id="WizardStep6" data-ng-show="step == 5" data-ng-form="wizardFormStep5">
    <div class="row wizard-block">
      <div class="title" data-translate>Recipient</div>
      <div class="col-md-6">
        <div class="form-group col-md-12">
          <label class="col-md-4">
            <span data-translate>Name</span>
            <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right">*</span>
          </label>
          <div class="col-md-8" data-ng-class="{'has-error': wizardFormStep5.receiver_name.$error.required}">
            <input name="receiver_name" class="form-control" data-ng-model="wizard.receiver_name" type="text" data-ng-attr-placeholder="{{'Name' | translate}}" required>
          </div>
        </div>
        <div class="form-group col-md-12">
          <label class="col-md-4">
            <span data-translate>Email address</span>
            <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right">*</span>
          </label>
          <div class="col-md-8" data-ng-class="{'has-error': wizardFormStep5.receiver_email.$error.required || wizardFormStep5.receiver_email.$error.pattern}">
            <input name="receiver_email" class="form-control" data-ng-model="wizard.receiver_mail_address" data-ng-pattern="email_regexp" type="text" data-ng-attr-placeholder="{{'Email address' | translate}}" required>
            <div class="text-danger" data-ng-show="wizardFormStep5.receiver_email.$error.pattern">
              <span data-translate>Invalid email address</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="wizard-help-hint">
          <span data-translate>The default username is:</span>
          <span class="label label-warning">recipient</span>
        </div>
        <div class="wizard-help-hint">
          <span data-translate>The default password is:</span>
          <span class="label label-warning">globaleaks</span>
        </div>
        <div class="wizard-help-hint" data-translate>Recipients are very important for a whistleblowing project. They are the people responsible for receiving the whistleblowers' submissions, verifying their authenticity and for taking action too. Choose them wisely.</div>
      </div>
    </div>
    <div class="pager pull-right">
      <button class="ButtonPrevious btn btn-primary" data-ng-click="step=step-1">
        <i class="glyphicon glyphicon-circle-arrow-left"></i>
        <span data-translate>previous step</span>
      </button>
      <button class="ButtonNext btn btn-primary" data-ng-click="step=step+1" data-ng-disabled="wizardFormStep5.$invalid">
        <span data-translate>next step</span>
        <i class="glyphicon glyphicon-circle-arrow-right"></i>
      </button>
    </div>
  </div>
  <div id="WizardStep6" data-ng-show="step == 6" data-ng-form="wizardFormStep6">
    <div class="row wizard-block">
      <div class="col-md-12 title1" data-translate>License Agreement</div>
      <div class="col-md-12" data-translate>Please review the license terms before proceeding.</div>
      <div class="col-md-12">
        <pre id='wizardLicense' class="license" data-ng-include="'license.txt'"></pre>
        <label>
          <input name="tosAccept" class="inputelem" type="checkbox" data-ng-required="true" data-ng-model="tosAccept"/>
          <span class="tos-agreement" data-translate>I have read and agree to the terms of the License Agreement.</span>
        </label>
      </div>
    </div>
    <div class="pager pull-right">
      <button class="ButtonPrevious btn btn-primary" data-ng-click="step=step-1">
        <i class="glyphicon glyphicon-circle-arrow-left"></i>
        <span data-translate>previous step</span>
      </button>
      <button class="ButtonNext btn btn-primary" data-ng-click="complete()" data-ng-disabled="wizardFormStep6.$invalid">
        <span data-translate>next step</span>
        <i class="glyphicon glyphicon-circle-arrow-right"></i>
      </button>
    </div>
  </div>
  <div id="WizardStep7" data-ng-show="step == 7">
    <div class="row wizard-block">
      <div class="col-md-10">
        <div class="congratulations">
          <div class="title1" data-translate>Congratulations!</div>
          <div data-translate>You have completed the platform wizard.</div>
        </div>
      </div>
    </div>
    <div class="pager pull-right">
      <button class="ButtonNext btn btn-success" data-ng-click="goToAdminInterface()" type="submit" data-translate>Go to the Admin Interface</button>
    </div>
  </div>
</form>
