<label>{{admin_file.title}}</label>
<div class="card.card-body uploadfile file-{{admin_file.varname}}"
     flow-init="{target: 'api/admin/files/' + admin_file.varname}"
     flow-files-submitted="$flow.upload()"
     flow-file-success="reload()"
     flow-file-single
     extend-flow-valid-types="[admin_file.type]"
     extend-flow-valid-size="admin_file.size">
  <span data-ng-show="!public.node[admin_file.varname]">
    <div class="custom-file">
      <input id="customFile-{{admin_file.varname}}" class="custom-file-input" type="file" flow-btn />
      <label class="btn btn-sm btn-primary" for="customFile-{{admin_file.varname}}">
        <i class="fas fa-upload"></i>
        <span data-translate>Upload</span>
      </label>
    </div>
  </span>
  <span data-ng-show="public.node[admin_file.varname]">
    <a class="btn btn-sm btn-primary" href="{{'s/' + admin_file.varname}}" download="{{admin_file.filename}}">
      <i class="fas fa-download"></i>
      <span data-translate>Download</span>
    </a>
    <button class="btn btn-sm btn-danger" data-ng-click="delete_file('api/admin/files/' + admin_file.varname)">
      <i class="fas fa-trash"></i>
      <span data-translate>Delete</span>
    </button>
  </span>
  <div data-single-error-upload></div>
</div>
