<label>{{admin_file.title}}</label>
<div class="well well-large uploadfile file-{{ admin_file.varname }}"
     flow-init="{target: 'admin/files/' + admin_file.varname}"
     flow-files-submitted="$flow.upload()"
     flow-file-success="reload()"
     flow-file-single
     extend-flow-valid-types="[admin_file.type]"
     extend-flow-valid-size="admin_file.size">
  <span>
    <div class="btn btn-success fileinput-button">
      <span class="uploadfile" flow-btn>
        <span class="glyphicon glyphicon-plus"></span>
        <span data-translate>Upload</span>
      </span>
    </div>
  </span>
  <span data-ng-if="node[admin_file.varname]">
    <a class="btn btn-primary" href="data:application/octet-stream;base64,{{node[admin_file.varname]}}" download="{{admin_file.filename}}">
      <span class="glyphicon glyphicon-download"></span>
      <span data-translate>Download</span>
    </a>
    <a class="btn btn-danger" data-ng-click="delete_file('admin/files/' + admin_file.varname)">
      <span class="glyphicon glyphicon-trash"></span>
      <span data-translate>Delete</span>
    </a>
  </span>
  <div data-single-error-upload></div>
</div>
