<div id="CountDown">
  <span class="ng-scope" data-ng-if="submission.current_submission._counter">
      <timer id= language="en" countdown="submission.current_submission._counter" interval="1000">
          <h4 class="ng-scope" id="SubmissionWait" data-translate>
              Before submission can be sent, has to pass: {{countdown}} seconds.
          </h4>
          <h4 class="ng-scope alert-warning" id="SubmissionWaraning" data-translate>
              Warning: the submission is going to expired in: {{countdown}} seconds.
          </h4>
          <h4 class="ng-scope alert-danger" id="SubmissionClosed" data-translate>
              The submission window is closed: you have to reload the page and perform it again
          </h4>
      </timer>
  </span>
</div>


