<svg id="creditCard" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 749.1 467.8" enable-background="new 0 0 749.1 467.8" xml:space="preserve">
  <g font-size="20">
    <path fill="#428bca" d="M55.7,0h637.7c30.6,0,55.7,25.1,55.7,55.7v356.4c0,30.6-25.1,55.7-55.7,55.7H55.7 C25.1,467.8,0,442.7,0,412.1V55.7C0,25.1,25.1,0,55.7,0z"></path>
    <g>
      <path fill="#DEDEDE" d="M124,75.7h30.3c26.2,0,47.6,21.4,47.6,47.6v11.9c0,26.2-21.4,47.6-47.6,47.6H124 c-26.2,0-47.6-21.4-47.6-47.6v-11.9C76.4,97.1,97.8,75.7,124,75.7z"></path>
      <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="199.1" y1="108.3" x2="79.1" y2="108.3"></line>
      <line fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" x1="79.1" y1="151.3" x2="199.1" y2="151.3"></line>
      <circle fill="none" stroke="#000000" stroke-width="2" stroke-miterlimit="10" cx="139.1" cy="129.2" r="20.7"></circle>
    </g>
    <text id="credit_card" transform="matrix(1 0 0 1 300 120)" class="cc-text-1">{{'CREDIT CARD' | translate}}</text>
    <text id="cc_number" transform="matrix(1 0 0 1 75 260)" fill="#FFFFFF" font-family="'OCRAExtended'" class="cc-text-1">{{formatted_keycode}}</text>
    <text id="valid_from" transform="matrix(1 0 0 1 320 306)" class="cc-text-2">{{'VALID FROM' | translate}}</text>
    <text transform="matrix(1 0 0 1 320 345)" fill="#FFFFFF" font-family="'sans-serif'" class="cc-text-2">12/13</text>
    <text id="expires_end" transform="matrix(1 0 0 1 535 306)" class="cc-text-2">{{'EXPIRES END' | translate}}</text>
    <text transform="matrix(1 0 0 1 535 345)" fill="#FFFFFF" font-family="'sans-serif'" class="cc-text-2">12/18</text>
    <text id="your_name" transform="matrix(1 0 0 1 75 420)" font-family="'sans-serif'" class="cc-text-1">{{'YOUR NAME' | translate}}</text>
  </g>
</svg>
