<div class="modal-header">
  <button type="submit" class="close" aria-hidden="true" data-ng-click="cancel()">
    <i class="fa fa-trash-alt-circle"></i>
  </button>
  <div class="modal-title" data-translate>Are you sure?</div>
</div>
<div class="modal-body">
  <div class="alert alert-danger">
    <span data-translate>Please note that all the associated data will be permanently lost.</span>
  </div>
</div>
<div class="modal-footer">
  <button id="modal-action-cancel" class="btn btn-secondary" data-ng-click="cancel()">
    <i class="fa fa-trash-alt"></i>
    <span data-translate>Cancel</span>
  </button>
  <button id="modal-action-ok" class="btn btn-danger" data-ng-click="ok(arg)">
    <i class="fa fa-check-circle"></i>
    <span data-translate>Delete</span>
  </button>
</div>
