<div class="modal-header">
  <button type="submit" class="close" aria-hidden="true" data-ng-click="cancel()">
    <i class="glyphicon glyphicon glyphicon-remove-circle"></i>
  </button>
  <div class="modal-title" data-translate>Are you sure?</div>
</div>
<div class="modal-body">
  <div class="alert alert-danger">
    <span data-translate>Please note that all the associated data will be permanently lost.</span>
  </div>
</div>
<div class="modal-footer">
  <a id="modal-action-cancel" class="btn btn-default" data-ng-click="cancel()">
    <i class="glyphicon glyphicon-remove"></i>
    <span data-translate>Cancel</span>
  </a>
  <a id="modal-action-ok" class="btn btn-danger" data-ng-click="ok(arg)">
    <i class="glyphicon glyphicon-ok"></i>
    <span data-translate>Delete</span>
  </a>
</div>
