<div class="modal-header">
  <button type="submit" class="close" data-ng-click="close()">
    <i class="glyphicon glyphicon glyphicon-remove-circle"></i>
  </button>
  <div class="modal-title" data-translate>Danger</div>
</div>
<div class="modal-body">
  <p data-translate>By enabling this option, the system will be storing the submitted files unencrypted on your server.</p>
  
  <p data-translate>This means that if the server running the platform were to be seized, it would be possible to extract the files that have been submitted.</p>

  <p data-translate>Are you sure that you wish to continue?</p>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" data-ng-click="close()">
    <span data-translate>No</span>
  </button>
  <button type="submit" class="btn btn-primary" data-ng-click="ok()">
    <span data-translate>Yes</span>
  </button>
</div>
