<div class="row mb-md-5">
  <div class="col-md-12">
    <div>
      <div>
        <span class="badge badge-primary">1</span>
        <span data-translate>Install an authenticator app on your phone</span>
      </div>
    </div>
  </div>
</div>
<div class="row mb-md-5">
  <div class="col-md-12">
    <div>
      <div>
        <span class="badge badge-primary">2</span>
        <span data-translate>Scan the QR code with the app</span>
      </div>
      <br />
      <div class="text-center">
        <img data-ng-src="{{two_factor_qrcode}}" />
        <div class="small text-bold">{{two_factor_secret}}</div>
      </div>
    </div>
  </div>
</div>
<div class="row mb-md-5">
  <div class="col-md-12">
    <div class="form-group">
      <div>
        <span class="badge badge-primary">3</span>
        <span data-translate>Enter the two factor authentication code</span>
      </div>
      <input class="form-control" data-ng-model="vars.token_2fa" type="text" size="6" maxlength="6" />
    </div>
  </div>
</div>
