<div class="modal-header">
  <div class="modal-title" data-translate>Are you sure?</div>
  <button type="button" class="close" data-ng-click="cancel()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <div class="alert alert-danger">
    <span data-translate>Before proceeding please read carefully the documentation at:</span> <a href="https://docs.globaleaks.org/en/main/security/EncryptionProtocol.html">Encryption</a>
  </div>
</div>
<div class="modal-footer">
  <button id="modal-action-ok" class="btn btn-primary" data-ng-click="confirm(arg)">
    <i class="fas fa-check"></i>
    <span data-translate>Yes</span>
  </button>
  <button id="modal-action-cancel" class="btn btn-secondary" data-ng-click="cancel()">
    <i class="fas fa-times"></i>
    <span data-translate>No</span>
  </button>
</div>
