<div class="row">
  <div class="col-md-12">
    <div>
      <div>
        <span class="badge badge-primary">1</span>
        <span data-translate>Install an authenticator app on your phone</span>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12">
    <div>
      <div>
        <span class="badge badge-primary">2</span>
        <span data-translate>Scan the QR code with the app</span>
      </div>
      <br />
      <div class="text-center">
        <qrcode data-ng-if="qrcode_string" data="{{qrcode_string}}" version="2" error-correction-level="Q" size="300" color="#1d1f2a" background="#FFF"></qrcode>
        <div class="small font-weight-bold">{{two_factor_secret}}</div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-12">
    <div class="form-group">
      <div>
        <span class="badge badge-primary">3</span>
        <span data-translate>Enter the two factor authentication code</span>
      </div>
      <input class="form-control" data-ng-model="vars.token_2fa" type="text" size="6" maxlength="6" />
      <div class="mt-3 alert alert-danger" data-ng-show="errors[0].code === 13">
        <span data-translate>The code is either invalid or expired.</span>
      </div>
    </div>
  </div>
</div>
