<div class="modal-header">
  <div class="modal-title">Encryption recovery key</div>
</div>
<div class="modal-body">
  <div data-translate>Your encryption recovery key is:</div>
  <div class="text-center font-weight-bold">{{erk}}</div>
  <br />
  <div data-translate>Please annotate and store this key in a safe place. It will necessary if you lose your personal password to be able to recover the access to your account with no data loss.</div>
</div>
<div class="modal-footer">
  <button data-ng-click="close()" class="btn btn-warning" data-translate>Close</button>
</div>
