<div class="modal-header">
  <button type="submit" class="close" aria-hidden="true" data-ng-click="cancel()">
     <i class="glyphicon glyphicon glyphicon-remove-circle"></i>
  </button>
  <div class="modal-title" data-translate>Are you sure?</div>
</div>
<div class="modal-body">
  <div id="DownloadWarning" class="alert alert-danger">
    <span class="label label-danger">
        <i class="glyphicon glyphicon-warning-sign"></i>
        <span data-translate>Danger</span>
    </span>&nbsp;
    <span data-translate>Downloading a file with malicious content could compromise your computer or disclose your identity.</span>
    <span data-translate>The name of the file and its content can be intentionally misleading.</span>
  </div>
  <p data-translate>Please review the following information and decide if you wish to proceed.</p>
  <div ng-init="wbfile = file" data-wbfile></div>
</div>
<div class="modal-footer">
  <span id="modal-action-cancel" class="btn btn-default" data-ng-click="cancel()">
    <i class="glyphicon glyphicon-remove"></i>
    <span data-translate>Cancel</span>
  </span>
  <span id="modal-action-ok" class="btn btn-danger" data-ng-click="ok()">
    <i class="glyphicon glyphicon-ok"></i>
    <span data-translate>Download</span>
  </span>
</div>
