<div data-ng-form="" id="fileupload" action="" method="POST" enctype="multipart/form-data" data-ng-app="GLClient.fileuploader" data-ng-controller="WBFileUploadCtrl" data-file-upload="options" data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
  <div class="row fileupload-buttonbar">
    <div class="col-md-7">
      <span class="btn btn-success fileinput-button" data-ng-class="{disabled: disabled || (fileupload_mode == 'single' && queue.length)}">
        <i class="glyphicon glyphicon-paperclip"></i>
        <span data-translate>Add file</span>
        <input data-ng-show="fileupload_mode == 'single'" type="file" name="files[]" data-ng-disabled="disabled" />
        <input data-ng-show="fileupload_mode == 'multiple'" type="file" name="files[]" data-ng-disabled="disabled" multiple />
      </span>
    </div>
  </div>
</div>
<div id="fileupload" data-ng-app="GLClient.fileuploader" data-ng-controller="WBFileUploadCtrl">
  <div flow-init="{target: fileupload_url, headers: auth_headers}"
       flow-files-submitted="$flow.upload()"
       flow-file-success="$file.msg = $message">

    <input type="file" flow-btn/>
    Input OR Other element as upload button
    <span class="btn" flow-btn>Upload File</span>

    <table>
      <tr ng-repeat="file in $flow.files">
          <td>{{$index+1}}</td>
          <td>{{file.name}}</td>
        <td>{{file.msg}}</td>
      </tr>
    </table>
  </div>
</div>
