<div id="CustomFooter" class="vcenter preformatted mb-1" data-ng-if="public.node.footer" data-markdown-to-html="public.node.footer | stripHtml"></div>
<div id="Policies" class="vcenter mb-1" data-ng-if="public.node.footer_whistleblowing_policy || public.node.footer_privacy_policy || public.node.footer_accessibility_declaration">
  <a data-ng-if="public.node.footer_whistleblowing_policy" href="{{public.node.footer_whistleblowing_policy}}" data-translate>Whistleblowing Policy</a>
  <span data-ng-if="public.node.footer_whistleblowing_policy && (public.node.footer_privacy_policy || public.node.footer_accessibility_declaration)" > - </span>
  <a data-ng-if="public.node.footer_privacy_policy" href="{{public.node.footer_privacy_policy}}" data-translate>Privacy Policy</a>
  <span data-ng-if="public.node.footer_accessibility_declaration && (public.node.footer_privacy_policy)"> - </span>
  <a data-ng-if="public.node.footer_accessibility_declaration" href="{{public.node.footer_accessibility_declaration}}" data-translate>Accessibility Declaration</a>
</div>
<div id="AttributionClause" class="vcenter">Powered by <a href="https://www.globaleaks.org/" title="GlobaLeaks - Secure Whistleblowing Software" rel="noreferrer" target="_blank">GlobaLeaks</a></div>
