<div class="modal-header">
  <div class="modal-title" data-translate>Failure</div>
</div>
<div class="modal-body">
  <div data-ng-switch="type">
    <p data-ng-switch-when="fileDownload" data-translate>Downloading the selected file failed!</p>
    <p data-ng-switch-when="fileUpload" data-translate>Uploading the selected file failed!</p>
  </div>
  <p data-translate>There was a problem with the last action you performed.</p>
  <p data-translate>The administrator has been notified of the issue.</p>
  </p>
</div>
<div class="modal-footer">
  <span id="modal-action-ok" class="btn btn-danger" data-ng-click="$dismiss()">
    <i class="glyphicon glyphicon-ok"></i>
    <span data-translate>Okay</span>
  </span>
</div>
