<header id="HeaderBox">
  <div class="row">
    <div class="col-lg-8 col-md-12 float-left">
      <span id="LogoBox" data-ng-click="setHomepage()"><img data-ng-if="!public.node.logo" class="default-logo" alt="project logo" data-ng-src="data/logo.png" /><img data-ng-if="public.node.logo" class="img-fluid'" alt="project logo" data-ng-src="s/logo" /></span><span id="TitleBox"><span id="ProjectTitle" data-ng-click="setHomepage()">{{projectTitle}}</span><span class="TitleSeparator" data-ng-if="projectTitle && pageTitle"> - </span><span id="PageTitle">{{pageTitle}}</span></span>
    </div>
    <div class="col-lg-4 col-md-12 float-right">
      <span id="UserBox" data-ng-include="'views/partials/user.html'"></span>
    </div>
  </div>
</header>
