<div id="HeaderBoxContent">
  <div id="HeaderBoxContentLeft">
    <div id="LogoBox">
      <a href="#/"><img data-ng-src="{{logo}}"></a>
    </div>
    <div id="TitleBox">
      <div id="titleboxdefault">
        <div id="{{hasSubtitle() ? 'PageTitleWithSubtitle' : 'PageTitle'}}">{{ht}}</div>
        <div id="PageSubtitle" data-ng-if="hasSubtitle()">{{header_subtitle | translate}}</div>
      </div>
      <div id="titleboxoneline">
        <span id="{{hasSubtitle() ? 'PageTitleWithSubtitle' : 'PageTitle'}}">{{ht}}</span>
        <span id="PageSubtitle" data-ng-if="hasSubtitle()">- <span>{{header_subtitle | translate}}</span></span>
      </div>
    </div>
  </div>
  <div id="HeaderBoxContentRight">
    <span id="UserBox" class="pull-right" data-ng-if="!isWizard()" data-ng-include="'views/partials/user.html'"></span>
  </div>
</div>
