<div class="title1" data-translate>Welcome!</div>
<br />
<ul>
  <li>
    <span data-translate>If you want to read the software documentation:</span>
    <a href="https://docs.globaleaks.org" target="_blank" rel="noreferrer noopener">Software Documentation</a>
  </li>
  <li>
    <span data-translate>If you need technical support, have general questions, or have new ideas for the software:</span>
    <a href="https://forum.globaleaks.org" target="_blank" rel="noreferrer noopener">Community Support Forum</a>
  </li>
  <li>
    <span data-translate>If you want to contribute to software development or report a bug, please open an issue in our ticketing system:</span>
    <a href="https://github.com/globaleaks/GlobaLeaks/issues/" target="_blank" rel="noreferrer noopener">Github</a>
  </li>
  <li>
    <span data-translate>If your non-profit needs support for investigative journalism, activism or a human rights defense project:</span>
    <a href="mailto:projects@hermescenter.org" target="_blank" rel="noreferrer noopener">Hermes Center for Transparency and Digital Human Rights</a>
  </li>
  <li>
    <span data-translate>For professional support and development of anti corruption and compliance projects contact the social enterprise maintaining GlobaLeaks:</span>
    <a href="https://www.globaleaks.org/contact/" target="_blank" rel="noreferrer noopener">Whistleblowing Solutions S.r.l.</a>
  </li>
  <li>
    <span data-translate>Join our IRC chat channel on the irc.oftc.net network:</span>
    <a target="_blank" rel="noreferrer noopener" href="https://webchat.oftc.net/?nick=gl-guest.&channels=globaleaks">#globaleaks</a>
  </li>
  <li>
    <span data-translate>Follow the project on:</span>
    <a target="_blank" rel="noreferrer noopener" href="https://twitter.com/globaleaks">Twitter</a><span>, </span><a target="_blank" rel="noreferrer noopener" href="https://www.facebook.com/globaleaks">Facebook</a>
  </li>
</div>
