<div data-ng-include="'views/partials/user_warnings.html'"></div>
<div class="title" data-translate>Welcome!</div>
<br />
<ul>
  <li>
    <span data-translate>For the user documentation, visit:</span> <a href="https://docs.globaleaks.org" target="_blank" rel="noopener">docs.globaleaks.org</a>
  </li>
  <li>
    <span data-translate>If you need technical support, have general questions, or have new ideas for the software:</span> <a href="https://forum.globaleaks.org" target="_blank" rel="noopener">forum.globaleaks.org</a>
  </li>
  <li>
    <span data-translate>If you want to contribute to software development or report a bug, please open an issue in our ticketing system:</span> <a href="https://github.com/globaleaks/GlobaLeaks/issues/" target="_blank" rel="noopener">github.com/globaleaks/GlobaLeaks</a>
  </li>
  <li>
    <span data-translate>Join our chat:</span> <a target="_blank" rel="noopener" href="https://slack.globaleaks.org">slack.globaleaks.org</a>
  </li>
  <li>
    <span data-translate>Follow the project on:</span> <a target="_blank" rel="noopener" href="https://twitter.com/globaleaks">Twitter</a>
  </li>
</ul>
