<div id="IntroBox" data-ng-switch="" on="step">
  <div data-ng-switch-when="0">
    <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" data-ng-click="cancel()">
        <i class="glyphicon glyphicon glyphicon-remove-circle"></i>
      </button>
      <div>&nbsp;</div>
    </div>
    <div class="modal-body IntroBoxBody">
      <div class="IntroModalTitle" data-translate>Select Language</div>
      <div data-translate>Please select which language you wish to use.</div>
      <br />
      <div id="LanguagePreselectorBox" class="row">
        <div data-ng-show="languages_enabled_length <= 3">
          <span action="" data-ng-repeat="(lang_key, lang_name) in languages_enabled">
            <span class="LanguagePreselectorBoxElem" data-ng-class="{LanguageSelected: data.language == lang_key}">
              <div class="LanguagePreselectorBoxElemText">
                <span>
                  <input ng-model="data.language" type="radio" name="language" value="{{lang_key}}"><br />
                  {{lang_name}}
                </span>
              </div>
            </span>
          </span>
        </div>
        <div data-ng-show="languages_enabled_length > 3">
          <select data-ng-model="data.language" data-ng-options="item.code as item.name for item in languages_enabled_selector"></select>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="pull-right">
        <button class="btn btn-default actionButton" data-ng-click="proceed()">
          <span data-translate>Proceed</span>
        </button>
      </div>
    </div>
  </div>
  <div data-ng-switch-when="1">
    <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" data-ng-click="cancel()">
        <i class="glyphicon glyphicon glyphicon-remove-circle"></i>
      </button>
      <div>&nbsp;</div>
    </div>
    <div class="modal-body IntroBoxBody">
      <div class="IntroModalTitle">Be Secure</div>
      <div>While using the Tor Browser will protect your anonymity, it is not foolproof.</div>
      <div>Remember to always follow <a href="">recommended security advices</a>.</div>
    </div>
    <div class="modal-footer">
      <div class="pull-left">
        <a data-ng-click="back()" data-translate>Back</a>
      </div>
      <div class="pull-right">
        <button class="btn btn-default actionButton" data-ng-click="proceed()">
          <span data-translate>Next</span>
        </button>
      </div>
    </div>
  </div>
  <div data-ng-switch-when="2">
    <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" data-ng-click="cancel()">
        <i class="glyphicon glyphicon glyphicon-remove-circle"></i>
      </button>
      <div>&nbsp;</div>
    </div>
    <div class="modal-body IntroBoxBody">
      <div class="IntroModalTitle">Sharing Information</div>
      <div>In order for the information you provide to be acted on, please be as specific as possible i.e. add location, names and dates where possible.</div>
    </div>
    <div class="modal-footer">
      <div class="pull-left">
        <a data-ng-click="back()" data-translate>back</a>
      </div>
      <div class="pull-right">
        <button class="btn btn-default actionButton" data-ng-click="cancel()">
          <span data-translate>Proceed</span>
        </button>
      </div>
    </div>
  </div>
</div>
