<div id="KeyCodeHintBox" class="card card-default">
  <div class="card-header">
    <span data-translate>Hint: How to hide your receipt</span>
  </div>
  <div class="card-body">
    <p data-translate>A useful way to hide your receipt is to write it down like a credit card number, i.e. by also including an expiration date.</p>
    <p data-translate>Example:</p>
    <div class="row">
      <div class="col-md-5">
        <div data-ng-include="'views/partials/credit_card.html'"></div>
      </div>
   </div>
  </div>
</div>
