<div data-ng-repeat="error in errors" data-ng-show="error.code != 9">
  <div data-uib-alert class="alert-danger" close="closeAlert(errors, $index)" dismiss-on-timeout="3000">
    <!--
      We skip authentication errors (9) that are handled by the request interceptor.
    -->
    <div data-translate>Error!</div>
    <div data-ng-switch="" on="error.code">
      <div data-ng-switch-when="1">
        <span data-translate>Internal server error</span> <span>({{error.arguments[0]}})</span>
      </div>

      <div data-ng-switch-when="3">
        <span data-translate>Error on input validation</span> <span>[{{error.arguments[0]}}]</span>
      </div>
      <div data-ng-switch-when="6">
        <span data-translate>Resource not found</span>
      </div>

      <div data-ng-switch-when="8">
        <span data-translate>Forbidden operation</span>
      </div>

      <div data-ng-switch-when="12">
        <span data-translate>The specified old password is not valid</span>
      </div>

      <div data-ng-switch-when="13">
        <span data-translate>Resource can only be accessed via the Tor network</span>
      </div>

      <div data-ng-switch-when="14">
        <span data-translate>The upload request exceeds the size limit</span>
      </div>
    </div>
  </div>
</div>
<div data-ng-repeat="success in successes">
  <div data-uib-alert class="alert-success" close="closeAlert(successes, $index)" dismiss-on-timeout="3000">
    <div data-translate>Success!</div>
  </div>
</div>
