<div data-ng-if="!connection.tor">
  <div id="PrivacyBadge" class="clearfix">
    <div data-ng-if="!public.node.enable_custom_privacy_badge">
      <div id="PrivacyBadgeTextBox" class="float-left">
        <span class="badge badge-warning">
          <i class="fas fa-exclamation-circle"></i>
          <span data-translate>Warning</span>
        </span>
        <div data-ng-show="privacy_badge_open">
          <div id="PrivacyBadgeText">
            <div data-translate>It appears that you are browsing this site without any extra privacy and security!</div>
            <div data-translate>You are strongly advised to visit this site using the app called Tor Browser, that protects your identity.</div>
          </div>
          <div id="PrivacyBadgeDownloadLink"><a href="{{public.node.tb_download_link}}" target="_blank" rel="noopener" class="btn btn-sm btn-secondary"><i class="fas fa-download"></i> <span data-translate>Download the Tor Browser</span></a></div>
          <div data-ng-if="public.node.onionservice">
            <span data-translate>Then, copy and paste the following address into the Tor Browser:</span> <a class="darklink" target="_blank" rel="noopener" href="http://{{public.node.onionservice}}/">{{public.node.onionservice}}</a>
          </div>
        </div>
      </div>
    </div>
    <div data-ng-if="public.node.enable_custom_privacy_badge">
      <div id="PrivacyBoxTextBox" class="float-left">
        <span id="PrivacyBadgeCustomText" data-ng-show="privacy_badge_open" data-markdown-to-html="public.node.custom_privacy_badge_text"></span>
      </div>
    </div>
    <div id="PrivacyBoxCloseButton" class="float-right" data-ng-click="privacy_badge_open = !privacy_badge_open">
      <i data-ng-if="!connection.privacy_badge_open" class="fas fa-chevron-circle-down"></i>
      <i data-ng-if="connection.privacy_badge_open" class="fas fa-chevron-circle-up"></i>
    </div>
  </div>
</div>
