<div class="modal-header">
    <button type="submit" class="close" aria-hidden="true" data-ng-click="cancel()">
        <i class="glyphicon glyphicon glyphicon-remove-circle"></i>
    </button>
    <div class="modal-title" data-translate>Enter a name for the copy</div>
</div>
<div class="modal-body">
    <span data-translate>Name</span>
    <div class="form-group">
        <div data-ng-class="{'has-error': duplocateQuestionnaire.name.$error.required}">
            <input name="name" class="form-control" data-ng-model="duplicate_questionnaire.name" type="text" required />
        </div>
    </div>
</div>
<div class="modal-footer">
    <span id="modal-action-cancel" class="btn btn-default" data-ng-click="cancel()">
        <i class="glyphicon glyphicon-remove"></i>
        <span data-translate>Cancel</span>
    </span>
    <span id="modal-action-ok" class="btn btn-primary" data-ng-click="ok()">
        <i class="glyphicon glyphicon-ok"></i>
        <span data-translate>Duplicate</span>
    </span>
</div>
