<div class="modal-header">
  <div class="modal-title" data-translate>Enter a name for the copy</div>
  <button type="button" class="close" data-ng-click="cancel()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <span data-translate>Name</span>
  <div class="form-group">
    <div data-ng-class="{'has-danger': duplocateQuestionnaire.name.$error.required}">
      <input name="name" class="form-control" data-ng-model="duplicate_questionnaire.name" type="text" required />
    </div>
  </div>
</div>
<div class="modal-footer">
  <span id="modal-action-cancel" class="btn btn-secondary" data-ng-click="cancel()">
    <i class="fas fa-times"></i>
    <span data-translate>Cancel</span>
  </span>
  <span id="modal-action-ok" class="btn btn-primary" data-ng-click="ok()">
    <i class="fas fa-check"></i>
    <span data-translate>Duplicate</span>
  </span>
</div>
