<form id="WhistleblowerLoginForm" class="form-inline" autocomplete="off" novalidate>
  <div class="form-group d-block mx-auto">
    <div>
      <label id="WhistleblowerLoginQuestion" for="receipt-input" data-translate>Have you already filed a report? Enter your receipt.</label>
    </div>
    <div class="input-group">
      <input id="receipt-input" class="form-control" type="text" placeholder="XXXX XXXX XXXX XXXX" maxlength="19" size="19" data-ng-model="formatted_receipt" name="receipt-input" receiptvalidator>
      <span class="input-group-append">
        <button id="ReceiptButton"
                data-ng-click="Authentication.login(0, 'whistleblower', formatted_receipt)" class="btn btn-primary"
                data-ng-disabled="formatted_receipt.length !== 19 || Authentication.loginInProgress || WhistleblowerLoginForm.receipt.$error.receiptvalidator" type="submit">
          <span data-translate>Log in</span>
        </button>
      </span>
    </div>
  </div>
</form>
<div class="LoginErrorBoxHomepage text-danger" data-ng-show="error.code == 9" data-translate>The receipt is either invalid or the report has expired.</div>
