<div data-ng-show="Utils.getUploadsNumber(uploads)">
  <div data-ng-switch="Utils.getUploadStatus(uploads)">
    <span data-ng-switch-when="uploading" data-translate>Uploading files…</span>
    <span data-ng-switch-when="finished" data-translate>Upload completed successfully!</span>
  </div>
  <div id="FileUpoloadsInfo">
    <div data-ng-show="Utils.getUploadStatus(uploads) && Utils.getRemainingUploadTime(uploads)">
      <span data-translate>Estimated upload time:</span> <span>{{Utils.getRemainingUploadTime(uploads)}} </span><span data-translate>seconds</span>
      <div class="progress progress-striped" data-ng-class="active">
        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" data-ng-style="{width: Utils.getUploadStatusPercentage(uploads) + '%'}"></div>
      </div>
    </div>
  </div>
</div>
