<div data-ng-init="fileinput = field ? field.id : 'status_page'; uploads[fileinput] = {}">
  <div data-ng-controller="RFileUploadCtrl"
       flow-init="{target: fileupload_url}"
       flow-files-submitted="$flow.upload()"
       flow-name="uploads[fileinput]"
       extend-flow-valid-size="node.maximum_filesize*1024*1024">
    <div data-ng-if="field === undefined || field.multi_entry">
      <div class="custom-file">
        <input id="customFile" class="custom-file-input" type="file" flow-btn />
        <label class="btn btn-sm btn-primary" for="customFile">
          <i class="fa fa-paperclip"></i>
          <span data-translate>Add file</span>
	</label>
      </div>
    </div>
    <div data-ng-if="field !== undefined && !field.multi_entry">
      <div class="custom-file">
        <input id="customFile" class="custom-file-input" data-ng-disabled="disabled" type="file" flow-btn flow-single-file>
        <label class="btn btn-sm btn-primary" for="customFile">
          <i class="fa fa-paperclip"></i>
          <span data-translate>Add file</span>
        </label>
      </div>
    </div>
    <div errors-upload></div>
  </div>
</div>
<div data-ng-include="'views/partials/rfile_upload_status.html'"></div>
