<div class="uploadingBox" data-ng-if="uploads[fileinput].files.length" flow-init>
  <div id="FileUploadsHeader">
    <div data-ng-switch="Utils.getUploadStatus(uploads[fileinput])">
      <div data-ng-switch-when="uploading" data-translate>Uploading files…</div>
      <div data-ng-switch-when="finished" data-translate>Upload completed successfully!</div>
      <div data-ng-switch-when="error" data-translate>Error while uploading files; check below for details.</div>
    </div>
  </div>
  <div id="FileUpoloadsInfo">
    <div data-ng-show="uploads[fileinput].progress() != 1">
      <span data-translate>Estimated upload time:</span> <span>{{uploads[fileinput].timeRemaining()}} </span><span data-translate>seconds</span>
      <div class="progress progress-striped" data-ng-class="active">
        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" data-ng-style="{width: (uploads[fileinput] * 100) + '%'}"></div>
      </div>
    </div>
  </div>
  <div flow-name="flow" class="row">
    <div data-ng-repeat="file in uploads[fileinput].files" data-ng-hide="hideUploadWhenFinished === true && file.isComplete() && !file.error" data-ng-class="{'col-md-12': uploads[fileinput].files.length === 1, 'col-md-6': uploads[fileinput].files.length > 1}">
      <div class="fileUploadBox">
        <div class="row">
          <div class="col-md-4">
            <div class="filePreview">
              <div class="imgPreview">
                <img alt="preview picture" flow-img="file" data-ng-if="Utils.showFilePreview(file.file.type)" />
              </div>
              <div class="fileUploadProgress">
                <div class="fileUploadProgressOverlay"></div>
                <div class="fileUploadIcon" data-ng-show="file.error">
                  <i class="glyphicon glyphicon-ban-circle"></i>
                </div>
                <div class="fileUploadIcon" data-ng-show="!file.error && !file.isComplete()">
                  <i class="glyphicon glyphicon-time"></i>
                </div>
                <div class="fileUploadIcon" data-ng-show="!file.error && file.isComplete()">
                  <i class="glyphicon glyphicon-ok"></i>
                </div>
                <div class="progress progress-striped fileuploadprogress" data-ng-class="{active: file.isUploading()}" data-ng-show="file.isUploading()">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" data-ng-style="{'width': (Utils.uploadProgress() * 100) + 'px'}"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-offset-1 col-md-7 fileDetails">
            <div>
              <label class="fileName">{{file.name}}</label>
            </div>
            <div>
              <label class="fileSize">
                <span data-translate>Size:</span> <span>{{file.size | byteFmt:2}}</span>
              </label>
            </div>
            <br />
            <div data-ng-hide="file.error">
              <div data-ng-repeat="option in file.value">
                <textarea class="form-control" data-ng-model="option.value" data-ng-attr-placeholder="{{option['attrs']['name']}}"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
