<div id="RicochetBox" class="card card-default">
  <div class="card-header">
    <span data-translate>Chat with us anonymously using the Ricochet application</span>
  </div>
  <div class="card-body">
    <p><span data-translate>To chat with us use the following Ricochet address:</span> <span class="code">{{public.node.ricochet_address}}</span></p>
    <p><span data-translate>Download Ricochet at:</span> <a href="https://ricochet.im">https://ricochet.im/</a></p>
    <p><span data-translate>By using the Tor network and creating an Onion Service, Ricochet is an instant messaging app that allows you to chat while protecting your privacy and staying anonymous by not revealing your location or IP address. You won't notice any difference from an insecure chat, except that you will be using a unique address instead of a phone number/email/username.</span></p>
  </div>
</div>
