<div id="RicochetBox" class="panel panel-default" data-ng-init="collapsed = false">
  <div class="panel-heading" data-ng-click="collapsed = !collapsed; $event.stopPropagation();">
    <span data-translate>Chat with us anonymously using the Ricochet application</span>
  </div>
  <div class="TipPageSectionContent panel-body" data-ng-show="!collapsed">
    <p><span data-translate>To chat with us use the following Ricochet address:</span> <span class="code">{{node.ricochet_address}}</span></p>
    <p><span data-translate>Download Ricochet at:</span> <a href="https://ricochet.im">https://ricochet.im/</a></p>
  </div>
</div>
