<label>{{ssl_file.title | translate}}</label>
<div class="well well-large uploadfile file-{{ ssl_file.name }}">
  <span flow-init="{target: ssl_file.url, headers: Authentication.get_headers()}"
        flow-files-submitted="$flow.upload()"
        flow-file-success="reload()"
        flow-file-single
        extend-flow-valid-types="[ssl_file.type]"
        extend-flow-valid-size="100*1024">
    <div class="btn btn-success fileinput-button">
      <span class="uploadfile" flow-btn>
        <span class="glyphicon glyphicon-plus"></span>
        <span data-translate>Upload</span>
      </span>
    </div>
  </span>
  <span data-ng-if="node[ssl_file.flag] || $index == 1">
    <a class="btn btn-danger" data-ng-click="admin_utils.delete_resource(ssl_file.url, true)">
      <span class="glyphicon glyphicon-trash"></span>
      <span data-translate>Delete</span>
    </a>
  </span>
  <div errors-upload></div>
</div>
