<div id="message-{{$index}}" data-ng-switch="" on="message.type">
  <div data-ng-switch-when="whistleblower" class="alert alert-info">
    <div class="row">
      <div class="col-md-6">
        <div class="WbNameInMessages" data-translate>Whistleblower</div>
      </div>
      <div class="pull-right" style="margin-right:20px">
        <div>{{::message.creation_date | date:'dd-MM-yyyy HH:mm'}}</div>
      </div>
    </div>
    <div class="preformatted">{{::message.content}}</div>
  </div>
  <div data-ng-switch-when="receiver" class="alert alert-success">
    <div class="row">
      <div class="col-md-6">
        <div class="WbNameInMessages">{{::message.author}}</div>
      </div>
      <div class="pull-right" style="margin-right:20px">
        <div>{{::message.creation_date | date:'dd-MM-yyyy HH:mm'}}</div>
      </div>
    </div>
    <div class="preformatted">{{::message.content}}</div>
  </div>
</div>
