<div class="modal-header">
  <button type="submit" class="close" aria-hidden="true" data-ng-click="cancel()">
    <i class="glyphicon glyphicon glyphicon-remove-circle"></i>
  </button>
  <div class="modal-title" data-translate>Deny access to the whistleblower's identity</div>
</div>
<div class="modal-body">
  <label data-translate>Please write a motivation for the reply</label>
  <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right">*</span>
  <textarea class="form-control" data-ng-model="reply_motivation" data-ng-attr-placeholder="{{'Reply motivation' | translate}}"></textarea>
</div>
<div class="modal-footer">
  <span id="modal-action-cancel" class="btn btn-default" data-ng-click="cancel()">
    <i class="glyphicon glyphicon-remove"></i>
    <span data-translate>Cancel</span>
  </span>
  <span id="modal-action-ok" class="btn btn-danger" data-ng-disabled="reply_motivation == undefined || reply_motivation == ''" data-ng-click="ok()">
    <i class="glyphicon glyphicon-ok"></i>
    <span data-data-translate>Send</span>
  </span>
</div>
