<div id="TipPageReceiversInfoBox" class="TipPageSection" data-ng-init="collapsed = false">
  <div class="TipPageSectionTitle" data-ng-click="collapsed = !collapsed">
    <div>
      <span data-translate>Receiver List</span>
      <span class="pull-right">
        <i data-ng-if="!collapsed" class="glyphicon glyphicon-collapse-down" popover="{{'Collapse' | translate}}" popover-placement="left" popover-trigger="mouseenter"></i>
        <i data-ng-if="collapsed" class="glyphicon glyphicon-fullscreen" popover="{{'Expand' | translate}}" popover-placement="left" popover-trigger="mouseenter"></i>
      </span>
    </div>
  </div>
  <div class="TipPageSectionContent" data-ng-show="!collapsed">
    <table class="table table-striped" id="receiverList">
      <thead>
        <tr>
          <th><span data-translate>Name</span></th>
          <th><span data-translate>Description</span></th>
          <th><span data-translate>Access counter</span></th>
        </tr>
        </thead>
        <tbody id="receiverListBody" data-ng-repeat="receiver in tip.receivers | orderBy:'name'">
        <tr id="receiver-{{$index}}">
          <td>
            <span data-ng-switch="" on="receiver.pgp_key_status">
              <span data-ng-switch-when="enabled">
                <i class="glyphicon glyphicon-certificate" popover="{{'This receiver has configured the encryption key.' | translate}}" popover-placement="right" popover-trigger="mouseenter"></i>
              </span>
              <span data-ng-switch-when="disabled">
                <i class="glyphicon glyphicon-warning-sign" popover="{{'This receiver has not configured the encryption key.' | translate}}" popover-placement="right" popover-trigger="mouseenter"></i>
              </span>
            </span>
            <span>{{::receiver.name}}</span>
          </td>
          <td>{{::receiver.description}}</td>
          <td>{{::receiver.access_counter}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
