<div data-ng-class="{'nested': !preview}" class="fieldAnswer">
  <div data-ng-class="{fieldLabel: !preview}">
    <span data-ng-if="!$parent.field && !preview">{{$index + 1}})</span>
    <span>{{field.label}}</span>
  </div>
  <div data-ng-if="!hasMultipleEntries(fieldAnswers[field.id])">
    <div data-ng-init="entry = fieldAnswers[field.id][0]" data-ng-include="'views/partials/tip_field_answer_entry.html'"></div>
  </div>
  <div data-ng-if="hasMultipleEntries(fieldAnswers[field.id])">
    <div data-ng-repeat="entry in fieldAnswers[field.id]">
      <div class="nested"><span class="text-muted">#{{$index + 1}}</span></div>
      <div class="nested" data-ng-include="'views/partials/tip_field_answer_entry.html'"></div>
    </div>
  </div>
</div>
