<div id="TipPageFilesInfoBox" class="panel panel-default" data-ng-init="collapsed = false">
  <div class="panel-heading" data-ng-click="collapsed = !collapsed" data-ng-keypress="eventDismiss(); $event.stopPropagation();">
    <div>
      <span>{{node.widget_files_title}}</span>
      <span class="pull-right">
        <i data-ng-if="!collapsed" class="glyphicon glyphicon-collapse-down" uib-popover="{{'Collapse' | translate}}" popover-placement="left"></i>
        <i data-ng-if="collapsed" class="glyphicon glyphicon-fullscreen" uib-popover="{{'Expand' | translate}}" popover-placement="left"></i>
      </span>
    </div>
  </div>
  <div class="TipPageSectionContent panel-body" data-ng-show="!collapsed">
    <div data-ng-show="tip.rfiles.length">
      <div class="table-container">
        <table class="table table-striped" id="fileList">
          <thead>
            <tr>
              <th>
                <span data-translate>Filename</span>
              </th>
              <th>
                <span data-translate>Upload date</span>
              </th>
              <th>
                <span data-translate>Content Type</span>
              </th>
              <th>
                <span data-translate>File size</span>
              </th>
            </tr>
          </thead>
          <tbody id="fileListBody">
            <tr id="file-{{$index}}" data-ng-repeat="file in tip.rfiles | orderBy:'creation_date'">
              <td>
                <span class="filename">{{::file.name}}</span>
              </td>
              <td>
                <span>{{::file.creation_date | date:'dd-MM-yyyy'}}</span>
              </td>
              <td>
                <span>{{::file.content_type}}</span>
              </td>
              <td>
                <span>{{::file.size | byteFmt:2}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div data-ng-hide="tip.rfiles.length || uploads['status_page']['files'].length">
      <span data-translate>No files have been uploaded!</span>
    </div>
    <br />
    <div>
      <div data-ng-include="'views/partials/rfile_upload_button.html'"></div>
      <br />
      <div class="row">
        <div class="col-md-6" data-ng-include="'views/partials/rfile_upload_status.html'"></div>
      </div>
    </div>
  </div>
</div>
