<div class="modal-header">
  <button type="submit" class="close" aria-hidden="true" data-ng-click="cancel()">
    <i class="glyphicon glyphicon glyphicon-remove-circle"></i>
  </button>
  <div class="modal-title" data-translate>Are you sure?</div>
</div>
<div class="modal-body">
  <div class="alert alert-danger">
    <span data-translate>Are you sure that you want to delete all the selected submissions?</span>
    <br />
    <span data-translate>Please make sure that all related data is properly deleted so that the recipients won't be able to further access to it.</span>
  </div>
</div>
<div class="modal-footer">
  <span id="modal-action-cancel" class="btn btn-default" data-ng-click="cancel()">
    <i class="glyphicon glyphicon-remove"></i>
    <span data-translate>Cancel</span>
  </span>
  <span id="modal-action-ok" class="btn btn-danger" data-ng-click="ok()">
    <i class="glyphicon glyphicon-ok"></i>
    <span data-translate>Delete</span>
  </span>
</div>
