<div class="modal-header">
  <div class="modal-title" data-translate>Deny access to the whistleblower's identity</div>
  <button type="button" class="close" data-ng-click="cancel()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <label data-translate>Please write a motivation for the reply</label>
  <span class="text-danger" uib-tooltip="{{'This field is mandatory' | translate}}">*</span>
  <textarea class="form-control" data-ng-model="reply_motivation" data-ng-attr-placeholder="{{'Reply motivation' | translate}}"></textarea>
</div>
<div class="modal-footer">
  <span id="modal-action-cancel" class="btn btn-secondary" data-ng-click="cancel()">
    <i class="fas fa-times"></i>
    <span data-translate>Cancel</span>
  </span>
  <span id="modal-action-ok" class="btn btn-success" data-ng-disabled="reply_motivation == undefined || reply_motivation == ''" data-ng-click="confirm()">
    <i class="fas fa-check"></i>
    <span data-translate>Send</span>
  </span>
</div>
