<div id="TipInfoBox" class="card card.bg-primary" data-ng-init="collapsed = false" data-ng-attr-aria-expanded="{{collapsed}}">
  <div class="card-header" data-ng-click="collapsed = !collapsed; $event.stopPropagation();">
    <span data-translate>Additional questionnaire</span>
  </div>
  <div class="card-body clearfix" data-ng-show="!collapsed">
    <div data-translate>Recipients have requested you to fill an additional questionnaire.</div>
    <div class="float-right">
      <button class="btn btn-primary" data-ng-click="tip_open_additional_questionnaire()">
        <i class="fa-solid fa-check"></i>
        <span data-translate>Fill the additional questionnaire</span>
      </button>
    </div>
  </div>
</div>
