<div data-ng-repeat="tab in tabs" class="mt-5" data-ng-show="printableTabs.includes(tab.key)">
  <h2>{{tab.title | translate}}</h2>
  <div class="row">
    <div class="col-md-12">
      <div id="TipPageRFileUpload" class="card card-default" data-ng-init="collapsed = false" data-ng-attr-aria-expanded="{{collapsed}}">
        <div class="card-header clearfix" data-ng-click="collapsed = !collapsed; $event.stopPropagation();">
          <span data-translate>Files attached by recipients</span>
        </div>
        <div class="card-body">
          <div data-ng-repeat="rfile in tip.rfiles | filter : { visibility : tab.key } | orderBy: 'creation_date'">
            <div id="rfile-{{$index}}" data-rfile data-ctx="'rtip'"></div>
          </div>
        </div>
      </div> 
    </div>
    <div class="col-md-12">
      <div id="TipCommunicationComments" class="card card-default">
        <div class="card-header clearfix">
          <span data-translate>Comments</span>
        </div>
        <div class="card-body">
          <div id="SubmissionComments" data-ng-if="tip.comments.length" data-ng-repeat="comment in tip.comments | filter : { visibility : activeTabKey } | orderBy:'creation_date':true ">
            <div id="comment-{{$index}}" class="mt-2">
              <div data-ng-if="!comment.author_id" class="messageWB">
                <div class="row">
                  <div class="col-md-6" data-translate>Whistleblower</div>
                  <div class="col-md-6 text-right">{{comment.creation_date | date:'dd-MM-yyyy HH:mm'}}</div>
                </div>
                <div class="preformatted">{{comment.content}}</div>
              </div>
              <div data-ng-if="comment.author_id" class="message">
                <div class="row">
                  <div class="col-md-6">{{tip.receivers_by_id[comment.author_id].name}}</div>
            <div class="col-md-6 text-right">{{comment.creation_date | date:'dd-MM-yyyy HH:mm'}}</div>
                </div>
                <div class="preformatted">{{comment.content}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
