<div id="TipQuestionnaireAnswersBox" class="TipPageSection" data-ng-init="collapsed = false">
  <div class="TipPageSectionTitle" data-ng-click="collapsed = !collapsed">
    <div>
      <span data-translate>Questionnaire Answers</span>
      <span class="pull-right">
        <i data-ng-if="!collapsed" class="glyphicon glyphicon-collapse-down" popover="{{'Collapse' | translate}}" popover-placement="left" popover-trigger="mouseenter"></i>
        <i data-ng-if="collapsed" class="glyphicon glyphicon-fullscreen" popover="{{'Expand' | translate}}" popover-placement="left" popover-trigger="mouseenter"></i>
      </span>
    </div>
  </div>
  <div class="TipPageSectionContent" data-ng-show="!collapsed">
    <div data-ng-repeat="step in tip.questionnaire">
      <dt id="step={{$index}}">
        <span data-translate>Step</span>
        <span>{{$index + 1}}: {{::step.label}}</span>
      </dt>
      <dd data-ng-init="fieldsRoot=step.children; fieldAnswers=tip.answers">
        <span data-ng-include="'views/partials/tip_fields.html'"></span>
      <dd>
    </div>
  </div>
</div>
