<div id="message-{{$index}}" data-ng-switch="message.type" class="mt-2">
  <div data-ng-switch-when="whistleblower" class="messageWB">
    <span class="float-right edit" id="edit-question" data-ng-click="editReport(message.content,message.id,'message')"
      data-ng-if="mode" data-uib-tooltip="{{'Edit' | translate}}">
      <i class="fa-solid fa-eraser"></i>
    </span>
    <div class="row">
      <div class="col-md-6" data-ng-switch="Authentication.session.role">
        <div data-ng-switch-when="whistleblower"><span data-translate>To:</span> {{tip.receivers_by_id[message.receiver_involved_id].name}}</div>
        <div data-ng-switch-when="receiver" translate>Whistleblower</div>
      </div>
      <div class="col-md-6 text-right">{{message.creation_date | date:'dd-MM-yyyy HH:mm'}}</div>
    </div>
    <div data-ng-if="message.content" class="preformatted"><i data-ng-if="edited(message.id)" class="fa-solid fa-pencil edited"></i> {{maskingContent(message.content,message.id)}}</div>
  </div>
  <div data-ng-switch-when="receiver" class="message">
    <div class="row">
      <div class="col-md-6" data-ng-switch="Authentication.session.role">
        <div data-ng-switch-when="whistleblower"><span data-translate>From:</span> {{tip.receivers_by_id[message.receiver_involved_id].name}}</div>
        <div data-ng-switch-when="receiver">{{receivers_by_id[message.receiver_involved_id].name}}</div>
      </div>
      <div class="col-md-6 text-right">{{message.creation_date | date:'dd-MM-yyyy HH:mm'}}</div>
    </div>
    <div data-ng-if="message.content" class="preformatted">{{message.content}}</div>
  </div>
</div>
