<div data-ng-init="fields = (field == undefined) ? fieldsRoot : field.children; fieldId  = $parent.fieldId ? $parent.fieldId + '-' + $index : 'field-' + $index">
  <div data-ng-repeat="field in fields | filter:filterFields | orderBy:'y'">
    <dl id="{{fieldId}}" class="nested">
      <dt>
        <span data-ng-if="!$parent.field && !preview">{{$index + 1}}) {{field.label}}</span>
        <span data-ng-if="$parent.field || preview">{{field.label}}</span>
      </dt>

      <div data-ng-switch="" on="field.type">
        <dd data-ng-switch-when="inputbox" class="preformatted">{{field.value}}</dd>

        <dd data-ng-switch-when="textarea" class="preformatted">{{field.value}}</dd>

        <dd data-ng-switch-when="selectbox" class="preformatted">{{field.value}}</dd>

        <dd data-ng-switch-when="checkbox">
          <ul>
            <div data-ng-repeat="answer in field.value">
              <span data-ng-hide="answer.value"><i class="glyphicon glyphicon-unchecked"></i></span>
              <span data-ng-show="answer.value"><i class="glyphicon glyphicon-check"></i></span>
              <span>{{answer.name}}</span>
            </div>
          </ul>
        </dd>

        <dd data-ng-switch-when="tos">
          <span data-ng-if="field.value" data-translate>Accepted</span>
          <span data-ng-if="!field.value" data-translate>Not accepted</span>
        </dd>

        <dd data-ng-switch-when="fieldgroup">
          <div data-ng-include="'views/partials/tip_fields.html'"></div>
        </dd>
      </div>

    </div>
  </dl>
</div>
