<div id="TipInfoBox" class="panel panel-default" data-ng-init="collapsed = false">
  <div class="panel-heading" data-ng-click="collapsed = !collapsed; $event.stopPropagation();">
    <div>
      <span data-translate>Submission</span><span data-ng-if="::session.role == 'receiver'">:</span>
      <span data-ng-if="::session.role == 'receiver'">
        <span data-ng-if="tip.label && !showEditLabelInput" class="TipLabel" data-ng-click="editLabel(); $event.stopPropagation();"
              uib-popover="{{'Label the submission' | translate}}" popover-placement="right">
          <span id="Label">{{::tip.label}}</span>
          <i class="glyphicon glyphicon-tag"></i>
        </span>

        <span data-ng-if="showEditLabelInput" class="form-inline" data-ng-click="$event.stopPropagation();">
          <div id="AssignLabelInput"  class="input-group">
            <input id="assignLabelInput" type="text" class="form-control" data-ng-attr-placeholder="{{'Label' | translate}}" data-ng-model="tip.label" />
            <span class="input-group-btn" uib-popover="{{'Assign a label to the submission' | translate}}" popover-placement="right">
              <button id="assignLabelButton" class="btn btn-primary" data-ng-click="updateLabel(tip.label); $event.stopPropagation();">
                <i class="glyphicon glyphicon-tag"></i>
              </button>
            </span>
          </div>
        </span>
      </span>
      <span class="pull-right">
        <i data-ng-if="!collapsed" class="glyphicon glyphicon-collapse-down" uib-popover="{{'Collapse' | translate}}" popover-placement="left"></i>
        <i data-ng-if="collapsed" class="glyphicon glyphicon-fullscreen" uib-popover="{{'Expand' | translate}}" popover-placement="left"></i>
      </span>
    </div>
  </div>

  <div class="TipPageSectionContent panel-body" data-ng-show="!collapsed">
    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th data-ng-if="::session.role == 'receiver'">
            <i class="glyphicon glyphicon-barcode"></i>
          </th>
          <th>
            <i class="glyphicon glyphicon-inbox"></i>
            <span data-translate>Context</span>
          </th>
          <th>
            <i class="glyphicon glyphicon-time"></i>
            <span data-translate>Creation date</span>
          </th>
          <th>
            <i class="glyphicon glyphicon-time"></i>
            <span data-translate>Last update</span>
          </th>
          <th>
            <i class="glyphicon glyphicon-hourglass"></i>
            <span data-translate>Expiration date</span>
          </th>
          <th data-ng-if="::session.role === 'receiver'">
            <i class="glyphicon glyphicon-hourglass"></i>
            <span data-translate>Access expiration</span>
          </th>
          <th data-ng-if="::session.role === 'receiver'">
            <i class="glyphicon glyphicon-eye-open"></i>
          </th>
          <th>
            <i class="glyphicon glyphicon-send"></i>
            <span data-translate>Connection</span>
          </th>
          <th data-ng-if="::session.role == 'receiver' && node.enable_experimental_features">
            <i class="glyphicon glyphicon-flash"></i>
            <span data-translate>Score</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td id="tipID" data-ng-if="::session.role == 'receiver'">#{{::tip.progressive}}</td>
          <td>{{::tip.context.name}}</td>
          <td>{{::tip.creation_date | date:'dd-MM-yyyy HH:mm'}}</td>
          <td>{{::tip.update_date | date:'dd-MM-yyyy HH:mm'}}</td>
          <td>
            <span data-ng-if="!Utils.isNever(tip.expiration_date)">{{::tip.expiration_date | date:'dd-MM-yyyy HH:mm'}}</span>
            <span data-ng-if="Utils.isNever(tip.expiration_date)" data-translate>Never</span>
          </td>
          <td data-ng-if="::session.role === 'receiver'">
            <span data-ng-if="!tip.wb_access_revoked"
              uib-popover="{{'Unless the whistleblower checks the submission by this time, their access to it will expire.' | translate}}"
              popover-placement="left">
              {{::tip.wb_last_access | expirationDate:node.wbtip_timetolive | date:'dd-MM-yyyy HH:mm'}}
            </span>
            <span data-ng-if="tip.wb_access_revoked"
              class="label label-warning"
              uib-popover="{{'The whistleblower can no longer access the submission' | translate}}"
              popover-placement="left" data-translate>Revoked</span>
          </td>
          <td data-ng-if="::session.role == 'receiver'">
            <i data-ng-if="tip.wb_last_access >= tip.update_date" class="glyphicon glyphicon-ok"
                uib-popover="{{'The whistleblower has already read the latest update' | translate }} ({{tip.wb_last_access | date:'dd-MM-yyyy HH:mm'}})"></i>
            <i data-ng-if="tip.wb_last_access < tip.update_date" class="glyphicon glyphicon-remove"
               uib-popover="{{'The whistleblower has not read the latest update yet' | translate }}"></i>
          </td>
          <td>
            <span data-ng-if="tip.https"
                class="label label-warning"
                uib-popover="{{'The connection used to send this submission has been secured with HTTPS ensuring confidentiality.' | translate}}" popover-placement="left">HTTPS</span>
            <span data-ng-if="!tip.https"
                class="label label-success"
                uib-popover="{{'The connection used to send this submission has been secured with Tor ensuring confidentiality and anonymity.' | translate}}" popover-placement="left">Tor</span>
          </td>
          <td data-ng-if="::session.role == 'receiver' && node.enable_experimental_features">{{::tip.total_score}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
