<div id="TipPageReceiversInfoBox" class="card card-default" data-ng-init="collapsed = false">
  <div class="card-header clearfix" data-ng-click="collapsed = !collapsed" data-ng-keypress="eventDismiss(); $event.stopPropagation();">
    <span data-translate>Recipient list</span>
    <span class="float-right">
      <i data-ng-if="!collapsed" class="fas fa-chevron-up" uib-tooltip="{{'Collapse' | translate}}"></i>
      <i data-ng-if="collapsed" class="fas fa-chevron-down" uib-tooltip="{{'Expand' | translate}}"></i>
    </span>
  </div>
  <div class="card-body" data-ng-show="!collapsed">
    <span data-ng-repeat="receiver in tip.receivers | orderBy:'name'">
      <span id="receiver-{{$index}}">
        <span class="badge badge-primary" data-ng-show="receiver.last_access > tip.update_date" uib-tooltip="{{'The recipient has already read the latest update' | translate}}">
          <i class="fas fa-check"></i>
          <span>{{receiver.name}}</span>
        </span>
        <span class="badge badge-warning" data-ng-show="receiver.last_access <= tip.update_date" uib-tooltip="{{'The recipient has not read the latest update yet' | translate}}">
          <i class="far fa-square"></i>
          <span>{{receiver.name}}</span>
        </span>
      </span>
    </span>
  </div>
</div>
