<div data-ng-init="fields = (field == undefined) ? step.children : field.children">
  <dl data-ng-repeat="field in fields | filter:filterFields | orderBy:'y'" class="nested">
    <dt>
      <span data-ng-if="!$parent.field">{{$index + 1}}) {{field.label}}</span>
      <span data-ng-if="$parent.field">{{field.label}}</span>
    </dt>

    <div data-ng-switch="" on="field.type">
      <dd data-ng-switch-when="inputbox" class="preformatted">{{field.value}}</dd>

      <dd data-ng-switch-when="textarea" class="preformatted">{{field.value}}</dd>

      <dd data-ng-switch-when="selectbox" class="preformatted">{{field.value}}</dd>

      <dd data-ng-switch-when="checkbox">
        <ul>
          <div data-ng-repeat="answer in field.value">
            <span data-ng-hide="answer.value"><i class="glyphicon glyphicon-unchecked"></i></span>
            <span data-ng-show="answer.value"><i class="glyphicon glyphicon-check"></i></span>
            {{answer.name}}
          </div>
        </ul>
      </dd>

      <dd data-ng-switch-when="tos">
        <span ng-if="field.value" data-translate>Accepted</span>
        <span ng-if="!field.value" data-translate>Not accepted</span>
      </dd>

      <dd data-ng-switch-when="fieldgroup">
        <div data-ng-include="'views/partials/tip_fields.html'"></div>
      </dd>

    </div>
  </dl>
</div>
