<div id="ToolTipBox" data-ng-controller="toolTipCtrl">
  <div id="LanguagePickerBox" class="languagePick row" data-ng-hide="!show_language_selector">
    <div class="pull-right">
        <select data-ng-model="language" data-ng-options="item.code as item.name for item in languages_enabled_selector | orderBy:'name'" class="form-control"></select>
    </div>
  </div>
  <div id="LoginStatusBox" class="row" ng-if="showLoginForm() || session_id">
    <div data-ng-show="session_id" class="pull-right">
      <span id="RoleBox">
        <label>
          <span data-translate>Currently logged in</span>
          (<a href="{{auth_landing_page}}">{{role}}</a>)
        </label>
      </span>
      <span>|</span>
      <span id="LogoutBox">
        <a href="" data-ng-click="logout()" data-translate>Logout</a>
      </span>
    </div>
    <div data-ng-show="showLoginForm() && !session_id" class="pull-right">
      <form role="form">
        <div data-translate>Have you already filed a submission? Enter your receipt.</div>
        <div class="form-group">
          <div class="input-group">
            <input class="form-control" data-ng-model="receipt" type="text" />
              <span class="input-group-btn">
                <button data-ng-click="view_tip(receipt)" class="btn btn-primary" data-ng-disabled="!receipt || receipt == ''" type="button">
                  <i class="glyphicon glyphicon-log-in"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
