<div data-ng-hide="Authentication.session.password_change_needed">
  <div id="LanguagePickerBox" data-ng-if="public.node.languages_enabled.length > 1" data-ng-class="{'mb-2': Utils.showUserStatusBox()}" class="clearfix">
    <select class="float-right form-control" data-ng-model="GLTranslate.state.language" data-ng-options="item.code as item.native for item in languages_enabled_selector | orderBy:'native'"></select>
  </div>
  <div id="LoginStatusBox" data-ng-if="Utils.showUserStatusBox()" class="clearfix">
    <div class="float-right">
      <span id="UsernameBox" data-ng-if="Authentication.session.role !== 'whistleblower'">
        <label>{{preferences.name}}</label>
        <span class="text-separator">|</span>
      </span>
      <span id="HomeLinkBox" data-ng-if="Authentication.session.role !== 'whistleblower'">
        <a id="HomepageLink" data-ng-href="#{{Authentication.session.homepage}}" data-translate>Home</a>
        <span class="text-separator">|</span>
      </span>
      <span id="PreferencesLinkBox" data-ng-if="Authentication.session.role != 'whistleblower' && !Authentication.session.management_session">
        <a id="PreferencesLink" data-ng-href="#{{Authentication.session.preferencespage}}" data-translate>Preferences</a>
        <span class="text-separator">|</span>
      </span>
      <span id="LogoutLinkBox">
        <a id="LogoutLink" href="" data-ng-click="Authentication.logout()" data-translate>Logout</a>
      </span>
    </div>
  </div>
</div>
