<div data-ng-hide="Authentication.session.password_change_needed" class="mb-2">
  <div id="LanguagePickerBox" data-ng-if="public.node.languages_enabled.length > 1" class="mb-2 clearfix">
    <div class="float-right">
      <span data-ng-if="languages_enabled_selector.length < 4" data-ng-repeat="item in languages_enabled_selector">
        <a class="language-link" data-ng-class="{'language-link-selected': GLTranslate.state.language === item.code}" data-uib-popover="{{item.native}} ({{item.name}})" data-popover-placement="bottom" data-ng-click="GLTranslate.state.language = item.code" href="">{{item.native}}</a>
        <span data-ng-if="!$last">|</span>
      </span>
      <select data-ng-if="languages_enabled_selector.length > 3" class="form-control" data-ng-model="GLTranslate.state.language" data-ng-options="item.code as item.ui for item in languages_enabled_selector"></select>
    </div>
  </div>
  <div id="LoginStatusBox" class="clearfix" data-ng-if="Utils.showUserStatusBox()">
    <div class="float-right">
      <span id="UsernameBox" data-ng-if="Authentication.session.role !== 'whistleblower'">
        <label>{{preferences.name}}</label>
        <span class="text-separator">|</span>
      </span>
      <span id="HomeLinkBox" data-ng-if="Authentication.session.role !== 'whistleblower'">
        <a id="HomepageLink" data-ng-href="#{{Authentication.session.homepage}}" data-translate>Home</a>
        <span class="text-separator">|</span>
      </span>
      <span id="PreferencesLinkBox">
        <a id="PreferencesLink" data-ng-href="#{{Authentication.session.preferencespage}}" data-translate>Preferences</a>
        <span class="text-separator">|</span>
      </span>
      <span id="LogoutLinkBox">
        <a id="LogoutLink" href="" data-ng-click="Authentication.logout()" data-translate>Logout</a>
      </span>
    </div>
  </div>
  <div id="LoginFormBox" data-ng-if="page === 'submissionpage' && !Authentication.session">
    <div class="float-right">
      <label for="receipt" data-translate>Have you already filed a report? Enter your receipt.</label>
      <div data-ng-include="'views/partials/wb_login.html'"></div>
      <div class="LoginErrorBox text-danger" data-ng-show="errors[0].code == 9" data-translate>The receipt is either invalid or the report has expired.</div>
    </div>
  </div>
</div>
