<div class="alert alert-warning" data-ng-if="Authentication.session.role === 'admin' && resources.node.update_available">
  <i class="fa fa-exclamation-circle"></i>
  <span data-translate>An update is available:</span> <span><a href="https://github.com/globaleaks/GlobaLeaks/blob/main/CHANGELOG" target="_blank">{{resources.node.latest_version}} (<span data-translate>Changelog</span>)</a></span>
</div>
<div class="alert alert-warning" data-ng-show="public.node.encryption && !preferences.clicked_recovery_key">
  <i class="fa fa-exclamation-circle"></i>
  <span data-translate>We recommend that you access the “Preferences” section in order to retrieve your “Account Recovery Key” and store it safely. This key will be necessary to recover your access to the platform and to your data in case you forget your password.</span>
</div>
<div class="alert alert-warning" data-ng-show="public.node.encryption && !all_recipients_enabled">
  <i class="fa fa-exclamation-circle"></i>
  <span data-translate>One or more recipients have not performed the first login yet. This means they won't be receiving reports.</span>
</div>
