<div data-ng-hide="Authentication.session.password_change_needed" class="mb-2">
  <div id="LanguagePickerBox" data-ng-if="public.node.languages_enabled.length > 1" class="mb-2 clearfix">
    <div class="float-right">
      <select class="form-control" data-ng-model="GLTranslate.state.language" data-ng-options="item.code as item.native for item in languages_enabled_selector | orderBy:'native'"></select>
    </div>
  </div>
  <div id="LoginStatusBox" class="clearfix" data-ng-if="Utils.showUserStatusBox()">
    <div class="float-right">
      <span id="UsernameBox" data-ng-if="Authentication.session.role !== 'whistleblower'">
        <label>{{preferences.name}}</label>
        <span class="text-separator">|</span>
      </span>
      <span id="HomeLinkBox" data-ng-if="Authentication.session.role !== 'whistleblower'">
        <a id="HomepageLink" data-ng-href="#{{Authentication.session.homepage}}" data-translate>Home</a>
        <span class="text-separator">|</span>
      </span>
      <span id="PreferencesLinkBox" data-ng-if="Authentication.session.role != 'whistleblower' && !Authentication.session.management_session">
        <a id="PreferencesLink" data-ng-href="#{{Authentication.session.preferencespage}}" data-translate>Preferences</a>
        <span class="text-separator">|</span>
      </span>
      <span id="LogoutLinkBox">
        <a id="LogoutLink" href="" data-ng-click="Authentication.logout()" data-translate>Logout</a>
      </span>
    </div>
  </div>
  <div id="WhistleblowerLoginBox" class="float-right" data-ng-if="page === 'submissionpage' && !Authentication.session" data-ng-include="'views/partials/receipt.html'">
</div>
