<form name="wbLoginForm" class="form-inline" autocomplete="off" novalidate>
  <div class="form-group">
    <div class="input-group">
      <input class="form-control keyinput" type="text" placeholder="XXXX XXXX XXXX XXXX" maxlength="19" size="19" data-ng-model="formatted_receipt" name="receipt" receiptvalidator>
      <span class="input-group-btn keybutton">
        <button id="ReceiptButton"
                data-ng-click="Authentication.login(0, 'whistleblower', formatted_receipt)" class="btn btn-primary"
                data-ng-disabled="Authentication.loginInProgress || wbLoginForm.receipt.$error.receiptvalidator" type="submit">
          <span data-translate>Log in</span>
        </button>
      </span>
    </div>
  </div>
</form>
