<form name="wbLoginForm" class="form-inline" novalidate>
  <div class="form-group">
    <div class="input-group">
      <input class="form-control keyinput" type="text" placeholder="XXXX XXXX XXXX XXXX" maxlength="19" size="19" data-ng-model="formatted_key code" name="key code" key codevalidator>
      <span class="input-group-btn keybutton">
        <button data-ng-click="view_tip(formatted_key code)" class="btn btn-primary"
                data-ng-disabled="wbLoginForm.key code.$error.key codevalidator" type="submit">
          <span data-translate>Login</span>
        </button>
      </span>
    </div>
  </div>
</form>
