<div id="AttachedWBFile" class="card card-default" data-ng-init="collapsed = false; submission = {}">
  <div class="card-header clearfix" data-ng-click="collapsed = !collapsed; $event.stopPropagation();">
    <span data-translate>Files attached by recipients</span>
    <span class="float-right">
      <i data-ng-if="!collapsed" class="fa-solid fa-chevron-up" data-uib-tooltip="{{'Collapse' | translate}}"></i>
      <i data-ng-if="collapsed" class="fa-solid fa-chevron-down" data-uib-tooltip="{{'Expand' | translate}}"></i>
    </span>
  </div>
  <div class="card-body" data-ng-show="!collapsed">
    <div data-ng-repeat="rfile in tip.rfiles | orderBy: 'creation_date'">
      <div id="rfile-{{$index}}" data-rfile></div>
    </div>
  </div>
</div>
