<div id="AttachedWBFile" class="panel panel-default" data-ng-init="collapsed = false; submission = {}">
  <div class="panel-heading" data-ng-click="collapsed = !collapsed; $event.stopPropagation();">
     <div>
        <span data-translate>Files attached by recipients</span>
        <span class="pull-right">
          <i data-ng-if="!collapsed" class="glyphicon glyphicon-collapse-down" uib-popover="{{'Collapse' | translate}}" popover-placement="left"></i>
          <i data-ng-if="collapsed" class="glyphicon glyphicon-fullscreen" uib-popover="{{'Expand' | translate}}" popover-placement="left"></i>
        </span>
     </div>
  </div>
  <div class="panel-body" data-ng-show="!collapsed">
    <div class="alert alert-info">
      <i class="glyphicon glyphicon-info-sign"></i>
      <span data-translate>These files have been attached to your submission by the recipients.</span>
    </div>
    <div data-ng-repeat="wbfile in tip.wbfiles | orderBy: 'creation_date'">
      <div id="wbfile-{{$index}}" data-wbfile></div>
    </div>
  </div>
</div>
