<form name="signupForm" data-ng-class="{'was-validated': validated}" novalidate>
  <div class="row">
    <div class="col-md-12">
      <div class="title" data-translate>Sign up</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 form-group">
      <label>
        <span data-translate>Domain</span>
        <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}"
              popover-placement="right">*</span>
      </label>
      <div class="input-group ltr">
        <input name="subdomain" class="form-control" data-ng-model="signup.subdomain" type="text"
               data-ng-attr-placeholder="{{'Domain' | translate}}" data-ng-pattern="/^[a-z0-9]+$/" required
               subdomainvalidator>
        <span class="input-group-append"><span class="input-group-text">.{{public.node.rootdomain}}</span></span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <label data-translate>Name</label>
      <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right">*</span>
      <input name="name" class="form-control" data-ng-model="signup.name" type="text"
             data-ng-attr-placeholder="{{'Name' | translate}}" required>
    </div>
    <div class="col-md-6 form-group">
      <label data-translate>Surname</label>
      <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right">*</span>
      <input name="surname" class="form-control" data-ng-model="signup.surname" type="text"
             data-ng-attr-placeholder="{{'Surname' | translate}}" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <label>
        <span data-translate>Email address</span>
        <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right">*</span>
      </label>
      <input name="mail_address" class="form-control" data-ng-model="signup.email"
             data-ng-attr-placeholder="{{'Email address' | translate}}" data-ng-pattern="email_regexp" type="email"
             data-ng-class="{'is-invalid': validated && signupForm.mail_address.$error.pattern}"
             required>
      <div class="text-danger" data-ng-show="signupForm.mail_address.$error.pattern">
        <span data-translate>Invalid email address</span>
      </div>
    </div>
    <div class="col-md-6 form-group">
      <label>
        <span data-translate>Email address</span> <span>(</span><span data-translate>Confirmation</span><span>)</span>
        <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right">*</span>
      </label>
      <input name="email" class="form-control" data-ng-model="confirmation_email"
             data-ng-attr-placeholder="{{'Email address' | translate}}" data-disable-ccp type="email"
             data-ng-class="{'is-invalid': validated && signup.email !== confirmation_email}"
             required>
      <div class="text-danger" data-ng-show="validated && signupForm.mail_address.$valid && signup.email !== confirmation_email">
        <span data-translate>Invalid confirmation</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 form-group">
      <label data-translate>Use case</label>
      <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}"
            popover-placement="right">*</span>
      <div>
        <select name="use_case" class="custom-select" data-ng-model="signup.use_case" required>
          <option value="" selected="selected"></option>
          <option value="anticorruption" data-translate>Anticorruption</option>
          <option value="corporate_compliance" data-translate>Corporate compliance</option>
          <option value="investigative_journalism" data-translate>Investigative journalism</option>
          <option value="civic_activism" data-translate>Civic activism</option>
          <option value="other" data-translate>Other</option>
        </select>
      </div>
    </div>
    <div class="col-md-6 form-group" data-ng-if="signup.use_case == 'other'">
      <label data-translate>Other</label>
      <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}"
            popover-placement="right">*</span>
      <input name="use_case_other" class="form-control" data-ng-model="signup.use_case_other" type="text"
             data-ng-attr-placeholder="{{'Other' | translate}}" required>
    </div>
  </div>
  <div data-ng-include="'views/signup/tos.html'"></div>
  <div class="row">
    <div class="col-md-12">
      <button class="ButtonNext btn btn-success" data-ng-click="(validated = true) && !signupForm.$invalid && complete()">
        <i class="fas fa-check"></i>
        <span data-translate>Complete</span>
      </button>
    </div>
  </div>
</form>
