<!-- 

This comment is needed in order to push the following strings on transifex

{{ "Loading Tip page..." | translate }}
{{ "Tip Status Page" | translate }}
{{ "This receiver has configured the encryption key." | translate }}
{{ "This receiver has not configured for encryption key." | translate }

//-->
<div id="ContentBox" class="container statusPage ng-cloak">
  <div class="row" ng-controller="TipCtrl">
    <div class="col-md-6">
      <div class="col-md-12">
        <dl>
          <dt>
            {{ tip.context_name }}
            <a ng-show="tip.context_description" popover="{{tip.context_description}}" popover-placement="right" popover-trigger="mouseenter">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>
          </dt>
          <br />
          <dt>{{ "Submission date" | translate }}</dt>
          <dd>{{ tip.creation_date | date:'dd-MM-yyyy HH:mm' }}</dd>
          <br />
          <dt>{{ "Expiration Date" | translate }}</dt>
          <dd>{{ tip.expiration_date | date:'dd-MM-yyyy HH:mm' }}</dd>
        </dl>
        <dl ng-repeat="(fieldName, fieldValue) in tip.fields">
          <dt>
            <span>
              {{fieldFormat[fieldName].name}}
            </span>
            <a ng-show="fieldFormat[fieldName].hint" popover="{{fieldFormat[fieldName].hint}}" popover-placement="right" popover-trigger="mouseenter">
              <span class="glyphicon glyphicon-info-sign"}}></span>
            </a>
          </dt>
        
          <div ng-switch="" on="fieldFormat[fieldName].type">
      
            <dd ng-switch-when="checkboxes">
              <ul>
                <li ng-repeat="checkbox in fieldFormat[fieldName].options">
                {{checkbox.name}} 
                <span ng-hide="fieldValue[checkbox.name]">☐</span> 
                <span ng-show="fieldValue[checkbox.name]">☑</span>
                </li>
              </ul>
            </dd>

            <dd ng-switch-when="multiple">
              <ul>
                <li ng-repeat="selection in fieldValue">{{selection}}</li>
              </ul>

            </dd>
            <dd ng-switch-default="">{{fieldValue}}</dd>

          </div>
        </dl>
      </div>
    </div>

    <div class="col-md-6">
      <div class="col-md-12">
        <h3>{{ "Receiver List" | translate }}</h3>
        <table class="table table-striped" id="receiverList">
          <thead>
            <tr>
              <th>{{ "Name" | translate }}</th>
              <th>{{ "Description" | translate }}</th>
              <th>{{ "Access counter" | translate }}</th>
            </tr>
          </thead>
          <tbody id="receiverListBody">
            <tr ng-repeat="receiver in tip.receivers | orderBy:'name'">
              <td>
                <span ng-switch="" on="receiver.gpg_key_status">
                  <span ng-switch-when="Enabled">
                    <i class="glyphicon glyphicon-certificate" popover="{{ 'This receiver has configured the encryption key.' | translate }}" popover-placement="right" popover-trigger="mouseenter"></i>
                  </span>
                  <span ng-switch-when="Disabled">
                    <i class="glyphicon glyphicon-warning-sign" popover="{{ 'This receiver has not configured the encryption key.' | translate }}" popover-placement="right" popover-trigger="mouseenter"></i>
                  </span>
                </span>
                {{receiver.name}}
              </td>
              <td>{{receiver.description}}</td>
              <td>{{receiver.access_counter}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h3>
        {{ "Files" | translate }}
      </h3>
      <div class="well" ng-show="tip.files">
        <div class="table-container">
          <table class="table table-striped" id="fileList">
            <thead>
              <tr>
                <th>
                  {{ "Filename" | translate }}
                </th>
                <th>
                  {{ "Upload Date" | translate }}
                </th>
                <th>
                  {{ "Content Type" | translate }}
                </th>
                <th>
                  {{ "File Size" | translate }}
                </th>
              </tr>
            </thead>
            <tbody id="fileListBody" ng-repeat="file in tip.files">
              <tr ng-show="!show_new_files || (show_new_files && file.downloads == 0)">
                <td>
                  {{file.name}}
                </td>
                <td>
                  {{file.creation_date | date:'dd-MM-yyyy' }}
                </td>
                <td>
                  {{file.content_type}}
                </td>
                <td>
                  {{file.size}} Bytes
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <br />

        <a class="input-small" ng-click="security_checksum = !security_checksum" ng-init="security_checksum = false" ng-show="!security_checksum">
          <i class="glyphicon glyphicon-plus-sign"></i>
          {{ "show sha256 checksum" | translate }}
        </a>
        <a class="input-small" ng-click="security_checksum = !security_checksum" ng-show="security_checksum">
          <i class="glyphicon glyphicon-minus-sign"></i>
          {{ "show sha256 checksum" | translate }}
          <i>
            {{ "(click again to hide)" | translate }}
          </i>
        </a>
      </div>
      <div class="well" ng-show="security_checksum">
        <p>
          {{ "Use the" | translate }} 
          <a href="https://en.wikipedia.org/wiki/SHA-2" target="_blank" rel="noreferrer">
            {{ "sha256 hash" | translate }}
          </a> 
          {{ "to verify the file integrity" | translate }}.
          <br />
          {{ "On unix based systems this can be done by running the following command in the directory of the files" | translate }}:
        </p>
        <b>$ shasum -a 256 *</b>
        <div ng-repeat="file in tip.files">
          <div class="label label-lg label-warning">
            {{file.name}} {{file.sha2sum}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12" ng-hide="tip.files">
      <p>
        {{ "No file has been uploaded!" | translate }}
      </p>
    </div>

    <div class="col-md-12">
      <div ng-include="'views/partials/fileupload.html'"></div>
    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-md-5">
      <h3>
        {{ "Comments" | translate }}
      </h3>
      <textarea ng-model="newCommentContent" class="form-control"></textarea>
      <br />
      <button class="btn btn-success" ng-click="newComment()" ng-disabled="!newCommentContent || newCommentContent == ''">
        <i class="glyphicon glyphicon-comment"></i>
        {{ "Add Comment" | translate }}
      </button>
      <br /><br />
      <div ng-repeat="comment in tip.comments | orderBy:'creation_date':true">
        <div ng-switch="" on="comment.type">

          <div ng-switch-when="whistleblower" class="alert alert-info">
            <div class="row">
              <div class="col-md-6">
                <strong>
                  {{ "Whistleblower" | translate }}
                </strong>
              </div>
              <div class="pull-right" style="margin-right:20px">
                <strong>
                  {{ comment.creation_date | date:'dd-MM-yyyy HH:mm' }}
                </strong>
              </div>
            </div>
            <div>
              {{comment.content}}
            </div>
          </div>

          <div ng-switch-when="receiver" class="alert alert-success">
            <div class="row">
              <div class="col-md-6">
                <strong>
		  {{comment.author}}
                </strong>
              </div>
              <div class="pull-right" style="margin-right:20px">
                <strong>
                  {{ comment.creation_date | date:'dd-MM-yyyy HH:mm' }}
                </strong>
              </div>
            </div>
            <div>
              {{comment.content}}
            </div>
          </div>

          <div ng-switch-when="system" class="alert alert-warning">
            <strong>
              {{ "System" | translate }}
            </strong>
              <!-- {{comment.content}} -->
              <div ng-switch="" on="comment.system_content.type">
                 <div ng-switch-when="1">
                   {{ "The user" | translate }}
                   {{comment.system_content.receiver_name}}
                   {{ "In date" | translate }}
                   {{comment.system_content.now | date:'dd-MM-yyyy HH:mm' }}
                   {{ "has postponed Tip expiration to" | translate }}
                   {{comment.system_content.expire_on | date:'dd-MM-yyyy HH:mm' }}
                 </div>
              </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-offset-2 col-md-5">
      <div class="row">
        <h3>
          <div class="col-md-6">
            {{ "Private Messages" | translate }}
          </div>
          <div class="col-md-6">
            <select ng-model="tip.msg_receiver_selected" ng-options="obj.key as obj.value for obj in tip.msg_receivers_selector | orderBy:'value'" class="form-control"></select>
          </div>
        </h3>
      </div>
      <textarea ng-model="newMessageContent" class="form-control"></textarea>
      <br />
      <button class="btn btn-success" ng-click="newMessage()" ng-disabled="!tip.msg_receiver_selected || tip.msg_receiver_selected == '' || !newMessageContent || newMessageContent == ''">
        <i class="glyphicon glyphicon-comment"></i>
        {{ "Send Private Message" | translate }}
      </button>
      <br /><br />
      <div ng-repeat="message in tip.messages | orderBy:'creation_date':true">
        <div ng-switch="" on="message.type">

          <div ng-switch-when="whistleblower" class="alert alert-info">
            <div class="row">
              <div class="col-md-6">
                <strong>
		  {{ "Whistleblower" | translate }}
                </strong>
              </div>
              <div class="pull-right" style="margin-right:20px">
                <strong>
                  {{ message.creation_date | date:'dd-MM-yyyy HH:mm' }}
                </strong>
              </div>
            </div>
            <div>
              {{message.content}}
            </div>
          </div>

          <div ng-switch-when="receiver" class="alert alert-success">
            <div class="row">
              <div class="col-md-6">
                <strong>
		  {{message.author}}
                </strong>
              </div>
              <div class="pull-right" style="margin-right:20px">
                <strong>
                  {{ message.creation_date | date:'dd-MM-yyyy HH:mm' }}
                </strong>
              </div>
            </div>
            <div>
              {{message.content}}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>
