/** Configuration Pages **/

.configRow {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
}

.configRow textarea {
  width: 250px;
}

.odd {
  background-color: #f9f9f9;
}

.toolTip {
  width: 200px;
  position: fixed;
  z-index: 99999;
  top: 20px;
  right: 20px;
}
@media (max-width: 550px) {
  .toolTip {
    position: absolute;
  }
}

.fileDetails {
  list-style: none;
  margin: 0 0 10px 20px;
}

.invalidReceiver {
    background-color: red;
}

.config-page textarea {
  width: 300px;
  height: 200px;
}

.config-sidebar {
  margin-top: 20px;
}

.field {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: relative;

  border: 1px solid rgb(204, 204, 204);
  -moz-box-shadow:    2px 5px 5px -1px #ddd;
  -webkit-box-shadow: 2px 5px 5px -1px #ddd;
  box-shadow:         2px 5px 5px -1px #ddd;
}

.field:hover {
  background-color: rgb(250, 250, 250);
}

.field .type {
  position: absolute;
  right: 20px;
}

.contextFields {
  margin-top: 10px;
}

.fieldEditorHeader span {
  margin-right: 10px;
  font-style: italic;
  float: right;
}

.fieldEditorHeader.invalid {
  background-color: #EB6C6C;
}

.fieldEditorBody {

  border: 1px solid rgb(204, 204, 204);
  -moz-box-shadow:    2px 5px 5px -1px #ddd;
  -webkit-box-shadow: 2px 5px 5px -1px #ddd;
  box-shadow:         2px 5px 5px -1px #ddd;

  background-color: rgb(252, 252, 248);
  margin-top: -20px;
  margin-left: 20px;
  padding-bottom: 10px;
  padding-top: 20px;
}


.fieldEditorBody a.delete {
  float: right;
  margin-right: 68px;
  font-weight: bold;
  color: #ee5f5b;
}

.editorHeader {
  background-color: rgb(252, 252, 252);
}

.editorHeader:hover {
  background-color: rgb(252, 252, 248);
}

.editorHeader span {
  letter-spacing: -1px;
  font-size: 20px;
  line-height: 1;
  font-weight: bold;
  display: block;
  padding: 20px;
}

.editor {
  background-color: rgb(240, 240, 240);
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 20px;
}

/** **/

.imageUpload .profile {
  position: relative;
  width: 140px;
}

.imageUpload .profile .uploadfile {
}

.imageUpload .profile .changePicture {
  position: absolute;
  bottom: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 30px;
  text-align: center;
  background-color: #0088cc;
}

.imageUpload .profile .uploadfile span {
  color: white;
}

.imageUpload .profile .close {
  position: absolute;
  top: 0px;
  right: 6px;
  color: #fff;
  text-shadow: 0 1px 0 #000;
  opacity: 0.8;
}

/** **/

.fileselector {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.fileselector input {
  z-index: 2;
  position: relative;
  opacity: 0;
  height: 100%;
}


.uploadProgress {
  position: relative;
}

.uploadProgress .progress {
  position: absolute;
  top: 50px;
  left: 5px;
  z-index: 10;
  display: block;
  width: 100%;
}

.configItem {
  border-top: 1px solid rgb(204, 204, 204);
  border-left: 1px solid rgb(204, 204, 204);
  border-right: 1px solid rgb(204, 204, 204);
  -moz-box-shadow:    2px 5px 5px -1px #ddd;
  -webkit-box-shadow: 2px 5px 5px -1px #ddd;
  box-shadow:         2px 5px 5px -1px #ddd;
  background-color: rgb(252, 252, 252);
  margin-bottom: 20px;
}

.editButtons {
  margin-top: 15px;
}

.selectionList {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;

  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear .2s, box-shadow linear .2s;
}

.selectionList .row {
  margin-left: 0px;
}

.selectionDetails {
  margin-bottom: 10px;
  padding: 3px 13px 3px 3px;
}

.selectionDetails.selected, 
.selectionDetails.selected:hover {
  border: 3px solid #5bb75b;
  padding: 0 10px 0 0;
}

.selectionDetails:hover {
  border: 3px solid #ccc;
  padding: 0 10px 0 0;
}

.selectionContextItem {
  position: relative;
  list-style: none;
  padding-left: 10px;
  margin-left: 10px;
  padding: 3px 13px 3px 3px;
}
.selectionContextItem:hover {
  color: #0088cc;
}
.selectionContextItem .checkbox {
  display: inline;
  top: 0px;
  position: absolute;
  left: -40px;
}
