
/* Sidenav for Docs
-------------------------------------------------- */

.config-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.config-sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.config-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.config-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.config-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.config-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.config-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.config-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.config-sidenav .active .icon-chevron-right,
.config-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.config-sidenav.affix {
  position: absolute;
  top: 40px;
}
.config-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

.config-form {
    margin-top: 30px;
}

.config-page label {
    margin-bottom: 10px;
    font-size: 20px;
}

.config-page input[type=text] {
    font-size: 17px;
    height: 30px;
    width: 456px;
}

.config-page textarea {
    font-size: 17px;
    height: 200px;
    width: 456px;
}

.config-page .row {
    margin-bottom: 30px;
}


.config-page .language-setting {
    float: right;
}
label.inline {
    font-size: 15px;
}

.inline input {
    width: auto;
    height: auto;
}

.config-page .sub-menu {
    background-color: #ECECF0;
}
