/* Home Splash screen jumbotron */
/* Language selector */

.homeSplash .lang {
  font-size: 20px;
  height: 40px;
  margin-top: 10px;
}

.homeSplash h1 {
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 1;
}
.homeSplash p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
  margin-bottom: 30px;
}

/* Blow the Whistle button */
.homeSplash .btn {
  padding: 14px 24px;
  font-size: 24px;
  font-weight: 200;
  color: #fff; /* redeclare to override the `.jumbotron a` */
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.homeSplash .btn:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.homeSplash .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}

.homeIntro {
  text-align: center;
  color: #5a5a5a;
  margin-top: 60px;
}

/* Home Splash screen jumbotron */
/* Language selector */
.homeSplash .lang {
  font-size: 20px;
  height: 40px;
  margin-top: 10px;
}

.homeSplash h1 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 1;
}
@media (max-width: 750px) {
  .homeSplash h1 {
    font-size: 64px;
  }
}
@media (max-width: 550px) {
  .homeSplash h1 {
    font-size: 40px;
  }
}

.homeSplash p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
  margin-bottom: 30px;
}
/* Blow the Whistle button */
.homeSplash .btn {
  padding: 14px 24px;
  font-size: 24px;
  font-weight: 200;
  color: #fff; /* redeclare to override the `.jumbotron a` */
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.homeSplash .btn:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.homeSplash .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}
@media (max-width: 550px) {
  .homeSplash .btn {
    margin-top: 10px;
  }
}

.homeIntro {
  text-align: center;
  color: #5a5a5a;
}

.homeIntro h1 {
  margin: 60px 0 10px 0;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -1px;
}

.homeIntro p {
  font-size: 16px;
  line-height: 1.5;
}

.homeIntro .homeIntro-byline {
  margin-bottom: 40px;
  font-size: 20px;
  font-weight: 300;
  line-height: 25px;
  color: #999;
}

@media (max-width: 480px) {
  .homeIntro p {
    font-size: 13px;
  }

  .homeIntro h1 {
    font-size: 30px;
  }


  .homeSplash h1 {
    font-size: 30px;
  }



}
