/* This creates a mapping between ISO 639-1 codes and
 * ISO_3166-1_alpha-2 flags.
 * */
.lflag {
	width: 16px;
	height: 11px;
  margin-right: .3em;
	background:url(../img/flags.png) no-repeat
}

.lflag.lflag-en {background-position: -176px -44px}
.lflag.lflag-it {background-position: -208px -66px}

/* .lflag.lflag-ad {background-position: -16px 0} */
/* .lflag.lflag-ae {background-position: -32px 0} */
/* .lflag.lflag-af {background-position: -48px 0} */
/* .lflag.lflag-ag {background-position: -64px 0} */
/* .lflag.lflag-ai {background-position: -80px 0} */
/* .lflag.lflag-al {background-position: -96px 0} */
/* .lflag.lflag-am {background-position: -112px 0} */
/* .lflag.lflag-an {background-position: -128px 0} */
/* .lflag.lflag-ao {background-position: -144px 0} */
/* .lflag.lflag-ar {background-position: -160px 0} */
/* .lflag.lflag-as {background-position: -176px 0} */
/* .lflag.lflag-at {background-position: -192px 0} */
/* .lflag.lflag-au {background-position: -208px 0} */
/* .lflag.lflag-aw {background-position: -224px 0} */
/* .lflag.lflag-az {background-position: -240px 0} */
/* .lflag.lflag-ba {background-position: 0 -11px} */
/* .lflag.lflag-bb {background-position: -16px -11px} */
/* .lflag.lflag-bd {background-position: -32px -11px} */
/* .lflag.lflag-be {background-position: -48px -11px} */
/* .lflag.lflag-bf {background-position: -64px -11px} */
/* .lflag.lflag-bg {background-position: -80px -11px} */
/* .lflag.lflag-bh {background-position: -96px -11px} */
/* .lflag.lflag-bi {background-position: -112px -11px} */
/* .lflag.lflag-bj {background-position: -128px -11px} */
/* .lflag.lflag-bm {background-position: -144px -11px} */
/* .lflag.lflag-bn {background-position: -160px -11px} */
/* .lflag.lflag-bo {background-position: -176px -11px} */
/* .lflag.lflag-br {background-position: -192px -11px} */
/* .lflag.lflag-bs {background-position: -208px -11px} */
/* .lflag.lflag-bt {background-position: -224px -11px} */
/* .lflag.lflag-bv {background-position: -240px -11px} */
/* .lflag.lflag-bw {background-position: 0 -22px} */
/* .lflag.lflag-by {background-position: -16px -22px} */
/* .lflag.lflag-bz {background-position: -32px -22px} */
/* .lflag.lflag-ca {background-position: -48px -22px} */
/* .lflag.lflag-catalonia {background-position: -64px -22px} */
/* .lflag.lflag-cd {background-position: -80px -22px} */
/* .lflag.lflag-cf {background-position: -96px -22px} */
/* .lflag.lflag-cg {background-position: -112px -22px} */
/* .lflag.lflag-ch {background-position: -128px -22px} */
/* .lflag.lflag-ci {background-position: -144px -22px} */
/* .lflag.lflag-ck {background-position: -160px -22px} */
/* .lflag.lflag-cl {background-position: -176px -22px} */
/* .lflag.lflag-cm {background-position: -192px -22px} */
/* .lflag.lflag-cn {background-position: -208px -22px} */
/* .lflag.lflag-co {background-position: -224px -22px} */
/* .lflag.lflag-cr {background-position: -240px -22px} */
/* .lflag.lflag-cu {background-position: 0 -33px} */
/* .lflag.lflag-cv {background-position: -16px -33px} */
/* .lflag.lflag-cw {background-position: -32px -33px} */
/* .lflag.lflag-cy {background-position: -48px -33px} */
/* .lflag.lflag-cz {background-position: -64px -33px} */
/* .lflag.lflag-de {background-position: -80px -33px} */
/* .lflag.lflag-dj {background-position: -96px -33px} */
/* .lflag.lflag-dk {background-position: -112px -33px} */
/* .lflag.lflag-dm {background-position: -128px -33px} */
/* .lflag.lflag-do {background-position: -144px -33px} */
/* .lflag.lflag-dz {background-position: -160px -33px} */
/* .lflag.lflag-ec {background-position: -176px -33px} */
/* .lflag.lflag-ee {background-position: -192px -33px} */
/* .lflag.lflag-eg {background-position: -208px -33px} */
/* .lflag.lflag-eh {background-position: -224px -33px} */
/* .lflag.lflag-england {background-position: -240px -33px} */
/* .lflag.lflag-er {background-position: 0 -44px} */
/* .lflag.lflag-es {background-position: -16px -44px} */
/* .lflag.lflag-et {background-position: -32px -44px} */
/* .lflag.lflag-eu {background-position: -48px -44px} */
/* .lflag.lflag-fi {background-position: -64px -44px} */
/* .lflag.lflag-fj {background-position: -80px -44px} */
/* .lflag.lflag-fk {background-position: -96px -44px} */
/* .lflag.lflag-fm {background-position: -112px -44px} */
/* .lflag.lflag-fo {background-position: -128px -44px} */
/* .lflag.lflag-fr {background-position: -144px -44px} */
/* .lflag.lflag-ga {background-position: -160px -44px} */
/* .lflag.lflag-gb {background-position: -176px -44px} */
/* .lflag.lflag-gd {background-position: -192px -44px} */
/* .lflag.lflag-ge {background-position: -208px -44px} */
/* .lflag.lflag-gf {background-position: -224px -44px} */
/* .lflag.lflag-gg {background-position: -240px -44px} */
/* .lflag.lflag-gh {background-position: 0 -55px} */
/* .lflag.lflag-gi {background-position: -16px -55px} */
/* .lflag.lflag-gl {background-position: -32px -55px} */
/* .lflag.lflag-gm {background-position: -48px -55px} */
/* .lflag.lflag-gn {background-position: -64px -55px} */
/* .lflag.lflag-gp {background-position: -80px -55px} */
/* .lflag.lflag-gq {background-position: -96px -55px} */
/* .lflag.lflag-gr {background-position: -112px -55px} */
/* .lflag.lflag-gs {background-position: -128px -55px} */
/* .lflag.lflag-gt {background-position: -144px -55px} */
/* .lflag.lflag-gu {background-position: -160px -55px} */
/* .lflag.lflag-gw {background-position: -176px -55px} */
/* .lflag.lflag-gy {background-position: -192px -55px} */
/* .lflag.lflag-hk {background-position: -208px -55px} */
/* .lflag.lflag-hm {background-position: -224px -55px} */
/* .lflag.lflag-hn {background-position: -240px -55px} */
/* .lflag.lflag-hr {background-position: 0 -66px} */
/* .lflag.lflag-ht {background-position: -16px -66px} */
/* .lflag.lflag-hu {background-position: -32px -66px} */
/* .lflag.lflag-ic {background-position: -48px -66px} */
/* .lflag.lflag-id {background-position: -64px -66px} */
/* .lflag.lflag-ie {background-position: -80px -66px} */
/* .lflag.lflag-il {background-position: -96px -66px} */
/* .lflag.lflag-im {background-position: -112px -66px} */
/* .lflag.lflag-in {background-position: -128px -66px} */
/* .lflag.lflag-io {background-position: -144px -66px} */
/* .lflag.lflag-iq {background-position: -160px -66px} */
/* .lflag.lflag-ir {background-position: -176px -66px} */
/* .lflag.lflag-is {background-position: -192px -66px} */
/* .lflag.lflag-it {background-position: -208px -66px} */
/* .lflag.lflag-je {background-position: -224px -66px} */
/* .lflag.lflag-jm {background-position: -240px -66px} */
/* .lflag.lflag-jo {background-position: 0 -77px} */
/* .lflag.lflag-jp {background-position: -16px -77px} */
/* .lflag.lflag-ke {background-position: -32px -77px} */
/* .lflag.lflag-kg {background-position: -48px -77px} */
/* .lflag.lflag-kh {background-position: -64px -77px} */
/* .lflag.lflag-ki {background-position: -80px -77px} */
/* .lflag.lflag-km {background-position: -96px -77px} */
/* .lflag.lflag-kn {background-position: -112px -77px} */
/* .lflag.lflag-kp {background-position: -128px -77px} */
/* .lflag.lflag-kr {background-position: -144px -77px} */
/* .lflag.lflag-kurdistan {background-position: -160px -77px} */
/* .lflag.lflag-kw {background-position: -176px -77px} */
/* .lflag.lflag-ky {background-position: -192px -77px} */
/* .lflag.lflag-kz {background-position: -208px -77px} */
/* .lflag.lflag-la {background-position: -224px -77px} */
/* .lflag.lflag-lb {background-position: -240px -77px} */
/* .lflag.lflag-lc {background-position: 0 -88px} */
/* .lflag.lflag-li {background-position: -16px -88px} */
/* .lflag.lflag-lk {background-position: -32px -88px} */
/* .lflag.lflag-lr {background-position: -48px -88px} */
/* .lflag.lflag-ls {background-position: -64px -88px} */
/* .lflag.lflag-lt {background-position: -80px -88px} */
/* .lflag.lflag-lu {background-position: -96px -88px} */
/* .lflag.lflag-lv {background-position: -112px -88px} */
/* .lflag.lflag-ly {background-position: -128px -88px} */
/* .lflag.lflag-ma {background-position: -144px -88px} */
/* .lflag.lflag-mc {background-position: -160px -88px} */
/* .lflag.lflag-md {background-position: -176px -88px} */
/* .lflag.lflag-me {background-position: -192px -88px} */
/* .lflag.lflag-mg {background-position: -208px -88px} */
/* .lflag.lflag-mh {background-position: -224px -88px} */
/* .lflag.lflag-mk {background-position: -240px -88px} */
/* .lflag.lflag-ml {background-position: 0 -99px} */
/* .lflag.lflag-mm {background-position: -16px -99px} */
/* .lflag.lflag-mn {background-position: -32px -99px} */
/* .lflag.lflag-mo {background-position: -48px -99px} */
/* .lflag.lflag-mp {background-position: -64px -99px} */
/* .lflag.lflag-mq {background-position: -80px -99px} */
/* .lflag.lflag-mr {background-position: -96px -99px} */
/* .lflag.lflag-ms {background-position: -112px -99px} */
/* .lflag.lflag-mt {background-position: -128px -99px} */
/* .lflag.lflag-mu {background-position: -144px -99px} */
/* .lflag.lflag-mv {background-position: -160px -99px} */
/* .lflag.lflag-mw {background-position: -176px -99px} */
/* .lflag.lflag-mx {background-position: -192px -99px} */
/* .lflag.lflag-my {background-position: -208px -99px} */
/* .lflag.lflag-mz {background-position: -224px -99px} */
/* .lflag.lflag-na {background-position: -240px -99px} */
/* .lflag.lflag-nc {background-position: 0 -110px} */
/* .lflag.lflag-ne {background-position: -16px -110px} */
/* .lflag.lflag-nf {background-position: -32px -110px} */
/* .lflag.lflag-ng {background-position: -48px -110px} */
/* .lflag.lflag-ni {background-position: -64px -110px} */
/* .lflag.lflag-nl {background-position: -80px -110px} */
/* .lflag.lflag-no {background-position: -96px -110px} */
/* .lflag.lflag-np {background-position: -112px -110px} */
/* .lflag.lflag-nr {background-position: -128px -110px} */
/* .lflag.lflag-nu {background-position: -144px -110px} */
/* .lflag.lflag-nz {background-position: -160px -110px} */
/* .lflag.lflag-om {background-position: -176px -110px} */
/* .lflag.lflag-pa {background-position: -192px -110px} */
/* .lflag.lflag-pe {background-position: -208px -110px} */
/* .lflag.lflag-pf {background-position: -224px -110px} */
/* .lflag.lflag-pg {background-position: -240px -110px} */
/* .lflag.lflag-ph {background-position: 0 -121px} */
/* .lflag.lflag-pk {background-position: -16px -121px} */
/* .lflag.lflag-pl {background-position: -32px -121px} */
/* .lflag.lflag-pm {background-position: -48px -121px} */
/* .lflag.lflag-pn {background-position: -64px -121px} */
/* .lflag.lflag-pr {background-position: -80px -121px} */
/* .lflag.lflag-ps {background-position: -96px -121px} */
/* .lflag.lflag-pt {background-position: -112px -121px} */
/* .lflag.lflag-pw {background-position: -128px -121px} */
/* .lflag.lflag-py {background-position: -144px -121px} */
/* .lflag.lflag-qa {background-position: -160px -121px} */
/* .lflag.lflag-re {background-position: -176px -121px} */
/* .lflag.lflag-ro {background-position: -192px -121px} */
/* .lflag.lflag-rs {background-position: -208px -121px} */
/* .lflag.lflag-ru {background-position: -224px -121px} */
/* .lflag.lflag-rw {background-position: -240px -121px} */
/* .lflag.lflag-sa {background-position: 0 -132px} */
/* .lflag.lflag-sb {background-position: -16px -132px} */
/* .lflag.lflag-sc {background-position: -32px -132px} */
/* .lflag.lflag-scotland {background-position: -48px -132px} */
/* .lflag.lflag-sd {background-position: -64px -132px} */
/* .lflag.lflag-se {background-position: -80px -132px} */
/* .lflag.lflag-sg {background-position: -96px -132px} */
/* .lflag.lflag-sh {background-position: -112px -132px} */
/* .lflag.lflag-si {background-position: -128px -132px} */
/* .lflag.lflag-sk {background-position: -144px -132px} */
/* .lflag.lflag-sl {background-position: -160px -132px} */
/* .lflag.lflag-sm {background-position: -176px -132px} */
/* .lflag.lflag-sn {background-position: -192px -132px} */
/* .lflag.lflag-so {background-position: -208px -132px} */
/* .lflag.lflag-somaliland {background-position: -224px -132px} */
/* .lflag.lflag-sr {background-position: -240px -132px} */
/* .lflag.lflag-ss {background-position: 0 -143px} */
/* .lflag.lflag-st {background-position: -16px -143px} */
/* .lflag.lflag-sv {background-position: -32px -143px} */
/* .lflag.lflag-sy {background-position: -48px -143px} */
/* .lflag.lflag-sz {background-position: -64px -143px} */
/* .lflag.lflag-tc {background-position: -80px -143px} */
/* .lflag.lflag-td {background-position: -96px -143px} */
/* .lflag.lflag-tf {background-position: -112px -143px} */
/* .lflag.lflag-tg {background-position: -128px -143px} */
/* .lflag.lflag-th {background-position: -144px -143px} */
/* .lflag.lflag-tj {background-position: -160px -143px} */
/* .lflag.lflag-tk {background-position: -176px -143px} */
/* .lflag.lflag-tl {background-position: -192px -143px} */
/* .lflag.lflag-tm {background-position: -208px -143px} */
/* .lflag.lflag-tn {background-position: -224px -143px} */
/* .lflag.lflag-to {background-position: -240px -143px} */
/* .lflag.lflag-tr {background-position: 0 -154px} */
/* .lflag.lflag-tt {background-position: -16px -154px} */
/* .lflag.lflag-tv {background-position: -32px -154px} */
/* .lflag.lflag-tw {background-position: -48px -154px} */
/* .lflag.lflag-tz {background-position: -64px -154px} */
/* .lflag.lflag-ua {background-position: -80px -154px} */
/* .lflag.lflag-ug {background-position: -96px -154px} */
/* .lflag.lflag-um {background-position: -112px -154px} */
/* .lflag.lflag-us {background-position: -128px -154px} */
/* .lflag.lflag-uy {background-position: -144px -154px} */
/* .lflag.lflag-uz {background-position: -160px -154px} */
/* .lflag.lflag-va {background-position: -176px -154px} */
/* .lflag.lflag-vc {background-position: -192px -154px} */
/* .lflag.lflag-ve {background-position: -208px -154px} */
/* .lflag.lflag-vg {background-position: -224px -154px} */
/* .lflag.lflag-vi {background-position: -240px -154px} */
/* .lflag.lflag-vn {background-position: 0 -165px} */
/* .lflag.lflag-vu {background-position: -16px -165px} */
/* .lflag.lflag-wales {background-position: -32px -165px} */
/* .lflag.lflag-wf {background-position: -48px -165px} */
/* .lflag.lflag-ws {background-position: -64px -165px} */
/* .lflag.lflag-ye {background-position: -80px -165px} */
/* .lflag.lflag-yt {background-position: -96px -165px} */
/* .lflag.lflag-za {background-position: -112px -165px} */
/* .lflag.lflag-zanzibar {background-position: -128px -165px} */
/* .lflag.lflag-zm {background-position: -144px -165px} */
/* .lflag.lflag-zw {background-position: -160px -165px} */
