#PageBox {
  width: 100%;
}

#HeaderBox {
  overflow: hidden;
  padding: 40px 0;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: Teal;
}

#HeaderBox:after, #HeaderBox:after {
    clear: both;
    content: "";
    display: block;
}

#HeaderBoxHomeContent {
  text-align: center;
}

.subhead {
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.subhead h1 {
  font-size: 40px;
}
.subhead p {
  margin-bottom: 20px;
}
.subhead .navbar {
  display: none;
}

#ContentBox {
  margin: 50px auto;
}

#messageConsole {
  width: 200px;
  position: fixed;
  z-index: 99999;
  top: 20px;
  left: 20px;
}

/* Footer */
#FooterBox {
  padding: 70px 0;
  border-top: 1px solid #E5E5E5;
  background-color: Teal;
  color: #ffffff;
  text-align: center;
  font-size: 20px;
}

#LogoBox, #TitleBox, #ToolbarBox, #SubTitleBox {
  margin-left: 20px;
  margin-right: 20px;
}

h1, #HomePageBoxNodePresentation, #WhistleblowerLoginBoxHeader, #ReceiverLoginBoxHeader {
  font-size: 60px;
}

h2, #HomePageBoxNodeDescription {
  font-size: 36px;
}

h3, #SubTitleBox {
  font-size: 20px;
}

#LogoBox, #TitleBox {
  float: left;
}

#ToolbarBox {
  float: right;
}

#LogoBox {
  max-width: 20%;
}

#LogoBox img {
  max-width: 100%;
}

#TitleBox {
  max-width: 60%;
}

#LogoBox h1 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 1;
}

#LogoBox p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

#ToolbarBox {
  max-width: 20%;
}

#HomePageBoxHeader, #BlowTheWhistleBox, #WhistleblowerLoginBox, #ReceiverLoginBox {
  margin-top: 25px;
  margin-bottom: 25px;
}

/** Submission details **/

.submissionDetails textarea {
  width: 300px;
  height: 200px;
}

.receipt {
    text-align: center;
}
.receipt h2 {
    font-family: sans-serif
}

#PrivacyBox {
  padding: 10px;
  background-color: #fcf8e3;
  color: #c09853;
  font-size: 20px;
}

#ToolTipBox {
  position: relative;
  float: right;
  top: 10px;
  right: 10px;
  width: 200px;
  padding: 10px;
  z-index: 99999;
}
@media (max-width: 550px) {
  .toolTip {
    position: absolute;
  }
}

.tab-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

.shasum {
  width: 500px;
}

/* Display the pending requests */
.pending-requests {
  position: fixed;
  top: 100px;
  z-index: 999;
  width: 400px;
  margin-left: -200px;
  left: 50%;
  border-radius: 10px;
}

.pending-requests .message {
  background: white;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #ddd;
}

.spinner {
  padding-bottom: 100px;
}

/* minor hacks needed to not modify some code written for angular and bootstrap 2.0.3 */

.has-error {
  color: #b94a48;
}

.modal {
  display: inline;
}
@media (max-width: 550px) {
  .modal.not-anonymous-question {
    top: 120px;
    z-index: 10001;
  }
  .modal.not-anonymous-question h3 {
    font-size: 18px;
  }
}

.bootstrapping, .bootstrapping img {
  max-width: 100%;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

.shasum {
  word-wrap: break-word;
  word-break: break-all;
}

.img-thumbnail {
  position: relative;
  width: 160px;
}

.mobileTextArea {
  resize: both;
}

#titleboxdefault {
  display: block;
}


#titleboxwithtagline {
  display: none;
}
