#PageBox {
  width: 100%;
}

#HeaderBox {
  overflow: hidden;
  padding: 40px 0;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #547980; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #547980 0%, #45ada8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#547980), color-stop(100%,#45ada8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #547980 0%,#45ada8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #547980 0%,#45ada8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #547980 0%,#45ada8 100%); /* IE10+ */
  background: linear-gradient(45deg,  #547980 0%,#45ada8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#547980', endColorstr='#45ada8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

#HeaderBox:after, #HeaderBox:after {
    clear: both;
    content: "";
    display: block;
}

#HeaderBoxContent, #HeaderBoxHomeContent {
  width: 95%;
  margin: 0 auto;
}

#HeaderBoxHomeContent {
  text-align: center;
}

.subhead {
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.subhead h1 {
  font-size: 40px;
}
.subhead p {
  margin-bottom: 20px;
}
.subhead .navbar {
  display: none;
}

#ContentBox {
  margin: 50px auto;
}

#messageConsole {
  width: 200px;
  position: fixed;
  z-index: 99999;
  top: 20px;
  left: 20px;
}

/* Footer */
#FooterBox {
  padding: 70px 0;
  border-top: 1px solid #E5E5E5;
  background-color: whiteSmoke;
  text-align: center;
}

#FooterBox p {
  margin-bottom: 0;
  color: #777;
}

#LogoBox, #TitleBox, #ToolbarBox {
  margin-left: 20px;
  margin-right: 20px;
}

#LogoBox, #TitleBox {
  float: left;
}

#ToolbarBox {
  float: right;
}

#LogoBox {
  max-width: 20%;
}

#LogoBox img {
  max-width: 100%;
}

#TitleBox {
  max-width: 60%;
}

#LogoBox h1 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -2px;
  line-height: 1;
}

#LogoBox p {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  margin-bottom: 30px;
}

#ToolbarBox {
  max-width: 20%;
}

#BlowTheWislteBox, #WhisleblowerLoginBox, #ReceiverLoginBox {
  margin-bottom: 30px;
}

/** Submission details **/

.submissionDetails textarea {
  width: 300px;
  height: 200px;
}

.receipt {
    text-align: center;
}
.receipt h2 {
    font-family: sans-serif
}

#PrivacyBox {
  padding: 10px;
  background-color: #fcf8e3;
  color: #c09853;
  font-size: 20px;
}

#ToolTipBox {
  position: relative;
  float: right;
  top: 10px;
  right: 10px;
  width: 200px;
  padding: 10px;
  z-index: 99999;
}
@media (max-width: 550px) {
  .toolTip {
    position: absolute;
  }
}

.tab-content {
  padding: 20px;
}

.shasum {
  width: 500px;
}

/* Display the pending requests */
.pending-requests {
  position: fixed;
  top: 100px;
  z-index: 999;
  width: 400px;
  margin-left: -200px;
  left: 50%;
}

.pending-requests .message {
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #ddd;
}

.spinner {
  padding-bottom: 100px;
}

/* minor hacks needed to not modify some code written for angular and bootstrap 2.0.3 */

.has-error {
  color: #b94a48;
}

.modal {
  display: inline;
}
@media (max-width: 550px) {
  .modal.not-anonymous-question {
    top: 120px;
    z-index: 10001;
  }
  .modal.not-anonymous-question h3 {
    font-size: 18px;
  }
}

.bootstrapping, .bootstrapping img {
  max-width: 100%;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

.shasum {
  word-wrap: break-word;
  word-break: break-all;
}

.img-thumbnail {
  position: relative;
  width: 160px;
}

.mobileTextArea {
  resize: both;
}
