/** Receiver selection page **/

.receiverCards {
  position: relative;
}

.receiverCard {
  padding: 20px;
  background-color: white;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
}

.receiverCard.selected {
  background-color: #DFF0D8;
}

#ReceiverSelectionBoxBig .receiverCardTitle {
  font-size: 20px;
}

#ReceiverSelectionBoxBig .receiverCard {
  margin-bottom: 20px;
}

@media (max-width: 550px) {
  .submission .nav.nav-tabs {
    display: none;
  }
  
  .receiverCard {
    max-width: 95%;
    word-wrap: break-word;
  }
}

#MaxSelectableReceiverBox {
  margin-bottom: 30px;
}
