/** Receiver selection page **/

.receiverCards {
  position: relative;
}

.receiverCard {
  margin-bottom: 20px;
  padding: 39px 19px 14px;
  background-color: white;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
}

.receiverCard.selected {
  background-color: #DFF0D8;
}
<<<<<<< HEAD

.receiverCard.receiverCardOdd {
  margin-right: 5px;
}

.receiverCard.receiverCardEven {
  margin-left: 5px;
}

@media (max-width: 550px) {
  .submission .nav.nav-tabs {
    display: none;
  }
  
  .receiverCard {
    max-width: 95%;
    word-wrap: break-word;
  }
}
=======
>>>>>>> c11922a2b8fd7bb3350a9d1a84ab88049c3dc1c0
