<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>{{ 'Privacy Policy' | translate }}</label>
            <div>
                <textarea name="nodeData.user_privacy_policy_text" class="form-control" [(ngModel)]="nodeData.user_privacy_policy_text"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label>
                <span>{{ 'Privacy Policy' | translate }}</span>
                <span>(URL)</span>
            </label>
            <input class="form-control" name="nodeData.user_privacy_policy_url" [(ngModel)]="nodeData.user_privacy_policy_url" type="text" />
        </div>
        <button class="btn btn-primary" id="save_user_policy" (click)="updateNode()">
            <i class="fa-solid fa-check"></i>
            <span>{{ 'Save' | translate }}</span>
        </button>
    </div>
</div>