<div data-ng-form="f" data-ng-switch="" on="::field.type" class="submissionFieldInput">
  <div data-ng-switch-when="textarea" data-ng-class="{'has-error': f['input-' + $index].$error.required || f['input-' + $index].$error.minlength}">
    <textarea id="{{::fieldId + '-input-' + $index}}"
              name="{{'input-' + $index}}"
              class="form-control msd-elastic"
              data-ng-model="entry['value']"
              data-ng-minlength="field.attrs.min_len.value"
              maxlength="{{field.attrs.max_len.value}}"
              data-ng-required="field.required"
              placeholder="{{::field.placeholder}}"></textarea>
    <div>
      <div data-ng-if="field.attrs.max_len.value >= 0 && (field.attrs.max_len.value - entry['value'].length) != field.attrs.max_len.value"
           data-translate-values="{available_characters_count: field.attrs.max_len.value - entry['value'].length}"
           data-translate>FIELD_INPUT_AVAILABLE_CHARS</div>
      <div class="text-red"
           data-ng-if="field.attrs.min_len.value >= 0 && (f['input-' + $index].$error.minlength || (field.required && entry['value'].length == undefined))"
           data-translate-values="{min_characters_limit: field.attrs.min_len.value}"
           data-translate>FIELD_INPUT_MIN_CHARS</div>
    </div>
  </div>
  <div data-ng-switch-when="selectbox" data-ng-class="{'has-error': f['input-' + $index].$error.required}">
    <select id="{{::fieldId + '-input-' + $index}}" name="{{'input-' +  $index}}" class="form-control" data-ng-model="entry['value']" data-ng-required="field.required">
      <option data-ng-repeat="option in ::field.options" id="{{::fieldId}}-input-option-{{$index}}" value="{{::option.label}}">{{::option.label}}</option>
    </select>
  </div>
  <div data-ng-switch-when="checkbox">
    <div data-ng-repeat="option in ::field.options">
      <div class="checkbox" data-ng-class="{'has-error': field.required_check}">
        <label data-ng-class="{'has-error': f['input-' + $parent.$index + '-option-' + $index].$error.required}">
          <input id="{{::fieldId + '-input-' + $index}}"
                 name="{{'input-' + $parent.$index + '-option-' + $index}}"
                 data-ng-init="field.required_check = !validateRequiredCheckbox(field, entry)"
                 data-ng-model="entry[option.id]"
                 data-ng-required="field.required_check"
                 data-ng-change="field.required_check = !validateRequiredCheckbox(field, entry)"
                 placeholder="{{::field.placeholder || 'false'}}"
                 type="checkbox" />
          <span>{{::option.label}}</span>
        </label>
      </div>
    </div>
  </div>
  <div data-ng-switch-when="date" data-ng-class="{'has-error': f['input-' + $index].$error.required || f['input-' + $index].$invalid}">
    <div class="input-group">
      <input id="{{::fieldId + '-input-' + $index}}"
             name="{{'input-' + $index}}"
             class="form-control"
             data-ng-model="entry['value']"
             maxlength="{{::node.maximum_namesize}}"
             data-ng-required="field.required"
             placeholder="{{::field.placeholder}}"
             type="text"
             datepicker-popup=""
             is-open="status.opened"
             readonly="readonly"
             show-button-bar="false" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </div>
  </div>
  <div data-ng-switch-when="tos">
    <div class="form-group preformatted" data-ng-click="entry['value'] = !entry['value']">{{::field.attrs.clause.value}}</div>
    <div class="checkbox" data-ng-class="{'has-error': f['input-' + $index].$error.required}">
      <label>
        <input id="{{::fieldId + '-input-' + $index}}"
               name="{{'input-' + $index}}"
               data-ng-model="entry['value']"
               data-ng-required="field.required"
               value="{{field.value}}"
               placeholder="{{::field.placeholder || 'false'}}"
               type="checkbox" />
        <span class="TOS">{{::field.attrs.agreement_statement.value}}</span>
      </label>
    </div>
  </div>
  <div data-ng-switch-when="fileupload">
    <div id="{{::fieldId + '-input-' + $index}}" data-ng-init="fileupload_mode = field.multi_entry ? 'multiple' : 'single'" data-ng-include="'views/partials/fileupload_button.html'"></div>
  </div>
  <div data-ng-switch-when="fieldgroup">
    <div data-ng-include="'views/submission/form.html'"></div>
  </div>
  <div data-ng-switch-default data-ng-class="{'has-error': f['input-' + $index].$error.required || f['input-' + $index].$error.minlength}">
    <input id="{{::fieldId + '-input-' + $index}}"
           name="{{'input-' + $index}}"
           class="form-control"
           data-ng-model="entry['value']"
           data-ng-minlength="field.attrs.min_len.value"
           maxlength="{{field.attrs.max_len.value}}"
           data-ng-required="field.required"
           placeholder="{{::field.placeholder}}"
           type="text" />
    <div>
      <div data-ng-if="field.attrs.max_len.value >= 0 && (field.attrs.max_len.value - entry['value'].length) != field.attrs.max_len.value"
           data-translate-values="{available_characters_count: field.attrs.max_len.value - entry['value'].length}"
           data-translate>FIELD_INPUT_AVAILABLE_CHARS</div>
      <div class="text-red"
           data-ng-if="field.attrs.min_len.value >= 0 && (f['input-' + $index].$error.minlength || (field.required && entry['value'].length == undefined))"
           data-translate-values="{min_characters_limit: field.attrs.min_len.value}"
           data-translate>FIELD_INPUT_MIN_CHARS</div>
    </div>
  </div>
</div>
