<fieldset data-ng-init="show_index = (field === undefined) ? true : false; fields = (field === undefined) ? current_context.steps[selection - 1].children : field.children; wb_fields = (field === undefined) ? submission.current_submission.wb_fields : wb_fields[field.id].children">
  <div data-ng-repeat="field in fields" data-ng-init="wb_fields[field.id].children = {};">
    <div data-ng-controller="SubmissionFieldCtrl" data-ng-form="" name="subForm" class="submissionField">
      <div data-ng-switch="" on="field.type">
        <div data-ng-switch-default="" class="form-group input" data-ng-class="field.required && 'required'">
          <div>
            <label ng-if="show_index">{{$index + 1}}) {{field.label}}</label>
            <label ng-if="!show_index">{{field.labe}}</label>
            <a href="" data-ng-show="field.hint" data-content="field.hint" popover="{{field.hint}}" popover-placement="right" popover-trigger="mouseenter">
              <i class="glyphicon glyphicon-question-sign"></i>
            </a>
          </div> 
          <div class="submissionFieldInput">
            <input type="hidden" ng-init="wb_fields[field.id].label = field.label" ng-model="wb_fields[field.id].label">
            <input type="hidden" ng-init="wb_fields[field.id].type = field.type" ng-model="wb_fields[field.id].type">
            <div class="row">
               <input class="form-control" data-ng-switch-when="inputbox" data-ng-model="wb_fields[field.id].value" data-ng-required="field.required" name="input" value="{{wb_fields[field.id].value}}" placeholder="{{field.placeholder}}" type="text" />

              <div data-ng-switch="" on="field.type" class="col-md-4">
                <input class="form-control" data-ng-switch-when="inputbox" data-ng-model="wb_fields[field.id].value" data-ng-required="field.required" name="input" value="{{wb_fields[field.id].value}}" placeholder="{{field.placeholder}}" type="text" />

                <textarea class="form-control" data-ng-switch-when="textarea" data-ng-model="wb_fields[field.id].value" data-ng-required="field.required" placeholder="{{field.placeholder}}">{{wb_fields[field.id].value}}</textarea>

                <select class="form-control" data-ng-switch-when="selectbox" name="input" data-ng-model="wb_fields[field.id].value" data-ng-required="field.required">
                  <option data-ng-repeat="option in field.options" value="{{option.attrs.name}}">{{option.attrs.name}}</option>
                </select>

                <div data-ng-switch-when="checkbox">
                  <div data-ng-repeat="option in field.options"; data-ng-init="wb_fields[field.id].value[option.id] = {};">
                    <input type="hidden" ng-init="wb_fields[field.id].value[option.id].order = $index" ng-model="wb_fields[field.id].value[option.id].order">
                    <input type="hidden" ng-init="wb_fields[field.id].value[option.id].name = option.attrs.name" ng-model="wb_fields[field.id].value[option.id].name">
                    <input name="{{option.attrs.name}}"
                        data-ng-model="wb_fields[field.id].value[option.id].value"
                        placeholder="{{field.placeholder || 'false'}}"
                        type="checkbox" />
                    <label>{{option.attrs.name}}</label>
                  </div>
                </div>

                <div data-ng-switch-when="dialog">
                  <div class="preformatted">DIALOG FIELD TYPE INTERFACE STILL NEED TO BE IMPLEMENTED</div>
                </div>

                <div data-ng-switch-when="modal">
                  <div class="preformatted">MODAL FIELD TYPE INTERFACE STILL NEED TO BE IMPLEMENTED</div>
                </div>

                <div data-ng-switch-when="tos">
                  <textarea class="form-control" data-ng-readonly="true">{{field.options[0].attrs.clause}}</textarea>
                  <div class="form-group">
                    <input data-ng-model="wb_fields[field.id].value" value="{{wb_fields[field.id].value}}" placeholder="{{field.placeholder || 'false'}}" type="checkbox" />
                    <label data-translate>{{field.options[0].attrs.agreement_statement}}</label>
                  </div>
                </div>

                <div data-ng-switch-when="fileupload">
                  <div data-ng-include="'views/partials/fileupload_single.html'" class="col-md-12"></div>
                </div>
              
                <div data-ng-switch-when="fieldgroup">
                  <div data-ng-include="'views/submission/form.html'"></div>
                </div>

              </div>
            </div>

            <div class="has-error" data-ng-show="subForm.$invalid">
              <span data-translate>This field cannot be empty</span>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
