<div data-ng-controller="SubmissionFieldCtrl">
  <div id="{{::fieldId}}" data-ng-form="f">
    <div class="form-group">
      <div>
        <label>
          <span data-ng-if="::toplevel && fields.length > 1" class="fieldIndex">{{::$index + 1}}</span>
          <span class="fieldLabel">{{::field.label}}</span>
          <a href="" data-ng-show="::field.hint" data-content="::field.hint" popover="{{::field.hint}}" popover-placement="right" popover-trigger="mouseenter">
            <i class="glyphicon glyphicon-question-sign"></i>
          </a>
        </label>
        <span class="text-red"
           data-ng-if="::field.required"
           popover="{{'This field is mandatory' | translate}}"
           popover-placement="right"
           popover-trigger="mouseenter">*</span>
      </div>
      <div class="FieldDescription">{{::field.description}}</div>
      <div class="submissionFieldInput">
        <div data-ng-include="'views/submission/form_field_inputs.html'"></div>
      </div>
    </div>
  </div>
</div>
