<div id="ContextPickSelector" data-ng-show="submission.contexts.length > 1" class="form-inline">
  <label data-translate>I want to report on</label>
  <select class="form-control contexts" data-ng-model="submission.current_context" data-ng-options="context as context.name for context in submission.contexts | orderBy:'presentation_order'"></select>
</div>

<div class="row">
  <div id="ContextIntroductionBox">{{submission.current_context.description}}</div>
</div>

<form name="submissionForm">
  <div data-ng-show="!(submission.current_context.steps.length > 1) && !(submission.current_context.show_receivers)" data-ng-include="'views/submission/main_vertical.html'"></div>
  <div data-ng-show="submission.current_context.steps.length > 1 || submission.current_context.show_receivers" data-ng-include="'views/submission/main_horizontal.html'"></div>
</form>
