<div id="SubmissionTabsContentBox">
  <div class="row" data-ng-if="receivers_selectable && submission.context.show_receivers">
    <div id="step-0" class="col-md-12">
      <label data-translate>Recipient selection</label>
      <div class="row">
         <div class="col-md-12" data-ng-include="'views/submission/receiver_selection.html'"></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" data-ng-controller="SubmissionStepCtrl" data-ng-repeat="step in submission.context.steps" data-ng-init="{{stepId = 'step-' + $index}}">
      <div id="{{stepId}}">
        <label>{{::step.label}}</label>
        <div>
          <div class="col-md-12">
            <p class="stepDescription">{{::step.description}}</p>
          </div>
        </div>
        <div data-ng-init="submission = submission._submission">
          <div class="col-md-7">
            <div data-ng-include="'views/submission/form.html'"></div>
          </div>
          <div class="col-md-offset-1 col-md-4">
            <div data-ng-include="'views/partials/fileupload_status.html'"></div>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-12">
      <div id="SubmitBox">
         <button id="SubmitButton" class="btn btn-success" data-ng-click="submission.submit()" data-ng-disabled="submission.isDisabled() || isUploading() || submissionForm.$invalid" type="submit">
          <i data-ng-show="submission.wait" id="SubmitIconWait" class="glyphicon glyphicon-time"></i>
          <i data-ng-hide="submission.wait" id="SubmitIconOK" class="glyphicon glyphicon-ok"></i>
          <span data-translate>Submit</span>
          <span data-ng-show="submission.wait">({{submission.countdown}})</span>
         </button>
      </div>
    </div>
  </div>
</div>
