<div data-ng-if="!submission.context" data-ng-include="'views/submission/context_selection.html'"></div>

<div data-ng-if="submission.context">
  <form id="submissionForm" name="vars.submissionForm" autocomplete="off" novalidate>
    <div class="tabbable tabs-below">
      <ul id="SubmissionTabsNavigationBox" class="nav nav-tabs" data-ng-if="show_steps_navigation_bar">
        <li data-ng-if="receiver_selection_step" data-ng-class="{active: selection === receiver_selection_step_index}">
          <a id="receiver-selection-link" class="StepTitle" href="javascript:void(0)" data-ng-click="goToStep(receiver_selection_step_index)">
            1 - <span data-translate>Recipient selection</span>
          </a>
        </li>
        <li data-ng-repeat="step in submission.context.questionnaire.steps | orderBy:'presentation_order'" data-ng-class="{active: selection === $index}">
          <a id="step-{{$index}}-link" class="StepTitle" href="javascript:void(0)" data-ng-click="goToStep($index)">
            <span>{{$index + (receiver_selection_step ? 2 : 1)}} - {{::step.label}}</span>
          </a>
        </li>
      </ul>

      <div id="SubmissionTabsContentBox" class="tab-content">
        <div data-ng-if="displayErrors()" data-ng-include="'views/submission/submission_error.html'"></div>
        <div id="step-receiver-selection" data-ng-if="receiver_selection_step">
          <div data-ng-show="selection === receiver_selection_step_index" data-ng-include="'views/submission/receiver_selection.html'"></div>
        </div>
        <div data-ng-show="selection !== receiver_selection_step_index" data-ng-repeat="step in submission.context.questionnaire.steps | orderBy:'presentation_order'" data-ng-controller="SubmissionStepCtrl">
          <div id="{{::stepId}}" data-ng-form="{{::stepId}}" class="SubmissionStep" data-ng-show="selection === $index">
            <div id="StepTitle" data-ng-if="!show_steps_navigation_bar">{{::step.label}}</div>
            <div class="stepDescription" data-ng-if="step.description">{{step.description}}</div>
            <div data-ng-include="'views/submission/form.html'"></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row"><div class="col-md-7">
      <div id="SubmissionButtons">
        <button id="PreviousStepButton" class="btn btn-default" data-ng-show="hasPreviousStep()" data-ng-click="decrementStep()">
          <i class="glyphicon glyphicon-circle-arrow-left"></i>
          <span data-translate>previous step</span>
        </button>

        <button id="NextStepButton" class="btn btn-default" data-ng-show="hasNextStep()" data-ng-click="incrementStep()">
          <span data-translate>next step</span>
          <i class="glyphicon glyphicon-circle-arrow-right"></i>
        </button>

        <button id="SubmitButton" class="btn btn-success" data-ng-show="!hasNextStep()" data-ng-click="completeSubmission()" data-ng-disabled="submission.wait || !submission.pow" type="submit">
          <i data-ng-show="submission.wait || !submission.pow" id="SubmitIconWait" class="glyphicon glyphicon-time"></i>
          <i data-ng-hide="submission.wait || !submission.pow" id="SubmitIconOK" class="glyphicon glyphicon-ok"></i>
          <span data-translate>Submit</span>
          <span data-ng-show="submission.wait">({{submission.countdown}})</span>
        </button>
      </div>
    </div>
  </form>
</div>
