<div id="ContentBox" class="ng-cloak container" data-ng-show="!node.configured">
  <h2 data-translate>This node is not configured.</h2>
  <span data-translate>You will not be able to send a submission.</span><br />
</div>

<div data-ng-controller="SubmissionStepsCtrl" id="ContentBox" class="container submission" data-ng-show="node.configured">
  <form name="submissionForm" data-ng-controller="SubmissionFormController">
    <div data-ng-show="!(submission.current_context.steps.length > 1) && !(submission.current_context.show_receivers)" data-ng-include="'views/submission/main_vertical.html'"></div>
    <div data-ng-show="submission.current_context.steps.length > 1 || submission.current_context.show_receivers" data-ng-include="'views/submission/main_horizontal.html'"></div>
  </form>
</div>
