<div id="SubmissionStepReceiver" class="receiverCards">

  <div data-ng-if="submission.context.maximum_selectable_receivers !== 0 && !submission.context.select_all_receivers" id="MaxSelectableReceiverBox" class="clearfix">
    <div><span data-translate>Maximum number of selectable Receivers:</span> {{submission.context.maximum_selectable_receivers}}</div>
    <div><span data-translate>Receivers selected:</span> {{selected_receivers_count()}}</div>
  </div>
  <div id="ReceiverSelectionBoxBig" data-ng-repeat="receiver in submission.receivers | filter:filterReceivers | orderBy:receiversOrderPredicate" data-ng-if="!submission.context.show_small_cards">
    <div id="receiver-{{$index}}" class="{{['receiverCard col-md-5', 'receiverCard col-md-5 col-md-offset-1'][$index % 2]}}" data-ng-class="{selected: submission.receivers_selected[receiver.id], disabled: receiver.configuration === 'unselectable' || (!node.allow_unencrypted && receiver.pgp_key_status === 'disabled')}" data-ng-click="switch_selection(receiver)">
      <div class="row receiverCardTitle">
        <div class="col-md-10">
          <label>
            <span data-ng-if="receiver.configuration !== 'unselectable' && receiver.pgp_key_status === 'enabled'">
              <i class="glyphicon glyphicon-certificate" popover="{{'This receiver has configured the encryption key.' | translate}}" popover-placement="right" popover-trigger="mouseenter"></i>
            </span>
            <span data-ng-if="receiver.configuration !== 'unselectable' && receiver.pgp_key_status === 'disabled'">
              <i class="glyphicon glyphicon-warning-sign" popover="{{'This receiver has not configured the encryption key.' | translate}}" popover-placement="right" popover-trigger="mouseenter"></i>
            </span>
            <span data-ng-if="receiver.configuration === 'unselectable'">
              <i class="glyphicon glyphicon-ban-circle" popover="{{'This receiver is still not enabled to receive submissions.' | translate}}" popover-placement="right" popover-trigger="mouseenter"></i>
            </span>
            <span>&nbsp;{{receiver.name}}</span>
          </label>
        </div>
        <div class="col-md-1" data-ng-if="receiver.pgp_key_status === 'enabled' || node.allow_unencrypted">
          <div data-ng-if="submission.receivers_selected[receiver.id]">
            <div data-ng-if="receiver.configuration === 'default'">
              <i class="glyphicon glyphicon-check" popover="{{'Unselect this receiver' | translate}}" popover-placement="right" popover-trigger="mouseenter"></i>
            </div>
            <div data-ng-if="receiver.configuration === 'forcefully_selected'">
                <i class="glyphicon glyphicon-check" popover="{{'This receiver cannot be deselected' | translate}}" popover-placement="right" popover-trigger="mouseenter"></i>
            </div>
          </div>
          <div data-ng-if="!submission.receivers_selected[receiver.id]">
            <div data-ng-if="receiver.configuration === 'default'">
              <i class="glyphicon glyphicon-unchecked" popover="{{'Select this receiver' | translate}}" popover-placement="right" popover-trigger="mouseenter"></i>
            </div>
            <div data-ng-if="receiver.configuration === 'unselectable'">
              <i class="glyphicon glyphicon-unchecked" popover="{{'This receiver cannot be selected' | translate}}" popover-placement="right" popover-trigger="mouseenter"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <img data-ng-src="static/{{receiver.id}}.png" class="img-thumbnail">
        </div>
        <div class="col-md-offset-1 col-md-6">
          <p>{{receiver.description}}</p>
        </div>
      </div>
    </div>
    <div class="clearfix" data-ng-if="$index % 2"></div>
  </div>
  <div id="ReceiverSelectionBoxSmall" data-ng-repeat="receiver in submission.receivers | filter:filterReceivers | orderBy:receiversOrderPredicate" data-ng-if="submission.context.show_small_cards">
    <div class="form-group col-md-3">
      <div id="receiver-{{$index}}" class="receiverCard" data-ng-class="{selected: submission.receivers_selected[receiver.id], disabled: receiver.configuration === 'unselectable' || (!node.allow_unencrypted && receiver.pgp_key_status === 'disabled')}" data-ng-click="switch_selection(receiver)">
        <div class="row receiverCardTitle">
          <div class="col-md-9">
            <label>
              <span data-ng-if="receiver.configuration !== 'unselectable' && receiver.pgp_key_status === 'enabled'">
                <i class="glyphicon glyphicon-certificate" popover="{{'This receiver has configured the encryption key.' | translate}}" popover-placement="right" popover-trigger="mouseenter"></i>
              </span>
              <span data-ng-if="receiver.configuration !== 'unselectable' && receiver.pgp_key_status === 'disabled'">
                <i class="glyphicon glyphicon-warning-sign" popover="{{'This receiver has not configured the encryption key.' | translate}}" popover-placement="right" popover-trigger="mouseenter"></i>
              </span>
              <span data-ng-if="receiver.configuration === 'unselectable'">
                <i class="glyphicon glyphicon-ban-circle" popover="{{'This receiver is still not enabled to receive submissions.' | translate}}" popover-placement="right" popover-trigger="mouseenter"></i>
              </span>
              <span>&nbsp;{{receiver.name}}</span>
            </label>
          </div>
          <div class="col-md-1" data-ng-if="receiver.pgp_key_status === 'enabled' || node.allow_unencrypted">
            <div data-ng-if="submission.receivers_selected[receiver.id]">
              <div data-ng-if="receiver.configuration === 'default'">
                <i class="glyphicon glyphicon-check" popover="{{'Unselect this receiver' | translate}}" popover-placement="right" popover-trigger="mouseenter"></i>
              </div>
              <div data-ng-if="receiver.configuration === 'forcefully_selected'">
                <i class="glyphicon glyphicon-check" popover="{{'This receiver cannot be deselected' | translate}}" popover-placement="right" popover-trigger="mouseenter"></i>
              </div>
            </div>
            <div data-ng-if="!submission.receivers_selected[receiver.id]">
              <div data-ng-if="receiver.configuration === 'default'">
                <i class="glyphicon glyphicon-unchecked" popover="{{'Select this receiver' | translate}}" popover-placement="right" popover-trigger="mouseenter"></i>
              </div>
              <div data-ng-if="receiver.configuration === 'unselectable'">
                <i class="glyphicon glyphicon-unchecked" popover="{{'This receiver cannot be selected' | translate}}" popover-placement="right" popover-trigger="mouseenter"></i>
              </div>
            </div>
              </div>
            </div>
        <div class="row">
          <div class="col-md-12">
            <img data-ng-src="static/{{receiver.id}}.png" class="img-thumbnail">
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix" data-ng-if="!(($index + 1) % 4)"></div>
  </div>
</div>
