<div id="SubmissionStepReceiver" class="receiverCards">
  <div id="StepTitle" data-ng-if="!show_steps_navigation_bar" data-translate>Recipient selection</div>
  <div class="stepDescription">{{submission.context.recipients_clarification}}</div>
  <div data-ng-if="submission.context.maximum_selectable_receivers !== 0 && !submission.context.select_all_receivers" id="MaxSelectableReceiverBox" class="clearfix">
    <div><span data-translate>Maximum number of selectable recipients:</span> {{::submission.context.maximum_selectable_receivers}}</div>
    <div><span data-translate>Recipients selected:</span> {{submission.count_selected_receivers()}}</div>
  </div>
  <div id="ReceiverSelectionBox" class="row">
    <div data-ng-repeat="receiver in submission.receivers | orderBy:receiversOrderPredicate" id="receiver-{{$index}}" data-ng-class="{'col-md-6': !submission.context.show_small_receiver_cards, 'col-md-3': submission.context.show_small_receiver_cards}" data-ng-click="switch_selection(receiver)">
      <div class="receiverCard" data-ng-class="{'selected': submission.selected_receivers[receiver.id] && receiver.configuration !== 'forcefully_selected', 'forcefullySelected': receiver.configuration === 'forcefully_selected', 'disabled': receiver.configuration === 'unselectable' || (!node.allow_unencrypted && receiver.pgp_key_public === '')}">
        <div class="receiverCardTitle row">
          <div class="col-md-10">
            <label>
              <span data-ng-if="!node.disable_encryption_warnings && receiver.configuration !== 'unselectable'">
                <i data-ng-if="recipient.pgp_key_public !== ''" class="glyphicon glyphicon-certificate" uib-popover="{{'This recipient has configured the encryption key.' | translate}}" popover-placement="right"></i>
                <i data-ng-if="recipient.pgp_key_public === ''" class="glyphicon glyphicon-warning-sign" uib-popover="{{'This recipient has not configured the encryption key.' | translate}}" popover-placement="right"></i>
              </span>
              <span data-ng-if="receiver.configuration === 'unselectable'">
                <i class="glyphicon glyphicon-ban-circle" uib-popover="{{'This recipient cannot be selected.' | translate}}" popover-placement="right"></i>
              </span>
              <span>&nbsp;{{::receiver.name}}</span>
            </label>
          </div>
          <div class="col-md-1" data-ng-if="receiver.pgp_key_public !== '' || node.allow_unencrypted">
            <div data-ng-if="submission.selected_receivers[receiver.id]">
              <div data-ng-if="receiver.configuration === 'default'">
                <i class="glyphicon glyphicon-check" uib-popover="{{'Unselect this recipient.' | translate}}" popover-placement="right"></i>
              </div>
              <div data-ng-if="receiver.configuration === 'forcefully_selected'">
                <i class="glyphicon glyphicon-check" uib-popover="{{'This recipient cannot be deselected.' | translate}}" popover-placement="right"></i>
              </div>
            </div>
            <div data-ng-if="!submission.selected_receivers[receiver.id]">
              <div data-ng-if="receiver.configuration === 'default'">
                <i class="glyphicon glyphicon-unchecked" uib-popover="{{'Select this recipient.' | translate}}" popover-placement="right"></i>
              </div>
              <div data-ng-if="receiver.configuration === 'unselectable'">
                <i class="glyphicon glyphicon-unchecked" uib-popover="{{'This recipient cannot be selected.' | translate}}" popover-placement="right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="receiverCardContent row">
          <div class="receiverCardFrame" data-ng-class="{'col-md-3': !submission.context.show_small_receiver_cards, 'col-md-12': submission.context.show_small_receiver_cards}">
            <span class="verticalAlignHelper"></span><img class="receiverImg" alt="recipient picture" data-ng-if="receiver.picture !== ''" data-ng-src="{{::Utils.imgDataUri(receiver.picture)}}" />
          </div>
          <div data-ng-if="!submission.context.show_small_receiver_cards" class="receiverDescription col-md-7">{{::receiver.description}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix"></div>
