<div id="SubmissionStepError" class="panel panel-danger">
  <div class="panel-heading">
    <h4 class="panel-title">Errors in this step</h4>
  </div>
  <div class="panel-body text-danger">
    <p data-translate>These questions need suitable answers.</p>
    <ul>
    <span data-ng-repeat="(key, errors) in stepForm.$error track by $index">
      <li data-ng-repeat="err in errors">
        <span data-ng-controller="SubmissionFieldErrKeyCtrl">{{ field.label }}</span>
      </li>
    </span>
    </ul>
  </div>
</div>
