<div id="SubmissionErrors" class="panel panel-danger">
  <div class="panel-heading">
    <b data-translate>Submission errors</b>
  </div>
  <div class="panel-body text-danger">
    <div data-ng-if="submission.count_selected_receivers() === 0">
      <p data-translate>You must select at least one recipient.</p>
      <ul>
        <p><span class="err-link" ng-click="goToStep(receiver_selection_step_index)">
          <i class="glyphicon glyphicon-arrow-right"></i>
          <code><span data-translate>Recipient selection</span></code>
        </span></p>
      </ul>
    </div>
    <div data-ng-if="submissionForm.$invalid"><p data-translate>The following steps have errors:</p>
      <ul>
        <div data-ng-repeat="step in submission.context.questionnaire.steps | orderBy:'presentation_order'"
             data-ng-controller="SubmissionStepFormErrCtrl">
           <p data-ng-if="stepForm.$invalid"><span class="err-link" ng-click="goToStep(step.presentation_order, true)">
            <i class="glyphicon glyphicon-arrow-right"></i> <code><span>{{ step.label }}</span></code>
          </span></p>
        </div>
      </ul>
    </div>
  </div>
</div>
