<div id="SubmissionErrors" class="panel panel-danger">
  <div class="panel-heading" data-translate>Submission errors</div>
  <div class="panel-body text-danger">
    <div data-ng-if="!hasPreviousStep()">
      <div data-ng-if="!areReceiversSelected()">
        <p data-translate>You must select at least one recipient.</p>
      </div>
    </div>
    <div data-ng-if="!hasNextStep()">
      <div data-ng-if="Utils.isUploading(uploads)">
        <span data-translate>Waiting for the file(s) to finish uploading.</span>&nbsp;
        <i class="glyphicon glyphicon-refresh gly-spin"></i>
      </div>
      <div data-ng-if="!singleStepForm()">
        <div data-ng-if="!areReceiversSelected() || vars.submissionForm.$invalid">
          <p data-translate>The following steps have errors:</p>
          <ul>
            <li data-ng-if="!areReceiversSelected()" class="err-link" ng-click="goToStep(receiver_selection_step_index)" data-translate>Recipient selection</li>
          </ul>
          <ul data-ng-if="vars.submissionForm.$invalid" data-ng-repeat="step in submission.context.questionnaire.steps | orderBy:'presentation_order'">
            <li data-ng-if="displayStepErrors($index)" class="err-link" ng-click="goToStep($index, true)">{{step.label}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div data-ng-include="'views/submission/step_error.html'"></div>
  </div>
</div>
