<!-- 

This comment is needed in order to push the following strings on transifex

<span data-translate>System Checks</span>
<span data-translate>Anomaly Checks</span>
<span data-translate>Administration Interface</span>
<span data-translate>Here you can check the latest anomalies detected</span>

-->
<div id="ContentBox" class="container" data-ng-controller="ActivitiesCtrl">
  <div class="row">
    <div id="ConfigSidebarBox" class="col-md-3" data-ng-include="'views/admin/sidebar.html'"></div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <h3 data-translate>Recent Activities</h3>
          <p>
            <span data-translate>This interface shows the latest activity in your node</span>
          </p>
          <table class="table table-bordered" id="RecentEventList">
          <thead>
              <tr>
                <th class="col-md-2">
                  <span data-translate>#</span>
                </th>
                <th class="col-md-2">
                  <span data-translate>Event date</span>
                </th>
                <th class="col-md-2">
                  <span data-translate>Event type</span>
                </th>
                <th class="col-md-2">
                  <span data-translate>Time required</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="activity in activities">
                <td class="col-md-2">
                  {{activity.id}}
                </td>
                <td class="col-md-2">
                  {{activity.creation_date | date:'dd HH:mm'}}
                </td>
                <td class="col-md-2">
                  {{activity.type}}
                </td>
                <td class="col-md-2">
                  {{activity.duration}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

