<div class="templateFieldAdderContainer">
  <div class="row templateFieldAdder" ng-model="template_field_keys">
    <h4><span data-translate>Add field from template</span></h4>
    <div data-ng-repeat="field_key in template_field_keys">
      <div class="col-md-6" data-ui-draggable="true" data-drag="field_key">
        <div class="templateFieldCard" data-ng-controller="AdminFieldsTemplateAdderCtrl">
          <h2>{{field.label | trimTo:9:true}}</h2>
        </div>
      </div>
      <div class="clearfix" data-ng-if="$index % 2 == 1"></div>
    </div>
  </div>
</div>
