<div class="addField">
  <div data-ng-form="newField">
    <div class="form-group">
      <label data-translate>Label</label>
      <input name="label" class="form-control" data-ng-model="new_field.label" maxlength="{{node.maximum_namesize}}" type="text" required>
      <div class="text-red" data-ng-show="newField.label.$error.required">
        <span data-translate>This field is mandatory</span>
      </div>
    </div>
    <div class="form-group">
      <label data-translate>Type</label>
      <select name="type" class="form-control" data-ng-model="new_field.type" required data-ng-include="'views/partials/fields_types.html'"></select>
      <div class="text-red" data-ng-show="newField.type.$error.required">
        <span data-translate>This field is mandatory</span>
      </div>
    </div>
    <div class="form-group">
      <button class="pull-left btn btn-primary" data-ng-disabled="newField.$invalid" data-ng-click="add_field()">
        <i class="glyphicon glyphicon-plus-sign"></i>
        <span data-translate>Add</span>
      </button>
    </div>
  </div>
</div>
