<div class="row">
  <div id="ConfigSidebarBox" class="col-md-3" data-ng-include="'views/admin/sidebar.html'"></div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <div data-translate>This interface shows system anomalies, automatically detected and analysed to identify abuse.</div>

        <div id="AnomaliesHistoryTable">
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th class="col-md-2">
                  <span data-translate>Date</span>
                </th>
                <th class="col-md-1">
                  <span data-translate>Alarm level</span>
                </th>
                <th class="col-md-2">
                  <span data-translate>Events</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="anomaly in anomalies">
                <td class="col-md-2">{{anomaly.date | date:'dd-MM-yyyy HH:mm'}}</td>
                <td class="col-md-1">{{anomaly.alarm}}</td>
                <td class="col-md-2">
                  <span data-ng-repeat="event in anomaly.events">
                    <span class="label label-info">{{event.type | anomalyToString | translate}}</span> {{event.count}}<br />
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
