<div id="ContentBox" class="container" data-ng-controller="AnomaliesCtrl">
  <div class="row">
    <div id="ConfigSidebarBox" class="col-md-3" data-ng-include="'views/admin/sidebar.html'"></div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div data-translate>This interface shows you the unusual behaviour the system has identified.</div>
          <div data-translate>Anomalies are automatically analysed to identify abuses or unusual usage spikes.</div>
          <div data-translate>Since GlobaLeaks users are all anonymous, it is not possible to perform anomaly detection based on user policies.</div>
          <div data-translate>The currently adopted policy is to check if some thresholds are reached in an observation window of 30 seconds.</div>
          <div data-translate>These are the thresholds that are used to identify anomalous behaviour:</div>

          <div id="AnomaliesThresholdsSummary" data-ng-show="showLevel">
            <span class="label label-info" data-translate>Failed logins</span>: 5<br />
            <span class="label label-info" data-translate>Successful logins</span>: 3<br />
            <span class="label label-info" data-translate>Started submissions</span>: 5<br />
            <span class="label label-info" data-translate>Completed submissions</span>: 4<br />
            <span class="label label-info" data-translate>Whistleblower Comments</span>: 4<br />
            <span class="label label-info" data-translate>Whistleblower Messages</span>: 4<br />
            <span class="label label-info" data-translate>Uploaded Files</span>: 11<br />
            <span class="label label-info" data-translate>Receiver Comments</span>: 3<br />
            <span class="label label-info" data-translate>Receiver Messages</span>: 3<br />
          </div>

          <table id="AnomaliesHistoryTable" class="table table-bordered">
          <thead>
              <tr>
                <th class="col-md-2">
                  <span data-translate>Date</span>
                </th>
                <th class="col-md-1">
                  <span data-translate>Alarm Level</span>
                </th>
                <th class="col-md-2">
                  <span data-translate>Events</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="hanomaly in hanomalies">
                <td class="col-md-2">
                  {{hanomaly.when | date:'dd-MM-yyyy HH:mm'}}
                </td>
                <td class="col-md-1">
                  {{hanomaly.alarm}}
                </td>
                <td class="col-md-2">
                  <span data-ng-repeat="single_event in hanomaly.events">
                    <span class="label label-info">{{single_event.name}}</span> {{single_event.amount}}<br>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
