<div class="row">
  <div id="ConfigSidebarBox" class="col-md-3" data-ng-include="'views/admin/sidebar.html'"></div>
  <div class="col-md-9">
    <div class="adminConfigSection row">
      <div class="editorTitle">
        <span data-translate>Add new field template</span>
      </div>
      <div data-ng-controller="AdminFieldTemplatesAddCtrl" data-ng-include="'views/admin/add_field.html'"></div>
    </div>
    <div class="adminConfigSection row" data-ng-show="fields.length != 0">
      <div class="editorTitle">
        <span data-translate>Configured field templates:</span>
      </div>
      <div data-ng-repeat="field in admin.field_templates | orderBy:'label'">
        <div data-ng-include="'views/admin/fields.html'"></div>
      </div>
    </div>
  </div>
</div>
