<div id="field-{{$index}}" class="fieldBox"
  data-ng-init="editing=false" data-ng-controller="AdminFieldEditorCtrl">
  <div data-ng-form="editField">
    <div class="configItem configField">
      <div class="editorHeader" data-ng-click="toggleEditing($event)">
        <div class="row">
          <span class="col-md-7">
            <span class="fieldIndex badge" data-ng-if="field.step_id !== '' || field.fieldgroup_id !== ''">
              <span data-translate>Row</span><span>: {{field.y}}</span>
              <span data-translate>Column</span><span>: {{field.x}}</span>
            </span>
            <span class="fieldLabel">{{field.label}}</span>
          </span>
          <span class="col-md-5">
            <span class="pull-right">
              <button class="btn btn-xs btn-default"
                data-ng-show="!editing"
                data-ng-click="toggleEditing($event)">
                <span data-translate>Edit</span>
              </button>
              <button class="btn btn-xs btn-success"
                data-ng-show="editing"
                data-ng-click="save_field(field)">
                <span data-translate>Save</span>
              </button>
              <button 
                class="btn btn-xs btn-default"
                data-ng-show="editing"
                data-ng-click="toggleEditing($event)">
                <span data-translate>Cancel</span>
              </button>
              <button class="btn btn-xs btn-danger"
                data-ng-click="fieldDeleteDialog($event, field)"
                popover="{{Delete | translate}}"
                popover-placement="right"
                popover-trigger="mouseenter">
                <span data-translate>Delete</span>
              </button>
              <span data-ng-if="field.step.id !== '' || field.fieldgroup_id !== ''">
                <button class="editorHeaderButton btn btn-xs btn-primary" data-ng-click="moveLeft($event, field)" popover="{{'Move left' | translate}}" popover-placement="left" popover-trigger="mouseenter">
                  <i class="glyphicon glyphicon-menu-left"></i>
                </button>
                <button class="editorHeaderButton btn btn-xs btn-primary" data-ng-click="moveRight($event, field)" popover="{{'Move right' | translate}}" popover-placement="left" popover-trigger="mouseenter">
                  <i class="glyphicon glyphicon-menu-right"></i>
                </button>
                <button class="editorHeaderButton btn btn-xs btn-primary" data-ng-click="moveUp($event, field)" popover="{{'Move up' | translate}}" popover-placement="left" popover-trigger="mouseenter">
                  <i class="glyphicon glyphicon-menu-up"></i>
                </button>
                <button class="editorHeaderButton btn btn-xs btn-primary" data-ng-click="moveDown($event, field)" popover="{{'Move down' | translate}}" popover-placement="left" popover-trigger="mouseenter">
                  <i class="glyphicon glyphicon-menu-down"></i>
                </button>
              </span>
            </span>
          </span>
        </div>
      </div>
      <div class="fieldEditor" data-ng-if="editing">
        <hr />
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label data-translate>Name</label>
              <input name="label" class="form-control" maxlength="{{node.maximum_namesize}}" data-ng-model="field.label" data-ng-disabled="!editable" value="{{field.label}}" type="text" required>
              <div class="text-red" data-ng-show="editField.label.$error.required">
                <span data-translate>This field is mandatory</span>
              </div>
            </div>
            <div class="form-group">
              <label data-translate>Hint</label>
              <input name="hint" class="form-control" maxlength="{{node.maximum_namesize}}" data-ng-model="field.hint" data-ng-disabled="!editable" value="{{field.hint}}" type="text">
            </div>
            <div class="form-group">
              <label data-translate>Description</label>
              <textarea name="description" class="form-control" maxlength="{{node.maximum_textsize}}" data-ng-model="field.description" data-ng-disabled="!editable">{{field.description}}</textarea>
            </div>
            <div class="form-group">
              <input data-ng-model="field.required" type="checkbox">
              <label data-translate>Required</label>
            </div>
            <div class="form-group">
              <div data-ng-switch="" on="typeSwitch(field.type)">
                <input data-ng-model="field.multi_entry" value="{{field.multi_entry}}" type="checkbox">
                <label data-ng-switch-when="fileupload" data-translate>Accept multiple file uploads</label>
                <label data-ng-switch-default data-translate>Accept multiple answers for the field</label>
              </div>
            </div>
            <div class="form-group" data-ng-if="field.multi_entry">
              <label data-translate>Hint shown on the button for adding an additional answer</label>
              <input name="multi_entry_hint" class="form-control" maxlength="{{node.maximum_namesize}}" data-ng-model="field.multi_entry_hint" value="{{field.multi_entry_hint}}" type="text" data-ng-disabled="!editable" >
            </div>
            <div class="form-group" data-ng-if="field.fieldgroup_id === '' && field.type !== 'fieldgroup' && field.type !== 'fileupload'">
              <div>
                <input data-ng-model="field.preview" value="{{field.preview}}" type="checkbox">
                <label data-translate>Preview</label>
              </div>
            </div>
            <div class="form-group">
              <div>
                <input data-ng-model="field.stats_enabled" value="{{field.stats_enabled}}" type="checkbox">
                <label data-translate>Enable statistics for this field</label>
              </div>
            </div>
            <div class="form-group">
              <label data-translate>Width</label>
              <input class="form-control" data-ng-model="field.width" value="{{field.width}}" type="number" min="0" max="12">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label data-translate>Type</label>
              <select name="type" class="form-control" data-ng-model="field.type" required data-ng-disabled="!editable">
                <option value="inputbox" data-translate>Text</option>
                <option value="textarea" data-translate>Text area</option>
                <option value="selectbox" data-translate>Select box</option>
                <option value="checkbox" data-translate>Check box</option>
                <option value="fileupload" data-translate>File Upload</option>
                <option value="tos" data-translate>Terms of Service</option>
                <option value="number" data-translate>Number</option>
                <option value="email" data-translate>Email</option>
                <option value="date" data-translate>Date</option>
                <option value="fieldgroup" data-translate>Field Group</option>
                <!--
                  Options commented out in stable release as not yet implemented
                  <option value="modal" data-translate>Modal Window</option>
                  <option value="dialog" data-translate>Dialog Window</option>
                -->
              </select>
              <div class="text-red" data-ng-show="editField.type.$error.required">
                <span data-translate>This field is mandatory</span>
              </div>
            </div>
            <div class="form-group" data-ng-if="shouldShowOptions(field)">
              <label data-translate>Options</label>
              <div data-ng-switch="" on="typeSwitch(field.type)">
                <div class="col-md-offset-1 col-md-11">
                  <div data-ng-switch-when="inputbox_or_textarea">
                    <div class="row">
                      <div class="form-group">
                        <label data-translate>Minimum number of input characters</label>
                        <div>
                          <input ng-model="field.attrs.min_len.value" type="text" value="{{field.attrs.min_len.value}}" class="form-control" data-ng-disabled="!editable" />
                        </div>
                      </div>
                      <div class="form-group">
                        <label>
                          <span data-translate>Maximum number of input characters</span>
                          <span>(<span data-translate>-1 = unlimited</span>)</span>
                        </label>
                        <div>
                          <input ng-model="field.attrs.max_len.value" type="text" value="{{field.attrs.max_len.value}}" class="form-control" data-ng-disabled="!editable" />
                        </div>
                      </div>
                      <div class="form-group">
                        <label data-translate>Regular expression validator</label>
                        <div>
                          <input ng-model="field.attrs.regexp.value" type="text" value="{{field.attrs.regexp.value}}" class="form-control" data-ng-disabled="!editable" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div data-ng-switch-when="tos">
                    <div class="row">
                      <div class="form-group">
                        <label data-translate>Agreement Text</label>
                        <textarea ng-model="field.attrs.agreement_statement.value" maxlength="{{node.maximum_textsize}}" class="form-control" data-ng-disabled="!editable">{{field.attrs.agreement_statement.value}}</textarea>
                      </div>
                      <div class="form-group">
                        <label data-translate>Clause</label>
                        <div>
                          <input ng-model="field.attrs.clause.value" type="text" value="{{field.attrs.clause.value}}" class="form-control" data-ng-disabled="!editable" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div data-ng-switch-when="checkbox_or_selectbox">
                    <div data-ng-repeat="option in field.options | orderBy:'presentation_order'">
                      <div class="form-inline">
                        <div class="form-group">
                          <div class="input-group">
                            <input class="form-control" data-ng-model="option.label" placeholder="{{'Name' | translate }}" value="{{option.label}}" type="text" required data-ng-disabled="!editable" />
                            <span class="input-group-btn">
                              <a class="btn" data-ng-click="delOption(field, option)">
                                <i class="glyphicon glyphicon-remove"></i>
                              </a>
                              <span data-ng-if="field.options.length > 1">
                                <a class="btn" data-ng-click="moveUp($event, option)" popover="{{'Move up' | translate}}" popover-placement="left" popover-trigger="mouseenter">
                                  <i class="glyphicon glyphicon-menu-up"></i>
                                </a>
                                <a class="btn" data-ng-click="moveDown($event, option)" popover="{{'Move down' | translate}}" popover-placement="left" popover-trigger="mouseenter">
                                  <i class="glyphicon glyphicon-menu-down"></i>
                                </a>
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <a data-ng-click="addOption(field)">
                        <i class="glyphicon glyphicon-plus-sign"></i>
                        <span data-translate>Add option</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row adminConfigSection" data-ng-if="field.type === 'fieldgroup' && editable">
          <div class="col-md-12">
            <div class="editorTitle">
              <span data-translate>Add new field</span>
            </div>
            <div data-ng-include="'views/admin/add_field.html'"></div>
          </div>
        </div>
        <div class="row adminConfigSection" data-ng-if="field.type === 'fieldgroup' && editable">
          <div id="FieldsAddBox" class="col-md-12" data-ng-include="'views/admin/add_field_from_template.html'"></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group" data-ng-if="field.children.length > 0">
              <div class="editorTitle" data-translate>Configured fields:</div>
              <div class="configuredFields">
                <div data-ng-repeat="row in field.children | groupBy:'y'">
                  <div data-ng-repeat="field in row | orderBy:'x'">
                    <div data-ng-include="'views/admin/fields.html'"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div>
