<div class="row">
  <div id="ConfigSidebarBox" class="col-md-3" data-ng-include="'views/admin/sidebar.html'"></div>
  <div class="col-md-9" data-ng-controller="AdminFieldTemplatesCtrl">
    <div class="adminConfigSection row">
      <form name="newField" class="addField col-md-6" novalidate>
        <div class="editorTitle row">
          <span class="col-md-8">
            <span data-translate>Add new question template</span>
          </span>
          <span class="col-md-4 text-align-right">
            <label class="actionButton btn btn-xs btn-primary" for="import_questions">
              <span data-translate>Import</span>
            </label>
            <span class="hiddenButton">
              <input type="file" id="import_questions" fileread="importQuestions">
            </span>
          </span>
        </div>
        <div data-ng-controller="AdminFieldTemplatesAddCtrl" data-ng-include="'views/admin/add_field.html'"></div>
      </form>
    </div>
    <div class="adminConfigSection row" data-ng-show="fields.length > 0">
      <div class="editorTitle row">
        <span class="col-md-8">
          <span data-translate>Configured question templates:</span>
        </span>
        <span class="col-md-4 text-align-right">
          <button class="actionButton btn btn-xs btn-primary"
                  data-ng-click="exportJSON(admin.field_templates, 'questions.json')">
            <span data-translate>Export all</span>
          </button>
          <button class="btn btn-xs btn-danger"
            data-ng-show="fields.length > 0"
            data-ng-click="delAllFields()"
            popover-placement="right"
            popover-trigger="mouseenter">
            <span data-translate>Delete all</span>
          </button>
        </span>
      </div>
      <div data-ng-repeat="field in admin.field_templates | orderBy:'label'">
        <div data-ng-include="'views/admin/fields.html'"></div>
      </div>
    </div>
  </div>
</div>
