<!--

This comment is needed in order to push the following strings on transifex

<span data-translate>Delete</span>

-->

<br />
<div class="row">
  <div class="col-md-12">
    <label data-translate>Fields</label>
    <a data-ng-click="addField(context)">
      <i class="glyphicon glyphicon-plus-sign"></i> 
      <span data-translate>add field</span>
    </a>
  </div>
</div>
<div ui-sortable="fieldsSortableOptions" data-ng-model="context.fields">
  <div data-ng-repeat="field in context.fields | orderBy:'presentation_order'" class="contextFields" data-ng-controller="AdminFieldEditorCtrl">
    <div class="field">
      <div class="fieldEditorHeader" data-ng-init="editing=false" data-ng-click="editing=!editing">
        {{field.name}}&nbsp;
        <a href="" data-ng-show="field.hint" data-content="{{field.hint}}" popover="{{field.hint}}" popover-placement="right" popover-trigger="mouseenter">
          <i class="glyphicon glyphicon-question-sign"></i>
        </a>
        <div class="pull-right" data-ng-show="editing" data-ng-class="{invalid: newField.$invalid}">
          <button class="btn btn-xs btn-danger" data-ng-click="deleteField(field)" popover="{{ Delete | translate }}" popover-placement="right" popover-trigger="mouseenter">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </div>
      </div>

      <div data-ng-form="" name="newField" class="fieldEditorBody" data-ng-show=editing>
        <div class="form-group">
          <label data-translate>Name</label>
          <input class="form-control" data-ng-model="field.name" type="text">
        </div>
        <div class="form-group">
          <label data-translate>Hint</label>
          <input class="form-control" data-ng-model="field.hint" type="text">
        </div>
        <div class="form-group">
          <input data-ng-model="field.required" type="checkbox">
          <label data-translate>Required</label>
        </div>
        <div class="form-group">
          <input data-ng-model="field.preview" type="checkbox">
          <label data-translate>Show in preview</label>
        </div>
        <div class="form-group">
          <label data-translate>Type</label>
          <select id="editFieldType" class="form-control" data-ng-model="field.type" data-ng-required="">
            <option value="text" data-translate>Text</option>
            <option value="radio" data-translate>Radio Buttons</option>
            <option value="select" data-translate>Dropdown Menu (Select)</option>
            <option value="multiple" data-translate>Multi-Select</option>
            <option value="checkboxes" data-translate>Checkboxes</option>
            <option value="textarea" data-translate>Paragraph(s)</option>
            <option value="number" data-translate>Number</option>
            <option value="url" data-translate>Url</option>
            <option value="phone" data-translate>Phone</option>
            <option value="email" data-translate>Email</option>
          </select>
        </div>

        <div data-ng-switch="" on="typeSwitch(field.type)" class="row">
          <div class="col-md-offset-1 col-md-10">
            <div data-ng-switch-default=""></div>

            <div data-ng-switch-when="multiple">
              <div data-ng-repeat="option in field.options">
                <form class="form-inline">
                  <div class="form-group">
                    <label data-translate>Name</label>
                    <input class="form-control" placeholder="name" data-ng-model="option.name" data-ng-change="updateValue(option)" type="text">
                  </div>
                </form>
              </div>
              <div>
                <button class="btn btn-info" data-ng-click="addOption(field)">
                  <i class="glyphicon glyphicon-plus-sign"></i> 
                  <span data-translate>Add option</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
