<div class="row">
  <div id="ConfigSidebarBox" class="col-md-3" data-ng-include="'views/admin/sidebar.html'"></div>
  <div class="col-md-9">
    <div class="table-responsive" data-ng-controller="OverviewCtrl">
      <table class="table table-condensed table-striped" id="fileList">
        <thead>
          <tr>
            <th class="col-md-3" data-translate>ID</th>
            <th class="col-md-3" data-translate>Submission</th>
            <th class="col-md-3" data-translate>Path</th>
            <th class="col-md-2" data-translate>Size</th>
          </tr>
        </thead>
        <tbody id="fileListBody">
          <tr data-ng-repeat="file in files">
            <td class="col-md-4">{{::file.id}}</td>
            <td class="col-md-2">{{::file.itip}}</td>
            <td class="col-md-2">{{::file.path}}</td>
            <td class="col-md-2">{{::file.size | byteFmt:2}}</td>
          </tr>
        </tbody>
      </table>
    </div> 
  </div>
</div>
