<div id="AdminHomepage">
  <uib-tabset>
    <uib-tab data-index="0" heading="{{'Home' | translate}}">
      <div class="tab-content" data-ng-include="'views/partials/user_home.html'"></div>
    </uib-tab>
    <uib-tab data-index="1">
      <uib-tab-heading>
        <i data-ng-if="resources.node.update_available" class="fa-solid fa-exclamation-sign text-danger"></i>
        <span data-translate>Changelog</span>
      </uib-tab-heading>
      <div class="tab-content">
        <label><span data-translate>Software version:</span> {{resources.node.version}}</label>
        <div class="tos-text">{{resources.node.changelog}}</div>
      </div>
    </uib-tab>
    <uib-tab data-index="2" heading="{{'License' | translate}}">
      <div class="tab-content">
        <div class="tos-text">{{resources.node.license}}</div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
