<div id="AdminHomepage">
  <uib-tabset>
    <uib-tab data-index="0" heading="{{'Home' | translate}}">
      <div class="tab-content" data-ng-include="'views/partials/home.html'"></div>
    </uib-tab>
    <uib-tab data-index="1">
      <uib-tab-heading>
        <i data-ng-show="update_service.update_needed" class="fas fa-exclamation-sign text-danger"></i>
        <span data-translate>Changelog</span>
      </uib-tab-heading>
      <div class="tab-content">
        <div class="row">
          <div class="col-md-12">
            <div>
              <label><span data-translate>Software version:</span> {{resources.node.version}}</label>
            </div>
            <div data-ng-show="update_service.update_needed" class="alert bg-danger">
              <span><i class="fas fa-primary-sign"></i></span> <span data-translate>An update is available:</span> <span>{{ update_service.latest_version }}</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="tos-text">{{resources.manifest.changelog}}</div>
          </div>
        </div>
      </div>
    </uib-tab>
    <uib-tab data-index="2" heading="{{ 'License' | translate }}">
      <div class="tab-content">
        <div class="row">
          <div class="col-md-12">
            <div class="tos-text">{{resources.manifest.license}}</div>
          </div>
	</div>
      </div>
    </uib-tab>
  </uib-tabset>
</div>
