<div class="row">
  <div id="ConfigSidebarBox" class="col-md-3" data-ng-include="'views/admin/sidebar.html'"></div>
  <div class="col-md-9">
    <div class="row">
      <div data-ng-controller="AdminHomeCtrl">
        <uib-tabset>
          <uib-tab data-index="0" heading="{{'Home' | translate}}">
            <div class="tab-content" data-ng-include="'views/admin/home/main.html'"></div>
          </uib-tab>

          <uib-tab data-index="1">
            <uib-tab-heading>
              <i data-ng-show="update_service.update_needed" class="glyphicon glyphicon-exclamation-sign text-danger"></i>
              <span data-translate>Changelog</span>
            </uib-tab-heading>
            <div class="tab-content">
              <div class="row">
                <div class="col-md-12">
                  <div>
                    <label><span data-translate>Software version:</span> {{admin.node.version}}</label>
                  </div>
                  <div data-ng-show="update_service.update_needed" class="alert bg-danger">
                    <span><i class="glyphicon glyphicon-info-sign"></i></span> <span data-translate>An update is available:</span> <span>{{ update_service.latest_version }}</span>
                  </div>
                </div>
                <div class="col-md-12" data-ng-repeat="change in admin.manifest.changelog | limitTo:displayNum">
                  <hr/>
                  <span data-release-msg></span>
                </div>
              </div>
              <hr/>
              <button data-ng-if="displayNum"
                      type="submit"
                      class="btn btn-default"
                      data-ng-click="showMore()">
                <span data-translate>Show more</span>
                <i class="glyphicon glyphicon glyphicon-link"></i>
              </button>
            </div>
          </uib-tab>

          <uib-tab data-index="2" heading="{{ 'License' | translate }}">
            <div class="tab-content">
              <div data-ng-include="'views/admin/home/license.html'"></div>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
  </div>
</div>
