<div class="row">
  <div id="ConfigSidebarBox" class="col-md-3" data-ng-include="'views/admin/sidebar.html'"></div>
  <div class="col-md-9">
    <div id="HttpsSettings" data-ng-controller="AdminHTTPSConfigCtrl">
        <h3 data-translate>HTTPS Dashboard</h3>
        <h3><span data-translate>Status</span>:
          <span data-ng-show="tls_config.enabled" class="label label-success" data-translate>Enabled</span>
          <span data-ng-hide="tls_config.enabled" class="label label-danger" data-translate>Disabled</span>
          <span data-ng-show="tls_config.running" class="label label-success" data-translate>Running</span>
          <span data-ng-hide="tls_config.running" class="label label-danger" data-translate>Off</span>
        </h3>
        <h4><span data-translate>Resource locator</span>: <a target="_blank" rel="noreferrer noopener" href="https://127.0.0.1:9443/">https://127.0.0.1:9443/</a></h4>
        <h4 data-translate>System message:</h4>
        <div class="alert alert-info"><b>{{ tls_config.timestamp | date:'dd-MM-yyyy HH:MM' }} </b>{{ tls_config.status_msg }}</div>
      </div>
      <div>
        <h3 data-translate>Configuration</h3>

        <div class="panel panel-default" data-ng-class="{'disabled': cert_files.priv_key.empty}">
          <div class="panel-body">
            <i class="glyphicon glyphicon-file"></i>
            <b data-translate>Private key</b>
            <small>(.pem)</small>
            <div class="pull-right">
              <button class="btn btn-xs btn-success"
                  data-ng-click="file_resources.priv_key.$save({content:''})">Generate</button>
              <span data-ng-if="tls_config.files.priv_key.set">
                <button class="btn btn-xs btn-danger"
                    data-ng-click="file_resources.priv_key.$delete()">Delete</button>
              </span>
            </div>
          </div>
        </div>

        <div class="panel panel-default hideable-div">
          <div data-ng-if="!tls_config.files.priv_key.set" class="disabling-div"></div>
          <div class="panel-body">
            <i class="glyphicon glyphicon-file"></i>
            <b data-translate>Certificate signing request</b>
            <small>(.pem)</small>
            <div class="pull-right">
              <button class="btn btn-xs btn-success" data-ng-click="">Generate</button>
            </div>
          </div>
        </div>

        <div class="panel panel-default hideable-div">
          <div data-ng-if="!tls_config.files.priv_key.set" class="disabling-div"></div>
          <div class="panel-body">
            <i class="glyphicon glyphicon-file"></i>
            <b data-translate>Certificate</b>
            <small>(.pem) Expires on: 20/20/20</small>
            <div class="pull-right">
              <span class="file-upload">
                <label for="certUpload" class="btn btn-xs btn-primary">
                  <input id="certUpload" type="file" file-change
                  handler="postFile(files, file_resources.cert)" />
                  <span data-translate>Upload</span>
                </label>
              </span>
              <span data-ng-if="tls_config.files.cert.set">
                <button class="btn btn-xs btn-primary"
                    data-ng-click="file_resources.cert.get()">Download</button>
                <button class="btn btn-xs btn-danger"
                    data-ng-click="file_resources.cert.$delete()">Delete</button>
              </span>
            </div>
          </div>
        </div>

        <div class="panel panel-default hideable-div" data-ng-class="{'disabled': true}">
          <div data-ng-if="!tls_config.files.priv_key.set" class="disabling-div"></div>
          <div class="panel-body">
            <i class="glyphicon glyphicon-file"></i>
            <b data-translate>Certificate chain</b>
            <small>Expires on: 4/20/00</small>
            <div class="pull-right">
              <span class="file-upload">
                <label for="chainUpload" class="btn btn-xs btn-primary">
                  <input id="chainUpload" type="file" file-change
                  handler="postFile(files, file_resources.chain)" />
                  <span data-translate>Upload</span>
                </label>
              </span>
              <span data-ng-if="tls_config.files.chain.set">
                <button class="btn btn-xs btn-primary"
                     data-ng-click="file_resources.chain.get()">Download</button>
                <button class="btn btn-xs btn-danger"
                    data-ng-click="file_resources.chain.$delete()">Delete</button>
              </span>
            </div>
          </div>
        </div>

      </div>

      <button class="btn btn-md btn-primary" data-translate>Test</button>
      <button class="btn btn-md btn-success" data-ng-if="!tls_config.enabled"
          data-ng-click="tls_config.enable()"
          data-translate>Enable</button>
      <button class="btn btn-md btn-warning" data-ng-if="tls_config.enabled"
          data-ng-click="tls_config.disable()"
          data-translate>Disable</button>
      <button class="btn btn-md btn-warning"
          data-ng-click="tls_config.$delete()"
          data-translate>Delete Everything</button>
    </div>
  </div>
</div>
