<div class="row">
  <div id="ConfigSidebarBox" class="col-md-3" data-ng-include="'views/admin/sidebar.html'"></div>
  <div class="col-md-9">
    <div class="row">
      <div data-ng-controller="AdminAboutCtrl">
        <uib-tabset>
          <uib-tab data-index="0" heading="{{'Contact' | translate}}">
            <div class="tab-content" data-ng-include="'views/admin/about/contact.html'"></div>
          </uib-tab>

          <uib-tab data-index="1">
            <uib-tab-heading>
              <span data-translate>Change log</span>
            </uib-tab-heading>
            <div class="tab-content">
              <div class="btn-group" role="group" aria-label="Release notes toggle.">
                <button type="button" class="btn btn-default"
                        data-ng-disabled="!onlyShowMajor"
                        data-ng-click="setMajor(false)"
                        data-ng-class="{'active': !onlyShowMajor}"
                        >
                  <span data-translate>All</span>
                </button>
                <button type="button" class="btn btn-default"
                        data-ng-disabled="onlyShowMajor"
                        data-ng-click="setMajor(true)"
                        data-ng-class="{'active': onlyShowMajor}">
                   <span data-translate>Major changes</span> <i class="glyphicon glyphicon-exclamation-sign text-danger"></i>
                </button>
              </div>
              <br/>
              <div class="row">
                <div class="col-md-12" data-ng-repeat="change in $resolve.changelog | filter:searchFun | limitTo:displayNum">
                  <hr/>
                  <span data-release-msg></span>
                </div>
              </div>
              <a type="button" class="btn btn-default"
                href="https://raw.githubusercontent.com/globaleaks/GlobaLeaks/master/CHANGELOG">
                <span data-translate>More</span>
                <i class="glyphicon glyphicon glyphicon-link"></i>
              </a>
            </div>
          </uib-tab>

          <uib-tab data-index="2" heading="{{ 'License' | translate}}">
            <div class="tab-content">
<pre style="width: 85ch;">
-------------------------------------------------------------------------------
GlobaLeaks
Copyright (c) 2011-2017 - Hermes Center for Transparency and Digital Human Rights

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the
License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.


The full text of the license is available at <a href="/data/license.txt" target="_blank" rel="noreferrer noopener">Full text</a> of the GNU Affero
General Public License is available. If not, see <http://www.gnu.org/licenses/>.
-------------------------------------------------------------------------------
</pre>
<pre style="width: 85ch;">
-------------------------------------------------------------------------------
           ADDITIONAL TERMS AS PERMITTED BY SECTION 7b OF AGPLv3
-------------------------------------------------------------------------------
This program was created by Hermes Center for Transparency and Digital
Human Rights (https://www.hermescenter.org) and by Whistleblowing
Solutions I.S. SRL (https://whistleblowingsolutions.it) under the
name "GlobaLeaks" (https://www.globaleaks.org).

As permitted by section 7b of the AGPLv3, we require the preservation of the
legal notices, copyrights notices and author attributions in the program and
in its documentation or in the Appropriate Legal Notices displayed by works
containing it.

This program displays such notices in each user interface screen with an
author attribution that includes "Powered by GlobaLeaks".
The author attribution must be clearly visible with size of the fonts
and icons proportionate to the user interface being used.

For works containing this program or any covered work, each interactive
user interface must include a prominent and conveniently accessible
feature for the display of Appropriate Legal Notices. This display
must include author attributions and copyright notices as found in this
program. This display of these author attributions must be convenient
for a user wishing to browse credits, shown in a manner separate and
distinct from license texts, and commensurately prominent with respect
to other author attributions. To the extent that it is technically
feasible and not obtrusive, the graphical form of these author
attributions, such as a "Powered by GlobaLeaks" logo, must be preserved;
otherwise, a textual equivalent is permitted. When users click on the
"Powered by GlobaLeaks" logo it must direct them back to the
https://www.globaleaks.org website.

Any party that wishes to remove the author attribution from the user
interfaces is required to obtain written consent from
Whistleblowing Solutions I.S. SRL.

The purpose of this non-profit social enterprise is to support the
development of the GlobaLeaks software while maintaining it entirely
as free software available for public interests purposes pursuing the
social goal of protecting whistleblowers and increasing transparency.
-------------------------------------------------------------------------------
</pre>
              <!--<pre style="width: 85ch;" ng-include="'data/license.txt'"></pre>-->
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
  </div>
</div>
