<div id="ContentBox" class="container">
  <div class="row">
    <div id="ConfigSidebarBox" class="col-md-3" data-ng-include="'views/admin/sidebar.html'"></div>
    <div class="col-md-9">

      <div class="row">
        <form name=notificationForm" data-ng-controller="AdminMailCtrl">

          <tabset class="tab-content">
            <tab data-ng-repeat="tab in tabs" heading="{{ tab.title | translate }}" active="tab.active" disabled="tab.disabled">
            <div data-ng-include="tab.template" data-ng-controller="tab.ctrl"></div>
            </tab>
          </tabset>

          <div class="row"> 
            <div class="col-md-6">
              <button class="btn btn-success" data-ng-disabled="notificationForm.$invalid || notificationForm.$pristine" data-ng-click="update(admin.notification)">
                <i class="glyphicon glyphicon-ok"></i>
                <span data-translate>Save</span>
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
