<div class="row">
  <div id="ConfigSidebarBox" class="col-md-3" data-ng-include="'views/admin/sidebar.html'"></div>
  <div class="col-md-9">
    <div class="row">
      <form name="notificationForm" data-ng-controller="AdminMailCtrl" novalidate>
        <uib-tabset>
          <uib-tab data-ng-repeat="tab in tabs" heading="{{tab.title | translate}}">
            <div class="tab-content" data-ng-include="tab.template"></div>
          </uib-tab>
        </uib-tabset>

        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-success" data-ng-disabled="notificationForm.$invalid" data-ng-click="Utils.update(admin.notification)" type="submit">
              <i class="glyphicon glyphicon-ok"></i>
              <span data-translate>Save</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
