<div class="row">
  <div id="ConfigSidebarBox" class="col-md-3" data-ng-include="'views/admin/sidebar.html'"></div>
  <div class="col-md-9">
    <div class="adminConfigSection" data-ng-controller="AdminReceiversCtrl">
      <div class="editorTitle" data-translate>Recipients</div>
      <div class="receiverList" data-ng-repeat="receiver in admin.receivers">
        <form id="receiver-{{$index}}" name="editReceiver" data-ng-controller="AdminReceiverEditorCtrl" novalidate>
          <div class="configItem">
            <div class="editorHeader row" data-ng-click="toggleEditing(); $event.stopPropagation();">
              <span class="col-md-7 editorHeaderTitle">{{receiver.name}}</span>
              <span class="col-md-5">
                <span class="pull-right">
                  <button
                    class="btn btn-xs btn-default"
                    data-ng-show="!editing"
                    data-ng-click="toggleEditing(); $event.stopPropagation();">
                    <span data-translate>Edit</span>
                  </button>
                  <button
                    class="btn btn-xs btn-success"
                    data-ng-show="editing"
                    data-ng-click="save_receiver(receiver)">
                    <span data-translate>Save</span>
                  </button>
                  <button
                    class="btn btn-xs btn-default"
                    data-ng-show="editing"
                    data-ng-click="toggleEditing(); $event.stopPropagation();">
                    <span data-translate>Cancel</span>
                  </button>
                </span>
              </span>
            </div>
            <div class="editor" data-ng-if="editing">
              <hr />
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label data-translate>Configuration</label>
                    <select class="form-control" data-ng-model="receiver.configuration">
                      <option value="default" data-translate>Default</option>
                      <option value="forcefully_selected" data-translate>Forcefully selected</option>
                      <option value="unselectable" data-translate>Unselectable</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <input data-ng-model="receiver.can_postpone_expiration" type="checkbox" data-ng-disabled="node.can_postpone_expiration" />
                    <label data-translate>Allow the recipient to postpone the submission expiration date</label>
                    <div data-ng-show="node.can_postpone_expiration">
                      <span class="label label-info" data-translate>Enabled</span>
                      <span data-translate>The setting is enabled at a global level.</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <input data-ng-model="receiver.can_delete_submission" type="checkbox" data-ng-disabled="node.can_delete_submission" />
                    <label data-translate>Allow the recipient to delete submissions</label>
                    <div data-ng-show="node.can_delete_submission">
                      <span class="label label-info" data-translate>Enabled</span>
                      <span data-translate>The setting is enabled at a global level.</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <input data-ng-model="receiver.can_grant_permissions" type="checkbox" data-ng-disabled="can_grant_permissions" />
                    <label data-translate>Allow the recipient to grant permissions to whistleblowers on specific submissions</label>
                    <div data-ng-show="node.can_grant_permissions">
                      <span class="label label-info" data-translate>Enabled</span>
                      <span data-translate>The setting is enabled at a global level.</span>
                    </div>
                  </div>
                  <hr />
                  <div class="form-group">UUID: {{receiver.id}}</div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
