<a href="#/admin/home" data-ng-class="{'active': location_path === '/admin/home'}">
  <i class="fas fa-chevron-right"></i>
  <span data-translate>Home</span>
</a>

<a href="#/admin/content" data-ng-class="{'active': location_path === '/admin/content'}">
  <i class="fas fa-chevron-right"></i>
  <span data-translate>Site settings</span>
</a>

<a href="#/admin/users" data-ng-class="{'active': location_path === '/admin/users'}">
  <i class="fas fa-chevron-right"></i>
  <span data-translate>Users</span>
</a>

<a href="#/admin/questionnaires" data-ng-class="{'active': location_path === '/admin/questionnaires'}">
  <i class="fas fa-chevron-right"></i>
  <span data-translate>Questionnaires</span>
</a>

<a href="#/admin/contexts" data-ng-class="{'active': location_path === '/admin/contexts'}">
  <i class="fas fa-chevron-right"></i>
  <span data-translate>Contexts</span>
</a>

<a href="#/admin/casemanagement" data-ng-class="{'active': location_path === '/admin/casemanagement'}">
  <i class="fas fa-chevron-right"></i>
  <span data-translate>Case management</span>
</a>

<a href="#/admin/notifications" data-ng-class="{'active': location_path === '/admin/notifications'}">
  <i class="fas fa-chevron-right"></i>
  <span data-translate>Notification settings</span>
 </a>

<a href="#/admin/network" data-ng-class="{'active': location_path === '/admin/network'}">
  <i class="fas fa-chevron-right"></i>
  <span data-translate>Network settings</span>
</a>

<a href="#/admin/sites" data-ng-class="{'active': location_path === '/admin/sites'}" data-ng-if="resources.node.root_tenant && resources.node.multisite">
  <i class="fas fa-chevron-right"></i>
  <span data-translate>Sites management</span>
</a>

<a href="#/admin/advanced" data-ng-class="{'active': location_path === '/admin/advanced'}">
  <i class="fas fa-chevron-right"></i>
  <span data-translate>Advanced settings</span>
</a>

<a href="#/admin/auditlog" data-ng-class="{'active': location_path === '/admin/auditlog'}">
  <i class="fas fa-chevron-right"></i>
  <span data-translate>Audit log</span>
</a>
