<ul id="SidebarAdmin" class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="#/admin/home">
      <i class="fa fa-chevron-right"></i>
      <span data-translate>Home</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#/admin/content">
      <i class="fa fa-chevron-right"></i>
      <span data-translate>Site settings</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#/admin/users">
      <i class="fa fa-chevron-right"></i>
      <span data-translate>Users</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#/admin/questionnaires">
      <i class="fa fa-chevron-right"></i>
      <span data-translate>Questionnaires</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#/admin/contexts">
      <i class="fa fa-chevron-right"></i>
      <span data-translate>Contexts</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#/admin/case_management">
      <i class="fa fa-chevron-right"></i>
      <span data-translate>Case management</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#/admin/mail">
      <i class="fa fa-chevron-right"></i>
      <span data-translate>Notification settings</span>
   </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#/admin/network">
      <i class="fa fa-chevron-right"></i>
      <span data-translate>Network settings</span>
    </a>
  </li>

  <li class="nav-item" data-ng-if="admin.node.root_tenant && admin.node.multisite">
    <a class="nav-link" href="#/admin/sites">
      <i class="fa fa-chevron-right"></i>
      <span data-translate>Sites management</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#/admin/advanced_settings">
      <i class="fa fa-chevron-right"></i>
      <span data-translate>Advanced settings</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#/admin/overview">
      <i class="fa fa-chevron-right"></i>
      <span data-translate>System overview</span>
    </a>
  </li>
</ul>
