<a href="#/admin/home" data-ng-class="{'active': location.path() === '/admin/home'}" data-translate>Home</a>
<a href="#/admin/content" data-ng-class="{'active': location.path() === '/admin/content'}" data-translate>Site settings</a>
<a href="#/admin/users" data-ng-class="{'active': location.path() === '/admin/users'}" span data-translate>Users</a>
<a href="#/admin/questionnaires" data-ng-class="{'active': location.path() === '/admin/questionnaires'}" data-translate>Questionnaires</a>
<a href="#/admin/contexts" data-ng-class="{'active': location.path() === '/admin/contexts'}" data-translate>Contexts</a>
<a href="#/admin/casemanagement" data-ng-class="{'active': location.path() === '/admin/casemanagement'}" data-translate>Case management</a>
<a href="#/admin/notifications" data-ng-class="{'active': location.path() === '/admin/notifications'}" data-translate>Notification settings</a>
<a href="#/admin/network" data-ng-class="{'active': location.path() === '/admin/network'}" data-translate>Network settings</a>
<a href="#/admin/sites" data-ng-class="{'active': location.path() === '/admin/sites'}" data-ng-if="resources.node.root_tenant && public.node.multisite" data-translate>Sites management</a>
<a href="#/admin/advanced" data-ng-class="{'active': location.path() === '/admin/advanced'}" data-translate>Advanced settings</a>
<a href="#/admin/auditlog" data-ng-class="{'active': location.path() === '/admin/auditlog'}" data-translate>Audit log</a>
