<div class="row">
  <div id="ConfigSidebarBox" class="col-md-3" data-ng-include="'views/admin/sidebar.html'"></div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        <span data-translate>Stats of the week:</span>
        <a data-ng-click="decrement_week()"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <span>{{when | weekNumber}} {{when | date: 'yyyy'}}</span>
        <a data-ng-click="increment_week()"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>

      <br /><br />

      <div id="chart"></div>

      <div id="StatsInfoTable" class="col-md-12" data-ng-if="blob">
        <div class="col-md-3">
          <div>
            <label data-translate>Started submissions</label>
            {{blob.summary.started_submissions}}
          </div>
          <div>
            <label data-translate>Completed submissions</label>
            {{blob.summary.completed_submissions}}
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <label data-translate>Failed logins</label>
            {{blob.summary.failed_logins}}
          </div>
          <div>
            <label data-translate>Successful logins</label>
            {{blob.summary.successful_logins}}
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <label data-translate>Uploaded files</label>
            {{blob.summary.uploaded_files}}
          </div>
          <div>
            <label data-translate>Appended files</label>
            {{blob.summary.appended_files}}
          </div>
        </div>
        <div class="col-md-3">
          <div>
            <label data-translate>Free disk space</label>
            {{blob.free_disk_space | prettyBytes}}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
