<div id="StepAddBox" data-ng-controller="AdminStepAddCtrl" class="col-md-6">
  <h4><span data-translate>Add new step</span></h4>
  <div data-ng-form="" name="newStep">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label data-translate>Label</label>
          <input name="label" class="form-control" data-ng-model="new_step_label" type="text" required>
          <div class="has-error" data-ng-show="newStep.label.$error.required">
            <span data-translate>This field is mandatory</span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <button class="pull-left btn btn-success" data-ng-disabled="newStep.$invalid" data-ng-click="add_step()">
            <i class="glyphicon glyphicon-ok"></i>
            <span data-translate>Add</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="StepsEditBox" data-ng-if="context.steps.length" class="col-md-12">
  <h4><span data-translate>Configured steps:</span></h4>
  <div>
    <div data-as-sortable="stepsSortableOptions" data-ng-model="context.steps">
      <div data-ng-repeat="step in context.steps | orderBy:'presentation_order'" data-as-sortable-item>
        <div class="stepBox col-md-12"
             data-ng-controller="AdminStepEditorCtrl">
          <div class="card step">
            <div class="stepEditorHeader sortableHandle" data-ng-click="toggleEditing()">
              <div class="row" data-as-sortable-item-handle>
                <span class="badge">{{$index + 1}}</span>
                <span>{{step.label}}</span>
                <span class="pull-right" popover="{{'Click to edit, drag to order' | translate}}" popover-placement="left" popover-trigger="mouseenter">
                  <i class="glyphicon glyphicon-th"></i>
                </span>
              </div>
            </div>
            <div data-ng-form="" name="editStep" data-ng-show="editing">
              <div class="row">
                <div class="form-group">
                  <div class="col-md-6">
                    <label data-translate>Label</label>
                    <input class="form-control" data-ng-model="step.label" type="text" required />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label data-translate>Hint</label>
                  <input class="form-control" data-ng-model="step.hint" type="text" />
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label data-translate>Description</label>
                  <div>
                    <textarea class="form-control" data-ng-model="step.description">{{step.description}}</textarea>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-md-6">
                  <label data-translate>Presentation Order</label>
                  <input class="form-control" data-ng-model="step.presentation_order" value="{{step.presentation_order}}" type="number" min="0" max="99">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" data-ng-include="'views/admin/add_field.html'"></div>
                <div class="col-md-6" data-ng-include="'views/admin/add_field_from_template.html'"></div>
              </div>
              <div id="FieldsEditBox" class="form-group" data-ng-if="step.children">
                <label data-translate>Configured fields:</label>
                  <div data-as-sortable="sortableOptions" data-ng-model="step.children"
                       class="configuredFields"
                       data-ui-on-drop="add_field_from_template($data, step)">
                    <div data-ng-repeat="field in step.children | orderBy:'y'" data-as-sortable-item>
                      <div data-ng-include="'views/admin/fields_editor.html'"></div>
                    </div>
                  </div>
              </div>
            </div>
            <hr />
            <div class="stepActions">
              <button class="btn btn-default"
                      data-ng-show="!editing"
                      data-ng-click="editing=!editing">
                <span data-translate>Edit</span>
              </button>
              <button class="btn btn-success"
                      data-ng-show="editing"
                      data-ng-click="save_context(context);editing=!editing">
                <span data-translate>Save</span>
              </button>
              <button 
                class="btn btn-default"
                data-ng-show="editing"
                data-ng-click="editing=!editing">
                <span data-translate>Cancel</span>
              </button>
              <button class="btn btn-danger"
                      data-ng-click="stepDeleteDialog(step)"
                      popover="{{Delete | translate}}"
                      popover-placement="right"
                      popover-trigger="mouseenter">
               <span data-translate>Delete</span>
              </button>
            </div>
          </div>
        <!-- Step end -->
        </div>
        <div class="clearfix" data-ng-if="$last"></div>
      <!-- Repeat end -->
      </div>
    </div>
  </div>
</div>
