<div class="row">
  <div id="ConfigSidebarBox" class="col-md-3" data-ng-include="'views/admin/sidebar.html'"></div>
  <div class="col-md-9" data-ng-controller="TenantCtrl">
    <div class="row">
      <form name="newTenant" class="addTenant col-md-6" novalidate>
        <div class="editorTitle" data-translate>Add new site</div>
        <div class="form-group">
          <label>
            <span data-translate>Label</span>
            <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right">*</span>
          </label>
          <div data-ng-class="{'has-error': newTenant.label.$error.required}">
            <input name="label" class="form-control" data-ng-model="new_tenant.label" maxlength="120" type="text" required />
          </div>
        </div>
        <div class="form-group">
          <button id="add-button" class="pull-left btn btn-primary" data-ng-disabled="newTenant.$invalid" data-ng-click="add_tenant()" type="submit">
            <i class="glyphicon glyphicon-plus-sign"></i>
            <span data-translate>Add</span>
          </button>
        </div>
      </form>
    </div>
    <hr />
    <div class="adminConfigSection" data-ng-show="admin.tenants.length > 0">
      <div class="editorTitle" data-translate>Site list:</div>
      <div data-ng-repeat="tenant in admin.tenants">
        <form id="tenant-{{$index}}" name="editTenant" data-ng-controller="TenantEditorCtrl" novalidate>
          <div class="configItem">
            <div class="editorHeader row" data-ng-click="toggleEditing($event)">
              <div class="col-md-6">
                <div class="editorHeaderTitle">
                  <span data-translate>Label</span>: {{tenant.label}}
                  <span class="label label-success" data-ng-show="isCurrentTenant()" data-translate>Current</span>
                </div>
              </div>
              <div class="col-md-6">
                <span class="pull-right">
                  <button class="btn btn-xs btn-default"
                    data-ng-show="!editing"
                    data-ng-click="toggleEditing($event)">
                    <span data-translate>Edit</span>
                  </button>
                  <span data-ng-hide="tenant.active" class="btn btn-xs btn-danger"
                    data-ng-click="toggleActivation($event)"
                    data-translate>Inactive</span>
                  <span data-ng-show="tenant.active" class="btn btn-xs btn-primary"
                    data-ng-click="toggleActivation($event)"
                    data-translate>Active</span>
                  <button class="btn btn-xs btn-success"
                    data-ng-show="editing"
                    data-ng-disabled="editContext.$invalid"
                    data-ng-click="saveTenant()">
                    <span data-translate>Save</span>
                  </button>
                  <button class="btn btn-xs btn-danger"
                    data-ng-show="isRemovableTenant()"
                    data-ng-click="deleteTenant($event)">
                    <span data-translate>Delete</span>
                  </button>
                </span>
              </div>
            </div>
            <div data-ng-if="editing">
              <hr/>
              <div class="row">
                <div class="col-md-6">
                  <div>
                    <span>ID: {{tenant.id}}</span>
                    <span data-ng-show="tenant.subdomain != ''"><span data-translate>Subdomain</span>: {{tenant.subdomain}}</span>
                    <a data-ng-show="tenant.wizard_url" class="btn btn-xs btn-primary" target="_blank" href="{{tenant.wizard_url}}">Setup tenant</a>
                  </div>
                  <div class="form-group">
                    <label data-translate>Subdomain</label>
                    <input name="name" class="form-control" maxlength="{{node.maximum_namesize}}" data-ng-model="tenant.subdomain" type="text" required>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
