<div class="row">
  <div id="ConfigSidebarBox" class="col-md-3" data-ng-include="'views/admin/sidebar.html'"></div>
  <div class="adminConfigSection col-md-9" data-ng-controller="TenantCtrl">
    <div class="editorTitle">
      <span data-translate>Sites</span>
      <button class="btn btn-xs btn-primary show-add-tenant-btn" data-ng-click="toggleAddTenant()">
        <i class="glyphicon glyphicon-plus"></i>
        <span data-translate>Add</span>
      </button>
    </div>
    <div>
      <div class="row" data-ng-if="showAddTenant">
        <form name="newTenantForm" class="addTenant col-md-6" novalidate>
          <div class="form-group">
            <label>
              <span data-translate>Label</span>
              <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right">*</span>
            </label>
            <div data-ng-class="{'has-error': newTenantForm.label.$error.required}">
              <input name="label" class="form-control" data-ng-model="newTenant.label" maxlength="120" type="text" required />
            </div>
          </div>
          <div class="form-group">
            <button id="add-btn" class="pull-left btn btn-primary" data-ng-disabled="newTenantForm.$invalid" data-ng-click="addTenant(); toggleAddTenant()" type="button">
              <i class="glyphicon glyphicon-plus-sign"></i>
              <span data-translate>Add</span>
            </button>
          </div>
        </form>
      </div>
      <div data-ng-repeat="tenant in admin.tenants | orderBy:'id'">
        <form id="tenant-{{$index}}" name="editTenant" data-ng-controller="TenantEditorCtrl" novalidate>
          <div class="configItem">
            <div class="editorHeader row" data-ng-click="tenant.id > 1 && toggleEditing($event)">
              <div class="col-md-6">
                <div class="editorHeaderTitle">
                  <span class="badge badge-info">{{tenant.id}}</span>
                  <span>{{tenant.id === 1 ? admin.node.name : tenant.label}}</span>
                  <span data-ng-if="tenant.active && (tenant.onionservice || (tenant.id == 1 && tenant.hostname) || (tenant.id > 1 && (tenant.subdomain || tenant.hostname)))">
                    <span class="label label-primary" data-ng-if="tenant.onionservice">{{tenant.onionservice}}</span>
                    <span data-ng-if="tenant.id > 1 && admin.node.hostname">
                      <span class="label label-primary">p{{tenant.id}}.{{admin.node.hostname}}</span>
                      <span class="label label-primary" data-ng-if="tenant.subdomain">{{tenant.subdomain}}.{{admin.node.hostname}}</span>
                    </span>
                    <span class="label label-primary" data-ng-if="tenant.hostname">{{tenant.hostname}}</span>
                  </span>
                </div>
              </div>
              <div class="col-md-6" data-ng-if="tenant.id > 1">
                <span class="pull-right">
                  <span data-ng-show="tenant.active && !$first" class="btn btn-xs btn-primary"
                    data-ng-click="toggleActivation($event)"
                    data-translate>Active</span>
                  <span data-ng-hide="tenant.active || $first" class="btn btn-xs btn-warning"
                    data-ng-click="toggleActivation($event)"
                    data-translate>Inactive</span>
                  <button class="btn btn-xs btn-default"
                    data-ng-show="!editing"
                    data-ng-click="toggleEditing($event)">
                    <span data-translate>Edit</span>
                  </button>
                  <button class="btn btn-xs btn-success"
                    data-ng-show="editing"
                    data-ng-disabled="editContext.$invalid"
                    data-ng-click="saveTenant()">
                    <span data-translate>Save</span>
                  </button>
                  <button class="btn btn-xs btn-danger"
                    data-ng-show="isRemovableTenant()"
                    data-ng-click="deleteTenant($event)">
                    <span data-translate>Delete</span>
                  </button>
                </span>
              </div>
            </div>
            <div data-ng-if="editing">
              <hr/>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label data-translate>Subdomain</label>
                    <input name="name" class="form-control" maxlength="{{node.maximum_namesize}}" data-ng-model="tenant.subdomain" type="text" required>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
