backend/env/
backend/workingdir/
client/build
client/node_modules/
documentation/_build
/docker-compose.yml
/Dockerfile
/**/client/package.json
/**/client/proxy.conf.json
/client/.angular
.scannerwork/
.vscode/
backend/__pycache__/
