.idea
/backend/globaleaks/
/backend/env
/backend/glenv/
/backend/globaleaks/
/backend/workingdir/
/client/app/lib/
/client/build/
/client/node_modules
/client/tmp/

backend/package-lock.json
client/app/license.txt
