<div>
    <div *ngIf="!field.required">
        <label class="form-check-inline">
            <input class="inputelem" type="radio" name="whistleblower_identity_radio_1" (click)="changeIdentitySetting(true)" [checked]="identity_provided" [value]="identity_provided" />
            <span>{{'Yes'|translate}}</span>
        </label>
        <label class="form-check-inline">
            <input class="inputelem" type="radio" name="!whistleblober_identity_radio_1" (click)="changeIdentitySetting(false)" [checked]="!identity_provided" [value]="!identity_provided" />
            <span>{{'No'|translate}}</span>
        </label>
    </div>
    <div *ngIf="identity_provided === false && field.attrs.text_shown_upon_negative_answer.value" class="alert alert-secondary">
        <div>{{field.attrs.text_shown_upon_negative_answer.value|translate}}</div>
    </div>
    <div *ngIf="identity_provided === true">
        <src-form [identity_provided]=false [displayErrors]="displayErrors" [entry]="entry" [answers]="answers" [step]="step" [submission]="submission" [index]="index"></src-form>
    </div>
</div>