<center>
  <span data-ng-include="'views/partials/wb_login.html'"></span>
  <div class="LoginErrorBoxHomepage row" data-ng-show="errors[0].code == 29">
    <div class="col-md-12">
      <div class="alert alert-danger">
        <div>
          <span data-translate>Cannot Login</span>:
          <span data-translate>The key code is either invalid or the submission has expired.</span>
        </div>
        <div data-translate>Please check your key code and try again or make a new submission.</div>
      </div>
    </div>
  </div>
</center>
