<div id="FieldsEditBox" class="form-group">
  <div class="row">
    <span class="col-md-12">
      <div>
        <span>{{ 'Questions' | translate }}</span>
        <button class="btn btn-sm btn-primary show-add-question-btn" id="add-question" (click)="toggleAddQuestion()">
          <i class="fa-solid fa-plus"></i>
          <span>{{ 'Add new question' | translate }}</span>
        </button>
        @if (fieldTemplatesData.length > 0) {
          <button class="btn btn-sm btn-primary show-add-question-from-template-btn" (click)="toggleAddQuestionFromTemplate()">
            <i class="fa-solid fa-plus"></i>
            <span>{{ 'Add question from template' | translate }}</span>
          </button>
        }
      </div>
    </span>
  </div>
  @if (showAddQuestion) {
    <div class="row config-section">
      <div class="col-md-6">
        <src-add-field [step]="step" [type]="'step'" (dataToParent)="listenToAddField()"></src-add-field>
      </div>
    </div>
  }
  @if (showAddQuestionFromTemplate) {
    <div class="row config-section">
      <div class="col-md-6">
        <src-add-field-from-template [step]="step" [type]="'step'" [fieldTemplatesData]="fieldTemplatesData" (dataToParent)="listenToAddFieldFormTemplate()"></src-add-field-from-template>
      </div>
    </div>
  }
  <div class="row configuredFields">
    @for (field of step.children | orderBy:['y', 'x']; track field; let index = $index) {
      <div class="col-md-12">
        <div id="field-{{index}}" class="fieldBox">
          <form #editField="ngForm">
            <src-fields (dataToParent)="listenToFields()" [editField]="editField" [field]="field" [parsedFields]="parsedFields" [fields]="step.children" [step]="step" [type]="'step'"></src-fields>
          </form>
        </div>
      </div>
    }
  </div>
</div>