<div id="UserTenantAssociationsEditBox">
  <label>
    <span data-translate>Sites</span>
    <button class="btn btn-xs btn-primary add-receiver-btn" data-ng-click="refreshAvailableTenants(); toggleAddUserTenantAssociation()">
      <i class="glyphicon glyphicon-plus"></i>
      <span data-translate>Add</span>
    </button>
  </label>
  <div id="ReceiverContextAdder" class="row" data-ng-controller="AdminUserTenantAssociationAddCtrl" data-ng-if="showAddUserTenantAssociation">
    <div class="col-md-12">
      <ui-select data-ng-model="selected.value" data-theme="bootstrap" data-on-select='addUserTenantAssociation($item); toggleAddUserTenantAssociation()'>
        <ui-select-match data-ng-attr-placeholder="{{'Type to search…' | translate}}">
          <span data-ng-bind="$select.selected.label"></span>
        </ui-select-match>
        <ui-select-choices data-repeat="tenant in availableTenants" refresh="refreshAvailableTenants($select.search)">
          <span data-ng-bind-html="tenant.id + ': ' + tenant.label | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
      <br/>
    </div>
  </div>
  <ol class="selectionList" data-ng-if="user.usertenant_assocations">
    <li data-ng-repeat="association in user.usertenant_assocations | orderBy:'tenant_id'"">
      <span data-ng-controller="AdminUserTenantAssociationEditorCtrl">
        <span class="action-btns" data-ng-if="association.tenant_id == user.tid">
            <i class="glyphicon glyphicon-record"></i>
        </span>
        <span class="action-btns" data-ng-if="association.tenant_id != user.tid" data-ng-click="deleteUserTenantAssociation(association)" uib-popover="{{'Remove' | translate}}">
          <i class="glyphicon glyphicon-remove"></i>
        </span>
        </span>
        <span data-ng-class="{'bold': association.tenant_id == user.tid}"><span>{{tenants_by_id[association.tenant_id].id}}: {{tenants_by_id[association.tenant_id].label}}</span><span data-ng-if="association.tenant_id == user.tid"> (<span data-translate>main</span>)</span></span>
      </span>
    </li>
  </ol>
</div>
