.ext-public #LogoBox {
  display: None;
}

.ext-auth #FooterBox {
  display: None;
}

.ext-embed #WhistleblowerLoginPrompt {
  display: None;
}

.ext-login label {
  text-transform: uppercase;
}

.ext-embed #login-button {
  display: None;
}
