Parsley==1.2
Twisted==13.2.0
cffi==0.8.2
cryptography==0.8.2
cyclone==1.1
enum34==0.9.23
pyOpenSSL==0.14
pyasn1==0.1.7
pycparser==2.10
python_gnupg==0.3.6
scrypt==0.6.1
six==1.5.2
storm==0.19
transaction==1.1.1
txsocksx==1.13.0.0
zope.component==4.0.2
zope.event==4.0.1
zope.interface==4.0.5
