<div class="row">
  <div class="col-md-12">
    <ui-select data-ng-model="selected.value" data-theme="bootstrap" data-on-select="selectContext($item)">
      <ui-select-match data-ng-attr-placeholder="{{'Type to search…' | translate}}"><span data-ng-bind="$select.selected.name"></span></ui-select-match>
      <ui-select-choices data-repeat="context in selectable_contexts | filter: {name: $select.search} track by context.id">
        <span data-ng-bind-html="context.name | highlight: $select.search"></span>
        <small data-ng-bind="context.description"></small>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
