<div class="jumbotron homeSplash">
    <h1>Welcome to {{node_info.name}}</h1>
    <a href="#/submission" ng-hide="!node_info.configured"
        class="btn btn-primary btn-large">Blow the Whistle</a>

    <div ng-hide="node_info.configured">Your node is not configured! Please, proceed via
        <a href="/#/admin/contexts">Admin interface and configure at least one context</a></div>


</div>

<div class="container">
  <div class="homeIntro">

    <p class="lead">{{node_info.description}}</p>

    <h1>Are you a whistleblower?</h1>
    <label>Enter your receipt<br/>
      <input type="text" ng-model="receipt">
    </label>
    <a ng-click="view_tip(receipt)" class="btn btn-primary">View Tip</a>

    <h1>Are you a receiver?</h1>
    <p>This is the <a href="#/login">Login page</a>.</p>

    <h1>What is this about?</h1>
    <p class="homeIntro-byline">How you can transform information into action!</p>
    <p>
    Through this platform you will be able to report on wrongdoing. This
    platform is running the <a href="https://globaleaks.org/">GlobaLeaks</a>
    software, that is specifically designed to protect the identity of the
    reporter and of the ones running the platform.</p>
    <p>
    This software is developed by the non-profit organization
    <a href="http://www.logioshermes.org/">Hermes Center for Transparency and Digital Human Rights</a>.
    We are supported also by your donations. Visit our <a
      href="http://logioshermes.org/home/about-mission/support-us/">donation page</a>
    to help us further support the development of GlobaLeaks.
    </p>

  </div>
</div>
