<div class="jumbotron subhead">
  <div class="container">
    <h1>
      {{ "Tip Status Page" | translate }}
    </h1>
  </div>
</div>
<div ng-cloak="" class="container statusPage" ng-show="tip.im_whistleblower || tip.im_receiver">
  <div class="row" ng-show="tip.im_receiver && !preferences.gpg_enable_files">
    <div class="col-md-12">
      <div class="alert alert-warning">
        <strong>{{ "Warning!" | translate }}</strong>
        {{ "You have not configured your encryption keys, so the files will be stored on the globaleaks node un-encrypted." | translate }}
        {{ "This may lead to unintended access to the files by the server administrator or in case of server seizing." | translate }}
        {{ "Please configure your PGP keys in the receiver preference page." | translate }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      
      <dl>
        <dt>{{ "Context details" | translate }}</dt>
        <dd>
          <strong>{{ tip.context_name }}</strong>
          {{ tip.context_description }}
        </dd>
        <dt>{{ "Submission date" | translate }}</dt>
        <dd>{{ tip.creation_date | date:"fullDate" }}</dd>
      </dl>

      <dl ng-repeat="(fieldName, fieldValue) in tip.fields">
        <dt>{{fieldFormat[fieldName].name}} ({{fieldFormat[fieldName].hint}})</dt>
        
        <div ng-switch="" on="fieldFormat[fieldName].type">
          
          <dd ng-switch-when="checkboxes">
            <ul>
              <li ng-repeat="checkbox in fieldFormat[fieldName].options">
              {{checkbox.name}} 
              <span ng-hide="fieldValue[checkbox.name]">☐</span> 
              <span ng-show="fieldValue[checkbox.name]">☑</span>
              </li>
            </ul>
          </dd>

          <dd ng-switch-when="multiple">
            <ul>
              <li ng-repeat="selection in fieldValue">{{selection}}</li>
            </ul>

          </dd><dd ng-switch-default="">{{fieldValue}}</dd>

        </div>
      </dl>
    </div>

    <div class="col-md-8">
      <h3>
        {{ "Files" | translate }}
      </h3>
      <div class="well" ng-show="tip.files">
        <h4>{{file.name}}</h4>
        <ul class="list-unstyled">
          <a class="input-small" ng-click="show_new_files = !show_new_files" ng-init="show_new_files = false" ng-show="!show_new_files && tip.im_receiver">
            {{ "show only files not yet downloaded" | translate }}
          </a>
          <a class="input-small" ng-click="show_new_files = !show_new_files" ng-show="show_new_files && tip.im_receiver">
            {{ "show all the files" | translate }}
          </a>
          <li ng-repeat="file in tip.files">
            <div ng-show="file.downloads == 0 && show_new_files">
              <a ng-cloak="" ng-show="tip.im_receiver" ng-click="increaseDownloadCount(file)" ng-disabled="file.downloads >= current_context.file_max_downloads" class="btn btn-default btn-sm" ng-href="{{file.href}}">
                 <i class="glyphicon glyphicon-download"></i> 
                 {{ "download" | translate }}
                 ({{file.downloads}}/{{tip.download_limit}})
              </a>
              <i class="glyphicon glyphicon-book"></i> {{file.name}}
            </div>

            <div ng-show="!show_new_files">
              <a ng-cloak="" ng-show="tip.im_receiver" ng-click="increaseDownloadCount(file)" ng-disabled="file.downloads >= current_context.file_max_download" class="btn btn-default btn-sm" ng-href="{{file.href}}">
                 <i class="glyphicon glyphicon-download"></i> 
                 {{ "download" | translate }} 
                 ({{file.downloads}}/{{tip.download_limit}})
              </a>
              <i class="glyphicon glyphicon-book"></i> {{file.name}}
            </div>

          </li>
          <a class="input-small" ng-click="security_checksum = !security_checksum" ng-init="security_checksum = false" ng-show="!security_checksum">
            {{ "show sha256 checksum" | translate }}
          </a>
          <a class="input-small" ng-click="security_checksum = !security_checksum" ng-show="security_checksum">
            {{ "show sha256 checksum" | translate }}
            <i>
              {{ "(click again to hide)" | translate }}
            </i>
          </a>
        </ul>
      </div>
      <div class="well" ng-show="security_checksum">
        <p>
          {{ "Use the" | translate }} 
          <a href="https://en.wikipedia.org/wiki/SHA-2">
            {{ "sha256 hash" | translate }}
          </a> 
          {{ "to verify the file integrity" | translate }}.
          <br />
          {{ "On unix based systems this can be done by running the following command in the directory of the files" | translate }}:
        </p>
        <b>$ shasum -a 256 *</b>
        <div ng-repeat="file in tip.files">
          <code>
            {{file.name}}   {{file.sha2sum}}
          </code>
        </div>
      </div>

      <div class="col-md-4" ng-hide="tip.files"><p>
        {{ "No file has been uploaded!" | translate }}
      </p></div>

      <div ng-cloak="" ng-show="tip.im_whistleblower">
        <div ng-include="'views/widgets/fileupload.html'" class="col-md-4">
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-4">
      <h3>
        {{ "Comments" | translate }}
      </h3>
      <div ng-repeat="comment in tip.comments">
        <div ng-switch="" on="comment.source">

          <div ng-switch-when="whistleblower" class="alert alert-info">
            <strong>
              {{ "Whistleblower" | translate }}
            </strong> {{comment.content}}
          </div>

          <div ng-switch-when="receiver" class="alert alert-success">
            <strong>{{comment.author}}</strong> {{comment.content}}
          </div>

          <div ng-switch-when="system" class="alert alert-warning">
            <strong>
              {{ "System" | translate }}
            </strong>
              <!-- {{comment.content}} -->
              <div ng-switch="" on="comment.system_content.type">
                 <div ng-switch-when="1">
                     {{ "The user" | translate }}
                     {{comment.system_content.receiver_name}}
                     {{ "In date" | translate }}
                     {{comment.system_content.now | date:'fullDate' }}
                     {{ "has postponed Tip expiration to" | translate }}
                     {{comment.system_content.expire_on | date:'fullDate' }}
                 </div>
              </div>
          </div>

          <div ng-switch-default="" class="alert alert-danger">
            <strong>
              {{ "Malformed source" | translate }}
            </strong>
          </div>

        </div>
      </div>

      <textarea ng-model="newCommentContent"></textarea>
      <button class="btn btn-success" ng-click="newComment()" ng-disabled="!newCommentContent || newCommentContent == ''">
        {{ "Add Comment" | translate }}
      </button>
    </div>

    <div class="col-md-8">
      <h3>{{ "Receiver List" | translate }}</h3>
      <div class="table-container">
      <table class="table table-striped table-bordered dataTable" id="receiverList">
        <thead>
          <tr>
            <th>{{ "Name" | translate }}</th>
            <th>{{ "Description" | translate }}</th>
            <th>{{ "Access counter" | translate }}</th>
          </tr>
        </thead>
        <tbody id="receiverListBody">
          <tr ng-repeat="receiver in tip.receivers">
            <td>{{receiver.name}}</td>
            <td>{{receiver.description}}</td>
            <td>{{receiver.access_counter}}</td>
          </tr>
        </tbody>
      </table>
      </div>
      <div ng-show="tip.im_receiver_postponer">
          <a ng-init="expirebutton = false" ng-click="expirebutton =! expirebutton">
              {{ "Postpone Tip expiration date" | translate }}
          </a>
          <div ng-show="expirebutton">
            <p>
              {{ "I want extend the Tip expiration date to" | translate }}
              {{ tip.potential_expiration_date | date:'fullDate' }}
            </p>
            <button type="submit" class="btn btn-success" ng-click="extendTip()">extend</button>
          </div>
      </div>
    </div>

  </div>
</div>

<div ng-cloak="" class="container statusPage" ng-show="tip.im_whistleblower && tip.im_receiver">
  <div class="row">
      <div class="col-md-4">
        {{ "Loading Tip page..." | translate }}
       </div>
   </div>
</div>
