<div class="jumbotron subhead">
  <div class="container">
    <h1>
      {{ "Tip Status Page" | translate }}
    </h1>
  </div>
</div>
<div ng-cloak class="container statusPage" ng-show="tip.im_whistleblower || tip.im_receiver">
  <div class="row">
    <div class="span4">

      {{ "Context details" | translate }}
      <a
          ng-click="no_cinfo = !no_cinfo"
          ng-init="no_cinfo = false">{{ "click to close" | translate }}
      </a>

      <div ng-hide="no_cinfo" class="table-bordered">
          <b>{{ tip.context_name }}</b><br>
          {{ tip.context_description }} <!-- TODO click to see more -->
      </div>

      <div class="table-bordered">
          {{ "This this has been submitted in" | translate }}
          {{ tip.creation_date | date:"fullDate" }}
      </div>

      <dl ng-repeat="(fieldName, fieldValue) in tip.fields">
        <dt>{{fieldFormat[fieldName].name}} ({{fieldFormat[fieldName].hint}})</dt>
        
        <div ng-switch on="fieldFormat[fieldName].type">
          
          <dd ng-switch-when="checkboxes">
            <ul>
              <li ng-repeat="checkbox in fieldFormat[fieldName].options">
              {{checkbox.name}} 
              <span ng-hide="fieldValue[checkbox.name]">&#9744;</span> 
              <span ng-show="fieldValue[checkbox.name]">&#9745;</span>
              </li>
            </ul>
          </dd>

          <dd ng-switch-when="multiple">
            <ul>
              <li ng-repeat="selection in fieldValue">{{selection}}</li>
            </ul>

          <dd ng-switch-default>{{fieldValue}}</dd>

        </div>
      </dl>
    </div>

    <div class="span8">
      <h3>
        {{ "Files" | translate }}
      </h3>
      <div class="well" ng-show="tip.files">
        <h4>{{file.name}}</h4>
        <ul class="unstyled">
          <a class="input-small" ng-click="show_new_files = !show_new_files" ng-init="show_new_files = false" ng-show="!show_new_files && tip.im_receiver">
            {{ "show only files not yet downloaded" | translate }}
          </a>
          <a class="input-small" ng-click="show_new_files = !show_new_files" ng-show="show_new_files && tip.im_receiver">
            {{ "show all the files" | translate }}
          </a>
          <li ng-repeat="file in tip.files">
            <div ng-show="file.downloads == 0 && show_new_files">
              <a ng-cloak ng-show="tip.im_receiver"
                 ng-click="increaseDownloadCount(file)"
                 ng-disabled="file.downloads >= current_context.file_max_downloads"
                class="btn btn-small" ng-href="{{file.href}}">
                 <i class="icon-download"></i> 
                 {{ "download" | translate }}
                 ({{file.downloads}}/{{tip.download_limit}})
              </a>
              <i class="icon-book"></i> {{file.name}}
            </div>

            <div ng-show="!show_new_files">
              <a ng-cloak ng-show="tip.im_receiver"
                 ng-click="increaseDownloadCount(file)"
                 ng-disabled="file.downloads >= current_context.file_max_download"
                 class="btn btn-small" ng-href="{{file.href}}">
                 <i class="icon-download"></i> 
                 {{ "download" | translate }} 
                 ({{file.downloads}}/{{tip.download_limit}})
              </a>
              <i class="icon-book"></i> {{file.name}}
            </div>

          </li>
          <a class="input-small" ng-click="security_checksum = !security_checksum" ng-init="security_checksum = false" ng-show="!security_checksum">
            {{ "show sha256 checksum" | translate }}
          </a>
          <a class="input-small" ng-click="security_checksum = !security_checksum" ng-show="security_checksum">
            {{ "show sha256 checksum" | translate }}
            <i>
              {{ "(click again to hide)" | translate }}
            </i>
          </a>
        </ul>
      </div>
      <div class="well" ng-show="security_checksum">
        <p>
          {{ "Use the" | translate }} 
          <a href="https://en.wikipedia.org/wiki/SHA-2">
            {{ "sha256 hash" | translate }}
          </a> 
          {{ "to verify the file integrity" | translate }}.
          <br>
          {{ "On unix based systems this can be done by running the following command in the directory of the files" | translate }}:
        </p>
        <b>$ shasum -a 256 *</b>
        <div ng-repeat="file in tip.files">
          <code>
            {{file.name}}   {{file.sha2sum}}
          </code>
        </div>
      </div>

      <div class="span4" ng-hide="tip.files"><p>
        {{ "No file has been uploaded!" | translate }}
      </p></div>

      <div ng-cloak ng-show="tip.im_whistleblower">
        <div ng-include="'views/widgets/fileupload.html'" class="span4">
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="span4">
      <h3>
        {{ "Comments" | translate }}
      </h3>
      <div ng-repeat="comment in tip.comments">
        <div ng-switch on="comment.source">

          <div ng-switch-when="whistleblower" class="alert alert-info">
            <strong>
              {{ "Whistleblower" | translate }}
            </strong> {{comment.content}}
          </div>

          <div ng-switch-when="receiver" class="alert alert-success">
            <strong>{{comment.author}}</strong> {{comment.content}}
          </div>

          <div ng-switch-when="system" class="alert alert-warning">
            <strong>
              {{ "System" | translate }}
            </strong> {{comment.content}}
          </div>

          <div ng-switch-default class="alert alert-danger">
            <strong>
              {{ "Malformed source" | translate }}
            </strong>
          </div>

        </div>
      </div>

      <textarea ng-model="newCommentContent"></textarea>
      <button class="btn btn-success" ng-click="newComment()"
              ng-disabled="!newCommentContent || newCommentContent == ''">
        {{ "Add Comment" | translate }}
      </button>
    </div>

    <div class="span8">
      <h3>{{ "Receiver List" | translate }}</h3>
      <div class="table-container">
      <table class="table table-striped table-bordered dataTable" id="receiverList">
        <thead>
          <tr>
            <th>{{ "Name" | translate }}</th>
            <th>{{ "Description" | translate }}</th>
            <th>{{ "Access counter" | translate }}</th>
          </tr>
        </thead>
        <tbody id="receiverListBody">
          <tr ng-repeat="receiver in tip.receivers">
            <td>{{receiver.name}}</td>
            <td>{{receiver.description}}</td>
            <td>{{receiver.access_counter}}</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>

  </div>
</div>

<div ng-cloack class="container" ng-show="!tip">
  <div class="row">
    <div class="span4">
      <h3>{{ "The requested tip does not exist or has expired." | translate }}</h3>
    </div>
   </div>
</div>

<div ng-cloak class="container statusPage" ng-show="tip.im_whistleblower && tip.im_receiver">
  <div class="row">
      <div class="span4">
        {{ "Loading Tip page..." | translate }}
       </div>
   </div>
</div>
