<src-user-warnings></src-user-warnings>
<div id="UserWelcomeMessage" class="reveal">
    <div class="title">{{'Welcome!' | translate}}</div>
    <br />
    <ul>
        <li>
            <span>{{'For the user documentation, visit:' | translate}}</span>
            <a href="https://docs.globaleaks.org" rel="noreferrer" target="_blank">docs.globaleaks.org</a>
        </li>
        <li>
            <span>{{'If you need technical support, have general questions, or have new ideas for the software:' | translate}}</span>
            <a href="https://forum.globaleaks.org" rel="noreferrer" target="_blank">forum.globaleaks.org</a>
        </li>
        <li>
            <span>
                {{'If you want to contribute to software development or report a bug, please open an issue in our ticketing system:' | translate}}
            </span>
            <a href="https://github.com/globaleaks/whistleblowing-software/issues/" rel="noreferrer" target="_blank">github.com/globaleaks/whistleblowing-software/issues</a>
        </li>
        <li>
            <span>{{'Join our chat:' | translate}}</span>
            <a href="https://community.globaleaks.org" rel="noreferrer" target="_blank">community.globaleaks.org</a>
        </li>
    </ul>
</div>
