<fieldset id="SubmissionStepContext">
  <div class="row mb-2" data-ng-if="public.node.contexts_clarification">
    <legend class="col-md-12 title" data-markdown-to-html="public.node.contexts_clarification | stripHtml"></legend>
  </div>
  <div class="row">
    <div data-ng-repeat="context in selectable_contexts | orderBy:contextsOrderPredicate" id="context-{{$index}}" class="{{Utils.getCardSize(selectable_contexts.length)}}" data-ng-click="selectContext(context)">
       <div class="selectCard">
          <div class="row">
            <div class="col-md-12 title">{{context.name}}</div>
          </div>
          <div class="row" data-ng-if="context.picture">
            <div class="col-md-4"><img class="contextImg" alt="context picture" data-ng-if="context.picture" data-ng-src="/s/{{context.id}}" /></div>
          </div>
          <div class="row" data-ng-if="context.description">
            <div class="col-md-12 description">{{context.description}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
