<div id="HomePageBox">
  <div id="Presentation" class="mb-5" data-ng-if="public.node.presentation" data-markdown-to-html="public.node.presentation | stripHtml"></div>
  <div id="WhistleblowerBox" class="d-block mx-auto mb-5">
    <div id="WhistleblowerSubmitBoxButtonDisabled" class="mb-4" data-ng-show="public.node.disable_submissions || (!public.node.https_whistleblower && !connection.tor)">
      <button class="btn btn-danger disabled">
        <i class="fa-solid fa-ban-circle"></i>
        <span data-translate>Submissions disabled</span>
      </button>
    </div>
    <div class="mb-4" data-ng-show="!public.node.https_whistleblower && !connection.tor">
      <p class="text-danger" data-translate>You are connecting to the server without anonymity and this server supports only anonymous submissions</p>
    </div>
    <div id="WhistleblowerSubmitBox" class="mb-5" data-ng-show="!public.node.disable_submissions && (public.node.https_whistleblower || connection.tor)">
      <div id="WhistleblowingQuestion" data-ng-show="public.node.whistleblowing_question" data-markdown-to-html="public.node.whistleblowing_question | stripHtml"></div>
      <button id="WhistleblowingButton" data-ng-click="openSubmission()" class="btn btn-primary">{{public.node.whistleblowing_button}}</button>
    </div>
    <div id="WhistleblowerLoginBox" data-ng-show="public.node.https_whistleblower || connection.tor" data-ng-include="'views/partials/receipt.html'"></div>
  </div>
</div>
