<fieldset id="SubmissionStepReceiver" class="receiverCards" data-ng-if="submission.optional_receivers">
  <legend class="title" data-translate>Select the recipients of your report</legend>
  <div data-ng-if="submission.context.maximum_selectable_receivers !== 0 && !submission.context.select_all_receivers" id="MaxSelectableReceiverBox">
    <div><span data-translate>Recipients selected:</span> {{submission.countSelectedReceivers()}}/{{submission.context.maximum_selectable_receivers}}</div>
    <div class="text-danger" data-ng-if="submission.countSelectedReceivers() === submission.context.maximum_selectable_receivers" data-translate>You have reached the maximum number of selectable recipients.</div>
  </div>
  <div id="ReceiverSelectionBox" class="row">
    <div data-ng-repeat="receiver in submission.receivers | filter: {forcefully_selected: false} | orderBy:receiversOrderPredicate" id="receiver-{{$index}}" class="{{Utils.getCardSize(submission.receivers.length)}}">
      <div data-ng-include="'views/whistleblower/receiver_card.html'"></div>
    </div>
    <div data-ng-if="displayErrors()" class="col-md-12 text-danger" data-translate>You must select at least one recipient.</div>
  </div>
</fieldset>
<div data-ng-if="submission.mandatory_receivers">
  <div class="title" data-translate>The following recipients will receive your report and could not be deselected:</div>
  <div id="ReceiverSelectionBox" class="row">
    <div data-ng-repeat="receiver in submission.receivers | filter: {forcefully_selected: true}" id="receiver-{{$index}}" class="{{Utils.getCardSize(submission.receivers.length)}}">
      <div data-ng-include="'views/whistleblower/receiver_card.html'"></div>
    </div>
  </div>
</div>
