<div data-ng-if="displayErrors()">
  <p data-translate>In this step the answers to the following questions are either missing or invalid:</p>
  <ul data-ng-if="navigation === -1 && context.allow_recipients_selection && !areReceiversSelected()">
    <li data-ng-click="Utils.scrollTo('#SubmissionStepReceiver')" data-translate>Select the recipients of your report</li>
  </ul>
  <ul data-ng-repeat="(key, errors) in stepForm(navigation).$error track by $index">
    <li data-ng-repeat="err in errors" data-ng-controller="SubmissionFieldErrKeyCtrl" data-ng-click="goToQuestion()">{{field.label}}</li>
  </ul>
</div>
