<div class="jumbotron subhead">
  <div ng-cloak="" class="container">

    <div class="row">
      <div class="col-md-3">
        <a href="/#/"><img ng-src="/static/globaleaks_logo.png" class="img-rounded"></a>
      </div>

      <div class="col-md-9">
        <!-- XXX come up with a way to make this inherit from the header.html template -->
        <h1>{{ "New Submission" | translate }}</h1>
      </div>

    </div>

  </div>
</div>

<div class="container" ng-show="!node_info.name">
    <h2>{{ "Loading..." | translate }}</h2>
</div>

<div ng-cloak="" class="container" ng-show="!node_info.configured && node_info.name">
  <h2>{{ "This node is not configured." | translate }}</h2>
  <p>{{ "You will not be able to perform a submission." | translate }}<br />
  {{ "Admin please configure at least one Context and associated Receivers using" | translate }}
  <a href="/#/admin/contexts">
    {{ "Admin management interface" | translate }}
  </a>.</p>
</div>

<div ng-cloak="" ng-controller="WizardCtrl" class="container submission" ng-show="node_info.name && node_info.configured">

  <div class="tabbable tabs-below">

    <ul class="nav nav-tabs">
      <li ng-repeat="step in steps" ng-class="{active: $index==getCurrentStepIndex(), disabled: uploading}">
        <a href="javascript:void(0)" ng-click="goToStep($index)" ng-disabled="uploading">
          <div ng-switch="" on="step">

            <span ng-switch-when="1">
              1 - {{ "Receiver selection" | translate }}
            </span>

            <span ng-switch-when="2">
              2 - {{ "Fill out your submission" | translate }}
            </span>

            <span ng-switch-when="3">
              3 - {{ "Final Step" | translate }}
            </span>

          </div>
        </a>
      </li>
    </ul>

    <div ng-switch="" on="selection">

      <!-- First Step -->
      <div ng-switch-when="1" class="receiverCards">
        <div class="contextPick" ng-show="submission.contexts.length > 1">
            <p class="lead">
            {{ "Choose the context and receivers that will be sure to transform your submission into action!" | translate }}</p>

            <span class="lead" ng-show="node_info.configured">
            {{ "I want to report on" | translate }}</span>

            <select class="form-control contexts" ng-model="submission.current_context" ng-options="context as context.name for context in submission.contexts">
            </select>

        </div>
        <div class="contextPick" ng-hide="submission.contexts.length > 1">
          <span class="lead">
          {{ "I want to report on" | translate }}: 
          </span>
          <span class="label label-default">{{submission.current_context.name}}</span>
        </div>

        <p>{{submission.current_context.description}}</p>

        <div ng-repeat="(idx, receiver) in submission.current_context_receivers">
          <div ng-hide="idx >= submission.current_context_receivers.length/2" class="row">

            <div class="receiverCard col-md-5" ng-class="{selected: submission.receivers_selected[receiver.receiver_gus]}" ng-class-odd="{receiverCardOdd: true}" ng-class-even="{receiverCardEven: true}">

              <div class="row">
                <div class="col-md-9">
                  <img ng-src="/static/{{receiver.receiver_gus}}.png" class="img-polaroid col-md-9">
                </div>
                <div class="col-md-1">
                  <input ng-model="submission.receivers_selected[receiver.receiver_gus]" value="{{receiver.receiver_gus}}" class="receiverSelection" ng-show="submission.current_context.selectable_receiver" type="checkbox"> 
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <h3>{{receiver.name}}</h3>
                  <p>{{receiver.description}}</p>
                </div>
              </div>
            </div>

            <div class="receiverCard col-md-5" ng-hide="idx >= ((submission.current_context_receivers.length - 1)/2)" ng-class="{selected: submission.receivers_selected[submission.current_context_receivers[submission.current_context_receivers.length - idx - 1].receiver_gus]}" ng-class-odd="{receiverCardOdd: true}" ng-class-even="{receiverCardEven: true}">

              <div class="row">
                <div class="col-md-9">
                  <img ng-src="/static/{{submission.current_context_receivers[submission.current_context_receivers.length - idx - 1].receiver_gus}}.png" class="img-polaroid col-md-9">
                </div>
                <div class="col-md-1">
                  <input ng-model="submission.receivers_selected[submission.current_context_receivers[submission.current_context_receivers.length - idx - 1].receiver_gus]" value="{{submission.current_context_receivers[submission.current_context_receivers.length - idx - 1].receiver_gus}}" class="receiverSelection" ng-show="submission.current_context.selectable_receiver" type="checkbox">
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <h3>{{submission.current_context_receivers[submission.current_context_receivers.length - idx - 1].name}}</h3>
                  <p>{{submission.current_context_receivers[submission.current_context_receivers.length - idx - 1].description}}</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- /1 -->

      <!-- Second Step -->
      <div ng-switch-when="2">

        <p class="lead">
        {{ "Enter the information that is relevant to your submission and possibly upload the relevant accompanying files" | translate }}</p>
        <p>{{submission.current_context.description}}</p>

        <div class="row">

            <div ng-form="submissionForm" ng-controller="SubmissionFormController"> 
              <div class="col-md-6 submissionDetails" ng-include="Templates.submission.form"></div>
            </div>

          <div ng-include="'views/widgets/fileupload.html'" class="col-md-4">
          </div>

        </div>

      </div>
      <!-- /2 -->

      <!-- Third Step -->
      <div ng-switch-when="3">

        <div class="row">

          <div class="col-md-12">
            <p class="lead">
            {{ "To ensure your anonymity be sure that you are visiting this site using the" | translate }}
            <a href="http://www.torproject.us/projects/torbrowser.html">Tor Browser Bundle</a>
            </p>

            <p class="lead">
            {{ "You acknowledge that failure to do so will result in the inability to technically protect your anonymity." | translate }}
            </p>

            <p class="lead">
              {{ "To further enhance your security, please follow these instructions:" | translate }}
            </p>

            <ul class="lead">
              <li>{{ "In the event that you would like to remain anonymous, do not submit any personal information. (e.g. your name or relationship to the offender. Do not submit any information that can be traced back to you.)" | translate }}</li>
              <li>{{ "Please do not submit your report on a PC provided by your employer. Particularly an intranet connection may jeopardize your anonymity." | translate }}</li>
            </ul>

            <p class="lead">
              {{ "By checking the box below you agree to these terms and conditions." | translate }}
            </p>
            <div class="form-group">
              <input ng-model="disclaimer.accepted" value="true" type="checkbox"> 
              <label>{{ "Agree" | translate }}</label>
            </div>

          </div>

        </div>

      </div>
      <!-- /3 -->

    </div>

    <!-- END steps -->
    <div class="clearfix"></div>
    <ul class="pager pull-left">

      <li ng-class="{disabled: !hasPreviousStep() || uploading}" class="previous">
        <a ng-click="decrementStep()">
          ← {{ "Previous Step" | translate }}
        </a>
      </li>
      <li class="next" ng-class="{disabled: uploading}" ng-hide="!hasNextStep()">
        <a ng-click="incrementStep()">
          {{ "Next Step" | translate }} →
        </a>
      </li>

      <li class="next" ng-show="!hasNextStep()">

        <button class="btn btn-success" ng-click="submit()" ng-disabled="uploading || !disclaimer.accepted || invalidForm || !receiver_selected">
          {{ "Submit" | translate }}
        </button>
      </li>

    </ul>

    <div class="pull-right">
      <button class="btn btn-success" style="margin: 20px 0;" ng-click="submit()" ng-hide="!hasNextStep()" ng-disabled="uploading || !disclaimer.accepted || invalidForm || !receiver_selected">
        {{ "Submit" | translate }}
      </button>

    </div>
    <div class="clearfix"></div>
  </div>

</div>

<!-- This will be visualized once the subission is created -->
<div class="submission-receipt modal" ng-show="submission.completed">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{ "Submission Created!" | translate }}</h3>
      </div>
      <div class="modal-body">

        <p>
        {{ "This receipt will allow you to login as the whistleblower for this Tip." | translate }}
        {{ "Through this system receivers will be able to ask you questions on the Tip and you will be able to write a reply." | translate }} 
        {{ "You will also be able to keep track of who has viewed your submission and downloaded the files." | translate }}
        {{ "Moreover, it will allow you to add other files to your submission." | translate }} 
        </p>

        <p>
        {{ "Beware of the fact that this receipt, if fallen into the wrong hands, will lead to identifying you as the whistleblower for this Tip." | translate }}
        </p>
    
        <p>
        {{ "If you are interested in keeping it, please save it in a secure place and make sure it does not fall into the wrong hands" | translate }} 
        </p>

        <h2>{{submission.receipt}}</h2>

        <p>
        {{ "Please copy in the box below your receipt to access the tip interface." | translate }} 
        </p>
        <input class="form-control" ng-model="receiptConfirmation" type="text">

      </div>
      <div class="modal-footer">
        <a ng-click="view_tip(submission.receipt)" ng-disabled="submission.receipt != receiptConfirmation" class="btn btn-primary">
           {{ "View Tip" | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End -->
