<div class="col-md-8">
  <div data-ng-show="preferences.pgp_key_info">
    <div class="alert alert-success">
      <span data-translate>Encryption is enabled!</span>
      <span data-translate>Notifications and Files will be encrypted.</span>
    </div>

    <p>
      <span data-translate>PGP Key details</span>
      <br />
      <span data-translate>The fingerprint is:</span>
      <b>{{preferences.pgp_key_fingerprint}}</b>
    </p>

    <div>
      <pre>{{preferences.pgp_key_info}}</pre>
    </div>

    <div class="form-group" data-ng-show="preferences.pgp_key_fingerprint">
      <input data-ng-model="preferences.pgp_key_remove" type="checkbox">
      <label data-translate>Remove the PGP key</label>
    </div>
  </div>

  <div class="form-group">
    <div class="alert alert-danger" data-ng-hide="preferences.pgp_key_fingerprint" data-ng-click="pgp_marketing = ! pgp_marketing" data-ng-init="pgp_marketing=false">
      <b><span data-translate>Encryption has not been enabled!</span></b>
  </div>

  <div class="form-group" data-ng-hide="preferences.pgp_key_fingerprint" data-ng-controller="PGPConfigCtrl">
    <button class="btn btn-success" data-ng-init="send_key=false" data-ng-click="send_key = !send_key">
      <i class="glyphicon glyphicon-plus" data-ng-hide="send_key"></i>
      <i class="glyphicon glyphicon-minus" data-ng-show="send_key"></i>
      <span data-translate>Configure a PGP key</span>
    </button>

    <div data-ng-show="send_key">
        <br />
        <button class="btn btn-success" data-ng-click="generate_key()">
        <span data-translate>Generate PGP Key</span>
        </button>
        <span>or paste or drag&drop here:</span>
        <br />
        <br />
        <br />
        <label data-translate>PGP Public Key:</label>
        <textarea file-dropzone max-file-size="1" rows="10" class="form-control" data-ng-model="preferences.pgp_key_public"></textarea>
    </div>

  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success" data-ng-click="pref_save()">
    <i class="glyphicon glyphicon-ok"></i>
    <span data-translate>Update notification and encryption settings</span>
    </button>
  </div>
</div>

</div>
