<div class="col-md-8">
  <div class="form-group">
    <input data-ng-model="preferences.tip_notification" type="checkbox">
    <label>
      <span data-translate>Enable submission notification</span>
    </label>
    <div data-ng-show="preferences.tip_notification">
      <span class="btn-primary">
        <span data-translate>Enabled</span>
      </span>
    </div>
  </div>

  <button type="submit" class="btn btn-success" data-ng-click="save()">
    <i class="glyphicon glyphicon-ok"></i>
    <span data-translate>Update notification settings</span>
  </button>
</div>
