.adminConfigSection {
  margin-bottom: 1rem;
}

.configItem {
  background-color: #F5F7FA;
  border: 1px solid #C8D1E0;
  padding: 1rem;
  margin: 1rem auto;
}

#StepAddBox, #StepsEditBox, #FieldsEditBox, #ContextAdvancedSettingsBox, #SubstateEditBox {
  margin-top: 1rem
}

.addField, .addFieldFromTemplate {
  clear: both;
  margin-bottom: 1rem;
}

.field {
  position: relative;
  border: 1px solid #C8D1E0;
  margin-bottom: 1rem;
}

.editorHeader {
  background-color: #F5F7FA;
}

.editorTitle {
  font-size: 1.2rem;
}

.fieldOption {
  margin-bottom: 1rem;
}

.selectionList {
  background-color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid #C8D1E0;
}

text.axis-workweek, text.axis-worktime {
  fill: #000;
}

.license, .changelogmsg {
  white-space: pre-line;
  width: 87ch;
}

.non-default-language, .disabled-icon {
  opacity: 0.2;
}

.non-default-language:hover {
  opacity: 1;
}

.selectionList {
  list-style-type: none;
  overflow: auto;
  max-height: 8rem;
}

[dir="ltr"] .imageUpload .changePictureButton {
  left: 1rem;
}

[dir="rtl"] .imageUpload .changePictureButton {
  right: 1rem;
}
