#HomePageBox {
  text-align: center;
  color: #5a5a5a;
  font-size: 1em;
  margin: 0 auto;
}

#HomePageBox .btn {
  font-size: inherit;
}

#NodePresentation {
  font-size: 1.3em;
}

#NodePresentation,
#WhistleblowerSubmitBox {
  margin-bottom: 2em;
}

#NodePresentation,
#WhistleblowerSubmitBoxHeader,
#WhistleblowerLoginPrompt {
  white-space: pre-wrap;
}

#WhistleblowerSubmitBox, #WhistleblowerReceiptBox {
  font-size: 1.2em;
}

#DonationPanel {
  margin-top: 3em;
}
