#HomePageBox {
  text-align: center;
  color: #5a5a5a;
  font-size: 1em;
  margin: 0 auto;
  height: 200px;
}

#NodeIntro, #WhistleblowerSubmitBox, #WhistleblowerReceiptBox, #GlobaLeaksInfoBox {
  font-size: 1.2em;
}

#NodeIntro {
  margin-bottom: 3em;
}

#WhistleblowerSubmitBox {
  margin-bottom: 2em;
}

#WhistleblowerReceiptBox {
  margin-bottom: 5em;
}

#NodeIntroPresentation {
  font-size: 1.6em;
  white-space: pre-wrap;
}

#NodeIntroDescription {
  font-size: 1.4em;
  white-space: pre-wrap;
}

#WhistleblowerSubmitBoxHeader {
  font-size: 1.4em;
}

#WhistleblowerSubmitBoxButton .btn {
  font-size: 1.2em;
}
