.block-user-input {
  pointer-events: none;
  user-select: none;
}

#BrowserNotSupported {
  display: none;
  padding: 30px;
}

#PageOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  text-align: center;
  z-index: 2147483647;
  pointer-events: none;
  user-select: none;
  background-color: #FFF;
  opacity: 0.2;
}

#Loader {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.loader {
  border: 0.5rem solid #CCC;
  border-top: 0.5rem solid #AAA;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
