* {
  word-wrap: break-word;
}

html {
  height: 100%;
  background-color: #FFF;
}

body {
  background-color: #FFF;
  position: relative;
  margin: 0;
}

@media (min-width: 992px) {
  body {
    min-height: 100%;
    padding-bottom: 10em;
  }

  #FooterBox {
    position: absolute;
    bottom: 0;
  }
}

.container-fluid {
  width: 95%;
  padding: 3em;
  margin: 0;
}

#ContentBox {
  padding: 2em;
}

#FooterBox {
  background-color: #f5f5f5;
  width: 100%;
  padding: 1em;
  border-top: 1px solid #E5E5E5;
  background-color: #F5F5F5;
  color: #333;
  text-align: center;
  font-size: 1.25em;
}

#AttributionClause {
  margin-top: 0.5em;
}

a, a:hover, a:active, a:focus {
  outline: 0;
}

input, textarea, select {
  padding-bottom: 0.5em;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

.title1, .title2, .title3 {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  line-height: 1.25em;
}

.title1 {
  font-size: 1.3em;
  font-weight: bold;
}

.title2 {
  font-size: 1.2em;
}

.title3 {
  font-size: 1.25em;
}

#HeaderBox {
  color: #FFF;
  background: #428bca;
  border-bottom: 1px solid #357ebd;
}

#HeaderBox:after, #HeaderBox:after {
  clear: both;
  content: "";
  display: block;
}

#MessagesConsoleBox {
  width: 15%;
  position: fixed;
  z-index: 10;
  top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

#LogoBox, #TitleBox, #UserBox {
  margin: 1em;
  z-index: 10;
  height: 10em;
  width: auto;
}

#PageTitle {
  font-size: 2em;
  font-weight: bold;
  white-space: pre-wrap;
}

#PageSubtitle {
  font-size: 2em;
  font-weight: bold;
}

#PageTitle, #PageSubtitle, #PageSubtitleSeparator {
  display: inline;
}

#LanguagePickerBox {
  margin-bottom: 0.8em;
}

#LoginStatusBox, #LoginFormBox {
  color: #000;
  padding: 1em;
  background-color: #FFF;
  border-radius: 5px;
}

#LogoBox img {
  height: 100%;
  border-radius: 5px;
}

/** Submission details **/

.keycode {
    text-align: center;
}
.keycode h2 {
    font-family: sans-serif
}

#PrivacyBadgeBox {
  background-color: #222;
  color: #FFF;
  font-size: 1em;
  padding: 0.8em 1.25em 0.8em 1.25em;
}

.tab-content {
  padding-top: 20px;
}

.preformatted {
  white-space: pre-wrap;
}

.imageUpload {
  position: relative;
  width: 10em;
  height: 10em;
  border: 1px solid #DDD;
  z-index: 0;
  text-align: center;
}

.imageUpload .changePicture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.8em;
  text-align: center;
  z-index: 2;
}

.imageUpload .deletePicture {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.imageUploadThumbnail {
  position: absolute;
  top: 0;
  left: 0;
}

.imageThumbnail, .imageUploadThumbnail, .contextCardFrame, .receiverCardFrame {
  height: 10em;
  margin-bottom: 1em;
}

.contextListContent {
  height: 5em;
}

.contextListContent div, .contextListContent span,
.contextFrame div, .contextFrame span,
.receiverFrame div, .receiverFrame span {
  padding: 0.5em;
}

.imageUploadThumbnailContent, .contextImg, .receiverImg {
  background-color: #FFF;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  vertical-align: middle;
  text-align: center;
  z-index: 1;
}

#titleboxdefault {
  display: block;
}

#titleboxoneline {
  display: inline-block;
}

/** Wizard **/
.wizard-block {
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
  box-shadow: none;
  padding-top: 1em;
  padding-bottom: 1em;
}

.wizard-block .title {
  position: relative;
  font-size: 1.125em;
  color: #aaa;
  margin: 1em;
}

.wizard-help-hint {
  border-left: 3px solid #8a6d3b;
  background-color: #fcf8e3;
  padding: 1.25em;
}

.wizard-receiver-password {
  font-size: 1em;
}

.LoginErrorBox {
  margin-top: 0.8em;
}

.LoginErrorBox {
  margin: 0.2em;
}

.LoginErrorBox .alert {
  margin: 0;
}

.LoginErrorBoxHomepage {
  text-align: center;
  margin: 0.2px;
}

.keyinput {
  width: inherit;
  display: inline;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}

.IntroBoxBody {
  width: 80%;
  margin: 0 auto;
}

.IntroModalTitle {
  font-size: 30px;
  font-weight: bold;
}

#IntroBox #LanguagePreselectorBox {
  text-align: center;
}

#IntroBox .LanguagePreselectorBoxElem {
  height: 200px;
  width: 200px;
  margin: 0;
  border: 1px #000 solid;
  display: inline-block;
}

#IntroBox .LanguagePreselectorBoxElemText {
  margin: 0;
  position: relative;
  top: 40%;
  text-align: center;
}

.LanguageSelected {
  background-color: #EEE;
}

.nested {
  padding-left: 1em;
  padding-right: 1em;
}

.imgPreview {
  height: 11.25em;
  width: 11.25em;
}

.imgPreview img {
  height: 100%;
  width: 100%;
}

.fileUploadBox {
  margin-bottom: 0.8em;
}

.fileUploadProgress {
  position: absolute;
  top: 0;
  z-index: 100;
  height: 11.25em;
  width: 11.25em;
  text-align: center;
  line-height: 11.25em;
}

.fileUploadProgressOverlay {
  background-color: black;
  opacity: 0.3;
  height: 11.25em;
  width: 11.25em;
  position: absolute;
  top: 0;
}

.fileUploadIcon {
  font-size: 3em;
  color: white;
}

#EmbeddedReceiptBox {
  text-align: center;
}

#ReceiverToolbar {
  margin-bottom: 1.25em;
}

.label-as-badge {
  margin-left: 0px;
  margin-right: 3px;
  border-radius: 1em;
}

.modal-title {
  font-size: 24px;
  font-weight: bold;
}

.hiddenButton {
  display: none;
  visibility: hidden;
}

#TipList table {
  table-layout: auto;
}

#TipList th, #TipList td {
  white-space: nowrap;
  min-width: 5em;
}

.invisible {
  opacity: 0;
}

.fadeInAndOut {
   -webkit-animation: fadeinout 4s linear forwards;
   animation: fadeinout 4s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

.fadeIn {
  visibility: visible;
  opacity: 1;
  transition: opacity 2s linear;
}

.file-upload-error {
  margin-top: 10px;
}

.verticalAlignHelper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.filename {
  font-size: 1em;
  font-weight: bold;
}

.file-info-row {
  margin-top: 10px;
}

.wbfile label {
  margin: 0;
}

.wbfile .top-row {
  min-height: 30px;
}

.side-spaced {
  margin-left: 2px;
  margin-right: 2px;
}

.text-bold {
  font-weight: bold;
}
