* {
  word-wrap: break-word;
  word-break: break-word;
}

html, body {
  color: #222;
  background-color: #FFF;
  height: 100%;
  min-height: 400px;
  font-family: Helvetica, Arial, sans-serif;
}

[dir] .container-fluid {
  padding: 0;
  overflow-x: hidden;
}

#PageContent {
  flex: 1 0 auto;
}

#ContentBox, #NoScript, #FooterBox, #DemoBadge {
  padding: 2rem;
}

#FooterBox {
  border-top: 1px solid #E5E5E5;
  background-color: #F5F5F5;
  text-align: center;
  font-size: 1.25rem;
}

a, a:hover, a:active, a:focus {
  outline: 0;
}

input, textarea, select {
  padding-bottom: 0.5rem;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

#HeaderBox {
  color: #FFF;
  background-color: #428bca;
  padding: 1rem;
}

#HeaderBox:after {
  clear: both;
  content: "";
  display: block;
}

#MessagesConsoleBox {
  position: fixed;
  width: 20%;
  min-width: 20rem;
  z-index: 10;
  top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

#LogoBox, #TitleBox, #UserBox {
  z-index: 10;
  padding: 1rem;
}

#LogoBox {
  width: 16rem;
}

#TitleBox {
  font-size: 2rem;
  font-weight: bold;
  white-space: pre-wrap;
}

#LanguagePickerBox, #LoginStatusBox, #LoginFormBox {
  display: flex;
}

.language-link {
  color: #FFF;
}

.language-link-selected {
  color: #000;
}

#LoginStatusBox, #LoginFormBox {
  color: #000;
  padding: 1rem;
  background-color: #FFF;
  border-radius: 5px;
}

#LoginFormBox {
  text-align: center;
}

#LogoBox img {
  max-height: 12rem;
}

.receipt {
  text-align: center;
}

#PrivacyBadge {
  background-color: #222;
  color: #FFF;
  font-size: 1rem;
  padding: 1rem;
}

.title1, .title2, .title3 {
  margin-top: 1rem;
  margin-bottom: 1em;
  line-height: 1.25rem;
}

.title1 {
  font-size: 1.3rem;
  font-weight: bold;
}

.title2 {
  font-size: 1.2rem;
}

.title3 {
  font-size: 1.1rem;
}

.tab-content {
  padding-top: 1rem;
}

.preformatted {
  white-space: pre-wrap;
}

.imageUpload {
  position: relative;
  width: 10rem;
  height: 10rem;
  border: 1px solid #DDD;
  z-index: 0;
  text-align: center;
}

#wizardLicense {
  max-height: 20rem;
  overflow-y: scroll;
  border: 1px solid #CCC;
  padding: 1rem;
}

.imageUpload .changePictureButton,
.imageUpload .deletePictureButton {
  position: absolute;
  bottom: 1rem;
  text-align: center;
  z-index: 10;
}

.imageUploadThumbnail {
  position: absolute;
  top: 0;
  left: 0;
}

.imageThumbnail, .imageUploadThumbnail, .contextCardFrame, .receiverCardFrame {
  height: 10rem;
  margin-bottom: 1rem;
}

.contextListContent {
  height: 5rem;
}

.contextListContent div, .contextListContent span,
.contextFrame div, .contextFrame span,
.receiverFrame div, .receiverFrame span {
  padding: 0.5rem;
}

.imageUploadThumbnailContent, .contextImg, .receiverImg {
  background-color: #FFF;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  vertical-align: middle;
  text-align: center;
  z-index: 1;
}

.wizard-block {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.wizard-block .title {
  position: relative;
  font-size: 1.2rem;
  color: #000;
  margin-bottom: 1rem;
}

.wizard-help-hint {
  border-left: 3px solid #8a6d3b;
  background-color: #fcf8e3;
  padding: 1.25rem;
}

.LoginErrorBox, .LoginErrorBoxHomepage {
  display: inline-block;
}

.LoginErrorBox {
  margin: 0.2rem;
}

.LoginErrorBoxHomepage {
  text-align: center;
  margin: 0.2rem;
}

#WhistleblowerLoginForm .input-group {
  width: 20rem;
}

.receiptinput, .recoverykeyinput {
  text-align: center;
}

.recoverykeyinput {
  width: 64rem;
}

.nested {
  padding-left: 1rem;
  padding-right: 1rem;
}

.imgPreview {
  height: 10rem;
  width: 10rem;
}

.imgPreview img {
  height: 100%;
  width: 100%;
}

.fileUpload {
  position: absolute;
  top: 0;
  z-index: 100;
  height: 10rem;
  width: 10rem;
  text-align: center;
  line-height: 10rem;
  border: 1px solid #CCC;
}

.fileUploadIconSmall {
  position: absolute;
  font-size: 10rem;
  color: #000;
  top: 0;
  right: 0;
}

.fileUploadIcon {
  font-size: 2rem;
  color: #000;
}

.fileUploadProgress {
  margin-top: 0.5rem;
}

#Toolbar {
  margin-bottom: 1.25rem;
}

.modal-title {
  font-size: 1.3rem;
}

#TipList table {
  table-layout: auto;
}

#TipList th, #TipList td {
  white-space: nowrap;
  min-width: 5rem;
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

.file-info-row {
  margin-top: 10px;
}

.wbfile .top-row {
  min-height: 30px;
}

.disabled-interface {
  pointer-events: none;
  user-select: none;
  background-color: #eee;
  opacity: 0.60;
  filter: alpha(opacity=0.60);
}

textarea.form-control {
  resize: vertical;
}

.textarea-btn {
  position: absolute;
  top: 2rem;
}

input[type="file"] {
  color: transparent;
  width: 0.1px;
  height: 0.1px;
  line-height: normal;
  z-index: 0;
}

.fa-none:before {
  content: "\2122";
  color: transparent;
}

.sup {
  vertical-align: super;
  font-size: smaller;
}

.tos-text {
  display: block;
  padding: 10px;
  background-color: #f5f5f5;
  color: #333;
  border: 1px solid #ccc;
  max-height: 15rem;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.1;
}

.nav, .pagination, .carousel, .card-title a {
  cursor: pointer;
}

.card {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .modal-lg .modal-dialog {
    width: 600px;
  }
}

.drag-drop {
  padding: 15px;
  border: 2px #f1f1f1 dashed;
  border-radius: 5px;
  line-height: 34px;
}

.drag-over {
  border-color: #007bff;
}

.custom-file {
  width: auto;
}

.custom-file-label::after {
  opacity: 0;
}

.textarea-btn {
  right: 1rem;
}

#creditCard {
  width: 20rem;
}

.nav-link.active .fa-chevron-right {
  color: #000;
}

[dir] label {
  margin: 0;
}
