@media print {
  #PrivacyBadge,
  #Toolbar,
  #TipInfoBox .panel-heading,
  .popover *,
  .popover .arrow,
  .fa-collapse-down,
  .fa-fullscreen {
    display: none;
  }

  .pdf-print #UserBox,
  .pdf-print .tooltip {
    display: none;
  }

  @page {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  html,
  body {
    padding-top: 72px;
    padding-bottom: 72px;
  }

  @page :footer {
    display: none
  }

  @page :header {
    display: none
  }

  #UserBox,.tooltip{
    display: none;
  }

  #HeaderBox2 {
    display: none
  }
}
