html[dir="rtl"] input[type=email],
html[dir="ltr"] input[type=email],
html[dir="rtl"] #creditCard,
html[dir="ltr"] #creditCard,
html[dir="rtl"] #KeyCodeBox,
html[dir="ltr"] #KeyCodeBox {
  direction: ltr;
}
html[dir="rtl"] .fa-arrow-right:before {
  content: "\f060"; }

html[dir="rtl"] .fa-arrow-left:before {
  content: "\f061"; }

html[dir="rtl"] .fa-arrow-circle-right:before {
  content: "\f0a8"; }

html[dir="rtl"] .fa-arrow-circle-left:before {
  content: "\f0a9"; }
