[dir="rtl"] #PrivacyBadgeTextBox {
  text-align: right;
}

[dir="rtl"] #HeaderBoxContentLeft {
  float: right;
}

[dir="rtl"] #HeaderBoxContentRight {
  float: left;
}

[dir="rtl"] #LogoBox {
  float: right;
}

[dir="rtl"] #TitleBox {
  float: right;
}

[dir="rtl"] .LoginErrorBox {
  text-align: right;
}

[dir="rtl"] #KeyCodeHintBox {
  margin-left: 0;
  margin-right: 30px;
  box-shadow: -2px 1px 5px #888888;
}

[dir="rtl"] #KeyCodeHintBox:after {
  border-width: 15px 0 15px 15px;
  left: none;
  right: -15px;
}

[dir="rtl"] #StepNavBar, [dir="rtl"] .SubmissionNavButton {
  margin-left: 10px;
  margin-right: 0px;
}

[dir="rtl"] .nested {
  padding-right: 15px;
  padding-left: 0;
}

[dir="rtl"] .label-as-badge {
  margin-left: 3px;
  margin-right: 0px;
  border-radius: 1em;
}

[dir="rtl"] .text-align-left {
  text-align: right;
}

[dir="rtl"] .text-align-right {
  text-align: left;
}
