.contextClarification {
  font-size: 1.125em;
}

.contextClarification,
.contextListDescription,
.contextCardDescription,
.receiverDescription,
.stepDescription,
.fieldDescription
{
  color: #333;
  white-space: pre-wrap;
}

.contextCards, .receiverCards {
  position: relative;
}

.contextCard, .contextList, .receiverCard {
  margin-bottom: 1em;
  padding: 1em;
  background-color: white;
  border: 1px solid #DDD;
  border-radius: 4px;
  word-wrap: break-word;
}

.contextCardTitle, .receiverCardTitle {
  margin-bottom: 0.8em;
}

.receiverCard.selected, .contextCard:hover {
  background-color: #fcf8e3;
}

.receiverCard.disabled {
  background-color: #f2dede;
}

.fieldAnswerEntry {
  margin-top: 15px;
}

.fieldAnswerEntryFirst {
  margin-top: 0px;
}

.fieldAnswerEntryLast {
  margin-bottom: 0.8em;
}

.fieldAnswerEntryLabel:after {
  content:'';
  display:block;
  clear: both;
}

.submissionFieldInput {
  padding-left: 0.8em;
}

#StepTitle {
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1.25em;
}

.fileName {
  word-break: break-all;
  word-wrap: break-word;
}

#MaxSelectableReceiverBox {
  margin-bottom: 20px;
}

#KeyCodeThanks1 {
  font-size: 30px;
  font-weight: bold;
}

#KeyCodeThanks2 {
  font-size: 24px;
}

#KeyCodeBox {
  background-color: #F5F5F5;
  border: 1px solid #222;
  margin-top: 0.8em;
  margin-bottom: 1.25em;
  padding: 0.8em;
}

#KeyCodeHintBox {
  position: relative;
  padding: 0.8em;
  background: #FFF;
  border-radius: 5px;
  border: 1px solid rgb(204, 204, 204);
}

html[dir="ltr"] #KeyCodeHintBox:after {
  margin-right: 30px;
}

html[dir="rtl"] #KeyCodeHintBox:after {
  margin-left: 30px;
}

#KeyCodeHintBox:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-color: transparent #ccc;
  display: block;
  width: 0;
  top: 17px;
  z-index: 1;
}

html[dir="ltr"] #KeyCodeHintBox:after {
  left: -15px;
  border-width: 15px 15px 15px 0px;
}

html[dir="rtl"] #KeyCodeHintBox:after {
  right: -15px;
  border-width: 15px 0px 15px 15px;
}

#KeyCode {
  margin: 1.25em auto;
  padding: 1.25em;
  width: 80%;
  text-align: center;
  font-family: monospace;
  font-size: 1.25em;
  font-weight: bold;
  background-color: #FFF;
  border-radius: 0.8em;
  direction: ltr;
}

#SubmissionButtons button {
  margin-left: 0px;
  margin-right: 0.8em;
}

#SubmissionErrors {
  margin-top: 20px;
}

#FileUploadsHeader {
  font-size: 1.25em;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.fileuploadprogress {
  position: relative;
  width: 11.25em;
  bottom: 0px;
}

.tos-clause {
  display: block;
  padding: 10px;
  margin: 0 0 0.8em;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  white-space: pre-wrap;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tos-agreement {
  font-weight: bold;
}

.radio label, .checkbox label {
  display: block;
}

.cc-text-1 {
  font-size: 35px;
}

.cc-text-2 {
  font-size: 1.25em;
}

#creditCard {
  width: 20em;
  direction: ltr;
}

.err-link {
  padding: 2px 4px;
  background-color: #f9f2f4;
  border-radius: 4px;
  color: #c7254e;
}

.red-asterisk {
  color: red;
  vertical-align: super;
  font-size: smaller;
}

.question-label {
  font-weight: bold;
}

.question-body {
  padding-bottom: 1.4em;
}

.nested-question {
  font-size: 0.9em;
}

html[dir="ltr"] .question {
  padding: 0 0 0 0.8em;
}

html[dir="rtl"] .question {
  padding: 0 0.8em 0 0;
}
