#contextClarification {
  font-size: 1.2rem;
}

#contextClarification,
.contextCardDescription,
.receiverDescription,
.stepDescription,
.fieldDescription
{
  color: #333840;
  white-space: pre-wrap;
}

.fieldDescription {
  font-size: 1rem;
}

.contextCards, .receiverCards {
  position: relative;
}

.contextCard {
  cursor: pointer;
}

.contextCard, .receiverCard {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #FFF;
  border: 1px solid #AFBACC;
  border-radius: 4px;
  word-wrap: break-word;
}

.contextImg {
  width: auto;
  height: auto;
  max-height: 10em;
}

.contextCardTitle, .receiverCardTitle {
  margin-bottom: 1rem;
}

.contextCard:hover, .receiverCard.selected {
  background-color: #428bca;
  color: #FFF;
}

.receiverCard.disabled {
  background-color: #f2dede;
}

#selectedContext {
  font-weight: bold;
  margin-bottom: 1rem;
}

.fieldAnswerEntry {
  margin-top: 1rem;
}

.fieldAnswerEntryFirst {
  margin-top: 0px;
}

.fieldAnswerEntryLast {
  margin-bottom: 1rem;
}

.fieldAnswerEntryLabel:after {
  content:'';
  display:block;
  clear: both;
}

.submissionFieldInput {
  padding-left: 1rem;
}

#StepTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
}

.fileName {
  word-break: break-all;
  word-wrap: break-word;
}

#MaxSelectableReceiverBox {
  margin-bottom: 1rem;
}

.code {
  color: 000;
  background: #eee;
}

#KeyCodeBox {
  background-color: #f5f7fa;
  margin: 1rem auto;
  padding: 1rem;
  width: 80%;
  text-align: center;
  font-family: monospace;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 3px;
}

#SubmissionButtons button {
  margin-left: 0px;
  margin-right: 1rem;
}

#SubmissionErrors {
  margin-top: 1rem;
}

#FileUploadsHeader {
  font-size: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.cc-text-1 {
  font-size: 2rem;
}

.cc-text-2 {
  font-size: 1.2rem;
}

.err-link {
  padding: 0.2rem 0.4rem;
  background-color: #faf0f0;
  border-radius: 3px;
  color: #DE1B1B;
}

.question-label {
  font-weight: bold;
}

.question-body {
  padding-bottom: 1rem;
}

.question .question {
  padding: 0 0 0 1rem;
}

.mapoutline {
  fill: #333840;
  stroke: #000;
  stroke-width: 1.5px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  font: 1rem;
  background: #fff;
  border: 0px;
  font-weight: bold;
  pointer-events: none;
}

.fileButtons {
  position: absolute;
  top: 0;
  z-index: 666;
  height: 10rem;
  width: 10rem;
  padding: 1rem;
}

.fileButtons {
  text-align: right;
}
