.selectedTip,
.table-striped > tbody > tr.selectedTip:nth-child(odd) > td {
  background-color: #FFF3CA;
}

.tip-action-open {
  cursor: pointer;
}

.fieldAnswer {
  margin-bottom: 1rem;
}

.TipLabel {
  color: #3777BC;
}

#SearchFilter {
  margin: 0 0.4rem;
}
