<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">{{ 'Reports' | translate }}</div>
      <div class="card-body text-center">
        <h2>{{ charts[0].total }}</h2>
      </div>
    </div>
  </div>
</div>

<div class="row">
  @for (chart of charts; track chart; let i = $index) {
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">{{ chart.title | translate }}</div>
        <div class="card-body analyst-graph">
          <canvas baseChart class="chart chart-pie" [type]="'pie'" [labels]="chart.labels" [datasets]="chart.datasets" [legend]="true">
          </canvas>
        </div>
      </div>
    </div>
  }
</div>
