<div class="templateFieldAdder">
  <div class="row">
    <div class="col-md-6">
      <div class="templateFieldCard">
        <h2>Some field name</h2>
      </div>
    </div>
    <div class="col-md-6">
      <div class="templateFieldCard">
        <h2>Some field name</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="templateFieldCard">
        <h2>Some field name</h2>
      </div>
    </div>
    <div class="col-md-6">
      <div class="templateFieldCard">
        <h2>Some field name</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="templateFieldCard">
        <h2>Some field name</h2>
      </div>
    </div>
    <div class="col-md-6">
      <div class="templateFieldCard">
        <h2>Some field name</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="templateFieldCard">
        <h2>Some field name</h2>
      </div>
    </div>
    <div class="col-md-6">
      <div class="templateFieldCard">
        <h2>Some field name</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="templateFieldCard">
        <h2>Some field name</h2>
      </div>
    </div>
    <div class="col-md-6">
      <div class="templateFieldCard">
        <h2>Some field name</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="templateFieldCard">
        <h2>Some field name</h2>
      </div>
    </div>
    <div class="col-md-6">
      <div class="templateFieldCard">
        <h2>Some field name</h2>
      </div>
    </div>
  </div>
</div>
