<!-- 

This comment is needed in order to push the following strings on transifex

{{ "Advanced Settings" | translate }}
{{ "Administration Interface" | translate }}

-->
<div ng-include="'views/header.html'"
     onload="header_title='Advanced Settings';
             header_subtitle='Administration Interface'">
</div>

<div class="container config-page">
  <div class="row">
    <div class="col-md-3 config-sidebar" ng-include="'views/admin/sidebar.html'"></div>
    <div class="col-md-9">

      <div class="row">
        <form class="config-form" ng-controller="AdminAdvancedCtrl">

          <tabset>
            <tab ng-repeat="tab in tabs" heading="{{ tab.title | translate }}" active="tab.active" disabled="tab.disabled">
            <div ng-include="tab.template" ng-controller="tab.ctrl" class="content-tab"></div>
            </tab>
          </tabset>

          <div class="form-group">
            <button class="btn btn-success" ng-disabled="contentForm.$invalid " ng-click="updateNode(admin.node)">
              <i class="glyphicon glyphicon-ok"></i>
              {{ "Save" | translate }}
            </button>
          </div>

        </form>
      </div>
    </div>

  </div>
</div>
