<div ng-include="'views/header.html'"
  onload="header_title='Advanced Configuration';
  header_subtitle='Administration Interface'"
>
</div>

<div class="container config-page">

  <div class="row">
    <!-- Begin Nav Bar -->
    <!--  Note the use of "''", yeah two of them.
            This is the ng-inlcude directive:
            http://docs.angularjs.org/api/ng.directive:ngInclude
      -->
    <div class="span3 config-sidebar"
      ng-include="'views/admin/sidebar.html'">
    </div>
    <!-- End Nav Bar -->


    <div class="span9">

      <form name="nodeConfigForm" class="config-form">
        <!-- Node -->
        <div class="row">
          <div class="span9">
            <h2>Node Settings</h2>
            <label>Hidden Service</label>
            <input type="text"
              ng-model="admin.node.hidden_service" required>

            <label>Public Site</label>
            <input type="text"
              ng-model="admin.node.public_site" required>

            <div class="row">
              <div class="span9">
                <label>Old Password</label>
                <input type="password"
                  ng-model="admin.node.old_password">
              </div>
            </div>

            <div class="row">
              <div class="span9">
                <label>New Password</label>
                <input type="password"
                  ng-model="admin.node.password">
              </div>
            </div>

          </div>
        </div>

        <button class="btn btn-success"
          ng-disabled="nodeConfigForm.$invalid || nodeConfigForm.$pristine"
          ng-click="updateNode(admin.node)">Save</button>

      </form>

    </div>
  </div>
</div>


