<div ng-include="'views/header.html'"
  onload="header_title='Advanced Configuration';
  header_subtitle='Administration Interface'"
>
</div>

<div class="container config-page" ng-controller="AdminAdvancedCtrl">

  <div class="row">
    <!-- Begin Nav Bar -->
    <!--  Note the use of "''", yeah two of them.
            This is the ng-inlcude directive:
            http://docs.angularjs.org/api/ng.directive:ngInclude
      -->
    <div class="span3 config-sidebar"
      ng-include="'views/admin/sidebar.html'">
    </div>
    <!-- End Nav Bar -->


    <div class="span9">

      <form name="nodeConfigForm" class="config-form">
        <!-- Node -->
        <div class="row">
          <div class="span9">
            <h2>Node Settings</h2>
            <label>Hidden Service</label>
            <input type="text"
              ng-model="adminNode.hidden_service" required>

            <label>Public Site</label>
            <input type="text"
              ng-model="adminNode.public_site" required>

            <label>Public Stats update time</label>
            <input type="text"
              ng-model="adminNode.public_stats_update_time" required>

            <label>Private Stats update time</label>
            <input type="text"
              ng-model="adminNode.public_stats_update_time" required>

            <label>Auth options</label>
            <input type="text"
              ng-model="adminNode.public_stats_update_time" required>
          </div>
        </div>

        <button class="btn btn-success"
          ng-disabled="nodeConfigForm.$invalid || isUnchanged(adminNode)"
          ng-click="update(adminNode)">Save</button>

      </form>

        <!-- Delivery -->
        <div class="row">
          <div class="span9 adminDelivery">
            <h2>Delivery Settings</h2>
          </div>
        </div>

        <button class="btn btn-success"
          ng-disabled="deliveryNotificationForm.$invalid || isUnchanged(adminDelivery)"
          ng-click="update(adminDelivery)">Save</button>

        <!-- Notification -->
        <div class="row">
          <div class="span9">
          <h2>Notification Settings</h2>

          <form name="notificationForm" class="config-form">

            <select id="select" ng-multiple="checked">
              <option value="email">Email</option>
            </select>

            <div>

              <label>SMTP server address</label>
              <input type="text"
                ng-model="adminNotification.email.smtp_address" required>

              <label>SMTP server port</label>
              <input type="text"
                ng-model="adminNotification.email.smtp_port" required>

              <label>Username</label>
              <input type="text"
                ng-model="adminNotification.email.smtp_username" required>

              <label>Password</label>
              <input type="password"
                ng-model="adminNotification.email.smtp_password" required>

            </div>
          </form>

          </div>
        </div>

        <!-- end Notification -->
        <button class="btn btn-success"
          ng-disabled="notificationForm.$invalid || notificationForm.$pristine"
          ng-click="saveNotificationSettings(notificationForm)">Save</button>

    </div>
  </div>
</div>


