<div ng-include="'views/header.html'"
  onload="header_title='Basic Configuration';
  header_subtitle='Administration Interface'"
>
</div>

<div class="container config-page">

  <div class="row">
    <!-- Begin Nav Bar -->
    <!--  Note the use of "''", yeah two of them.
            This is the ng-inlcude directive:
            http://docs.angularjs.org/api/ng.directive:ngInclude
      -->
    <div class="span3 config-sidebar"
      ng-include="'views/admin/sidebar.html'">
    </div>
    <!-- End Nav Bar -->


    <div class="span9">
      <div class="fade" ui-modal ng-model="fieldEditor" id="fieldEditor">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>Submission Form Fields</h3>
        </div>

        <div class="modal-body">
          <div ng-include="'views/formbuilder.html'"></div>
        </div>
        <div class="modal-footer">
          <a ng-click="closeEditor()" class="btn">Close</a>
        </div>
      </div>

        <!-- ReceiverList -->
        <div ng-include="'views/admin/basic/receiverlist.html'">
        </div>

        <!-- ContextList -->
        <div ng-include="'views/admin/basic/contextlist.html'">
        </div>

    </div>
  </div>
</div>


