<div ng-include="'views/header.html'"
  onload="header_title='Basic Configuration';
  header_subtitle='Administration Interface'"
>
</div>

<!-- ConfigSave -->
<div ng-include="'views/widgets/configsave.html'"
  onload="target=adminNode">
</div>

<div class="container config-page">

  <div class="row">
    <!-- Begin Nav Bar -->
    <!--  Note the use of "''", yeah two of them.
            This is the ng-inlcude directive:
            http://docs.angularjs.org/api/ng.directive:ngInclude
      -->
    <div class="span3 config-sidebar"
      ng-include="'views/admin/sidebar.html'">
    </div>
    <!-- End Nav Bar -->


    <div class="span9">
      <form name="configForm" class="configForm">

        <!-- ReceiverList -->
        <div ng-include="'views/admin/basic/receiverlist.html'">
        </div>

        <!-- ContextList -->
        <div ng-include="'views/admin/basic/contextlist.html'">
        </div>


      </form>
    </div>
  </div>
</div>
