<div ng-include="'views/header.html'" onload="header_title='Contexts Configuration' | translate;
  header_subtitle='Administration Interface' | translate">
</div>


<div class="container config-page">

  <div class="row">
    <!-- Begin Nav Bar -->
    <!--  Note the use of "''", yeah two of them.
            This is the ng-inlcude directive:
            http://docs.angularjs.org/api/ng.directive:ngInclude
      -->
    <div class="col-md-3 config-sidebar" ng-include="'views/admin/sidebar.html'">
    </div>
    <!-- End Nav Bar -->

    <div class="col-md-9">

      <!-- ContextList -->
      <div ng-controller="AdminContextsCtrl">
        <div class="row">
          <div>
            <h1>{{ "Contexts Configuration" | translate }}</h1>
          </div>
        </div>

        <div class="row" ng-repeat="context in admin.contexts">
          <form name="contextForm" class="form-inline" ng-controller="AdminContextsEditorCtrl">
            <div class="configItem contextItem">

              <div class="row" ng-click="toggleEditing()">
                <div class="editorHeader contextEditorHeader">
                  <div class="col-md-6">
                    <span>{{context.name}}</span>
                  </div>

                  <div class="col-md-6 editButtons" ng-show="editing">
                    <button class="btn btn-success saveContext" ng-disabled="contextForm.$pristine" ng-click="update(context)">
                      {{ "Save" | translate }}
                    </button>

                    <button class="btn btn-danger deleteContext" ng-click="delete(context)">
                      {{ "Delete" | translate }}
                    </button>
                  </div>

                </div>
              </div>

              <div class="editor contextEditor" ng-show="editing">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>{{ "Name" | translate }}</label>
                      <input class="form-control" required="" ng-model="context.name" value="{{context.name}}" type="text">
                    </div>
                    <div class="form-group">
                      <label>{{ "Description" | translate }}</label>
                      <textarea required="" ng-model="context.description">{{context.description}}</textarea>
                    </div>
                    <div ng-include="'views/admin/fieldeditor.html'"></div>
                  </div>
                  <div class="col-md-6">
                    <label>{{ "Receivers" | translate }}</label>
                    <div class="selectionList">
                      <div ng-repeat="receiver in admin.receivers" ng-class="{row: ($index % 3 == 2) || $last}">
                        <div class="selectionElement">
                          <div class="selectionDetails" ng-click="toggle(receiver)" ng-class="{selected: isSelected(receiver)}">
                            <img ng-src="/static/{{receiver.receiver_gus}}.png" height="40" width="40">
                            <span>{{receiver.name}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <button class="btn btn-info" ng-click="advanced_edit = !advanced_edit" ng-init="advanced_edit=false">
                  {{ "Advanced settings" | translate }}
                </button>
 
                <div class="row" ng-show="advanced_edit">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>{{ "Incomplete submissions expiry time (hours)" | translate }}</label>
                      <input class="form-control" required="" ng-model="context.submission_timetolive" value="{{context.submission_timetolive}}" type="number">
                    </div>
                    <div class="form-group">
                      <label>{{ "Maximum file downloads" | translate }}</label>
                      <input class="form-control" required="" ng-model="context.file_max_download" value="{{context.file_max_download}}" type="number">
                    </div>
                    <div class="form-group">
                      <label>{{ "Submitted Tip expiry time (days)" | translate }}</label>
                      <input class="form-control" required="" ng-model="context.tip_timetolive" value="{{context.tip_timetolive}}" type="number">
                    </div>
                    <div class="form-group">
                      <label>{{ "Receipt format (regular expression)" | translate }}</label>
                      <input class="form-control" required="" ng-model="context.receipt_regexp" value="{{context.receipt_regexp}}" type="text">
                    </div>
                    <div class="form-group">
                      <input ng-model="context.file_required" value="{{context.file_required}}" type="checkbox">
                      <label>{{ "Require at least one file to be uploaded" | translate }}</label>
                    </div>
                    <div class="form-group">
                      <input ng-model="context.select_all_receivers" value="{{context.select_all_receivers}}" type="checkbox">
                      <label>{{ "Select all receivers by default" | translate }}</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-md-9 configRow addContext">
            <h4>{{ "Add new context" | translate }}</h4>
            <form name="newContext">
              <div class="row">
                <div class="col-md-6">
                  <input class="form-control" ng-model="new_context_name" required="" type="text">
                </div>
              </div>

              <button class="btn btn-default" ng-disabled="newContext.$invalid" ng-click="admin.create_context(new_context_name)">
                  {{ "add" | translate }}
              </button
>
            </form>
          </div>
        </div>
      </div>
      <!-- End Context List -->
    </div>
  </div>
</div>
