<!-- 

This comment is needed in order to push the following strings on transifex

{{ "Contexts Configuration" | translate }}
{{ "Administration Interface" | translate }}

-->
<div ng-include="'views/partials/header.html'"
     onload="header_subsection='Contexts Configuration';
             header_section='Administration Interface'">
</div>

<div id="ContentBox" class="container">
  <div class="row">
    <div id="ConfigSidebarBox" class="col-md-3" ng-include="'views/admin/sidebar.html'"></div>
    <div class="col-md-9">

      <div ng-controller="AdminContextsCtrl">

        <div class="row" ng-repeat="context in admin.contexts">
          <form name="contextForm" ng-controller="AdminContextsEditorCtrl">
            <div class="configItem contextItem">

              <div class="row" ng-click="toggleEditing()">
                <div class="editorHeader contextEditorHeader">
                  <div class="col-md-6">
                    <span>{{context.name}}</span>
                  </div>

                  <div class="col-md-6 editButtons" ng-show="editing">
                    <button class="btn btn-success saveContext" ng-disabled="contextForm.$pristine" ng-click="update(context)">
                      <i class="glyphicon glyphicon-ok"></i>
                      {{ "Save" | translate }}
                    </button>

                    <button class="btn btn-danger deleteContext" ng-click="delete(context)">
                      <i class="glyphicon glyphicon-remove"></i>
                      {{ "Delete" | translate }}
                    </button>
                  </div>

                </div>
              </div>

              <div class="editor contextEditor" ng-show="editing">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>{{ "Name" | translate }}</label>
                      <input class="form-control" ng-maxlength="40" ng-model="context.name" value="{{context.name}}" type="text">
                    </div>
                    <div class="form-group">
                      <label>{{ "Description" | translate }}</label>
                      <div>
                        <textarea class="form-control" ng-model="context.description">{{context.description}}</textarea>
                      </div>
                    </div>
                    <div ng-include="'views/admin/fieldeditor.html'"></div>
                  </div>
                  <div class="col-md-6">
                    <label>{{ "Receivers" | translate }}</label>
                    <div class="selectionList">
                      <div ng-repeat="receiver in admin.receivers" ng-class="{clearfix: ($index % 2 == 1) || $last}">
                        <div class="row" ng-click="toggle(receiver)">
                          <span class="col-md-1">
                            <span ng-show="isSelected(receiver)">
                              <i class="glyphicon glyphicon-check"></i>
                            </span>
                            <span ng-show="!isSelected(receiver)">
                              <i class="glyphicon glyphicon-unchecked"></i>
                            </span>
                          </span>
                          <span class="col-md-12">{{receiver.name}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <button class="btn btn-info" ng-click="advanced_edit = !advanced_edit" ng-init="advanced_edit=false">
                  <i class="glyphicon glyphicon-plus"></i>
                  {{ "Advanced settings" | translate }}
                </button>
 
                <div class="row" ng-show="advanced_edit">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label>{{ "Incomplete submissions expiry time (hours)" | translate }}</label>
                      <input class="form-control" ng-model="context.submission_timetolive" value="{{context.submission_timetolive}}" type="number">
                    </div>
                    <div class="form-group">
                      <label>{{ "Maximum file downloads" | translate }}</label>
                      <input class="form-control" ng-model="context.file_max_download" value="{{context.file_max_download}}" type="number">
                    </div>
                    <div class="form-group">
                      <label>{{ "Submitted Tip expiry time (days)" | translate }}</label>
                      <input class="form-control" ng-model="context.tip_timetolive" value="{{context.tip_timetolive}}" type="number">
                    </div>
                    <div class="form-group">
                      <label>{{ "Receipt format (regular expression)" | translate }}</label>
                      <input class="form-control" ng-model="context.receipt_regexp" value="{{context.receipt_regexp}}" type="text">
                    </div>
                    <div class="form-group table-bordered">
                      <input ng-model="context.file_required" value="{{context.file_required}}" type="checkbox">
                      <label>{{ "Require at least one file to be uploaded" | translate }}</label>
                    </div>
                    <div class="form-group table-bordered">
                      <input ng-model="context.select_all_receivers" value="{{context.select_all_receivers}}" type="checkbox">
                      <label>{{ "Select all receivers by default" | translate }}</label>
                    </div>
                    <div class="form-group table-bordered">
                      <input ng-model="context.postpone_superpower" value="{{context.postpone_superpower}}" type="checkbox">
                      <label>{{ "Permit Receivers to postpone expiration date of the Tips" | translate }}</label>
                      <div ng-show="context.postpone_superpower">
                        <span class="label label-info">
                          {{ "now Enabled:" | translate }}
                        </span>
                        {{ "Receivers of this Context will be now able to postpone expiration date of the Tips." | translate }}
                      </div>
                    </div>
                    <div class="form-group table-bordered">
                      <input ng-model="context.can_delete_submission" value="{{context.can_delete_submission}}" type="checkbox">
                      <label>{{ "Permit Receivers to delete Tips" | translate }}</label>
                      <div ng-show="context.can_delete_submission">
                        <span class="label label-info">
                          {{ "now Enabled:" | translate }}
                        </span>
                        {{ "Receivers of this Context will be now able to delete Tips and their content." | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <h4>{{ "Add new context" | translate }}</h4>
              <input class="form-control" ng-model="new_context_name" type="text">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <button class="btn btn-success" ng-disabled="newContext.$invalid" ng-click="admin.create_context(new_context_name)">
                <i class="glyphicon glyphicon-ok"></i>
                {{ "Add" | translate }}
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
