<!-- 

This comment is needed in order to push the following strings on transifex

{{ "Content Settings" | translate }}
{{ "Administration Interface" | translate }}
{{ "Main Configuration" | translate }}
{{ "Theme Customization" | translate }}
{{ "Translation Customization" | translate }}

-->
<div id="ContentBox" class="container">
  <div class="row">
    <div id="ConfigSidebarBox" class="col-md-3" ng-include="'views/admin/sidebar.html'"></div>
    <div class="col-md-9">
      <div class="row">
        <form name="contentForm" ng-controller="AdminContentCtrl">

          <tabset class="tab-content">
            <tab ng-repeat="tab in tabs" heading="{{ tab.title | translate }}" active="tab.active" disabled="tab.disabled">
            <div ng-include="tab.template" ng-controller="tab.ctrl"></div>
            </tab>
          </tabset>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <button class="btn btn-success" ng-disabled="contentForm.$invalid " ng-click="updateNode(admin.node)">
                  <i class="glyphicon glyphicon-ok"></i>
                  {{ "Save" | translate }}
                </button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
