<!-- 

This comment is needed in order to push the following strings on transifex

<span data-translate>Contexts Configuration</span>
<span data-translate>Administration Interface</span>

<span data-translate>Presentation Order</span> <- this has been removed by the way we
                                          do not want to loose present translations

<span data-translate>Click to edit, Drag to order</span>

-->
<div id="ContentBox" class="container">
  <div class="row">
    <div id="ConfigSidebarBox" class="col-md-3" ng-include="'views/admin/sidebar.html'"></div>
    <div class="col-md-9">

      <div ng-controller="AdminContextsCtrl">
        <div class="row">
          <form name="newContext" novalidate>
            <div class="addContext configItem col-md-6">
              <h4><span data-translate>Add new context</span></h4>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label data-translate>Name</label>
                    <input class="form-control" ng-model="new_context_name" type="text" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <button class="btn btn-success" ng-disabled="newContext.$invalid" ng-click="add_context(new_context_name)">
                      <i class="glyphicon glyphicon-ok"></i>
                      <span data-translate>Add</span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>

        <br /><br />

        <div ng-show="admin.contexts.length != 0">
          <div class="row text-right">
            <button class="btn btn-success" ng-click="reorder_contexts_alphabetically()">
              <i class="glyphicon glyphicon-sort-by-alphabet"></i>
              <span data-translate>Reorder Contexts alphabetically</span>
            </button>
            <button class="btn btn-success" ng-click="save_all()" type="submit" >
              <i class="glyphicon glyphicon-ok"></i>
              <span data-translate>Save All</span>
            </button>
          </div>

          <div ui-sortable="sortableOptions" ng-model="admin.contexts">

            <div class="row" ng-repeat="context in admin.contexts | orderBy:'presentation_order'">
              <form name="contextForm" ng-controller="AdminContextsEditorCtrl" novalidate>
                <div class="configItem contextItem"  ng-class="{'configItemLast': $last}">

                  <div class="row" ng-click="toggleEditing()">
                    <div class="editorHeader contextEditorHeader">
                      <div class="col-md-12" ng-show="!editing">
                        <span class="col-md-6">{{ context.name }}</span>
                      <span class="pull-right" popover="{{ 'Click to edit, Drag to order' | translate }}" popover-placement="left" popover-trigger="mouseenter">
                        <i class="glyphicon glyphicon-th"></i>
                      </span>
                      </div>

                      <div class="col-md-12" ng-show="editing">
                        <span class="col-md-9">{{ context.name }}</span>

                        <div class="col-md-3 editButtons" ng-show="editing">
                          <button class="btn btn-success saveContext" ng-disabled="contextForm.$pristine" ng-click="update(context)" type="submit" >
                            <i class="glyphicon glyphicon-ok"></i>
                            <span data-translate>Save</span>
                          </button>

                          <a class="btn btn-danger deleteContext" ng-click="deleteDialog(context)">
                            <i class="glyphicon glyphicon-remove"></i>
                            <span data-translate>Delete</span>
                          </a>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="editor contextEditor" ng-show="editing">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label data-translate>Name</label>
                          <input class="form-control" ng-maxlength="40" ng-model="context.name" value="{{context.name}}" type="text">
                        </div>
                        <div class="form-group">
                          <label data-translate>Description</label>
                          <div>
                            <textarea class="form-control" ng-model="context.description">{{context.description}}</textarea>
                          </div>
                        </div>
                        <div ng-include="'views/admin/fieldeditor.html'"></div>
                      </div>
                      <div class="col-md-6">
                        <label data-translate>Receivers</label>
                        <div class="selectionList">
                          <div ng-repeat="receiver in admin.receivers" ng-class="{clearfix: ($index % 2 == 1) || $last}">
                            <div class="row" ng-click="toggle(receiver)">
                            <span class="col-md-1">
                              <span ng-show="isSelected(receiver)">
                                <i class="glyphicon glyphicon-check"></i>
                              </span>
                              <span ng-show="!isSelected(receiver)">
                                <i class="glyphicon glyphicon-unchecked"></i>
                              </span>
                            </span>
                              <span class="col-md-10">{{receiver.name}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <button class="btn btn-info" ng-click="advanced_edit = !advanced_edit" ng-init="advanced_edit=false">
                      <i class="glyphicon glyphicon-plus"></i>
                      <span data-translate>Advanced settings</span>
                    </button>

                    <div class="row" ng-show="advanced_edit">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label data-translate>Incomplete submissions expiry time (hours)</label>
                          <input class="form-control" ng-model="context.submission_timetolive" value="{{context.submission_timetolive}}" type="number">
                        </div>
                        <div class="form-group">
                          <label data-translate>Maximum file downloads</label>
                          <input class="form-control" ng-model="context.file_max_download" value="{{context.file_max_download}}" type="number">
                        </div>
                        <div class="form-group">
                          <label data-translate>Submitted Tip expiry time (days)</label>
                          <input class="form-control" ng-model="context.tip_timetolive" value="{{context.tip_timetolive}}" type="number">
                        </div>
                        <div class="form-group">
                          <label data-translate>Receipt format (regular expression)</label>
                          <input class="form-control" ng-model="context.receipt_regexp" value="{{context.receipt_regexp}}" type="text">
                        </div>
                        <div class="form-group table-bordered">
                          <input ng-model="context.file_required" value="{{context.file_required}}" type="checkbox">
                          <label data-translate>Require at least one file to be uploaded</label>
                        </div>
                        <div class="form-group table-bordered">
                          <input ng-model="context.select_all_receivers" value="{{context.select_all_receivers}}" type="checkbox">
                          <label data-translate>Select all receivers by default</label>
                        </div>
                        <div class="form-group" ng-show="!context.select_all_receivers">
                          <label><p data-translate>Maximum number of Receivers selectable:</p> <p data-translate>(0 = unlimited)</p></label>
                          <input class="form-control" ng-model="context.maximum_selectable_receivers" value="{{context.maximum_selectable_receivers}}" type="number">
                        </div>
                        <div class="form-group table-bordered">
                          <input ng-model="context.show_small_cards" value="{{context.show_small_cards}}" type="checkbox">
                          <label data-translate>Show small receiver cards on submission interface</label>
                        </div>
                        <div class="form-group table-bordered">
                          <input ng-model="context.postpone_superpower" value="{{context.postpone_superpower}}" type="checkbox">
                          <label data-translate>Permit Receivers to postpone expiration date of the Tips</label>
                          <div ng-show="context.postpone_superpower">
                          <span class="label label-info">
                            <span data-translate>now Enabled:</span>
                          </span>
                            <span data-translate>Receivers of this Context will be now able to postpone expiration date of the Tips.</span>
                          </div>
                        </div>
                        <div class="form-group table-bordered">
                          <input ng-model="context.can_delete_submission" value="{{context.can_delete_submission}}" type="checkbox">
                          <label data-translate>Permit Receivers to delete Tips</label>
                          <div ng-show="context.can_delete_submission">
                          <span class="label label-info">
                            <span data-translate>now Enabled:</span>
                          </span>
                            <span data-translate>Receivers of this Context will be now able to delete Tips and their content.</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
