<div ng-include="'views/header.html'"
  onload="header_title='Content Settings';
  header_subtitle='Administration Interface'">
</div>

<div class="container config-page">
  <div class="row">
    <!-- Begin Nav Bar -->
    <!--  Note the use of "''", yeah two of them.
            This is the ng-inlcude directive:
            http://docs.angularjs.org/api/ng.directive:ngInclude
      -->
    <div class="span3 config-sidebar"
      ng-include="'views/admin/sidebar.html'">
    </div>
    <!-- End Nav Bar -->
    <div class="span9">

      <form name="contentForm" novalidate>
        <div class="imageUpload" ng-controller="ImageUploadCtrl">
          <div class="profile" ng-mouseenter="openUploader()"
               ng-mouseleave="closeUploader()">

            <div ng-show="uploadfile || fileSelected" class="uploadfile">

              <div pragmatic-file-upload src="'/admin/staticfiles?globaleaks_logo'">

                <button class="close" ng-click="closeProfile()">×</button>
                <div class="fileselector">
                  <input type="file" class="file"
                         name="profile">
                  <button class="btn selectFile">Select file</button>
                </div>
                <button class="btn upload" ng-disabled="!fileSelected"
                        ng-class="{'btn-success': fileSelected}">upload</button>

              </div>
            </div>

            <img src="/static/globaleaks_logo.png" class="img-polaroid baseimage">

          </div>
        </div>

        <div class="row">
          <div class="span9">
            <h4>General information</h4>
            <label>Node name</label>
            <input type="text" ng-model="admin.node.name" value="{{admin.node.name}}">
          </div>
        </div>

        <!-- Description -->
        <div class="row">
          <div class="span9">
            <label>Description</label>
            <textarea ng-model="admin.node.description">{{admin.node.description}}</textarea>
          </div>
        </div>

        <div class="row">
          <div class="span9">
            <label>Email</label>
            <input type="email" ng-model="admin.node.email">
          </div>
        </div>

        <label>Tor Hidden Service (hostname)</label>
        <input type="text" name="hidden_service" ng-model="admin.node.hidden_service"
               ng-pattern="/^[0-9a-z]{16}\.onion$/">
        <p class="text-error"
           ng-show="contentForm.hidden_service.$error.pattern">Invalid format for hidden service (should be "thirteenchars123.onion")</p>

        <label>Tor2web Public Site (url)</label>
        <input type="url" name="public_site"
               ng-model="admin.node.public_site">
        <p class="text-error"
           ng-show="contentForm.public_site.$error.url">Invalid format for Tor2web public site (should be "https://thirteenchars123.tor2web.org")</p>

        <!-- <div ng-include="'views/admin/content/internationalization.html'"> -->
        <!-- </div> -->

        <br>
        <button class="btn btn-success" 
                    ng-disabled="contentForm.$invalid || contentForm.$pristine"
                    ng-click="updateNode(admin.node)">Save</button>

      </form>
    </div>
  </div>
</div>

