<!-- 

This comment is needed in order to push the following strings on transifex

{{ "Files Overview" | translate }}
{{ "Administration Interface" | translate }}

-->
<div ng-include="'views/header.html'"
     onload="header_title='Files Overview';
             header_subtitle='Administration Interface'">
</div>

<div class="container config-page" ng-controller="OverviewCtrl">

  <div class="row">
    <!-- Begin Nav Bar -->
    <!--  Note the use of "''", yeah two of them.
            This is the ng-inlcude directive:
            http://docs.angularjs.org/api/ng.directive:ngInclude
      -->
    <div class="col-md-3 config-sidebar" ng-include="'views/admin/sidebar.html'">
    </div>
    <!-- End Nav Bar -->

   <div class="col-md-9">

       <h1>{{ "Files Overview" | translate }}</h1>
       <p>
       {{ "This interface may help you spot anomalies in your Node." | translate }}<br />
       {{ "The table below shows the files present in the submission directory, and their relationship with the internal database." | translate }}</p>
      <div class="table-container">
      <table class="table table-striped table-bordered dataTable" id="fileList">
        <thead>
          <tr>
            <th>{{ "Name" | translate }}</th>
            <th>{{ "Info" | translate }}</th>
            <th>{{ "Size" | translate }}</th>
            <th>{{ "References" | translate }}</th>
          </tr>
        </thead>
        <tbody id="fileListBody">
          <tr ng-repeat="file in files">
            <td>{{file.name}}<br />
               <input class="col-md-2 form-control" id="appendedPrependedInput" value="{{file.creation_date | date:'fullDate'}}  {{file.itip}}" expand-to="500" type="text"><br />
               <input class="col-md-2 form-control" id="appendedPrependedInput" value="{{file.path}}" expand-to="500" type="text">
            </td>
            <td>{{file.content_type}}</td>
            <td>{{file.size}}</td>
            <td>#{{file.rfiles}}</td>
          </tr>
        </tbody>
      </table>
  </div> <!-- table-container -->

</div> <!-- col-md-9 -->
</div> <!-- row -->
</div> <!-- container + controller -->
