<!-- 

This comment is needed in order to push the following strings on transifex

{{ "Files Overview" | translate }}
{{ "Administration Interface" | translate }}

-->
<div id="ContentBox" class="container"   ng-controller="OverviewCtrl">
  <div class="row">
    <div id="ConfigSidebarBox" class="col-md-3" ng-include="'views/admin/sidebar.html'"></div>
    <div class="col-md-9">

       <p>
       {{ "This interface may help you spot anomalies in your Node." | translate }}<br />
       {{ "The table below shows the files present in the submission directory, and their relationship with the internal database." | translate }}</p>
      <ul>
        <li>
          <a href="/#/admin/anomalies">Here you can check the last hours activity collection</a>
        </li>
      </ul>

      <div class="table-responsive">
        <table class="table table-bordered" id="fileList">
          <thead>
            <tr>
              <th class="col-md-6">
                {{ "File" | translate }}
              </th>
              <th class="col-md-2">
                {{ "Info" | translate }}
              </th>
              <th class="col-md-2">
                {{ "Size" | translate }}
              </th>
              <th class="col-md-2">
                {{ "References" | translate }}
              </th>
            </tr>
          </thead>
          <tbody id="fileListBody">
            <tr ng-repeat="file in files">
              <td class="col-md-6">
                 {{file.name}}<br /><br />
                 {{file.creation_date | date:'dd-MM-yyyy HH:mm' }} <br /><br />
                 {{file.itip}} <br /><br />
                 {{file.path}}
              </td>
              <td class="col-md-2">{{file.content_type}}</td>
              <td class="col-md-2">{{file.size}}</td>
              <td class="col-md-2">#{{file.rfiles}}</td>
            </tr>
          </tbody>
        </table>
      </div> 
    </div>
  </div>
</div>
