<!-- 

This comment is needed in order to push the following strings on transifex

<span data-translate>Landing Page</span>
<span data-translate>Administration Interface</span>

-->
<div id="ContentBox" class="container" data-ng-controller="AdminCtrl">
  <div class="row">
    <div id="ConfigSidebarBox" class="col-md-3" data-ng-include="'views/admin/sidebar.html'"></div>
    <div class="col-md-9">
      <div class="row">
        <div>
          <h2>
            <strong>
              <span data-translate>Welcome to GlobaLeaks Administration Interface</span>
            </strong>
          </h2>
          <span data-translate>Clicking on the 'admin' link on the top-right corner of the page will bring you here.</span>
          <br /><br />
          <p>
            <span data-translate>This is a work in progress of the landing page of the administration interface that you see after login onto the platform as admin.</span>
          </p>
          <br />
          <p>
            <span data-translate>This interface may help you understand how the Node is currently configured and get some info on how to connect to other GlobaLeaks users and experts.</span>
          </p>
          <ul>
            <li>
              You can try CryptoCat to ask a support ...
            </li>
            <li>
              <span data-translate>Read more about describing your initiative here</span> ...
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- col-md-9 -->
</div> <!-- Landing -->
