<!-- 

This comment is needed in order to push the following strings on transifex

{{ "Landing Page" | translate }}
{{ "Administration Interface" | translate }}

-->
<div id="ContentBox" class="container" ng-controller="AdminCtrl">
  <div class="row">
    <div id="ConfigSidebarBox" class="col-md-3" ng-include="'views/admin/sidebar.html'"></div>
    <div class="col-md-9">
      <div class="row">
        <div>
          <h2>
            <strong>
              {{ "Welcome to GlobaLeaks Administration Interface" | translate }}
            </strong>
          </h2>
          {{ "Clicking on the 'admin' link on the top-right corner of the page will bring you here." | translate }}
          <br /><br />
          <p>
            {{ "This is a work in progress of the landing page of the administration interface that you see after login onto the platform as admin." | translate }}
          </p>
          <br />
          <p>
            {{ "In this web page there will be plenty of useful information to be defined on ticket" | translate }} #XXX
          </p>
          <p>
            {{ "This interface may help you understand how the Node is currently configured and get some info on how to connect to other GlobaLeaks users and experts." | translate }}
          </p>
          <ul>
            <li>
              You can try CryptoCat to ask a support ...
            </li>
            <li>
              Read more about describing your initiative here ...
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div> <!-- col-md-9 -->
</div> <!-- Landing -->
