<div ng-include="'views/header.html'"
     onload="header_title='Mail Configuration';
  header_subtitle='Administration Interface'"
        >
</div>

<div class="container config-page">

  <div class="row">
    <!-- Begin Nav Bar -->
    <!--  Note the use of "''", yeah two of them.
            This is the ng-inlcude directive:
            http://docs.angularjs.org/api/ng.directive:ngInclude
      -->
    <div class="span3 config-sidebar"
         ng-include="'views/admin/sidebar.html'">
    </div>
    <!-- End Nav Bar -->


    <div class="span9">

      <!-- Notification -->
      <div class="row">
        <div class="span9">
          <h3>SMTP Server Settings</h3>
          <form name="notificationForm" class="config-form">

            <div class="row">
              <div class="span9">

                <label>SMTP server address</label>
                <input type="text"
                       ng-model="admin.notification.server" required>

                <label>SMTP server port</label>
                <input type="text"
                       ng-model="admin.notification.port" required>

                <label>Username</label>
                <input type="text"
                       ng-model="admin.notification.username" required>

                <label>Password</label>
                <input type="password"
                       ng-model="admin.notification.password" required>

                <label>Transport Security</label>
                <select ng-model="admin.notification.security" required>
                  <option value='SSL'>SMTPS</option>
                  <option value='TLS'>SMTP/TLS</option>
                </select>

              </div>

            </div>

            <div class="row">

              <div class="span9">
                <button class="btn btn-success"
                        ng-disabled="notificationForm.$invalid || notificationForm.$pristine"
                        ng-click="update(admin.notification)">Save</button>
              </div>

            </div>

            <div class="row">

              <div class="span9">
                <h3>Notification templates</h3>
                <label>Tip Email template</label>
                <textarea ng-model="admin.notification.tip_template"></textarea>

                <label>Comment Email template</label>
                <textarea ng-model="admin.notification.comment_template"></textarea>

                <label>File Email template</label>
                <textarea ng-model="admin.notification.file_template"></textarea>

                <label>Activation Email template</label>
                <textarea ng-model="admin.notification.activation_template"></textarea>
              </div>

            </div>

            <div class="row">
              <div class="span9">
                <button class="btn btn-success"
                        ng-disabled="notificationForm.$invalid || notificationForm.$pristine"
                        ng-click="update(admin.notification)">Save</button>
              </div>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>


