<div ng-include="'views/header.html'" onload="header_title='Mail Configuration' | translate;
  header_subtitle='Administration Interface' | translate">
</div>

<div class="container config-page">

  <div class="row">
    <!-- Begin Nav Bar -->
    <!--  Note the use of "''", yeah two of them.
            This is the ng-inlcude directive:
            http://docs.angularjs.org/api/ng.directive:ngInclude
      -->
    <div class="col-md-3 config-sidebar" ng-include="'views/admin/sidebar.html'">
    </div>
    <!-- End Nav Bar -->


    <div class="col-md-9">

      <!-- Notification -->
      <div class="row">
        <div class="col-md-9">
          <h1>Mail Configuration</h1>
          <form name="notificationForm" class="config-form">

            <div class="row">
              <div class="col-md-6">
		<div class="form-group">
		   <input ng-model="admin.notification.disable" type="checkbox">
		   <label>{{ "Disable email notification" | translate }}</label>
		   <label ng-show="admin.notification.disable">
		      <span class="alert-error">
                        {{ "Email notification is disabled" | translate }}
                      </span>
                     {{ "Unsent emails will be spooled when the option will be re-enabled." | translate }}
		   </label>
		</div>

                <div class="form-group">
                  <label>{{ "Source Name" | translate }}</label>
                  <input class="form-control" ng-model="admin.notification.source_name" required="" type="text">
                </div>

                <div class="form-group">
                  <label>{{ "Source Email" | translate }}</label>
                  <input class="form-control" ng-model="admin.notification.source_email" required="" type="text">
                </div>

                <div class="form-group">
                  <label>{{ "Username" | translate }}</label>
                  <input class="form-control" ng-model="admin.notification.username" required="" type="text">
                </div>

                <div class="form-group">
                  <label>{{ "Password" | translate }}</label>
                  <input class="form-control" ng-model="admin.notification.password" required="" type="password">
                </div>

                <div class="form-group">
                  <label>{{ "SMTP server address" | translate }}</label>
                  <input class="form-control" ng-model="admin.notification.server" required="" type="text">
                </div>

                <div class="form-group">
                  <label>{{ "SMTP server port" | translate }}</label>
                  <input class="form-control" ng-model="admin.notification.port" required="" type="text">
                </div>

                <div class="form-group">
                  <label>{{ "Transport Security" | translate }}</label>
                  <select ng-model="admin.notification.security" required="">
                    <option value="SSL">SMTPS</option>
                    <option value="TLS">SMTP/TLS</option>
                  </select>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <button class="btn btn-success" ng-disabled="notificationForm.$invalid || notificationForm.$pristine" ng-click="update(admin.notification)">
                        {{ "Save" | translate }}</button>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <h3>{{ "Notification templates" | translate }}</h3>

                <div class="form-group">
                  <label>{{ "Tip Email Subject" | translate }}</label>
                  <input ng-model="admin.notification.tip_mail_title" class="input-xlarge form-control" type="text">
                </div>

                <div class="form-group">
                  <label>{{ "Tip Email template" | translate }}</label>
                  <textarea class="mobileTextArea" ng-model="admin.notification.tip_template"></textarea>
                </div>

                <div class="form-group">
                  <label>{{ "Comment Email Subject" | translate }}</label>
                  <input ng-model="admin.notification.comment_mail_title" class="input-xlarge form-control" type="text">
                </div>

                <div class="form-group">
                  <label>{{ "Comment Email template" | translate }}</label>
                  <textarea class="mobileTextArea" ng-model="admin.notification.comment_template"></textarea>
                </div>

                <div class="form-group">
                  <label>{{ "File Email Subject" | translate }}</label>
                  <input ng-model="admin.notification.file_mail_title" class="input-xlarge form-control" type="text">
                </div>

                <div class="form-group">
                  <label>{{ "File Email template" | translate }}</label>
                  <textarea class="mobileTextArea" ng-model="admin.notification.file_template"></textarea>
                </div>

              </div>

            </div>

            <div class="row">
              <div class="col-md-6">
                <button class="btn btn-success" ng-disabled="notificationForm.$invalid || notificationForm.$pristine" ng-click="update(admin.notification)">
                  {{ "Save" | translate }}
                </button>
              </div>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>
