<div ng-include="'views/header.html'"
     onload='header_title="Mail Configuration" | translate;
  header_subtitle="Administration Interface" | translate'
>
</div>

<div class="container config-page">

  <div class="row">
    <!-- Begin Nav Bar -->
    <!--  Note the use of "''", yeah two of them.
            This is the ng-inlcude directive:
            http://docs.angularjs.org/api/ng.directive:ngInclude
      -->
    <div class="span3 config-sidebar"
         ng-include="'views/admin/sidebar.html'">
    </div>
    <!-- End Nav Bar -->


    <div class="span9">

      <!-- Notification -->
      <div class="row">
        <div class="span9">
          <h3>Email Account</h3>
          <form name="notificationForm" class="config-form">

            <div class="row">
                <div class="span9">

		<div class="table-bordered">
		   <label>
		      <input type="checkbox" ng-model="admin.notification.disable" />
		      {{ "Disable email notification" | translate }}
		   </label>
		   <label ng-show="admin.notification.disable" >
		      <span class="alert-error">
                        {{ "Email notification is disabled" | translate }}
                      </span>
                     {{ "Unsent emails will be spooled when the option will be re-enabled." | translate }}
		   </label>
		</div>

                <label>{{ "Source Name" | translate }}</label>
                <input type="text"
                       ng-model="admin.notification.source_name" required>

                <label>{{ "Source Email" | translate }}</label>
                <input type="text"
                       ng-model="admin.notification.source_email" required>

                <label>{{ "Username" | translate }}</label>
                <input type="text"
                       ng-model="admin.notification.username" required>

                <label>{{ "Password" | translate }}</label>
                <input type="password"
                       ng-model="admin.notification.password" required>

                <label>{{ "SMTP server address" | translate }}</label>
                <input type="text"
                       ng-model="admin.notification.server" required>

                <label>{{ "SMTP server port" | translate }}</label>
                <input type="text"
                       ng-model="admin.notification.port" required>

                <label>{{ "Transport Security" | translate }}</label>
                <select ng-model="admin.notification.security" required>
                  <option value='SSL'>SMTPS</option>
                  <option value='TLS'>SMTP/TLS</option>
                </select>

              </div>

            </div>

            <div class="row">

              <div class="span9">
                <button class="btn btn-success"
                        ng-disabled="notificationForm.$invalid || notificationForm.$pristine"
                        ng-click="update(admin.notification)">
                        {{ "Save" | translate }}</button>
              </div>

            </div>

            <div class="row">

              <div class="span9">
                <h3>{{ "Notification templates" | translate }}</h3>

                <label>{{ "Tip Email Subject" | translate }}</label>
                <input type="text" ng-model="admin.notification.tip_mail_title" class="input-xlarge" />

                <label>{{ "Tip Email template" | translate }}</label>
                <textarea class="mobileTextArea" ng-model="admin.notification.tip_template"></textarea>

                <label>{{ "Comment Email Subject" | translate }}</label>
                <input type="text" ng-model="admin.notification.comment_mail_title" class="input-xlarge" />

                <label>{{ "Comment Email template" | translate }}</label>
                <textarea class="mobileTextArea" ng-model="admin.notification.comment_template"></textarea>

                <label>{{ "File Email Subject" | translate }}</label>
                <input type="text" ng-model="admin.notification.file_mail_title" class="input-xlarge"/>

                <label>{{ "File Email template" | translate }}</label>
                <textarea class="mobileTextArea" ng-model="admin.notification.file_template"></textarea>

                <!--
                <label>{{ "Activation Email template" | translate }}</label>
                <textarea class="mobileTextArea" ng-model="admin.notification.activation_template"></textarea>
                -->
              </div>

            </div>

            <div class="row">
              <div class="span9">
                <button class="btn btn-success"
                        ng-disabled="notificationForm.$invalid || notificationForm.$pristine"
                        ng-click="update(admin.notification)">
                        {{ "Save" | translate }}</button>
              </div>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</div>













