<div ng-include="'views/header.html'"
  onload='header_title="Advanced Configuration" | translate;
  header_subtitle="Advanced Configuration" | translate'
>
</div>

<div class="container config-page" ng-controller="AdminAdvancedCtrl">

  <div class="row">
    <!-- Begin Nav Bar -->
    <!--  Note the use of "''", yeah two of them.
            This is the ng-inlcude directive:
            http://docs.angularjs.org/api/ng.directive:ngInclude
      -->
    <div class="span3 config-sidebar"
      ng-include="'views/admin/sidebar.html'">
    </div>
    <!-- End Nav Bar -->


    <div class="span9">

      <form name="nodeConfigForm" class="config-form">

        <div class="row">
            <div class="span9">

            <h4>{{ "Password management" | translate }}</h4>
            <br>

            <label><b>{{ "Current Password" | translate }}</b></label>
            <input type="password"
            ng-model="admin.node.old_password">
            <p class="text-error" ng-show="missing_old_password">
            {{ "Required old password confirm" | translate }}</p>

            <label><b>{{ "New Password" | translate }}</b></label>
            <input type="password"
            ng-model="admin.node.password" >
            <p class="text-error" ng-show="unsafe_password">
            {{ "Your password is unsafe, it should have" | translate }}:</p>
            <li class="text-error" ng-hide="pwdHasLetter">
            {{ "At least one letter" | translate }}</li>
            <li class="text-error" ng-hide="pwdHasNumber">
            {{ "At least one number" | translate }}</li>
            <li class="text-error" ng-hide="pwdValidLength">
            {{ "At least 8 keypress long" | translate }}</li>

            <label><b>{{ "Retype again your new password" | translate }}</b></label>
            <input type="password"
            ng-model="admin.node.check_password">
            <p class="text-error" ng-show="mismatch_password">
            {{ "The two passwords do not match" | translate }}</p>


          </div>
        </div>

        <button class="btn btn-success"
          ng-disabled="nodeConfigForm.$invalid || nodeConfigForm.$pristine ||
          mismatch_password || unsafe_password || missing_old_password "
          ng-click="updateNode(admin.node)">
          {{ "Save" | translate }}</button>

      </form>

    </div>
  </div>
</div>


