<!-- 

This comment is needed in order to push the following strings on transifex

<span data-translate>Mail Configuration</span>
<span data-translate>Administration Interface</span>

-->
<div id="ContentBox" class="container"   ng-controller="AdminPasswordCtrl">

  <div class="row">
    <div id="ConfigSidebarBox" class="col-md-3" ng-include="'views/admin/sidebar.html'"></div>
    <div class="col-md-9">
      <form name="nodeConfigForm" novalidate>
        <div class="row">
          <div class="col-md-9">

            <div class="form-group">
              <label><b><span data-translate>Current Password</span></b></label>
              <input class="form-control" ng-model="admin.node.old_password" type="password">
              <p class="has-error" ng-show="missing_old_password && admin.node.password">
              <span data-translate>Old password confirmation required</span></p>
            </div>

            <div class="form-group">
              <label><b><span data-translate>New Password</span></b></label>
              <input class="form-control" ng-model="admin.node.password" type="password">
              <p class="has-error" ng-show="unsafe_password">
              <span data-translate>The choosen password is unsafe, it should have</span>:</p>
              <li class="has-error" ng-hide="pwdHasLetter">
              <span data-translate>At least one letter</span></li>
              <li class="has-error" ng-hide="pwdHasNumber">
              <span data-translate>At least one number</span></li>
              <li class="has-error" ng-hide="pwdValidLength">
              <span data-translate>At least 8 keypress long</span></li>
            </div>

            <div class="form-group">
              <label><b><span data-translate>Type again your new password</span></b></label>
              <input class="form-control" ng-model="admin.node.check_password" type="password">
              <p class="has-error" ng-show="mismatch_password">
              <span data-translate>The two passwords do not match</span></p>
            </div>

          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-success" ng-disabled="nodeConfigForm.$invalid || nodeConfigForm.$pristine ||
              mismatch_password || unsafe_password || missing_old_password " ng-click="updateNode(admin.node)">
              <i class="glyphicon glyphicon-ok"></i>
              <span data-translate>Save</span>
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
