<div ng-include="'views/header.html'"
  onload="header_title='Advanced Configuration';
  header_subtitle='Administration Interface'"
>
</div>

<div class="container config-page" ng-controller="AdminAdvancedCtrl">

  <div class="row">
    <!-- Begin Nav Bar -->
    <!--  Note the use of "''", yeah two of them.
            This is the ng-inlcude directive:
            http://docs.angularjs.org/api/ng.directive:ngInclude
      -->
    <div class="span3 config-sidebar"
      ng-include="'views/admin/sidebar.html'">
    </div>
    <!-- End Nav Bar -->


    <div class="span9">

      <form name="nodeConfigForm" class="config-form">

        <div class="row">
            <div class="span9">

            <h4>Password management</h4>
            <br>

            <label><b>Current Password</b></label>
            <input type="password"
            ng-model="admin.node.old_password">
            <p class="text-error" ng-show="missing_old_password">Required old password confirm</p>

            <label><b>New Password</b></label>
            <input type="password"
            ng-model="admin.node.password" >
            <p class="text-error" ng-show="unsafe_password">The password is unsafe, need to be:</p>
            <li class="text-error" ng-hide="pwdHasLetter">Almost one letter</li>
            <li class="text-error" ng-hide="pwdHasNumber">Almost one number</li>
            <li class="text-error" ng-hide="pwdValidLength">Almost 8 keypress long</li>

            <label><b>Retype again your new password</b></label>
            <input type="password"
            ng-model="admin.node.check_password">
            <p class="text-error" ng-show="mismatch_password">The new passwords do not match</p>


          </div>
        </div>

        <button class="btn btn-success"
          ng-disabled="nodeConfigForm.$invalid || nodeConfigForm.$pristine ||
          mismatch_password || unsafe_password || missing_old_password "
          ng-click="updateNode(admin.node)">Save</button>

      </form>

    </div>
  </div>
</div>


