<ul class="nav nav-list config-sidenav">
  <li class="active">
    <a href="#/receiver/foo/list">
    <i class="icon-chevron-right"></i>Content Settings</a>
  </li>
  <li>
    <a href="#/receiver/foo/preferences">
    <i class="icon-chevron-right"></i>Setup Wizard</a>
  </li>
  <li>
    <a href="#/receiver/foo/preferences">
    <i class="icon-chevron-right"></i>Basic Configuration</a>
  </li>
  <li>
    <a href="#/receiver/foo/preferences">
      <i class="icon-chevron-right"></i>Advanced Configuration</a>
  </li>
</ul>
