<ul class="nav nav-list config-sidenav">
  <li ng-class="active.content">
    <a href="#/admin/content">
    <i class="icon-chevron-right"></i>Content Settings</a>
  </li>
  <li ng-class="active.basic">
    <a href="#/admin/basic">
    <i class="icon-chevron-right"></i>Basic Configuration</a>
  </li>
  <li ng-class="active.advanced">
    <a href="#/admin/advanced">
      <i class="icon-chevron-right"></i>Advanced Configuration</a>
  </li>
  <li ng-class="active.wizard">
    <a href="#/admin/wizard">
    <i class="icon-chevron-right"></i>Setup Wizard</a>
  </li>

</ul>
