<ul class="nav nav-tabs nav-stacked">
  <li ng-class="active.content">
    <a href="#/admin/content">
    <i class="icon-chevron-right"></i>Content Settings</a>
  </li>

  <li ng-class="active.receivers">
    <a href="#/admin/receivers">
        <i class="icon-chevron-right"></i>Receivers Configuration
    </a>
  </li>
  <li ng-class="active.contexts">
    <a href="#/admin/contexts">
      <i class="icon-chevron-right"></i>Contexts Configuration
    </a>
  </li>

  <li ng-class="active.mail">
    <a href="#/admin/mail">
      <i class="icon-chevron-right"></i>Mail Configuration</a>
  </li>

  <li ng-class="active.advanced">
    <a href="#/admin/advanced">
      <i class="icon-chevron-right"></i>Advanced Configuration</a>
  </li>

  <br>

  <li ng-class="active.useroverview">
    <a href="#/admin/overview/users">
      <i class="icon-chevron-right"></i>Users Overview</a>
  </li>

  <li ng-class="active.tipsverview">
    <a href="#/admin/overview/tips">
      <i class="icon-chevron-right"></i>Tips Overview</a>
  </li>

</ul>
