<!-- 

This comment is needed in order to push the following strings on transifex

<span data-translate>System Checks</span>
<span data-translate>Anomalies Checks</span>
<span data-translate>Administration Interface</span>
<span data-translate>Here you can check the latest anomalies detected</span>

-->
<div id="ContentBox" class="container" ng-controller="StatisticsCtrl">
  <div class="row">
    <div id="ConfigSidebarBox" class="col-md-3" ng-include="'views/admin/sidebar.html'"></div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <h3 data-translate>System Stats</h3>
          <p>
            <span data-translate>This interface shows you the statistics for the last hours.</span>
          </p>
          <table class="table table-bordered" id="receiverList">
          <thead>
              <tr>
                <th class="col-md-2">
                  <span data-translate>Date</span>
                </th>
                <th class="col-md-2">
                  <span data-translate>New Submissions</span>
                </th>
                <th class="col-md-2">
                  <span data-translate>Finalized Submissions</span>
                </th>
                <th class="col-md-2">
                  <span data-translate>File Uploads</span>
                </th>
                <th class="col-md-2">
                  <span data-translate>Unauthenticated Requests</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="stat in stats">
                <td class="col-md-2">
                  {{stat.creation_date | date:'dd-MM-yyyy HH:mm'}}
                </td>
                <td class="col-md-2">
                  {{stat.new_submission}}
                </td>
                <td class="col-md-2">
                  {{stat.finalized_submission}}
                </td>
                <td class="col-md-2">
                  {{stat.file_uploaded}}
                </td>
                <td class="col-md-2">
                  {{stat.anon_requests}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12" ng-show="anomaly_checks">
          <h3 data-translate>Anomalies Checks</h3>
          <p>
            <span data-translate>This interface shows the latest anomalies spotted by the system.</span>
          </p>
          <table class="table table-bordered">
          <thead>
              <tr>
                <th class="col-md-2">
                  <span data-translate>Date</span>
                </th>
                <th class="col-md-10">
                  <span data-translate>Anomaly Description</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="anom in anomalies">
                <td class="col-md-2">
                  {{anom.creation_date | date:'dd-MM-yyyy HH:mm'}}
                </td>
                <td class="col-md-10">
                  {{anom.message}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

