<div ng-include="'views/header.html'" onload="header_title='Tip Overview' | translate;
  header_subtitle='Administration Interface' | translate">
</div>

<div class="container config-page" ng-controller="OverviewCtrl">

  <div class="row">
    <!-- Begin Nav Bar -->
    <!--  Note the use of "''", yeah two of them.
            This is the ng-inlcude directive:
            http://docs.angularjs.org/api/ng.directive:ngInclude
      -->
    <div class="col-md-3 config-sidebar" ng-include="'views/admin/sidebar.html'">
    </div>
    <!-- End Nav Bar -->

   <div class="col-md-9">

      <h1>{{ "Tip Overview" | translate }}</h1>
      <p>
      {{ "This interface may help you understand how the Node is used by the whistleblower. We present you with the submissions present on the node and a few statistics on the kind of usage (activity, files, comments)." | translate }}
      </p>
      <div class="table-container">
      <table class="table table-striped table-bordered dataTable" id="tipList">
        <thead>
          <tr>
            <th>status</th>
            <th>creation_date</th>
            <th>wb_last_access</th>
            <th>internalfiles</th>
            <th>receivertips</th>
            <th>expiration_date</th>
            <th>context</th>
            <th>comments</th>
          </tr>
        </thead>

      <tbody id="tipListBody">
        <tr ng-repeat="tip in tips">
          <td>{{tip.status}}</td>
          <td>{{tip.creation_date | date:'fullDate'}}</td>
          <td>{{tip.wb_last_access | date:'fullDate'}} ({{tip.wb_access_counter}})</td>

          <td>
            <ul>
              <li ng-repeat="ifile in tip.internalfiles">
              {{ifile.name}} ({{ifile.size}}) {{ifile.content_type}}
               </li>
            </ul>
          </td>

          <td>
            <ul>
              <li ng-repeat="rtip in tip.receivertips">
                {{rtip.status}} ({{rtip.access_counter}})
                <a href="/admin/receiver/{{rtip.receiver_id}}">{{rtip.receiver_name}}</a>
                {{rtip.receiver_username}}
              </li>
            </ul>
          </td>

          <td>{{tip.expiration_date | date:'fullDate'}}</td>
          <td><a href="/#/admin/contexts">{{tip.context_name}}</a></td>
          <td>
            <ul>
              <li ng-repeat="comment in tip.comments">
                {{comment.type}} ({{comment.lifetime}})
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
      </table>

    </div> <!-- table-container -->
  </div> <!-- span9 -->
</div> <!-- row -->
</div> <!-- container + controller -->
