<div class="navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container configToolbar">
      <!-- Change settings for: -->
      <!-- <select class="language-setting" -->
      <!--   ng-model="localization.selected_language" -->
      <!--   ng-options="lang.code as lang.name for lang in localization.node_info.available_languages"> -->
      <!-- </select> -->

      <button ng-click="saveall()"
        class="btn btn-success">Save changes</button>
    </div>
  </div>
</div>
<div class="spacer">
</div>
