<div ng-include="'views/header.html'" onload="header_title='Users Overview' | translate;
  header_subtitle='Administration Interface' | translate">
</div>

<div class="container config-page" ng-controller="OverviewCtrl">

  <div class="row">
    <!-- Begin Nav Bar -->
    <!--  Note the use of "''", yeah two of them.
            This is the ng-inlcude directive:
            http://docs.angularjs.org/api/ng.directive:ngInclude
      -->
    <div class="col-md-3 config-sidebar" ng-include="'views/admin/sidebar.html'">
    </div>
    <!-- End Nav Bar -->

   <div class="col-md-9">

       <h1>{{ "Users overview" | translate }}</h1>
       <p>
       {{ "This interface shows the activity of the users of your node. This may be helpful in detecting anomalies and supporting the Receivers for of your node." | translate }}
       </p>
      <div class="table-container">
      <table class="table table-striped table-bordered dataTable" id="receiverList">
        <thead>
          <tr>
            <th>User</th>
            <th>failed login</th>
            <th>Receiver Tips</th>
            <th>Files and download</th>
          </tr>
        </thead>
        <tbody id="receiverListBody">
          <tr ng-repeat="receiver in users">
            <td><a href="/#/admin/receivers/">{{receiver.name}}</a></td>
            <td>{{receiver.failed_login}}</td>
            <td>
                <ul>
                    <li ng-repeat="rtip in receiver.receivertips">
                        {{rtip.status}} {{rtip.last_access}} ({{rtip.access_counter}})
                    </li>
                </ul>
            </td>
            <td>
                <ul>
                    <li ng-repeat="rfile in receiver.receiverfiles">
                    {{rfile.file_name}} ({{rfile.access_counter}}), {{rfile.last_access}}
                    </li>
                </ul>
            </td>
          </tr>
        </tbody>
      </table>
  </div> <!-- table-container -->

</div> <!-- span9 -->
</div> <!-- row -->
</div> <!-- container + controller -->
