<div ng-include="'views/header.html'"
  onload="header_title='Setup Wizard';
  header_subtitle='Administration Interface'"
>
</div>

<div class="container config-page">
  <div class="row">
    <!-- Begin Nav Bar -->
    <!--  Note the use of "''", yeah two of them.
            This is the ng-inlcude directive:
            http://docs.angularjs.org/api/ng.directive:ngInclude
      -->
    <div class="span3 config-sidebar"
      ng-include="'views/admin/sidebar.html'">
    </div>
    <!-- End Nav Bar -->

    <div ng-controller="WizardCtrl" class="span9 container">

      <div class="tabbable tabs-below">

        <ul class="nav nav-tabs">
          <li ng-repeat="step in steps"
            ng-class="{active: $index==getCurrentStepIndex()}">
            <a href="javascript:void(0)"
              ng-click="goToStep($index)">{{step}}</a>
          </li>
        </ul>

        <form class="config-form">
          <div ng-switch on="selection">

            <!-- First Step -->
            <div ng-switch-when="1 Content settings">

              <p class="lead">Enter the information that is relevant to your
              submission and upload the files you need to upload</p>

              <div ng-include="'views/admin/content/internationalization.html'">
              </div>


              <div ng-include="'views/admin/content/title.html'">
              </div>

              <!-- Description -->
              <div ng-include="'views/admin/content/description.html'">
              </div>

            </div>
            <!-- /1 -->

            <!-- Second Step -->
            <div ng-switch-when="2 Notification and Delivery">

              <p class="lead">Enter the information that is relevant to your
              submission and upload the files you need to upload</p>

              <!-- ReceiverList -->
              <div ng-include="'views/admin/basic/receiverlist.html'">
              </div>

              <!-- ContextList -->
              <div ng-include="'views/admin/basic/contextlist.html'">
              </div>

            </div>
            <!-- /2 -->

            <!-- Third Step -->
            <div ng-switch-when="3 Review your settings">

              <p class="lead">Enter the information that is relevant to your
              submission and upload the files you need to upload</p>

              <div class="row">
              </div>

            </div>
            <!-- /3 -->

          </div>
          <!-- END steps -->
          <div class="clearfix"></div>
          <ul class="pager pull-left">

            <li ng-class="{disabled: !hasPreviousStep()}"
                class="previous">
              <a ng-click="decrementStep()">&larr; Previous Step</a>
            </li>

            <li class="next"
                ng-hide="!hasNextStep()">
              <a ng-click="incrementStep()">Next Step &rarr;</a>
            </li>

            <li class="next"
                ng-show="!hasNextStep()">
              <button ng-click="submit()"
                class="btn btn-success">Submit</button>
            </li>

          </ul>

          <div class="pull-right">
            <button
              ng-click="submit()"
              style="margin: 20px 0;"
              ng-hide="!hasNextStep()"
              class="btn btn-success">Submit</button>
          </div>
          <div class="clearfix"></div>
        </form>

      </div>

    </div>


  </div>
</div>
