<div class="jumbotron subhead">
  <div class="container">
    <h1>Content Settings</h1>
    <p>Administration Interface</p>
  </div>
</div>

<div class="container config-page">
  <div class="row">
    <!-- Begin Nav Bar -->
    <div class="span3 sidebar-nav config-sidebar">
      <ul class="nav nav-list config-sidenav">
        <li class="active"><i class="icon-chevron-right"></i><a href="#/receiver/foo/list">
            Content Settings
        </a></li>
        <li><a href="#/receiver/foo/preferences"><i class="icon-chevron-right"></i>
        Setup Wizard
        </a></li>
        <li><a href="#/receiver/foo/preferences"><i class="icon-chevron-right"></i>
        Basic Configuration
        </a></li>
        <li><a href="#/receiver/foo/preferences"><i class="icon-chevron-right"></i>
        Advanced Configuration
        </a></li>
      </ul>
    </div>

    <form class="config-form">
    <h2>General</h2>
    <div class="span5">
      <label>Site Title</label>
      <select class="language-setting">
        <option>English</option>
        <option>Serbian</option>
      </select>
      <input type="text" placeholder="GlobaLeaks Node">
    </div>

    <div class="span4">
      <p>Wayfarers tumblr next level american apparel mumblecore authentic
      master cleanse. Vinyl bushwick labore nesciunt readymade, jean shorts
      hoodie polaroid food truck. Dolor eiusmod +1 put a bird on it bespoke.<a
        href="https://github.com/globaleaks/GlobaLeaks/wiki">Learn More</a></p>

    </div>
  </div>
  <div class="row">
    <div class="offset3 span5">
      <label>Keywords</label>
      <select class="language-setting">
        <option>English</option>
        <option>Serbian</option>
      </select>
      <textarea placeholder="fuffa, foo, antani, supercazzola, religione, cristo, lamadonna"></textarea>
    </div>
    <div class="span4">
      <p>Wayfarers tumblr next level american apparel mumblecore authentic
      master cleanse. Vinyl bushwick labore nesciunt readymade, jean shorts
      hoodie polaroid food truck. Dolor eiusmod +1 put a bird on it bespoke.<a
        href="https://github.com/globaleaks/GlobaLeaks/wiki">Learn More</a></p>
    </div>
  </div>

  <div class="row">
    <div class="offset3 span5">
      <label>Email</label>
      <input type="text" placeholder="me@example.com">
    </div>
    <div class="span4">
      <p>Wayfarers tumblr next level american apparel mumblecore authentic
      master cleanse. Vinyl bushwick labore nesciunt readymade, jean shorts
      hoodie polaroid food truck. Dolor eiusmod +1 put a bird on it bespoke.<a
        href="https://github.com/globaleaks/GlobaLeaks/wiki">Learn More</a></p>
    </div>
  </div>


  <div class="row">
    <div class="offset3 span5"><button type="submit" class="btn btn-success">Save</button></div>
  </div>

  </form>
</div>
