<div class="row">
  <div class="col-md-12">
    <div>
      <span>{{'Sites'|translate}}</span>
      <button class="btn btn-sm btn-primary show-add-tenant-btn" (click)="toggleAddTenant()">
        <i class="fa-solid fa-plus"></i>
        <span>{{'Add'|translate}}</span>
      </button>
      <span id="SearchFilter" class="form-group float-end">
        <br>
          <br>
            <input type="text" class="form-control" [placeholder]="'Search' | translate" [attr.placeholder]="'Search' | translate" [(ngModel)]="search" name="search">
          </span>
        </div>
      </div>
    </div>
    @if (showAddTenant) {
      <div class="row">
        <div class="col-md-6">
          <form ngForm="newTenantForm" #newTenantForm="ngForm" class="addTenant" novalidate>
            <div class="form-group">
              <label>
                <span>{{'Name'|translate}}</span>
                <span class="text-danger" data-toggle="tooltip" title="{{'This field is mandatory' | translate}}">*</span>
              </label>
              <div>
                <input name="newTenant.name" class="form-control" [(ngModel)]="newTenant.name" maxlength="120" type="text" required />
              </div>
            </div>
            <div class="form-group">
              <label>{{'Mode:'|translate}}</label>
              <select name="type" class="form-select-custom" [(ngModel)]="newTenant.mode" required>
                <option value="default" [selected]="newTenant.mode === 'default'">DEFAULT</option>
                <option value="wbpa">WHISTLEBLOWINGPA</option>
              </select>
            </div>
            <div class="form-group clearfix">
              <button id="add-btn" class="float-start btn btn-primary" [disabled]="newTenantForm.invalid" (click)="addTenant();toggleAddTenant()" type="button">
                <i class="fa-solid fa-plus"></i>
                <span>Add</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    }
    <div class="row">
      @if (tenants) {
        <div class="col-md-12">
          @for (tenant of tenants | orderBy:'id' | search:search | slice: (currentPage - 1) * itemsPerPage : currentPage * itemsPerPage; track tenant; let index = $index) {
            <div>
              <form id="tenant-{{index}}"  #editTenant="ngForm" novalidate>
                <src-siteslist  [editTenant]="editTenant" [index]="(currentPage - 1) * itemsPerPage + index" [tenant]="tenant" [tenants]="tenants"></src-siteslist>
              </form>
            </div>
          }
          @if ((tenants | filter:'name':search).length > 10) {
            <div class="text-center">
              <ngb-pagination [(page)]="currentPage" [pageSize]="itemsPerPage" [collectionSize]="(tenants | filter:'name':search).length" [boundaryLinks]="true">
                <ng-template ngbPaginationPrevious>
                < {{'Previous' | translate}} </ng-template>
                <ng-template ngbPaginationNext>{{'Next' | translate}} ></ng-template>
                <ng-template ngbPaginationFirst>
                << {{'First' | translate}} </ng-template>
                <ng-template ngbPaginationLast>{{'Last' | translate}} >></ng-template>
              </ngb-pagination>
            </div>
          }
        </div>
      }
    </div>
