<div data-ng-init="submission._submission.identity_provided = true;">
  <div data-ng-if="!field.required">
    <input class="inputelem" type="radio" id="whistleblower_identity_radio_1" data-ng-model="submission._submission.identity_provided" data-ng-value="true" />
    <label class="form-check-inline" for="whistleblower_identity_radio_1" data-translate>Yes</label>
    <input class="inputelem" type="radio" id="whistleblober_identity_radio_2" data-ng-model="submission._submission.identity_provided" data-ng-value="false" />
    <label class="form-check-inline" for="whistleblower_identity_radio_2" data-translate>No</label>
  </div>
  <div data-ng-if="submission._submission.identity_provided === false && field.attrs.text_shown_upon_negative_answer.value" class="alert alert-secondary">
    <div>{{field.attrs.text_shown_upon_negative_answer.value}}</div>
  </div>
  <div data-ng-if="submission._submission.identity_provided === true">
    <div data-ng-include="'views/whistleblower/form.html'"></div>
  </div>
</div>
