<div class="">
  <div class="row">
    <div class="col-md-8">
      <div data-ng-if="preferences.picture !== ''" class="imageThumbnail">
        <img class="receiverImg" alt="user picture" data-ng-src="{{::Utils.imgDataUri(preferences.picture)}}" /><br />
      </div>
      <p><label><span data-translate>Username</span>:</label> {{::session.username }}</p>
      <p><label><span data-translate>Role</span>:</label> {{::preferences.role }}</p>
      <p><label><span data-translate>Name</span>:</label> {{::preferences.name }}</p>
      <p><label><span data-translate>Public pseudonym</span>:</label> {{::preferences.public_name }}</p>
      <p><label><span data-translate>Email address</span>:</label> {{::preferences.mail_address }}</p>
      <p data-ng-if="preferences.description !== ''"><label data-translate>Description</label> {{::preferences.description }}</p>
    </div>
  </div>
  <div data-ng-if="preferences.contexts.length > 0">
    <label><span data-translate>Contexts</span></label>
    <ul data-ng-repeat="context_id in preferences.contexts">
      <li data-ng-init="ctx = Utils.getContext(context_id)"><span data-ng-if="ctx.name">{{::ctx.name}}</span>: {{::ctx.id}}</li>
    </ul>
  </div>
</div>
<div class="form-group">
  <label data-translate>Language</label>
  <select class="form-control" data-ng-model="preferences.language" data-ng-options="item.code as item.name for item in languages_enabled_selector | orderBy:'name'"></select>
</div>

<button type="submit" class="btn btn-success" data-ng-click="save()">
  <i class="glyphicon glyphicon-ok"></i>
  <span data-translate>Save</span>
</button>
