<div class="form-group" data-ng-class="{'has-error': inp.old_password.$error.required}">
  <label>
    <span data-translate>Current Password</span>
    <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right" popover-trigger="mouseenter">*</span>
  </label>
  <input class="form-control" name="inp.old_password" data-ng-model="inp.old_password" type="password" autocomplete="off" required />
  <p class="text-danger" data-ng-show="inp.old_password.$error.required">
    <span data-translate>Old password confirmation required</span>
  </p>
</div>

<div class="form-group" data-ng-class="{'has-error': inp.new_password.$error.required || inp.new_password.$error.passwordStrength}">
  <label>
    <span data-translate>New Password</span>
    <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right" popover-trigger="mouseenter">*</span>
  </label>
  <input class="form-control" name="password" data-ng-model="inp.new_password" type="password" zxcvbn="passwordStrength" zx-min-score="3" autocomplete="off" required />
  <zx-password-meter value="passwordStrength"></zx-password-meter>
  <div class="text-danger" data-ng-show="!inp.new_password.$error.required && inp.new_password.$error.passwordStrength">
    <p data-translate>The chosen password is too weak. Make it more secure by adding special characters, numbers, and unusual symbols.</p>
   </div>
  <div class="text-danger" data-ng-show="inp.new_password !== '' && inp.new_password === inp.old_password">
    <p data-translate>The new password must be different from the current one.</p>
  </div>
</div>

<div class="form-group" data-ng-class="{'has-error': !inp.new_password.$error && (inp.check_password.$error.required || inp.new_password !== inp.check_password)}">
  <label>
    <span data-translate>Type your new password again</span>
    <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right" popover-trigger="mouseenter">*</span>
  </label>
  <input class="form-control" name="checkpassword" data-ng-model="inp.check_password" type="password" autocomplete="off" required/>
  <p class="text-danger" data-ng-show="!inp.new_password.$error.passwordStrength && (inp.new_password !== inp.check_password)">
    <span data-translate>The two passwords do not match</span>
  </p>
</div>

<button type="submit" class="btn btn-success" data-ng-disabled="$invalid || $pristine || inp.new_password !== inp.check_password || (inp.password !== '' && inp.password === inp.old_password)" data-ng-click="pass_next()">
  <i class="glyphicon glyphicon-ok"></i>
  <span data-translate>Next</span>
</button>
