<div data-ng-show="preferences.pgp_key_info">
  <div class="alert alert-success">
    <span data-translate>Encryption is enabled!</span>
    <span data-translate>Email notifications will be encrypted.</span>
  </div>

  <div>
    <label data-translate>Details of the PGP key:</label>
    <div>
      <span data-translate>The fingerprint is:</span>
      <b>{{preferences.pgp_key_fingerprint}}</b>
    </div>
  </div>

  <div>
    <pre>{{preferences.pgp_key_info}}</pre>
  </div>

  <div class="form-group" data-ng-show="preferences.pgp_key_fingerprint">
    <input data-ng-model="preferences.pgp_key_remove" type="checkbox">
    <label data-translate>Remove the PGP key</label>
  </div>
</div>

<div class="form-group">
  <div class="alert alert-danger" data-ng-hide="preferences.pgp_key_fingerprint" data-ng-click="pgp_marketing = ! pgp_marketing" data-ng-init="pgp_marketing=false">
  <div data-translate>Encryption has not been enabled!</div>
  <div data-translate>Email notifications won't be encrypted.</div>
</div>

<div class="form-group" data-ng-hide="preferences.pgp_key_fingerprint">
  <label data-translate>Set a PGP key for email notifications encryption</label>
  <textarea class="form-control" placeholder="{{'Copy and paste the PGP public key here' | translate}}" data-ng-model="preferences.pgp_key_public"></textarea>
</div>

<div class="form-group">
  <button type="submit" class="btn btn-success" data-ng-click="pref_save()">
    <i class="glyphicon glyphicon-ok"></i>
    <span data-translate>Update notification and encryption settings</span>
  </button>
</div>
