<form name="passwordChangeForm">
  <div class="form-group" data-ng-class="{'has-danger': passwordChangeForm.oldpassword.$error.required}" data-ng-if='!Authentication.session.password_change_needed'>
    <label>
      <span data-translate>Current password</span>
      <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right">*</span>
    </label>
    <input class="form-control" name="oldpassword" data-ng-model="preferences.old_password" type="password" autocomplete="off" required />
    <p class="text-danger" data-ng-show="passwordChangeForm.oldpassword.$error.required">
      <span data-translate>Old password confirmation required</span>
    </p>
  </div>

  <div class="form-group" data-ng-class="{'has-danger': passwordChangeForm.password.$error.required || passwordChangeForm.password.$error.passwordStrengthValidator}">
    <label>
      <span data-translate>New password</span>
      <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right">*</span>
    </label>
    <input class="form-control" name="password" data-ng-model="preferences.password" type="password" autocomplete="off" data-password-strength-validator required />
    <password-meter data-ng-show="passwordStrengthScore" value="passwordStrengthScore"></password-meter>
    <div class="text-danger" data-ng-show="passwordStrengthScore && passwordStrengthScore < 2">
      <p data-translate>The chosen password is too weak. A valid password should be at least 10 characters long and contain a variety of characters including at least a lowercase character, a capital character, a number and a special character.</p>
     </div>
    <div class="text-danger" data-ng-show="preferences.password !== '' && preferences.password === preferences.old_password">
      <p data-translate>The new password must be different from the current one.</p>
    </div>
  </div>

  <div class="form-group" data-ng-class="{'has-danger': preferences.password.length && !passwordChangeForm.password.$error && (passwordChangeForm.checkpassword.$error.required || preferences.password !== preferences.check_password)}">
    <label>
      <span data-translate>Type your new password again</span>
      <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right">*</span>
    </label>
    <input class="form-control" name="checkpassword" data-ng-model="preferences.check_password" type="password" autocomplete="off" required/>
    <p class="text-danger" data-ng-show="preferences.password.length && !passwordChangeForm.password.$error.passwordStrengthValidator && (preferences.password !== preferences.check_password)">
      <span data-translate>The two passwords do not match</span>
    </p>
  </div>

  <br />

  <button type="submit" class="btn btn-success" data-ng-disabled="passwordChangeForm.$invalid || passwordChangeForm.$pristine || preferences.password !== preferences.check_password || (preferences.password !== '' && preferences.password === preferences.old_password)" data-ng-click="save()">
    <i class="fa fa-check"></i>
    <span data-translate>Save</span>
  </button>
</form>
