#globaleaks-app-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  top:0; left:0; right:0; bottom:0;
  z-index: 2147483646;
  text-align: center;
  background-color: #000;
  text-align: center;
  opacity: 0.8;
}

#globaleaks-app {
  position: absolute;
  width: 95%;
  height: 95%;
  margin: 0 auto;
  border: 0;
  top: 0;
  left:0;
  right:0;
  bottom:0;
  z-index: 2147483647;
  background-color: transparent;
  text-align: right;
  opacity: 1;
}

#globaleaks-app-iframe {
  position: relative;
  width: 100%;
  height: 95%;
  margin: 0;
  border: 1px solid #000;
  z-index: 2147483647;
  background-color: #DDD;
  opacity: 1;
}

#globaleaks-app-close-button {
  color: #FFF;
  text-decoration: none;
  font-size: 20px;
}
