<div id="fields-edit-box" class="form-group">
    <div class="row">
        <span class="col-md-12">
            <label>
                <span>{{ 'Questions' | translate }}</span>
                <button class="btn btn-sm btn-primary show-add-question-btn" (click)="toggleAddQuestion()">
                    <i class="fa-solid fa-plus"></i>
                    <span>{{ 'Add new question' | translate }}</span>
                </button>
                <button class="btn btn-sm btn-primary show-add-question-from-template-btn" (click)="toggleAddQuestionFromTemplate()" *ngIf="fieldTemplatesData.length > 0">
                    <i class="fa-solid fa-plus"></i>
                    <span>{{ 'Add question from template' | translate }}</span>
                </button>
            </label>
        </span>
    </div>
    <div class="row config-section" *ngIf="showAddQuestion">
        <div class="col-md-6">
            <src-add-field [step]="step" [type]="'step'" (dataToParent)="listenToAddField()"></src-add-field>
        </div>
    </div>
    <div class="row config-section" *ngIf="showAddQuestionFromTemplate">
        <div class="col-md-6">
            <src-add-field-from-template [step]="step" [type]="'step'" [fieldTemplatesData]="fieldTemplatesData" (dataToParent)="listenToAddFieldFormTemplate()"></src-add-field-from-template>
        </div>
    </div>
    <div class="row configuredFields">
        <div class="col-md-12" *ngFor="let field of step.children | orderBy:['y', 'x']; let index = index">
            <div id="field-{{index}}" class="fieldBox">
                <form #editField="ngForm">
                    <src-fields (dataToParent)="listenToFields()" [editField]="editField" [field]="field" [fields]="step.children" [type]="'step'"></src-fields>
                </form>
            </div>
        </div>
    </div>
</div>