<table id="userList" class="table table-condensed table-striped">
  <thead>
    <tr>
      <th data-translate>Date</th>
      <th data-translate>Type</th>
      <th data-translate>Severity</th>
      <th data-translate>User</th>
      <th data-translate>Object</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="data in auditLog.auditlog.elems | orderBy:'date':true | limitTo:itemsPerPage:((auditLog.auditlog.currentPage - 1) * itemsPerPage)">
      <td>{{data.date | date:'dd-MM-yyyy HH:mm'}}</td>
      <td>{{data.type}}</td>
      <td>{{data.severity}}</td>
      <td>{{data.user_id}}</td>
      <td>{{data.object_id}}</td>
    </tr>
  </tbody>
</table>
<div class="text-center" data-ng-show="auditLog.auditlog.elems.length > itemsPerPage | limitTo:itemsPerPage:((auditLog.auditlog.currentPage - 1) * itemsPerPage)">
  <ul uib-pagination
      total-items="auditLog.auditlog.elems.length"
      first-text="<< {{'First' | translate}}"
      last-text="{{'Last' | translate}} >>"
      previous-text="< {{'Previous' | translate}}"
      next-text="{{'Next' | translate}} >"
      items-per-page="itemsPerPage"
      data-ng-model="auditLog.auditlog.currentPage"
      max-size="10"
      class="pagination-sm"
      boundary-links="true"
      force-ellipses="true"></ul>
</div>
<button class="btn btn-sm btn-link" type="button" ng-csv="resources.auditlog" csv-label='true' filename="auditlog.csv"><i class="fa-solid fa-download"></i> <span data-translate>Export</span></button>
<span data-ng-if="resources.node.root_tenant">
  <a class="btn btn-sm btn-link" type="button" data-ng-click="Utils.saveAs('globaleaks.log', '/api/admin/auditlog/debug')"><i class="fa-solid fa-download"></i> <span>globaleaks.log</span></a>
  <a class="btn btn-sm btn-link" type="button" data-ng-click="Utils.saveAs('access.log', '/api/admin/auditlog/access')"><i class="fa-solid fa-download"></i> <span>access.log</span></a>
</span>
