<div class="modal-header">
  <button type="button" class="close" data-ng-click="close()">
    <i class="glyphicon glyphicon glyphicon-remove-circle"></i>
  </button>
  <h2 data-translate>Danger ahead!</h2>
</div>
<div class="modal-body">
  <p data-translate>Disabling encryption on your node makes you susceptible to forensic analysis of your node.</p>
  
  <p data-translate>This means that if the machine running globaleaks were to
                    be siezed it will be possible to extract plaintext data from the node unless
                    other protection is in place (for example full disk encryption)</p>

  <p data-translate>Are you sure you wish to continue?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" data-ng-click="no()">
    <span data-translate>No</span>
  </button>
  <button type="button" class="btn btn-primary" data-ng-click="ok()">
    <span data-translate>Yes</span>
  </button>
</div>
