<div class="modal-header">
  <button type="button" class="close" ng-click="close()">
    <i class="glyphicon glyphicon glyphicon-remove-circle"></i>
  </button>
  <h2>{{ "Oh so many requests." | translate }}</h2>
</div>
<div class="modal-body">
  <div gl-clock></div>

  <div ng-switch="" on="error.code">
    <div ng-switch-when="55">
      {{ "Chill out for another" | translate }} {{seconds}} {{ "seconds" | translate }}
    </div>
    <div ng-switch-when="56">
      {{ "Too many submissions in" | translate }} {{seconds}} {{ "seconds" | translate }}
    </div>
    <div ng-switch-when="57">
      {{ "Too many file uploads in" | translate }} {{seconds}} {{ "seconds" | translate }}
    </div>
  </div>

  <p>{{ "Please wait while we get back fully operational" | translate }}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn" ng-click="reload()">
    {{ "Reload" | translate }}
  </button>
</div>
