<div id="HeaderBox">
  <div id="HeaderBoxContent">
    <span id="LogoBox" class="pull-left">
      <a href="/#/"><img data-ng-src="{{ logo }}" class="img-rounded"></a>
    </span>
    <span id="TitleBox" class="pull-left">
      <div id="titleboxdefault">
        <div data-ng-show="isHomepage()">
          <h1>{{ node.name }}</h1>
          <h3>{{ node.subtitle }}</h3>
        </div>
        <div data-ng-hide="isHomepage()">
          <div data-ng-show="hasSubtitle()">
            <h3>{{ header_title | translate }}</h3>
            <h1>{{ header_subtitle | translate }}</h1>
          </div>
          <div data-ng-show="!hasSubtitle()">
            <h1>{{ header_title | translate }}</h1>
          </div>
        </div>
      </div>
      <div id="titleboxwithtagline">
        <a href="/#/">
          <div id="logo"></div>
        </a>
        <div id="tagline" data-ng-show="isHomepage()">
          {{ node.subtitle }}
        </div>
        <div id="tagline" data-ng-hide="isHomepage()">
          <span>{{ header_title | translate }}</span>
          <span data-ng-show="hasSubtitle()">
             - <span>{{ header_subtitle | translate }}</span>
          </span>
        </div>
      </div>
    </span>
    <span id="ToolbarBox" class="pull-right" data-ng-if="!isWizard()" data-ng-include="'views/partials/toolbar.html'"></span>
  </div>
  <div class="clearfix"></div>
</div>
