<div id="HeaderBox" class="subhead">
  <div id="HeaderBoxContent">
    <span id="LogoBox">
      <a href="/#/"><img ng-src="/static/globaleaks_logo.png" class="img-rounded"></a>
    </span>
    <span id="TitleBox">
      <h1 id="titleboxh1logo">
        <a href="/#/">
          {{ header_title | translate }}
        </a>
      </h1>
      <h3 id="titleboxh3tagline">{{ header_subtitle | translate }}</h3>
    </span>
    <span id="ToolbarBox" ng-include="'views/partials/toolbar.html'"></span>
  </div>
  <div class="clearfix"></div>
</div>
