<div id="PrivacyBox" ng-controller="PrivacyBoxCtrl">
  <div ng-mouseenter="showBox()" ng-mouseleave="hideBox()">
    <button ng-show="displayBox" type="button" class="close" ng-click="hideBox()">×</button>
    <div ng-switch="" on="privacy">
      <div ng-switch-when="high">
        <div ng-show="!displayBox">
          <span class="label label-success">
            <i class="glyphicon glyphicon-ok-circle"></i>
            {{ "Congratulations!" | translate }}
          </span>
        </div>
        <div ng-show="displayBox">
          <span class="label label-success">
            <i class="glyphicon glyphicon-ok-circle"></i>
            {{ "Congratulations!" | translate }}
          </span>
          <div>
            <p>
              {{ "It appears you are using Tor. To better protect your anonymity, be sure that you are using the" | translate }}
              <a href="https://www.torproject.org/download/download">Tor Browser Bundle</a>.
              {{ "Keep in mind that using Tor Browser Bundle does not replace good security practices and it cannot protect you in the event your computer has been compromised. You are strongly advised to read the" | translate }}
              <a href="https://securityinabox.org/">security in a box</a>
              {{ "manual for practical security best practices." | translate }}
            </p>
          </div>
        </div>
      </div>
      <div ng-switch-when="unknown">
        <div ng-show="!displayBox">
          <span class="label label-danger">
            <i class="glyphicon glyphicon-exclamation-sign"></i>
            {{ "Warning!" | translate }}
          </span>
        </div>
        <div ng-show="displayBox" class="privacyBox-ext">
          <span class="label label-danger">
            <i class="glyphicon glyphicon-exclamation-sign"></i>
            {{ "Warning!" | translate }}
          </span>
          <div>
            <p>
              {{ "We were not able to determine if you are anonymous or not, please proceed with care" | translate }}
            </p>
          </div>
        </div>
      </div>
      <div ng-switch-when="low">
        <div ng-show="!displayBox">
          <span class="label label-danger">
            <i class="glyphicon glyphicon-warning-sign"></i>
            {{ "Danger!" | translate }}
          </span>
        </div>
        <div ng-show="displayBox" class="privacyBox-ext">
          <span class="label label-danger">
            <i class="glyphicon glyphicon-warning-sign"></i>
            {{ "Danger!" | translate }}
          </span>
          <div>
            <p>
              {{ "It appears you are not using Tor, thus you are strongly advised to " | translate }}
              <a href="https://www.torproject.org/download/download">
                {{ "download a copy of the tor browser bundle" | translate }}
              </a>
              {{ "before continuing." | translate }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
