<div id="PrivacyBox" data-ng-controller="PrivacyBoxCtrl">
  <div data-ng-mouseenter="showBox()" data-ng-mouseleave="hideBox()">
    <button data-ng-show="displayBox" type="button" class="close" data-ng-click="hideBox()">
    <i class="glyphicon glyphicon glyphicon-remove-circle"></i>
    </button>
    <div data-ng-switch="" on="privacy">
      <div data-ng-switch-when="high">
        <div data-ng-show="!displayBox">
          <span class="label label-success">
            <i class="glyphicon glyphicon-ok-circle"></i>
            <span data-translate>Congratulations!</span>
          </span>
        </div>
        <div data-ng-show="displayBox">
          <span class="label label-success">
            <i class="glyphicon glyphicon-ok-circle"></i>
            <span data-translate>Congratulations!</span>
          </span>
          <div>
            <p>
              <span data-translate>It appears you are using Tor. To better protect your anonymity, be sure that you are using the</span>
              <a href="https://www.torproject.org/download/download" target="_blank" rel="noreferrer">Tor Browser Bundle</a>.
              <span data-translate>Keep in mind that using Tor Browser Bundle does not replace good security practices and it cannot protect you in the event your computer has been compromised. You are strongly advised to read the</span>
              <a href="https://securityinabox.org/" target="_blank" rel="noreferrer">security in a box</a>
              <span data-translate>manual for practical security best practices.</span>
            </p>
          </div>
        </div>
      </div>
      <div data-ng-switch-when="unknown">
        <div data-ng-show="!displayBox">
          <span class="label label-danger">
            <i class="glyphicon glyphicon-exclamation-sign"></i>
            <span data-translate>Warning!</span>
          </span>
        </div>
        <div data-ng-show="displayBox" class="privacyBox-ext">
          <span class="label label-danger">
            <i class="glyphicon glyphicon-exclamation-sign"></i>
            <span data-translate>Warning!</span>
          </span>
          <div>
            <p>
              <span data-translate>We were not able to determine if you are anonymous or not, please proceed with care</span>
            </p>
          </div>
        </div>
      </div>
      <div data-ng-switch-when="low">
        <div data-ng-show="!displayBox">
          <span class="label label-danger">
            <i class="glyphicon glyphicon-warnidata-ng-sign"></i>
            <span data-translate>Danger!</span>
          </span>
        </div>
        <div data-ng-show="displayBox" class="privacyBox-ext">
          <span class="label label-danger">
            <i class="glyphicon glyphicon-warnidata-ng-sign"></i>
            <span data-translate>Danger!</span>
          </span>
          <div>
            <p>
              <span data-translate>It appears you are not using Tor, thus you are strongly advised to</span>
              <a href="https://www.torproject.org/download/download" target="_blank" rel="noreferrer">
                <span data-translate>download a copy of the tor browser bundle</span>
              </a>
              <span data-translate>before continuing.</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
