<div class="modal-header">
  <button type="button" class="close" aria-hidden="true" data-ng-click="cancel()">
    <i class="glyphicon glyphicon glyphicon-remove-circle"></i>
  </button>
  <h2 data-translate>Delete Receiver</h2>
</div>
<div class="modal-body">
  <div class="alert alert-danger">
    <span data-translate>Are you sure that you want to delete the receiver?</span>
    <br />
    <span data-translate>Please take care that all associated data is properly deleted.</span>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn" data-ng-click="cancel()">
    <i class="glyphicon glyphicon-remove"></i>
    <span data-translate>Cancel</span>
  </button>
  <button class="btn btn-danger" data-ng-click="ok()">
    <i class="glyphicon glyphicon-ok"></i>
    <span data-translate>Confirm Deletion</span>
  </button>
</div>
