<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" aria-hidden="true" ng-click="cancel()">×</button>
      <h2>Postpone Tip Expiration</h2>
    </div>
    <div class="modal-body">
      <div class="alert alert-danger">
        <div>
          {{ "Are you sure you want to postpone tip expiration date?" | translate }}
          <br />
          {{ "Clicking extend, you will extend the Tip expiration date to:" | translate }}
          {{ tip.potential_expiration_date | date:'dd-MM-yyyy HH:mm' }}
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn" ng-click="cancel()">
        <i class="glyphicon glyphicon-remove"></i>
        {{ "Cancel" | translate }}
      </button>
      <button class="btn btn-danger" ng-click="ok(tip, global_delete)">
        <i class="glyphicon glyphicon-ok"></i>
        {{ "Confirm Extension" | translate }}
      </button>
    </div>
  </div>
</div>
