<div class="modal-header">
  <button type="button" class="close" aria-hidden="true" ng-click="cancel()">
    <i class="glyphicon glyphicon glyphicon-remove-circle"></i>
  </button>
  <h2 data-translate>Delete Tip</h2>
</div>
<div class="modal-body">
  <div class="alert alert-danger">
    <div ng-show="global_delete">
      <span data-translate>Are you sure you want to delete the tip globally?</span>
      <br />
      <span data-translate>Please take care that all associated data will be properly deleted and all receivers won't be able to further access to it.</span>
    </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn" ng-click="cancel()">
    <i class="glyphicon glyphicon-remove"></i>
    <span data-translate>Cancel</span>
  </button>
  <button class="btn btn-danger" ng-click="ok()">
    <i class="glyphicon glyphicon-ok"></i>
    <span data-translate>Confirm Deletion</span>
  </button>
</div>
