<div id="ToolTipBox" ng-controller="toolTipCtrl">
  <div id="LoginStatusBox" class="logout alert alert-warning" ng-hide="!session_id">
    <label>{{ "Currently logged in " | translate }}
      (<a href="{{auth_landing_page}}">{{role}}</a>)</label>
    <button class="btn btn-danger" ng-click="logout()">
      <i class="glyphicon glyphicon-log-out"></i>
      {{ "Logout" | translate }}
    </button>
  </div>
  <div id="LanguagePickerBox" class="languagePick alert alert-warning" ng-hide="!show_language_selector">
    <select ng-model="language" ng-options="item.code as item.name for item in languages_enabled_selector | orderBy:'name'" class="form-control"></select>
  </div>
</div>
