<div class="row">
  <div class="col-md-8">
    <div class="form-group">
      <label data-translate>SMTP name</label>
      <input class="form-control" data-ng-model="admin.notification.smtp_source_name" type="text" />
    </div>

    <div class="form-group">
      <label data-translate>SMTP email address</label>
      <input class="form-control" name="source_email" data-ng-model="admin.notification.smtp_source_email" data-ng-pattern="email_regexp" type="text" />
    </div>
    <div class="text-danger" data-ng-show="notificationForm.source_email.$error.pattern">
      <span data-translate>Invalid email address</span>
    </div>

    <div class="form-group">
      <label data-translate>Username</label>
      <input class="form-control" data-ng-model="admin.notification.smtp_username" type="text" />
    </div>

    <div class="form-group">
      <label data-translate>Password</label>
      <input class="form-control" data-ng-model="admin.notification.smtp_password" type="password" placeholder="*****************" />
    </div>

    <div class="form-group">
      <label data-translate>SMTP server address</label>
      <input class="form-control" data-ng-model="admin.notification.smtp_server" type="text" />
    </div>

    <div class="form-group">
      <label data-translate>SMTP server port</label>
      <input class="form-control" data-ng-model="admin.notification.smtp_port" type="number" />
    </div>

    <div class="form-group">
      <label data-translate>Transport Security</label>
      <select class="form-control" data-ng-model="admin.notification.smtp_security">
        <option value="SSL">SMTPS</option>
        <option value="TLS">SMTP/TLS</option>
      </select>
    </div>

    <div class="form-group">
      <input data-ng-model="admin.notification.disable_admin_notification_emails" type="checkbox">
      <label data-translate>Disable notifications to administrators</label>
      <div data-ng-show="admin.notification.disable_admin_notification_emails">
        <span class="label label-warning" data-translate>Disabled</span>
        <span data-translate>When the option is re-enabled the spooled emails will be sent out.</span>
      </div>
    </div>

    <div class="form-group">
      <input data-ng-model="admin.notification.disable_receiver_notification_emails" type="checkbox">
      <label data-translate>Disable notifications to recipients</label>
      <div data-ng-show="admin.notification.disable_receiver_notification_emails">
        <span class="label label-warning" data-translate>Disabled</span>
      </div>
    </div>

    <div class="form-group">
      <input data-ng-model="admin.notification.disable_custodian_notification_emails" type="checkbox">
      <label data-translate>Disable notifications to custodians</label>
      <div data-ng-show="admin.notification.disable_custodian_notification_emails">
        <span class="label label-warning" data-translate>Disabled</span>
      </div>
    </div>

    <div class="form-group">
      <input data-ng-model="admin.notification.reset_templates" type="checkbox">
      <label data-translate>Reset notification templates to default</label>
    </div>

    <div class="form-group">
      <label data-translate>Number of hours before sending a submission expiration alert</label>
      <input class="form-control" data-ng-model="admin.notification.tip_expiration_threshold" type="number" />
    </div>

    <div class="form-group">
      <label data-translate>Maximum emails per hour before triggering email suspension</label> <label>(<span data-translate>this configuration only applies to recipients</span>)</label>
      <input class="form-control" data-ng-model="admin.notification.notification_threshold_per_hour" type="number" />
    </div>

    <div class="form-group">
      <input type="hidden" name="session" value="{{session.id}}" />
      <button uib-popover="{{'Send a test email to your email address.' | translate}}"
              popover-placement="right"
              ng-click="updateThenTestMail();"
              class="btn btn-primary">
        <i class="glyphicon glyphicon-envelope"></i>
        <span data-translate>Test the configuration</span>
      </button>
  </div>
</div>
