<div class="row">
  <div class="col-md-8">
    <div class="form-group">
      <input data-ng-model="admin.notification.disable_admin_notification_emails" type="checkbox">
      <label data-translate>Disable admin notification emails</label>
      <div data-ng-show="admin.notification.disable_admin_notification_emails">
        <span class="label label-warning" data-translate>Disabled</span>
        <span data-translate>When the option is re-enabled the spooled emails will be sent out.</span>
      </div>
    </div>

    <div class="form-group">
      <input data-ng-model="admin.notification.disable_receivers_notification_emails" type="checkbox">
      <label data-translate>Disable receivers notifications emails</label>
      <div data-ng-show="admin.notification.disable_receivers_notification_emails">
        <span class="label label-warning" data-translate>Disabled</span>
        <span data-translate>When the option is re-enabled the spooled emails will be sent out.</span>
      </div>
    </div>

    <div class="form-group">
      <input data-ng-model="admin.notification.send_email_for_every_event" type="checkbox">
      <label data-translate>Send an email notification for every event</label>
      <div data-ng-show="admin.notification.send_email_for_every_event">
        <span class="label label-success" data-translate>Enabled</span>
        <span data-translate>An email notification will also always be sent in case the user viewed the related info through the platform.</span>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Source Name</label>
      <input class="form-control" data-ng-model="admin.notification.source_name" maxlength="{{node.maximum_namesize}}" type="text" />
    </div>

    <div class="form-group">
      <label data-translate>Source Email Address</label>
      <input class="form-control" name="source_email" data-ng-model="admin.notification.source_email" data-ng-pattern="email_regexp" maxlength="{{node.maximum_namesize}}" type="text" />
    </div>
    <p class="has-error" data-ng-show="notificationForm.source_email.$error.pattern">
      <span data-translate>Invalid email address</span>
    </p>

    <div class="form-group">
      <label data-translate>Username</label>
      <input class="form-control" data-ng-model="admin.notification.username" maxlength="{{node.maximum_namesize}}" type="text" />
    </div>

    <div class="form-group">
      <label data-translate>Password</label>
      <input class="form-control" data-ng-model="admin.notification.password" type="password" />
    </div>

    <div class="form-group">
      <label data-translate>SMTP server address</label>
      <input class="form-control" data-ng-model="admin.notification.server" maxlength="{{node.maximum_namesize}}" type="text" />
    </div>

    <div class="form-group">
      <label data-translate>SMTP server port</label>
      <input class="form-control" data-ng-model="admin.notification.port" maxlength="{{node.maximum_namesize}}" type="number" />
    </div>

    <div class="form-group">
      <label data-translate>Transport Security</label>
      <select class="form-control" data-ng-model="admin.notification.security">
        <option value="SSL">SMTPS</option>
        <option value="TLS">SMTP/TLS</option>
      </select>
    </div>

    <div class="form-group">
      <label data-translate>Zip Description Template</label>
      <div>
        <textarea data-ng-model="admin.notification.zip_description" maxlength="{{node.maximum_textsize}}" class="form-control"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Ping Email Title</label>
      <div>
        <input data-ng-model="admin.notification.ping_mail_title" maxlength="{{node.maximum_namesize}}" class="form-control" type="text" />
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Ping Email Template</label>
      <div>
        <textarea data-ng-model="admin.notification.ping_mail_template" maxlength="{{node.maximum_textsize}}" class="form-control"></textarea>
      </div>
    </div>

  </div>
</div>
