<div class="row">
  <div class="col-md-8">
    <div data-translate>This interface allows configuration of the email templates used for notifying administrators.</div>

    <br /><br />

    <div class="form-group">
      <label data-translate>Template</label>
      <select name="type" class="form-control" data-ng-model="template">
        <option value="anomaly_notification" data-translate>Notification of anomaly</option>
        <option value="pgp_expiration" data-translate>Notification of PGP key expiration</option>
      </select>
    </div>

    <br /><br />

    <div class="row">
      <div class="col-md-offset-1 col-md-11" data-ng-switch="template">
        <div data-ng-switch-when="anomaly_notification">
          <div class="form-group">
            <label data-translate>Email subject</label>
            <input data-ng-model="admin.notification.admin_anomaly_mail_title" maxlength="{{node.maximum_namesize}}" class="form-control" type="text" />
          </div>
          <div class="form-group">
            <label data-translate>Email body</label>
            <div>
              <textarea data-ng-model="admin.notification.admin_anomaly_mail_template" maxlength="{{node.maximum_textsize}}" class="form-control" rows="10"></textarea>
            </div>
          </div>
        </div>

        <div data-ng-switch-when="pgp_expiration">
          <div class="form-group">
            <label data-translate>Email subject</label>
            <input data-ng-model="admin.notification.admin_pgp_alert_mail_title" maxlength="{{node.maximum_namesize}}" class="form-control" type="text" />
          </div>
          <div class="form-group">
            <label data-translate>Email body</label>
            <div>
              <textarea data-ng-model="admin.notification.admin_pgp_alert_mail_template" maxlength="{{node.maximum_textsize}}" class="form-control" rows="10"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
