<div class="row">
  <div class="col-md-8">
    <div class="form-group">
      <label data-translate>Template</label>
      <select name="type" class="form-control" data-ng-model="template">
        <option value="tip_mail" data-translate>Notification of new submission</option>
        <option value="comment_mail" data-translate>Notification of new comment</option>
        <option value="message_mail" data-translate>Notification of new message</option>
        <option value="file_mail" data-translate>Notification of new file attachment</option>
        <option value="pgp_alert_mail" data-translate>Notification of PGP key expiration</option>
        <option value="admin_anomaly_mail" data-translate>Notification of anomaly</option>
        <option value="admin_pgp_alert_mail"><span data-translate>Notification of PGP key expiration</span> (<span data-translate>Admin</span>)</option>
      </select>
    </div>

    <br /><br />

    <div class="row" data-ng-if="template">
      <div class="col-md-12">
        <div class="form-group">
          <label data-translate>Email subject</label>
          <input data-ng-model="admin.notification[template + '_title']" class="form-control" type="text" />
        </div>
        <div class="form-group">
          <label data-translate>Email body</label>
          <div>
            <textarea data-ng-model="admin.notification[template + '_template']" class="form-control" rows="10"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
