<div class="row">
  <div class="col-md-8">
    <div>
      <span data-translate>This interface allows to configure the email templates used for admin notifications.</span>
    </div>

    <br /><br />

    <div class="form-group">
      <label data-translate>Mail title of anomaly notifications</label>
      <div>
        <input data-ng-model="admin.notification.admin_anomaly_mail_title" maxlength="{{node.maximum_namesize}}" class="form-control" type="text" />
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Mail template of anomaly notifications</label>
      <div>
        <textarea data-ng-model="admin.notification.admin_anomaly_mail_template" maxlength="{{node.maximum_textsize}}" class="form-control" type="text" /></textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Mail title for PGP expiration alerts</label>
      <div>
        <input data-ng-model="admin.notification.admin_pgp_alert_mail_title" maxlength="{{node.maximum_namesize}}" class="form-control" type="text" />
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Mail template for PGP expiration alerts</label>
      <div>
        <textarea data-ng-model="admin.notification.admin_pgp_alert_mail_template" maxlength="{{node.maximum_textsize}}" class="form-control"></textarea>
      </div>
    </div>

  </div>
</div>



