<div class="row">
  <div class="col-md-8">
    <div class="form-group">
      <input data-ng-model="admin.notification.enable_admin_exception_notification" type="checkbox">
      <label data-translate>Notify administrators of software exceptions</label>
    </div>
    <div class="form-group">
      <input data-ng-model="admin.notification.enable_developers_exception_notification" type="checkbox">
      <label data-translate>Notify developers of software exceptions</label>
    </div>
  </div>
</div>
