<div class="jumbotron subhead">
  <div class="container">
    <h1>List of Tips</h1>
    <p>Receiver Page</p>
  </div>
</div>

<div class="container">

<div class="row">
  <!-- Begin Nav Bar -->
  <div class="span3 sidebar-nav config-sidebar">
    <ul class="nav nav-list config-sidenav">
      <li class="active"><i class="icon-chevron-right"></i><a
          href="#/receiver/foo/list">List of Tips</a></li>
      <li><a href="#/receiver/foo/preferences"><i class="icon-chevron-right"></i>Preferences</a></li>
    </ul>
  </div>

  <!-- Begin main content -->
  <div class="span9">
   <div class="table-container">
   <table class="table table-striped table-bordered dataTable" id="tipList">
    <thead>
      <tr>
        <th>Name</th>
        <th>Date Received</th>
        <th>Your Views</th>
        <th>Total Views</th>
        <th>Downloads</th>
        <th>Pertinence</th>
      </tr>
    </thead>

    <tbody id="tipListTableBody">
      {{#tips}}
      <tr class="{{parity}}">
        <td>{{name}}</td>
        <td>{{date}}</td>
        <td>{{my_view}}</td>
        <td>{{views}}</td>
        <td>{{downloads}}</td>
        <td>{{pertinence}}</td>
      </tr>
      {{/tips}}
    </tbody>
  </table>
  </div>
  </div>
  </div>
</div>
