<form #passwordChangeForm="ngForm">
  <input class="d-none" type="password" />
  @if (!preferencesService.dataModel.password_change_needed) {
    <div class="form-group">
      <label>
        <span>{{'Current password'|translate}}</span>
        <span class="text-danger" data-toggle="tooltip" title="{{'This field is mandatory' | translate}}">*</span>
      </label>
      <input class="form-control" #current="ngModel" name="changePasswordArgs.current" id="current" [(ngModel)]="changePasswordArgs.current" type="password" autocomplete="off" [ngClass]="{'is-invalid': changePasswordArgs.password && current.errors?.['required']}" required />
    </div>
  }
  <div class="form-group">
    <label>
      <span>{{'New password'|translate}}</span>
      <span class="text-danger" data-toggle="tooltip" title="{{'This field is mandatory' | translate}}">*</span>
    </label>
        <input class="form-control" #password="ngModel" name="changePasswordArgs.password" id="password" (passwordStrengthChange)="onPasswordStrengthChange($event)" [(ngModel)]="changePasswordArgs.password" type="password" autocomplete="off" [ngClass]="{'is-invalid': changePasswordArgs.password && passwordStrengthScore
			<2}" passwordStrengthValidator required />
        @if (passwordStrengthScore>0) {
<src-password-meter [passwordStrengthScore]='passwordStrengthScore'></src-password-meter>
}
        @if (passwordStrengthScore && passwordStrengthScore < 2) {
<div class="text-danger">
            <p>{{'The chosen password is too weak. A valid password should be at least 12 characters long and contain a variety of characters including at least a lowercase character, a capital character, a number and a special character.'|translate}}</p>
        </div>
}
        @if (changePasswordArgs.password && changePasswordArgs.password === changePasswordArgs.current) {
<div class="text-danger">
            <p>{{'The new password must be different from the current one.'|translate}}</p>
        </div>
}
    </div>
    <div class="form-group">
        <label>
            <span>{{'Type your new password again'|translate}}</span>
            <span class="text-danger" data-toggle="tooltip" title="{{'This field is mandatory' | translate}}">*</span>
        </label>
        <input class="form-control" #confirm="ngModel" name="changePasswordArgs.confirm" [(ngModel)]="changePasswordArgs.confirm" type="password" autocomplete="off" [ngClass]="{'is-invalid': changePasswordArgs.password && !password.errors && (confirm.errors?.['required'] || changePasswordArgs.password !== changePasswordArgs.confirm)}" required />
        @if (changePasswordArgs.password && changePasswordArgs.confirm.length>0 && passwordStrengthScore>=2 && (changePasswordArgs.password !== changePasswordArgs.confirm)) {
<p class="text-danger">
            <span>{{'The two passwords do not match'|translate}}</span>
        </p>
}
    </div>
    <br />
    <button type="submit" name="submit" class="btn btn-primary" [disabled]="password.errors?.['required'] || passwordChangeForm.invalid || passwordChangeForm.pristine || changePasswordArgs.password !== changePasswordArgs.confirm || (changePasswordArgs.password && changePasswordArgs.password === changePasswordArgs.current)" (click)="changePassword()">
        <i class="fa-solid fa-check"></i>
        <span>{{'Save'|translate}}</span>
    </button>
</form>
@if (appDataService.errorCodes.code === 11) {
<div class="mt-2 alert alert-danger">
    <span>{{'The new password must be different from the current one.'|translate}}</span>
</div>
}