<form #wizardForm="ngForm" name="wizardForm" novalidate>
    <div *ngIf="step === 1" ngForm #wizardFormStep1="ngForm" class="clearfix">
        <div class="row wizard-block">
            <div class="col-md-12">
                <div class="title">{{'Welcome!'|translate}}</div>
                <div>{{'The following step - by - step procedure will guide you through creating your whistleblowing platform.'|translate}}</div>
            </div>
        </div>
        <br>
        <div class="pager float-start">
            <div class="alert alert-danger" *ngIf="proxiedServer">
                <span>{{'Wizard not allowed from proxied server.'|translate}}</span>
            </div>
            <button class="ButtonNext btn btn-primary" (click)="step = 2" [disabled]="proxiedServer">
                <span>{{'Next'|translate}}</span>
                <i class="fa-solid fa-arrow-circle-right"></i>
            </button>
            <button class="ButtonNext btn btn-primary" *ngIf="proxiedServer" (click)="openLocalhost()">
                <span>{{'localhost'|translate}}</span>
                <i class="fa-solid fa-arrow-circle-right"></i>
            </button>
        </div>
    </div>
    <div *ngIf="step === 2" ngForm #wizardFormStep2="ngForm" [ngClass]="{'was-validated': validation.step2}" class="clearfix">
        <div class="row wizard-block">
            <div class="col-md-6">
                <div class="row form-group">
                    <label class="col-md-4">
                        <span>{{'Project name'|translate}}</span>
                        <span class="text-danger" data-toggle="tooltip" title="{{'This field is mandatory' | translate}}">*</span>
                    </label>
                    <div class="col-md-8">
                        <input name="node_name" class="form-control" [(ngModel)]="wizard.node_name" [placeholder]="'Project name' | translate" type="text" required>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="pager float-start">
            <button class="ButtonPrevious btn btn-primary" (click)="step = 1">
                <i class="fa-solid fa-arrow-circle-left"></i>
                <span>{{'Previous'|translate}}</span>
            </button>
            <button class="ButtonNext btn btn-primary" (click)="(validation.step2=true) && !wizardFormStep2.invalid && (step = 4)">
                <span>{{'Next'|translate}}</span>
                <i class="fa-solid fa-arrow-circle-right"></i>
            </button>
        </div>
    </div>
    <div *ngIf="step === 3" ngForm #wizardFormStep3="ngForm" [ngClass]="{'was-validated': validation.step3}" class="clearfix">
        <div class="row wizard-block">
            <div class="title">{{'Please choose a configuration profile:'|translate}}</div>
            <div class="col-md-6">
                <src-profile></src-profile>
            </div>
        </div>
        <br>
        <div class="pager float-start">
            <button class="ButtonPrevious btn btn-primary" (click)="step = 2">
                <i class="fa-solid fa-arrow-circle-left"></i>
                <span>{{'Previous'|translate}}</span>
            </button>
            <button class="ButtonNext btn btn-primary" (click)="(validation.step3=true) && !wizardFormStep3.invalid && (step = 5)">
                <span>{{'Next'|translate}}</span>
                <i class="fa-solid fa-arrow-circle-right"></i>
            </button>
        </div>
    </div>
    <div *ngIf="step === 4" ngForm #wizardFormStep4="ngForm" [ngClass]="{'was-validated': validation.step4}" class="clearfix">
        <div class="row wizard-block">
            <div class="col-md-12 title">{{'Admin'|translate}}</div>
            <div class="col-md-6">
                <div class="row form-group">
                    <label class="col-md-4">
                        <span>{{'Username'|translate}}</span>
                        <span class="text-danger" data-toggle="tooltip" title="{{'This field is mandatory' | translate}}">*</span>
                    </label>
                    <div class="col-md-8">
                        <input name="admin_username" class="form-control" [(ngModel)]="wizard.admin_username" type="text" placeholder="{{'Username' | translate}}" autocomplete="off" required>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4">
                        <span>{{'Name'|translate}}</span>
                        <span class="text-danger" data-toggle="tooltip" title="{{'This field is mandatory' | translate}}">*</span>
                    </label>
                    <div class="col-md-8">
                        <input name="admin_name" class="form-control" [(ngModel)]="wizard.admin_name" type="text" placeholder="{{'Name' | translate}}" required>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4">
                        <span>{{'Email address'|translate}}</span>
                        <span class="text-danger" data-toggle="tooltip" title="{{'This field is mandatory' | translate}}">*</span>
                    </label>
                    <div class="col-md-8">
                        <input name="admin_mail_address" class="form-control" #admin_email="ngModel" [(ngModel)]="wizard.admin_mail_address" placeholder="{{'Email address' | translate}}" [pattern]="emailRegexp" type="text" [ngClass]="{'is-invalid': wizardFormStep4.valid && (admin_email?.errors?.['required'] || wizardFormStep4?.errors?.['pattern'])}" required>
                        <div class="text-danger" *ngIf="admin_email?.errors?.['pattern']">
                            <span>{{'Invalid email address'|translate}}</span>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4">
                        <span>{{'Password'|translate}}</span>
                        <span class="text-danger" data-toggle="tooltip" title="{{'This field is mandatory' | translate}}">*</span>
                    </label>
                    <div class="col-md-8">
                        <input name="admin_password" #password_admin="ngModel" class="form-control" [(ngModel)]="wizard.admin_password" type="password" placeholder="{{'Password' | translate}}" autocomplete="off" [ngClass]="{'is-invalid': wizardFormStep4.valid && (password_admin?.errors?.['required'] || (password_admin.errors?.['passwordStrengthValidator']))}" (passwordStrengthChange)="onPasswordStrengthChange($event)" required passwordStrengthValidator />
                        <src-password-meter *ngIf="password_score>0" [passwordStrengthScore]='password_score'></src-password-meter>
                        <div class="text-danger" *ngIf="!password_admin?.errors?.['required'] && password_admin.errors?.['passwordStrengthValidator']">
                            <p>{{'The chosen password is too weak. A valid password should be at least 12 characters long and contain a variety of characters including at least a lowercase character, a capital character, a number and a special character.'|translate}}</p>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-md-4">
                        <span>{{'Password'|translate}}</span> ( <span>{{'Confirm'|translate}}</span>) <span class="text-danger" data-toggle="tooltip" title="{{'This field is mandatory' | translate}}">*</span>
                    </label>
                    <div class="col-md-8">
                        <input name="checkpassword" class="form-control" [(ngModel)]="admin_check_password" type="password" placeholder="{{'Password' | translate}}" autocomplete="off" [ngClass]="{'is-invalid': wizardFormStep4.valid && (!password_admin.errors?.['passwordStrengthValidator'] && wizard.admin_password && (wizard.admin_password !== admin_check_password))}" required />
                        <div class="text-danger" *ngIf="wizardFormStep4.valid  && (!password_admin.errors?.['passwordStrengthValidator'] && wizard.admin_password && (wizard.admin_password !== admin_check_password))">{{'The two passwords do not match'|translate}}</div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="form-check">
                            <input class="admin-escrow inputelem" type="checkbox" name="wizard.admin_escrow" [(ngModel)]="wizard.admin_escrow">
                            <span class="form-check-label">{{'Make it possible for this admin to reset user passwords.'|translate}}</span>
                        </div>
                        <div>{{'We advise selecting this option if you would like to protect data from being lost in the situation where recipients lose their passwords. On the other hand, we would not advise using this feature if you want to setup a system where only recipients are able to access submissions.'|translate}}</div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="pager float-start">
            <button class="ButtonPrevious btn btn-primary" (click)="step = 2">
                <i class="fa-solid fa-arrow-circle-left"></i>
                <span>{{'Previous'|translate}}</span>
            </button>
            <button class="ButtonNext btn btn-primary" (click)="(validation.step4=true) && !(wizardFormStep4.invalid || (wizard.admin_password !== admin_check_password)) && (step = 5)">
                <span>{{'Next'|translate}}</span>
                <i class="fa-solid fa-arrow-circle-right"></i>
            </button>
        </div>
    </div>
    <div *ngIf="step === 5" ngForm #wizardFormStep5="ngForm" [ngClass]="{'was-validated': validation.step5}" class="clearfix">
        <div class="row wizard-block">
            <div class="col-md-12 title">{{'Recipient'|translate}}</div>
            <div class="col-md-6">
                <div *ngIf="!wizard.skip_recipient_account_creation">
                    <div class="row form-group">
                        <label class="col-md-4">
                            <span>{{'Username'|translate}}</span>
                            <span class="text-danger" data-toggle="tooltip" title="{{'This field is mandatory' | translate}}">*</span>
                        </label>
                        <div class="col-md-8">
                            <input name="receiver_username" class="form-control" [(ngModel)]="wizard.receiver_username" autocomplete="off" type="text" placeholder="{{'Username' | translate}}" [ngClass]="{'is-invalid': recipientDuplicate}" required>
                            <div class="text-danger" *ngIf="recipientDuplicate && wizard.receiver_username === wizard.admin_username">
                                <span>{{'Please choose a different username.'|translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4">
                            <span>Name</span>
                            <span class="text-danger" data-toggle="tooltip" title="{{'This field is mandatory' | translate}}">*</span>
                        </label>
                        <div class="col-md-8">
                            <input name="receiver_name" class="form-control" [(ngModel)]="wizard.receiver_name" type="text" placeholder="{{'Name' | translate}}" [disabled]="wizard.skip_recipient_account_creation" required>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4">
                            <span>{{'Email address'|translate}}</span>
                            <span class="text-danger" data-toggle="tooltip" title="{{'This field is mandatory' | translate}}">*</span>
                        </label>
                        <div class="col-md-8">
                            <input name="receiver_email" #receiver_email="ngModel" class="form-control" [(ngModel)]="wizard.receiver_mail_address" [pattern]="emailRegexp" type="text" placeholder="{{'Email address' | translate}}" [ngClass]="{'is-invalid': validation.step4 && wizardFormStep5.valid && receiver_email?.errors?.['required'] || receiver_email?.errors?.['pattern']}" [disabled]="wizard.skip_recipient_account_creation" required>
                            <div class="text-danger" *ngIf="receiver_email?.errors?.['pattern']">
                                <span>{{'Invalid email address'|translate}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4">
                            <span>{{'Password'|translate}}</span>
                            <span class="text-danger" data-toggle="tooltip" title="{{'This field is mandatory' | translate}}">*</span>
                        </label>
                        <div class="col-md-8">
                            <input name="password" class="form-control" [(ngModel)]="wizard.receiver_password" #password_receiver="ngModel" type="password" placeholder="{{'Password' | translate}}" autocomplete="off" [ngClass]="{'is-invalid': validation.step4 && wizardFormStep5.valid && (password_receiver?.errors?.['required'] || (password_receiver?.errors?.['passwordStrengthValidator']))}" (passwordStrengthChange)="onPasswordStrengthChange($event)" required passwordStrengthValidator />
                            <src-password-meter *ngIf="password_score>0" [passwordStrengthScore]='password_score'></src-password-meter>
                            <div class="text-danger" *ngIf="!password_receiver?.errors?.['required'] && password_receiver?.errors?.['passwordStrengthValidator']">
                                <p>{{'The chosen password is too weak. A valid password should be at least 12 characters long and contain a variety of characters including at least a lowercase character, a capital character, a number and a special character.'|translate}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-md-4">
                            <span>{{'Password'|translate}}</span> ( <span>{{'Confirm'|translate}}</span>) <span class="text-danger" data-toggle="tooltip" title="{{'This field is mandatory' | translate}}">*</span>
                        </label>
                        <div class="col-md-8">
                            <input name="checkpassword" class="form-control" [(ngModel)]="recipient_check_password" type="password" placeholder="{{'Password' | translate}}" autocomplete="off" ng-class="{'is-invalid': validation.step4 && wizardFormStep4.valid && (!wizardFormStep5.password.$error.passwordStrengthValidator && wizard.receiver_password && (wizard.receiver_password !== recipient_check_password))}" required />
                            <div class="text-danger" *ngIf="validation.step4 && (!password_receiver?.errors?.['passwordStrengthValidator'] && recipient_check_password.length>0 && wizard.receiver_password && (wizard.receiver_password !== recipient_check_password))">{{'The two passwords do not match'|translate}}</div>
                        </div>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <div class="form-check">
                            <input name="skip_recipient_account_creation" class="inputelem" type="checkbox" [(ngModel)]="wizard.skip_recipient_account_creation">
                            <span class="form-check-label">{{'Skip the recipient account creation.'|translate}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="pager float-start">
            <button class="ButtonPrevious btn btn-primary" (click)="step = 4">
                <i class="fa-solid fa-arrow-circle-left"></i>
                <span>{{'Previous'|translate}}</span>
            </button>
            <button class="ButtonNext btn btn-primary" (click)="(validation.step5 = true) && (wizard.skip_recipient_account_creation || !(wizardFormStep5.invalid || (validateDuplicateRecipient()))) && (step = 6)">
                <span>{{'Next'|translate}}</span>
                <i class="fa-solid fa-arrow-circle-right"></i>
            </button>
        </div>
    </div>
    <div *ngIf="step === 6" ngForm #wizardFormStep6="ngForm" [ngClass]="{'was-validated': validation.step6}" class="clearfix">
        <div class="row wizard-block">
            <div class="col-md-12">
                <div class="form-group">
                    <div class="title">{{'License'|translate}}</div>
                    <div class="tos-text">{{license|translate}}</div>
                    <div class="form-check">
                        <input name="tosAccept" class="tos-agreement-input inputelem" type="checkbox" [(ngModel)]="tosAccept" required>
                        <span class="tos-agreement-label form-check-label" [ngClass]="{'text-danger': validation.step6 && wizardFormStep6.invalid}">{{'I have read and agree to the terms of the license.'|translate}}</span>
                    </div>
                    <div class="form-check" *ngIf="appDataService.public.node.root_tenant">
                        <input class="inputelem" name="wizard.enable_developers_exception_notification" [(ngModel)]="wizard.enable_developers_exception_notification" type="checkbox">
                        <span>{{'Notify developers of software problems'|translate}}</span>
                        <div>{{'By enabling this feature, you will contribute to the development and security of the platform.'|translate}}</div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="pager float-start">
            <button class="ButtonPrevious btn btn-primary" (click)="step = 5">
                <i class="fa-solid fa-arrow-circle-left"></i>
                <span>{{'Previous'|translate}}</span>
            </button>
            <button class="ButtonNext btn btn-primary" (click)="(validation.step6 = true) && !wizardFormStep6.invalid &&  complete()">
                <span>{{'Next'|translate}}</span>
                <i class="fa-solid fa-arrow-circle-right"></i>
            </button>
        </div>
    </div>
    <div *ngIf="step === 7" class="clearfix">
        <div class="row wizard-block">
            <div class="col-md-10">
                <div class="congratulations">
                    <div class="title">{{'Congratulations!'|translate}}</div>
                    <div>{{'You have completed the platform wizard.'|translate}}</div>
                </div>
            </div>
        </div>
        <br>
        <div class="pager float-start">
            <button name="proceed" class="ButtonNext btn btn-primary" (click)="goToAdminInterface()" type="submit">
                <span>{{'Proceed'|translate}}</span>
            </button>
        </div>
    </div>
</form>