<h3 data-translate>SSL certificate configuration</h3>
<p>
    <span data-translate>This section allows you to upload an SSL certificate to use with this node.</span>
    <span data-translate>Once you have uploaded all three files you can check the configuration by visiting this server on port 443 with a web browser.</span>
</p>

<div data-ng-form name="sslConfigForm" ng-controller="AdminSSLConfigCtrl">
    <div class="form-group">
        <label data-translate>Private key</label>
        <div>
            <textarea class="form-control"
              data-ng-model="ssl_config.priv_key"
              data-ng-required>
            </textarea>
        </div>
    </div>

    <div class="form-group">
        <label data-translate>Certificate</label>
        <div>
            <textarea class="form-control" 
              data-ng-model="ssl_config.cert"
              data-ng-required>
            </textarea>
        </div>
    </div>

    <div class="form-group">
        <label data-translate>Intermediate chain</label>
        <div>
            <textarea class="form-control"
              data-ng-model="ssl_config.chain"
              data-ng-required>
            </textarea>
        </div>
    </div>
    <div class="panel panel-danger" data-ng-if="sslConfigForm.$invalid && sslConfigForm.$dirty">
        <div class="panel-heading">
            <b data-translate>Errors</b>
        </div>
        <div class="panel-body text-danger">
            <ul>
                <li data-ng-repeat="error in sslConfigForm.$error">{{ error }}</li>
            </ul>
        </div>
    </div>
    <button class="btn btn-success" ng-click="submitConfig()">
          <i class="glyphicon glyphicon-ok"></i>
          <span data-translate>Save</span>
    </button>
</div>
