<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label>
        <input data-ng-model="resources.node.disable_submissions" type="checkbox" />
        <span data-translate>Disable submissions</span>
      </label>
    </div>

    <div class="form-group" data-ng-if="resources.node.encryption_possible && !resources.node.encryption">
      <label>
        <input data-ng-model="resources.node.encryption" type="checkbox" data-ng-change="toggleEncryption()" data-ng-disabled="public.node.encryption" />
        <span data-translate>Enable encryption</span>
      </label>
    </div>

    <div data-ng-if="public.node.encryption && preferences.encryption">
      <div class="form-group">
        <label>
          <input data-ng-model="resources.node.escrow" type="checkbox" data-ng-disabled="resources.node.escrow && !preferences.escrow" />
          <span data-translate>Enable administrators to change user passwords</span>
        </label>
      </div>
      <div class="form-group">
        <label data-translate>Administrators authorized to change user passwords:</label>
        <ol class="selectionList">
          <li data-ng-repeat="user in resources.users | filter: {escrow: true}">
            <span>{{user.name}}</span>
          </li>
        </ol>
      </div>
    </div>

    <div class="form-group" data-ng-if="resources.node.root_tenant">
      <label>
        <input data-ng-model="resources.node.multisite" type="checkbox" />
        <span data-translate>Enable multisite feature</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="resources.node.can_delete_submission" type="checkbox" />
        <span data-translate>Allow recipients to delete reports</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="resources.node.can_postpone_expiration" type="checkbox" />
        <span data-translate>Allow recipients to postpone expiration date of the report</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="resources.node.can_grant_permissions" type="checkbox" />
        <span data-translate>Allow recipients to grant permissions to whistleblowers on specific reports</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="resources.node.allow_indexing" type="checkbox" />
        <span data-translate>Enable search engines indexing</span>
      </label>
    </div>

    <div class="form-group">
      <label>Allow CORS requests from the following comma separated origins</label>
      <div>
        <input class="form-control" name="cors_origins" data-ng-model="resources.node.cors_origins" type="text" />
      </div>
    </div>

    <div class="form-group" data-ng-if="!resources.node.disable_privacy_badge">
      <label>
        <input data-ng-model="resources.node.enable_custom_privacy_badge" type="checkbox" />
        <span data-translate>Enable custom privacy panel</span>
      </label>
    </div>

    <div class="form-group" data-ng-if="!resources.node.disable_privacy_badge && resources.node.enable_custom_privacy_badge">
      <label data-translate>Custom privacy panel</label>
      <div>
        <textarea class="form-control" data-ng-model="resources.node.custom_privacy_badge_text" type="text"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="resources.node.disable_privacy_badge" type="checkbox" />
        <span data-translate>Disable the privacy panel</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="resources.node.enable_receipt_hint" type="checkbox" />
        <span data-translate>Enable the receipt hint</span>
      </label>
    </div>

    <div data-ng-include="'views/partials/ricochet_config.html'"></div>

    <div class="form-group">
      <label data-translate>Default questionnaire</label>
      <select class="form-control" data-ng-model="resources.node.default_questionnaire" data-ng-options="item.id as item.name for item in resources.questionnaires"></select>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="resources.node.show_contexts_in_alphabetical_order" type="checkbox" />
        <span data-translate>Show contexts in alphabetical order</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="resources.node.do_not_expose_users_names" type="checkbox" />
        <span data-translate>Do not expose users' names</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <span data-translate>Size limit for file attachments</span>
        <span data-translate>in megabytes</span>
      </label>
      <input class="form-control" data-ng-model="resources.node.maximum_filesize" type="number" min="0" />
    </div>

    <div class="form-group">
      <input data-ng-model="resources.node.https_preload" type="checkbox" />
      <label data-translate>Enable HSTS preload</label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="resources.node.two_factor" type="checkbox" />
        <span data-translate>Require two factor authentication</span>
      </label>
    </div>

    <div class="form-group">
      <label data-translate>Password change interval</label>
      <input class="form-control" data-ng-model="resources.node.password_change_period" type="number" min="0" />
      <div data-translate>For security reasons, password changes are required at regular intervals.</div>
      <div data-translate>Set the value to 0 to disable this feature.</div>
    </div>

    <div class="form-group" data-ng-if="resources.node.root_tenant">
      <label data-translate>Number of days till notifying users unread reports</label>
      <input class="form-control" data-ng-model="resources.node.unread_reminder_time" type="number" min="1" />
    </div>

    <div class="form-group">
      <input data-ng-model="resources.node.enable_custodian" type="checkbox">
      <label data-translate>Enable custodian user role</label>
    </div>

    <div class="form-group">
      <input data-ng-model="resources.node.enable_scoring_system" type="checkbox">
      <label data-translate>Enable scoring system</label>
    </div>

    <div class="form-group">
      <input data-ng-model="resources.node.enable_private_annotations" type="checkbox">
      <label data-translate>Enable private annotations</label>
    </div>

    <div class="form-group" data-ng-if="resources.node.root_tenant">
      <label data-translate>Logging level</label>
      <select class="form-control" data-ng-model="resources.node.log_level">
        <option value="ERROR">ERROR</option>
        <option value="INFO">INFO</option>
        <option value="DEBUG">DEBUG</option>
      </select>
    </div>

    <div class="form-group">
      <input data-ng-model="resources.node.log_accesses_of_internal_users" type="checkbox" />
      <label data-translate>Log accesses of internal users</label>
    </div>

    <div class="form-group" data-ng-if="resources.node.root_tenant">
      <input data-ng-model="resources.node.enable_admin_exception_notification" type="checkbox">
      <label data-translate>Notify administrators of software problems</label>
    </div>

    <div class="form-group" data-ng-if="resources.node.root_tenant">
      <input data-ng-model="resources.node.enable_developers_exception_notification" type="checkbox">
      <label data-translate>Notify developers of software problems</label>
      <div data-translate>By enabling this feature, you will contribute to the development and security of the platform.</div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary"
        data-ng-disabled="advancedForm.$invalid"
        data-ng-click="updateNode()" type="submit">
        <i class="fas fa-check"></i>
        <span data-translate>Save</span>
      </button>

      <button class="btn btn-danger"
        data-ng-click="resetSubmissions()">
        <i class="fas fa-trash"></i>
        <span data-translate>Reset reports</span>
      </button>
    </div>
  </div>
</div>
