<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.disable_submissions" type="checkbox" />
        <span data-translate>Disable submissions</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.allow_unencrypted" data-ng-click="open_modal_allow_unencrypted()" type="checkbox" />
        <span data-translate>Enable insecure configuration without PGP encryption</span>
      </label>
      <div data-ng-if="admin.node.allow_unencrypted">
        <span class="label label-danger" data-translate>Danger</span>
        <span data-translate>By enabling this option, the system will be storing the submitted files unencrypted on your server.</span>
        <span data-translate>This happens whenever encryption is unavailable.</span>
      </div>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.disable_encryption_warnings" type="checkbox" />
       <span data-translate>Disable messages that warn of missing encryption</span>
      </label>
      <div data-ng-if="admin.node.disable_encryption_warnings">
        <span class="label label-danger" data-translate>Danger</span>
        <span data-translate>This setting affects the security of the users and must not be used in production.</span>
      </div>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.allow_iframes_inclusion" type="checkbox" />
        <span data-translate>Allow other websites to include the platform inside iframes</span>
      </label>
      <div data-ng-if="admin.node.allow_iframes_inclusion">
        <span class="label label-danger" data-translate>Danger</span>
        <span data-translate>By enabling this option, you are allowing other websites to include the platform inside iframes; this could potentially be used to endanger the platform or intercept users' communications</span>
      </div>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.can_postpone_expiration" type="checkbox" />
        <span data-translate>Allow recipients to postpone expiration date of the submission</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.can_delete_submission" type="checkbox" />
        <span data-translate>Allow recipients to delete submissions</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.can_grant_permissions" type="checkbox" />
        <span data-translate>Allow recipients to grant permissions to whistleblowers on specific submissions</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.allow_indexing" type="checkbox" />
        <span data-translate>Enable search engines indexing</span>
      </label>
      <div data-ng-if="admin.node.indexing">
        <span class="label label-info" data-translate>Enabled</span>
        <span data-translate>Search engine spiders will be allowed to index the application.</span>
      </div>
    </div>

    <div class="form-group" data-ng-if="!admin.node.disable_privacy_badge">
      <label>
        <input data-ng-model="admin.node.enable_custom_privacy_badge" type="checkbox" />
        <span data-translate>Enable custom privacy panel</span>
      </label>
      <div data-ng-if="admin.node.enable_custom_privacy_badge">
        <span class="label label-info" data-translate>Enabled</span>
      </div>
    </div>

    <div class="form-group" data-ng-if="!admin.node.disable_privacy_badge && admin.node.enable_custom_privacy_badge">
      <label data-translate>Custom privacy panel</label>
      <label>(<span data-translate>Text shown when the whistleblower is using Tor</span>)</label>
      <div>
        <input class="form-control" data-ng-model="admin.node.custom_privacy_badge_tor" type="text" />
      </div>
    </div>

    <div class="form-group" data-ng-if="!admin.node.disable_privacy_badge && admin.node.enable_custom_privacy_badge">
      <label data-translate>Custom privacy panel</label>
      <label>(<span data-translate>Text shown when the whistleblower is not using Tor</span>)</label>
      <div>
        <input class="form-control" data-ng-model="admin.node.custom_privacy_badge_none" type="text" />
      </div>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.disable_privacy_badge" type="checkbox" />
        <span data-translate>Disable the privacy panel</span>
      </label>
    </div>

    <div class="form-group" data-ng-if="!admin.node.disable_security_awareness_badge">
      <label data-translate>Security awareness panel title</label>
      <div>
        <input class="form-control" data-ng-model="admin.node.security_awareness_title" type="text" />
      </div>
    </div>

    <div class="form-group" data-ng-if="!admin.node.disable_security_awareness_badge">
      <label data-translate>Security awareness panel text</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.security_awareness_text"></textarea>
      </div>
    </div>

    <div class="form-group" data-ng-if="!admin.node.disable_security_awareness_badge">
      <label>
        <input data-ng-model="admin.node.disable_security_awareness_questions" type="checkbox">
        <span data-translate>Disable the security awareness panel questions</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.disable_security_awareness_badge" type="checkbox" />
        <span data-translate>Disable the security awareness panel</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.disable_key_code_hint" type="checkbox" />
        <span data-translate>Disable the key code hint</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.disable_donation_panel" type="checkbox" />
        <span data-translate>Disable the donation panel</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.enable_captcha" type="checkbox" />
        <span data-translate>Enable CAPTCHA mechanism</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.enable_proof_of_work" type="checkbox" />
        <span data-translate>Enable proof of work mechanism</span>
      </label>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.simplified_login" type="checkbox" />
        <span data-translate>Enable simplified login for recipients</span>
      </label>
    </div>

    <div class="form-group">
      <label data-translate>Limit for single-line inputs, in characters</label>
      <input class="form-control" data-ng-model="admin.node.maximum_namesize" type="number" min="0" />
    </div>

    <div class="form-group">
      <label data-translate>Limit for multi-line inputs, in characters</label>
      <input class="form-control" data-ng-model="admin.node.maximum_textsize" type="number" min="0" />
    </div>

    <div class="form-group">
      <label>
        <span data-translate>Size limit for file attachments</span>
        <span data-translate>in megabytes</span>
      </label>
      <input class="form-control" data-ng-model="admin.node.maximum_filesize" type="number" min="0" />
    </div>

    <div class="form-group">
      <label data-translate>Amount of days till whistleblower access expires</label>
      <input class="form-control" data-ng-model="admin.node.wbtip_timetolive" type="number" min="1" />
      <span class="label label-danger" data-translate>Danger</span>
      <span data-translate>For security reasons the whistleblower access is subject to expiration.</span>
      <span data-translate>Tweak this setting only if you know what you are doing.</span>
    </div>

    <div class="form-group">
      <label data-translate>Default user password</label>
      <div>
        <input class="form-control" data-ng-model="admin.node.default_password" type="text" autocomplete="off" />
      </div>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.basic_auth" type="checkbox" />
        <span data-translate>Enable HTTP Basic Authentication to limit platform access</span>
      </label>
      <div class="well well-lg" data-ng-if="admin.node.basic_auth">
        <label data-translate>Username</label>
        <input class="form-control" name="username" data-ng-model="admin.node.basic_auth_username" type="text" autocomplete="off" />
        <label data-translate>Password</label>
        <input class="form-control" name="password" data-ng-model="admin.node.basic_auth_password" type="text" autocomplete="off" />
        <span class="label label-danger" data-translate>Danger</span>
        <span data-translate>This feature keeps regular people from visiting the platform while it is still under development and should not be used for security purposes. The input password is stored in plaintext on the server.</span>
      </div>
    </div>

    <div class="form-group">
      <label>
        <input data-ng-model="admin.node.enable_experimental_features" type="checkbox" />
        <span data-translate>Enable experimental features</span>
      </label>
      <div data-ng-if="admin.node.enable_experimental_features">
        <span class="label label-danger" data-translate>Warning</span>
        <span data-translate>The experimental features may be less stable or even not work at all; enable this option at your own risk. Support for these features may vary and they may be removed in the future.</span>
      </div>
    </div>

    <div class="form-group" data-ng-if="admin.node.enable_experimental_features">
      <label>
        <input data-ng-model="admin.node.enable_multisite" type="checkbox" />
        <span data-translate>Enable configuration of multiple sites</span>
      </label>
    </div>
  </div>
</div>
