<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <input data-ng-model="admin.node.tor2web_admin" type="checkbox">
      <label data-translate>Allow admin access via HTTPS</label>
    </div>
    <div class="form-group">
      <input data-ng-model="admin.node.tor2web_custodian" type="checkbox">
      <label data-translate>Allow custodian access via HTTPS</label>
    </div>
    <div class="form-group">
      <input data-ng-model="admin.node.tor2web_receiver" type="checkbox">
      <label data-translate>Allow recipient access via HTTPS</label>
    </div>
    <div class="form-group">
      <input data-ng-model="admin.node.tor2web_whistleblower" type="checkbox">
      <label data-translate>Allow whistleblower submissions via HTTPS</label>
      <div data-ng-show="admin.node.tor2web_whistleblower">
        <span data-translate>This won't preserve whistleblower's anonymity while preserving submission confidentiality.</span>
      </div>
    </div>
    <div class="form-group">
      <input data-ng-init="admin.node.tor2web_unauth" data-ng-model="admin.node.tor2web_unauth" type="checkbox">
      <label data-translate>Allow access of public resources via HTTPS</label>
    </div>
  </div>
</div>
