<div class="row">
  <div class="col-md-12">
    <div data-ng-form="redirectAddForm" class="form-inline" isolate-form novalidate>
      <div class="form-group display-block">
        <label data-translate>From</label>
	<div class="input-group">
          <input type="text" class="form-control" name="path1" data-ng-model="new_redirect.path1" />
        </div>
      </div>
      <div class="form-group display-block">
        <label data-translate>To</label>
	<span>
          <input type="text" class="form-control" name="path2" data-ng-model="new_redirect.path2" />
	</span>
      </div>
      <button type="submit"
              class="btn btn-primary"
              data-ng-disabled="redirectAddForm.$invalid"
              data-ng-click="add_redirect()">
        <i class="glyphicon glyphicon-plus-sign"></i>
        <span data-translate>Add</span>
      </button>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th class="col-md-3" data-translate>From</th>
          <th class="col-md-9" data-translate>To</th>
          <th class="col-md-1"></th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="redirect in admin.redirects | orderBy:'redirect'" data-ng-controller="AdminRedirectEditCtrl">
          <td>{{redirect.path1}}</td>
          <td>{{redirect.path2}}</td>
          <td>
            <button class="btn btn-xs btn-danger"
                    data-ng-click="delete_redirect(redirect)">
              <i class="glyphicon glyphicon-trash"></i>
              <span data-translate>Delete</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
