<div class="row">
  <div class="col-md-12">
    <div data-ng-form="shorturlAddForm" class="form-inline" isolate-form novalidate>
      <div class="form-group display-block">
        <label data-translate>Short URL</label>
        <input type="text" class="form-control" name="short_url" data-ng-model="new_shorturl.shorturl" data-ng-pattern="shortener_shorturl_regexp" input-prefix prefix="/s/">
      </div>
      <div class="form-group display-block">
        <label data-translate>Long URL</label>
        <input type="text" class="form-control" name="long_url" data-ng-model="new_shorturl.longurl" data-ng-pattern="shortener_longurl_regexp" input-prefix prefix="/">
      </div>
      <button type="submit"
              class="btn btn-primary"
              data-ng-disabled="shorturlAddForm.$invalid"
              data-ng-click="add_shorturl()">
        <i class="glyphicon glyphicon-plus-sign"></i>
        <span data-translate>Add</span>
      </button>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th class="col-md-3" data-translate>Short URL</th>
          <th class="col-md-9" data-translate>Long URL</th>
          <th class="col-md-1"></th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="shorturl in admin.shorturls | orderBy:'shorturl'" data-ng-controller="AdminShorturlEditCtrl">
          <td>{{shorturl.shorturl}}</td>
          <td>{{shorturl.longurl}}</td>
          <td>
            <button class="btn btn-xs btn-danger"
                    data-ng-click="delete_shorturl(shorturl)">
              <i class="glyphicon glyphicon-trash"></i>
              <span data-translate>Delete</span>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
