<div class="contextClarification mb-2 row" data-ng-if="public.node.contexts_clarification">
  <div class="col-md-12">{{public.node.contexts_clarification}}</div>
</div>
<div id="SubmissionStepContext" data-ng-switch="public.node.context_selector_type">
  <div data-ng-switch-when="cards"><div data-ng-include="'views/whistleblower/context_selection/card.html'"></div></div>
  <div data-ng-switch-when="list"><div data-ng-include="'views/whistleblower/context_selection/list.html'"></div></div>
  <div data-ng-switch-when="search"><div data-ng-include="'views/whistleblower/context_selection/search.html'"></div></div>
</div>
