<div class="fieldAnswerEntry" data-ng-repeat="entry in entries" data-ng-class="{'fieldAnswerEntryFirst': $first, 'fieldAnswerEntryLast': $last}" data-ng-init="entryIndex=$index">
  <div data-ng-controller="SubmissionFieldEntryCtrl">
    <div class="fieldAnswerEntryLabel" data-ng-if="entries.length > 1" class="clearfix">
      <span class="float-left">
        <label class="text-muted">
          <span>#{{entryIndex + 1}}</span>
        </label>
      </span>
      <span class="float-right">
        <span class="text-danger" uib-popover="{{'Remove' | translate}}" popover-placement="right" data-ng-click="Utils.deleteFromList(entries, entry)">
          <i class="fas fa-times"></i>
        </span>
      </span>
    </div>
    <div data-ng-include="'views/whistleblower/form_field_input.html'"></div>
  </div>
</div>
<div data-ng-if="field.multi_entry && field.type === 'fieldgroup'" class="float-right">
  <button class="btn btn-primary" data-ng-click="addAnswerEntry(entries, field.id)">
    <i class="fas fa-plus"></i>
    <span>{{field.multi_entry_hint}}</span>
  </button>
</div>
