<div data-ng-repeat="row in rows" data-ng-init="fieldRow=$index" class="row">
  <div data-ng-repeat="field in row | orderBy:'x'" data-ng-init="fieldCol=$index" data-ng-if="field.enabled"  data-ng-class="fieldUtilities.getClass(field, row.length)">
    <div data-ng-controller="SubmissionFieldCtrl" id="{{fieldId}}" class="question">
      <div class="question-label">
        <label data-content="field.hint" uib-tooltip="{{field.hint}}">
          <span data-ng-if="field.label" class="title">{{field.label}}</span>
          <span data-ng-if="field.hint">
            <i class="fas fa-question-circle"></i>
          </span>
          <span data-ng-if="field.required" class="text-danger sup" uib-tooltip="{{'This field is mandatory' | translate}}">*</span>
        </label>
      </div>
      <div class="question-body">
        <div data-ng-if="field.description" class="description" data-markdown-to-html="field.description"></div>
        <div class="form-group">
          <div data-ng-include="'views/whistleblower/form_field_inputs.html'"></div>
        </div>
      </div>
    </div>
  </div>
</div>
