<div class="fieldAnswerEntry" data-ng-repeat="entry in entries" data-ng-class="{'fieldAnswerEntryFirst': $first, 'fieldAnswerEntryLast': $last}" data-ng-init="entryIndex=$index">
  <div data-ng-controller="SubmissionFieldEntryCtrl" data-ng-if="entries.length === 1">
    <div data-ng-include="'views/whistleblower/form_field_input.html'"></div>
  </div>
  <fieldset data-ng-controller="SubmissionFieldEntryCtrl" data-ng-if="entries.length > 1">
    <div class="fieldAnswerEntryLabel clearfix">
      <legend class="float-left text-muted">#{{entryIndex + 1}}</legend>
      <span class="float-right text-danger" data-uib-tooltip="{{'Remove' | translate}}" data-ng-click="Utils.deleteFromList(entries, entry)" aria-label="{{'Remove' | translate}}">
        <i class="fa-solid fa-times"></i>
      </span>
    </div>
    <div data-ng-include="'views/whistleblower/form_field_input.html'"></div>
  </fieldset>
</div>
<div data-ng-if="field.multi_entry && field.type === 'fieldgroup'" class="float-right">
  <button class="btn btn-outline-secondary" data-ng-click="addAnswerEntry(entries, field.id)" aria-label="{{'Add' | translate}}">
    <i class="fa-solid fa-plus"></i>
  </button>
</div>
