<div data-ng-repeat="row in rows" data-ng-init="fieldRow=$index" class="row" data-flow-init>
  <div data-ng-repeat="field in row | orderBy:'x'" data-ng-init="fieldCol=$index" data-ng-if="field.enabled"  data-ng-class="fieldUtilities.getClass(field, row.length)">
    <div data-ng-if="(['checkbox', 'fieldgroup', 'multichoice'].indexOf(field.type) === -1) && (['whistleblower_identity'].indexOf(field.template_id) === -1)" data-ng-controller="SubmissionFieldCtrl" id="{{fieldId}}" class="question">
      <label for="{{fieldId + '-input-0'}}" class="title">{{field.label}}</label>
      <i data-ng-if="field.hint" data-uib-tooltip="{{field.hint}}" class="fa-solid fa-question-circle"></i>
      <span data-ng-if="field.required" data-uib-tooltip="{{'This field is mandatory' | translate}}" class="text-danger sup">*</span>
      <div class="question-body">
        <div data-ng-if="field.description" class="description" data-markdown-to-html="field.description | stripHtml"></div>
        <div class="form-group" data-ng-include="'views/whistleblower/form_field_inputs.html'"></div>
      </div>
    </div>
    <fieldset data-ng-if="(['checkbox', 'fieldgroup', 'multichoice'].indexOf(field.type) !== -1) || (['whistleblower_identity'].indexOf(field.template_id) !== -1)" data-ng-controller="SubmissionFieldCtrl" id="{{fieldId}}" class="question">
      <legend class="title">{{field.label}}</legend>
      <i data-ng-if="field.hint" data-uib-tooltip="{{field.hint}}" class="fa-solid fa-question-circle"></i>
      <span data-ng-if="field.required" data-uib-tooltip="{{'This field is mandatory' | translate}}" class="text-danger sup">*</span>
      <div class="question-body">
        <div data-ng-if="field.description" class="description" data-markdown-to-html="field.description | stripHtml"></div>
        <div class="form-group" data-ng-include="'views/whistleblower/form_field_inputs.html'"></div>
      </div>
    </fieldset>
  </div>
</div>
