<div class="selectCard" data-ng-class="{'selected': submission.selected_receivers[receiver.id] || receiver.forcefully_selected}">
  <div class="row mb-1">
    <div class="col-md-12">
      <input type="checkbox" class="btn-checkbox" id="recipient-{{receiver.id}}" name="recipient-{{receiver.id}}" data-ng-model="submission.selected_receivers[receiver.id]" data-ng-change="switch_selection(receiver)" data-ng-if="!receiver.forcefully_selected">
      <label for="recipient-{{receiver.id}}" class="title">{{receiver.name}}</label>
    </div>
  </div>
  <div class="row" data-ng-if="receiver.picture">
    <div class="col-md-4"><img class="receiverImg" alt="receiver picture" data-ng-src="/s/{{receiver.id}}" /></div>
  </div>
  <div class="row">
    <div class="col-md-12 description" data-ng-if="receiver.description">{{receiver.description}}</div>
  </div>
</div>
