<div class="selectCard" data-ng-class="{'selected': submission.selected_receivers[receiver.id] || receiver.forcefully_selected}">
  <div class="row mb-1">
    <div class="col-md-1">
      <div data-ng-if="submission.selected_receivers[receiver.id]">
        <div data-ng-if="!receiver.forcefully_selected">
          <i class="fas fa-check-square" uib-tooltip="{{'Unselect this recipient.' | translate}}"></i>
        </div>
      </div>
      <div data-ng-if="!submission.selected_receivers[receiver.id] && !receiver.forcefully_selected">
        <i class="far fa-square" uib-tooltip="{{'Select this recipient.' | translate}}"></i>
      </div>
    </div>
  <div>
  <div class="row">
    <div class="col-md-4" data-ng-if="receiver.picture"><img class="receiverImg" alt="receiver picture" data-ng-src="{{Utils.imgDataUri(receiver.picture)}}" /></div>
  </div>
  <div class="row">
    <div class="col-md-12 title">{{receiver.name}}</div>
  </div>
  <div class="row">
    <div class="col-md-12 description" data-ng-if="receiver.description">{{receiver.description}}</div>
  </div>
</div>
