<div id="SubmissionStepReceiver" class="receiverCards">
  <div id="StepTitle" data-ng-if="!show_steps_navigation_bar" data-translate>Recipient selection</div>
  <div class="stepDescription">{{submission.context.recipients_clarification}}</div>
  <div data-ng-if="submission.context.maximum_selectable_receivers !== 0 && !submission.context.select_all_receivers" id="MaxSelectableReceiverBox">
    <div><span data-translate>Recipients selected:</span> {{submission.countSelectedReceivers()}}/{{submission.context.maximum_selectable_receivers}}</div>
    <div class="text-danger" data-ng-if="submission.countSelectedReceivers() === submission.context.maximum_selectable_receivers" data-translate>You have reached the maximum number of selectable recipients.</div>
  </div>
  <div id="ReceiverSelectionBox" class="row">
    <div data-ng-repeat="receiver in submission.receivers | orderBy:receiversOrderPredicate" id="receiver-{{$index}}" class="{{Utils.getCardSize(submission.receivers.length)}}" data-ng-click="switch_selection(receiver)">
      <div class="receiverCard" data-ng-class="{'selected': submission.selected_receivers[receiver.id] && receiver.recipient_configuration !== 'forcefully_selected', 'forcefullySelected': receiver.recipient_configuration === 'forcefully_selected'}">
        <div class="receiverCardTitle row">
          <div class="col-md-1">
            <div data-ng-if="submission.selected_receivers[receiver.id]">
              <div data-ng-if="receiver.recipient_configuration === 'default'">
                <i class="fas fa-check-square" uib-tooltip="{{'Unselect this recipient.' | translate}}"></i>
              </div>
              <div data-ng-if="receiver.recipient_configuration === 'forcefully_selected'">
                <i class="fas fa-check-square" uib-tooltip="{{'This recipient cannot be deselected.' | translate}}"></i>
              </div>
            </div>
            <div data-ng-if="!submission.selected_receivers[receiver.id] && receiver.recipient_configuration === 'default'">
              <i class="far fa-square" uib-tooltip="{{'Select this recipient.' | translate}}"></i>
            </div>
          </div>
        </div>
        <div class="receiverCardContent">
          <div class="row">
            <div class="col-md-4" data-ng-if="receiver.picture"><img class="receiverImg" alt="receiver picture" data-ng-src="{{Utils.imgDataUri(receiver.picture)}}" /></div>
          </div>
          <div class="row">
            <div class="col-md-12 recipientName">{{receiver.name}}</div>
          </div>
          <div class="row">
            <div class="col-md-12 receiverDescription" data-ng-if="receiver.description">{{receiver.description}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
