<div class="row" data-ng-controller="TipCtrl">
  <div class="col-md-6">
    <div class="TipPageSectionTitle" data-translate>Submission</div>
    <div class="col-md-12">
      <dl>
        <dt>
          <span>{{tip.context_name}}</span>
          <a data-ng-show="tip.context_description" popover="{{tip.context_description}}" popover-placement="right" popover-trigger="mouseenter">
            <span class="glyphicon glyphicon-info-sign"></span>
          </a>
        </dt>
        <br />
        <dt><span data-translate>Submission date</span></dt>
        <dd>{{tip.creation_date | date:'dd-MM-yyyy HH:mm'}}</dd>
        <br />
        <dt><span data-translate>Expiration Date</span></dt>
        <dd>{{tip.expiration_date | date:'dd-MM-yyyy HH:mm'}}</dd>
      </dl>
      <div data-ng-repeat="step in tip.wb_steps">
        <dt id="step={{$index}}">
          <span data-translate>Step</span>
          <span>{{$index + 1}}: {{step.label}}</span>
        </dt>
        <dd data-ng-init="fieldsRoot=step.children">
          <span data-ng-include="'views/partials/tip_fields.html'"></span>
        <dd>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="col-md-12">
      <div class="TipPageSectionTitle" data-translate>Receiver List</div>
      <table class="table table-striped" id="receiverList">
        <thead>
          <tr>
            <th><span data-translate>Name</span></th>
            <th><span data-translate>Description</span></th>
            <th><span data-translate>Access counter</span></th>
          </tr>
        </thead>
        <tbody id="receiverListBody" data-ng-repeat="receiver in tip.receivers | filter:filterReceivers | orderBy:'name'">
          <tr id="receiver-{{$index}}">
            <td>
              <span data-ng-switch="" on="receiver.pgp_key_status">
                <span data-ng-switch-when="enabled">
                  <i class="glyphicon glyphicon-certificate" popover="{{'This receiver has configured the encryption key.' | translate}}" popover-placement="right" popover-trigger="mouseenter"></i>
                </span>
                <span data-ng-switch-when="disabled">
                  <i class="glyphicon glyphicon-warning-sign" popover="{{'This receiver has not configured the encryption key.' | translate}}" popover-placement="right" popover-trigger="mouseenter"></i>
                </span>
              </span>
              <span>{{receiver.name}}</span>
            </td>
            <td>{{receiver.description}}</td>
            <td>{{receiver.access_counter}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-12">
    <div class="TipPageSectionTitle" data-translate>Files</div>
    <div class="well" data-ng-show="tip.files.length">
      <div class="table-container">
        <table class="table table-striped" id="fileList">
          <thead>
            <tr>
              <th>
                <span data-translate>Filename</span>
              </th>
              <th>
                <span data-translate>Upload Date</span>
              </th>
              <th>
                <span data-translate>Content Type</span>
              </th>
              <th>
                <span data-translate>File Size</span>
              </th>
            </tr>
          </thead>
          <tbody id="fileListBody" data-ng-repeat="file in tip.files">
            <tr id="file-{{$index}}">
              <td>
                <span>{{file.name}}</span>
              </td>
              <td>
                <span>{{file.creation_date | date:'dd-MM-yyyy'}}</span>
              </td>
              <td>
                <span>{{file.content_type}}</span>
              </td>
              <td>
                <span>{{file.size | prettyBytes }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col-md-12" data-ng-hide="tip.files.length || uploads.length">
    <span data-translate>No files have been uploaded!</span>
  </div>
  <div class="col-md-12">
    <div data-ng-init="fileupload_mode = 'multiple'" data-ng-include="'views/partials/fileupload_button.html'"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div data-ng-include="'views/partials/fileupload_status.html'"></div>
  </div>
</div>

<hr />

<div data-ng-include="'views/partials/tip_communication.html'"></div>
