<div id="TipInfoBox" class="card card-default" data-ng-init="collapsed = tip.data.whistleblower_identity_provided; submission = {}">
  <div class="card-header" data-ng-click="collapsed = !collapsed; $event.stopPropagation();">
    <div>
      <span class="clearfix">
	<span>
          <span data-ng-if="tip.data.whistleblower_identity" data-translate>Identity</span>
          <span data-ng-if="!tip.data.whistleblower_identity">{{whistleblower_identity_field.label}}</span>
          <span data-ng-if="tip.data.whistleblower_identity_provided" class="btn btn-sm btn-link"><span data-ng-if="collapsed" data-translate>Show</span><span data-ng-if="!collapsed" data-translate>Hide</span></span>
	</span>
        <span class="float-right">
          <i data-ng-if="!collapsed" class="fa-solid fa-chevron-up" data-uib-tooltip="{{'Collapse' | translate}}"></i>
          <i data-ng-if="collapsed" class="fa-solid fa-chevron-down" data-uib-tooltip="{{'Expand' | translate}}"></i>
        </span>
      </span>
    </div>
  </div>
  <div class="card-body" data-ng-show="!collapsed">
    <div data-ng-if="tip.data.whistleblower_identity">
      <dd data-ng-repeat="field in whistleblower_identity_field.children | orderBy:['y', 'x']">
        <span data-ng-init="fieldAnswers=tip.data.whistleblower_identity" data-ng-include="'views/partials/tip_field.html'"></span>
      </dd>
    </div>
    <div data-ng-if="tip.status !== 'closed' && !tip.data.whistleblower_identity">
      <div data-ng-form="f">
        <div data-ng-include="'views/whistleblower/fields/whistleblower_identity.html'"></div>
	<div id="SubmitBox" data-ng-if="submission._submission.identity_provided">
          <button id="SubmitButton" class="btn btn-primary float-right" data-ng-click="provideIdentityInformation(whistleblower_identity_field.id, answers)" data-ng-disabled="f.$invalid" type="submit">
            <i id="SubmitIconOK" class="fa-solid fa-check"></i>
            <span data-translate>Submit</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
