<div data-ng-controller="AdminTLSConfigCtrl">
  <div data-ng-switch="active_pane">
    <div data-ng-switch-when="csr_gen">
      <span data-ng-include="'views/admin/advanced/https/csr_gen.html'"></span>
    </div>
    <div data-ng-switch-when="cert_upload">
      <span data-ng-include="'views/admin/advanced/https/cert_upload.html'"></span>
    </div>
    <div data-ng-switch-default="status">
      <span data-ng-include="'views/admin/advanced/https/status.html'"></span>
    </div>
  </div>
</div>
<hr />
