@font-face {
  font-family: 'Metropolis';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/metropolis-all-400-normal.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/metropolis-all-400-italic.woff') format('woff');
}

@font-face {
  font-family: 'Metropolis';
  font-style: bold;
  font-weight: 700;
  font-display: swap;
  src: url('./fonts/metropolis-all-700-normal.woff') format('woff');
}

*,
h1,
h2,
h3,
h4,
h5,
h6,
legend,
.rst-content .toctree-wrapper p.caption {
  font-family: 'Metropolis', Helvetica, Arial, sans-serif;
  color: #1D1F2A;
}

a, a:hover, a:active, a:visited, a:focus {
  color: #204F82;
}

.wy-side-nav-search a,
.wy-side-nav-search a:hover,
.wy-side-nav-search a:active,
.wy-side-nav-search a:visited,
.wy-side-nav-search a:focus {
  color: #FFF;
}

.wy-nav-side {
  background-color: #103253;
}

.wy-nav-top {
  background-color: #3777BC;
}

.wy-menu .caption-text {
  color: #5794D5;
}

.wy-menu-vertical a {
  color: #FFF;
}

vertical li.current > a {
  color: #1D1F2A;
}

.wy-nav-content img {
  border: 1px solid #103253;
}

@media screen and (min-width: 767px) {
  .wy-nav-content {
    max-width: 100% !important;
}

  .wy-table-responsive table td, .wy-table-responsive table th {
    white-space: normal !important;
  }

  .wy-table-responsive {
    overflow: visible !important;
    max-width: 100%;
  }
}
