<a class="sidebar-link" href="#/recipient/home" data-ng-class="{'active': location_path === '/recipient/home'}">
  <i class="fas fa-chevron-right"></i>
  <span data-translate>Home</span>
</a>

<a class="sidebar-link" href="#/recipient/reports" data-ng-class="{'active': location_path === '/recipient/reports'}">
  <i class="fas fa-chevron-right"></i>
  <span data-translate>Reports</span>
</a>

<a class="sidebar-link" href="#/recipient/content" data-ng-class="{'active': location_path === '/recipient/content'}">
  <i class="fas fa-chevron-right"></i>
  <span data-translate>Site settings</span>
</a>
