<div id="Toolbar" class="row">
  <div class="col-md-12">
    <a id="link-tiplist"
       href="#/recipient/reports"
       data-uib-tooltip="{{'Reports' | translate}}"
       class="btn btn-outline-secondary">
      <i class="fa-solid fa-arrow-left"></i>
    </a>

    <span id="tip-action-star"
          data-ng-click="tip_toggle_star()"
          data-uib-tooltip="{{'Mark as important' | translate}}"
          class="btn btn-outline-secondary">
      <i data-ng-if="tip.important" class="fa-solid fa-star text-warning"></i>
      <i data-ng-if="!tip.important" class="fa-solid fa-star"></i>
    </span>

    <span id="tip-action-notify" data-ng-if="!tip.enable_notifications"
          data-ng-click="tip_notify(true)"
          data-uib-tooltip="{{'Turn on email notifications' | translate}}"
          class="btn btn-outline-secondary active">
      <i class="fa-solid fa-volume-mute"></i>
    </span>

    <span id="tip-action-silence" data-ng-if="tip.enable_notifications"
          data-ng-click="tip_notify(false)"
          data-uib-tooltip="{{'Silence email notifications' | translate}}"
          class="btn btn-outline-secondary">
      <i class="fa-solid fa-volume-down"></i>
    </span>

    <span id="tip-action-grant-access"
          data-ng-if="resources.preferences.can_grant_access_to_reports"
          data-ng-click="openGrantTipAccessModal()"
          data-uib-tooltip="{{'Grant access' | translate}}"
          class="btn btn-outline-secondary">
      <i class="fa-solid fa-user-plus"></i>
    </span>

    <span id="tip-action-revoke-access"
          data-ng-if="resources.preferences.can_grant_access_to_reports"
          data-ng-click="openRevokeTipAccessModal()"
          data-uib-tooltip="{{'Revoke access' | translate}}"
          class="btn btn-outline-secondary">
      <i class="fa-solid fa-user-minus"></i>
    </span>

    <span id="tip-action-postpone"
          data-ng-if="resources.preferences.can_postpone_expiration && contexts_by_id[tip.context_id].tip_timetolive > 0"
          data-ng-click="tip_postpone()"
          data-uib-tooltip="{{'Postpone the expiration date' | translate}}"
          class="btn btn-outline-secondary">
      <i class="fa-solid fa-clock"></i>
    </span>

    <span id="tip-action-delete"
          data-ng-if="resources.preferences.can_delete_submission"
          data-ng-click="tip_delete()"
          data-uib-tooltip="{{'Delete' | translate}}"
          class="btn btn-outline-secondary">
      <i class="fa-solid fa-trash"></i>
    </span>

    <span id="tip-action-print"
          data-ng-click="Utils.print()"
          data-uib-tooltip="{{'Print' | translate}}"
          class="btn btn-outline-secondary">
      <i class="fa-solid fa-print"></i>
    </span>

    <span id="tip-action-export"
          data-ng-click="exportTip(tip)"
          data-uib-tooltip="{{'Export' | translate}}"
          class="btn btn-outline-secondary">
        <i class="fa-solid fa-save"></i>
    </span>

    <span id="tip-reminder-silence"
          data-ng-if="!tip.reminder_notification_status && contexts_by_id[tip.context_id].tip_reminder_hard > 0 && resources.preferences.can_postpone_expiration && contexts_by_id[tip.context_id].tip_timetolive > 0"
          data-ng-click="reminder_postpone()"
          data-uib-tooltip="{{'Postpone the reminder date' | translate}}"
          class="btn btn-outline-secondary active">
      <i class="fa-solid fa-bell-slash"></i>
    </span>

    <span id="tip-reminder-notify"
          data-ng-if="tip.reminder_notification_status && contexts_by_id[tip.context_id].tip_reminder_hard > 0 && resources.preferences.can_postpone_expiration && contexts_by_id[tip.context_id].tip_timetolive > 0"
          data-ng-click="reminder_postpone()"
          data-uib-tooltip="{{'Postpone the reminder date' | translate}}"
          class="btn btn-outline-secondary">
      <i class="fa-solid fa-bell"></i>
    </span>

    <span id="link-reload"
          data-ng-click="reload()"
          data-uib-tooltip="{{'Refresh' | translate}}"
          class="btn btn-outline-secondary">
      <i class="fa-solid fa-sync"></i>
    </span>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-12" data-ng-include="'views/partials/tip_info.html'"></div>
</div>
<div class="row" data-ng-if="tip.receivers.length > 1">
  <div class="col-md-12" data-ng-include="'views/partials/tip_receiver_list.html'"></div>
</div>
<div class="row">
  <div class="col-md-6" data-ng-include="'views/partials/tip_questionnaire_answers.html'"></div>
  <div class="col-md-6" data-ng-if="tip.enable_whistleblower_identity" data-ng-include="'views/recipient/whistleblower_identity.html'"></div>
</div>
<div class="row">
  <div class="col-md-12">
    <div data-ng-include="'views/partials/tip_files_receiver.html'"></div>
    <div data-ng-include="'views/partials/tip_upload_wbfile.html'"></div>
  </div>
</div>
<div class="row">
  <div class="col-md-6" data-ng-if="tip.context.enable_comments || tip.comments.length" data-ng-include="'views/partials/tip_comments.html'"></div>
  <div class="col-md-6" data-ng-if="tip.context.enable_messages || tip.messages.length" data-ng-include="'views/partials/tip_messages.html'"></div>
</div>
