<div class="row">
  <div class="col-md-6">
    <div data-ng-show="step == 1" class="wizard-block" data-ng-switch="node.mode">
      <div data-ng-switch-when="whistleblowing.it">
        <div data-ng-include="'views/signup/modes/whistleblowingit.html'"></div>
      </div>
      <div data-ng-switch-when="eat">
        <div data-ng-include="'views/signup/modes/eat.html'"></div>
      </div>
      <div data-ng-switch-default>
        <div data-ng-include="'views/signup/modes/default.html'"></div>
      </div>
    </div>
    <div data-ng-show="step == 2" class="wizard-block">
      <div class="row">
        <div class="col-md-12">
          <div class="congratulations">
            <div class="title1" data-translate>Success!</div>
            <div>
              <span data-translate>Your whistleblowing platform is almost ready!</span>
              <span data-translate>Check your inbox to activate your account.</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
