<div class="row">
  <div id="SignupTos1" class="col-md-12 form-group" data-ng-if="node.signup_tos1_enable">
    <label>{{node.signup_tos1_title}}</label>
    <div class="tos-text">{{node.signup_tos1_text}}</div>
    <div class="form-check">
      <label>
        <input name="tos1" class="form-check-input" type="checkbox" data-ng-model="signup.tos1" required/>
        <span class="form-check-label">{{node.signup_tos1_checkbox_label}}</span>
      </label>
    </div>
  </div>
</div>
<div class="row">
  <div id="SignupTos2" class="col-md-12 form-group" data-ng-if="node.signup_tos1_enable">
    <label>{{node.signup_tos2_title}}</label>
    <div class="tos-text">{{node.signup_tos2_text}}</div>
    <div class="form-check">
      <label>
        <input name="tos2" class="form-check-input" type="checkbox" data-ng-model="signup.tos2" required/>
        <label class="form-check-label">{{node.signup_tos2_checkbox_label}}</label>
      </label>
    </div>
  </div>
</div>
