<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <label data-translate>Template</label>
      <select name="template" class="form-control" data-ng-model="template" data-ng-options="t as t for t in resources.notification.templates"></select>
    </div>

    <br /><br />

    <div class="row" data-ng-if="template">
      <div class="col-md-12">
        <div class="form-group">
          <textarea data-ng-model="resources.notification[template]" class="form-control" rows="10"></textarea>
        </div>

        <div class="form-group">
          <button class="btn btn-primary" data-ng-disabled="notificationForm.$invalid" data-ng-click="Utils.update(resources.notification)" type="submit">
            <i class="fa-solid fa-check"></i>
            <span data-translate>Save</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
