<ul class="nav nav-pills nav-stacked">
  <li data-ng-class="active.home">
    <a href="#/custodian/home">
      <i class="glyphicon glyphicon-chevron-right"></i>
      <span data-translate>Home</span>
    </a>
  </li>

  <li data-ng-class="active.identities">
    <a href="#/custodian/identityaccessrequests">
      <i class="glyphicon glyphicon-chevron-right"></i>
      <span data-translate>Identities</span>
    </a>
  </li>

  <li data-ng-class="active.content" data-ng-if="preferences.can_edit_general_settings">
    <a href="#/receiver/content">
      <i class="glyphicon glyphicon-chevron-right"></i>
      <span data-translate>General settings</span>
    </a>
  </li>
</ul>
