<ul id="SidebarCustodian" class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="#/custodian/home">
      <i class="fa fa-chevron-right"></i>
      <span data-translate>Home</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#/custodian/identityaccessrequests">
      <i class="fa fa-chevron-right"></i>
      <span data-translate>Identities</span>
    </a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#/custodian/preferences">
      <i class="fa fa-chevron-right"></i>
      <span data-translate>User preferences</span>
    </a>
  </li>

  <li class="nav-item" data-ng-if="preferences.can_edit_general_settings">
    <a class="nav-link" href="#/receiver/content">
      <i class="fa fa-chevron-right"></i>
      <span data-translate>Site settings</span>
    </a>
  </li>
</ul>
