html {
  background-color: #F5F5F5;
}

body {
  background-color: #fff;
}

#PageBox {
  width: 100%;
}

#HeaderBox, #HeaderBoxHomepage {
  overflow: hidden;
  color: #FFF;
  background: #428bca;
  border-bottom: 1px solid #357ebd;
  padding: 40px;
}

#HeaderBox:after, #HeaderBox:after, #HeaderBoxHompage:after, #HeaderBoxHomepage:after {
  clear: both;
  content: "";
  display: block;
}

#HeaderBoxHomeContent {
}

#HeaderBox p, #HeaderBoxHomepage p {
  margin-bottom: 20px;
}

#HeaderBox .navbar, #HeaderBoxHomepage .navbar {
  display: none;
}

#PageTitle {
  font-size: 30px;
}

#PageSubtitle {
  font-size: 22px;
}

#PageTitleHomepage {
  font-size: 40px;
}

#PageSubtitleHomepage {
  font-size: 30px;
}

#ContentBox {
  margin: 50px auto;
}

#messageConsole {
  width: 200px;
  position: fixed;
  z-index: 10;
  top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#FooterBox {
  padding: 70px 0;
  border-top: 1px solid #E5E5E5;
  background-color: #F5F5F5;
  color: #777;
  text-align: center;
  font-size: 20px;
}

#LogoBox, #TitleBox, #UserBox, #LogoBoxHomepage, #TitleBoxHomepage, #UserBoxHomepage {
  position: relative;
  height: 200px;
  z-index: 10;
  margin-left: 20px;
  margin-right: 20px;
}

#LogoBox, #LogoBoxHomepage {
  text-align: center;
}

#LanguagePickerBox {
  margin-top: 10px;
}

#LoginStatusBox {
  color: #000;
  margin-top: 10px;
  padding: 20px;
  background-color: #FFF;
  border-radius: 15px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 20px;
}

#LogoBox, #LogoBoxHomepage {
  width: 300px;
}

#LogoBox img, #LogoBoxHomepage img {
  margin: 0 auto;
  height: 200px;
}

#TitleBox, #TitleBoxHomepage {
  max-width: 60%;
}

#UserBox, #UserBoxHomepage {
  max-width: 25%;
}

/** Submission details **/

.keycode {
    text-align: center;
}
.keycode h2 {
    font-family: sans-serif
}

#PrivacyBadgeBox {
  background-color: #222;
  color: #FFF;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
}

#PrivacyBadgeTextBox {
  text-align: left;
}

#PrivacyBadgeBoxCloseButton {
  text-align: right;
}

.preformatted {
  white-space: pre-wrap;
}

.tab-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Display the pending requests */
.pending-requests {
  position: fixed;
  top: 100px;
  z-index: 10;
  width: 400px;
  margin-left: -200px;
  left: 50%;
  border-radius: 10px;
}

.pending-requests .message {
  background: white;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #ddd;
}

/* minor hacks needed to not modify some code written for angular and bootstrap 2.0.3 */

.has-error {
  color: #b94a48;
}

.modal {
  display: inline;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

.img-thumbnail {
  position: relative;
  width: 160px;
}

#titleboxdefault {
  display: block;
}

#titleboxwithtagline {
  display: none;
}

/** Wizard **/
.wizard-block {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  margin-left: 0;
  margin-right: 0;
  border-width: 1px;
  border-color: #ddd;
  border-radius: 4px 4px 0 0;
  box-shadow: none;
}

.wizard-block h2 {
  position: absolute;
  top: -10px;
  font-size: 18px;
  color: #aaa;
}

.wizard-hint {
  border-left: 3px solid #8a6d3b;
  background-color: #fcf8e3;
  padding: 20px;
}

.wizard-receiver-password {
  font-size: 16px;
}

.LoginErrorBox, .LoginErrorBoxHomepage {
  margin-top: 10px;
}

.LoginErrorBox {
  text-align: left;
}

.LoginErroBoxHomepage {
  text-align: center;
}

.LoginErrorBox .alert {
  margin: 0px;
}

.keyinput {
  width: inherit;
  display: inline;
  font-family: monospace;
  font-weight: bold;
}

/** Fields submission/tip page **/
.nested {
  padding-left: 15px;
}
