
/* Overrides of submission.css */

#KeyCodeHintBox {
  margin-left: 0;
  margin-right: 30px;
  box-shadow: -2px 1px 5px #888888;
}

#KeyCodeHintBox:after {
  border-width: 15px 0 15px 15px;
  left: none;
  right: -15px;
}
