/* Overrides to main.css */
#PrivacyBadgeTextBox {
  text-align: right;
}

#HeaderBoxContentLeft {
  float: right;
}

#HeaderBoxContentRight {
  float: left;
}

#LogoBox {
  float: right;
}

#TitleBox {
  float: right;
}

.LoginErrorBox {
  text-align: right;
}

#MassOperationContainer {
  border-color: #0074e7;
  width: 100%;
}

/* Overrides to submission.css */
#KeyCodeHintBox {
  margin-left: 0;
  margin-right: 30px;
  box-shadow: -2px 1px 5px #888888;
}

#KeyCodeHintBox:after {
  border-width: 15px 0 15px 15px;
  left: none;
  right: -15px;
}

#StepNavBar, .SubmissionNavButton {
  margin-left: 10px;
  margin-right: 0px;
}

/* Fix to bootstrap-rtl /*/
.pull-left {
  float: right !important;
}

.pull-right {
  float: left !important;
}
