.TipPageSectionTitle {
  font-size: 20px;
  font-weight: bold;
}

.newTip {
  font-weight: bold;
}

.selectedTip,
.table-striped > tbody > tr.selectedTip:nth-child(odd) > td {
  background-color: #FFFFCC;
}

.tip-action-open {
  cursor: pointer;
}

.stepTitle, .fieldTitle {
  font-weight: bold;
}

.fieldAnswer {
  margin-bottom: 10px;
}
