.TipPageSection {
  border: 1px solid #CCC;
  margin-bottom: 20px;
}

.TipPageSectionTitle {
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
  background-color: #fbfbfb;
}

.TipPageSectionContent {
  padding: 10px;
  border-top: 1px solid #ccc;
}

.newTip {
  font-weight: bold;
}

.selectedTip,
.table-striped > tbody > tr.selectedTip:nth-child(odd) > td {
  background-color: #FFFFCC;
}

.tip-action-open {
  cursor: pointer;
}

.stepTitle, .fieldTitle {
  font-weight: bold;
}

.fieldAnswer {
  margin-bottom: 10px;
}
