.TipPageSectionTitle {
  font-size: 17px;
  font-weight: bolder;
  font-variant: small-caps;
}

.newTip {
  font-weight: bold;
}

.selectedTip,
.table-striped > tbody > tr.selectedTip:nth-child(odd) > td {
  background-color: #FFFFCC;
}

.tip-action-open {
  cursor: pointer;
}

.stepTitle, .fieldTitle {
  font-weight: bold;
}

.fieldAnswer {
  margin-bottom: 10px;
}

.SubmissionInfoSection {
  background-color: #eaebe2;
  border-radius: 2%;
}

.SubmissionContentSection {
  background-color: #e5fecd;
  border-radius: 2%;
}

.left {
  text-align: right;
  padding: 0.5%;
  width: 30%;
}

.right {
  text-align: left;
  padding: 0.5%;
  width: 65%;

}

.FileTableInfo {
  width: 15%;
}
/* 15 x 4 = 60%, here is 40% */
.FileTableName {
  width: 40%;
}
