<form
  action="{{action}}"
  method="POST"
  enctype="multipart/form-data"
  name="fileUpload"
  ng-valid novalidate>
  <div class="row fileupload-buttonbar">
    <div class="span6">
      <!-- The fileinput-button span is used to style the file input field as button -->
      <span class="btn btn-success fileinput-button">
          <i class="icon-plus icon-white"></i>
          <span>{{ "Add files..." | translate }}</span>
          <input type="file" name="files[]" multiple>
      </span>

      <div class="row fileupload-progress fade">
        <!-- The global progress information -->
        <div class="span6 progressMeter">
          <!-- The table listing the files available for upload/download -->
          <!-- The global progress bar -->
          <div class="progress progress-success progress-striped active"
               role="progressbar" aria-valuemin="0" aria-valuemax="100">
              <div class="bar" style="width:0%;"></div>
          </div>
        </div>
        <div class="row span6 uploading-files">
          <h4>Uploading files</h4>
          <table role="presentation" class="table table-striped">
            <tbody class="uploading-files-list">
              <tr ng-repeat="file in fileUploader.uploadingFiles">
                <td>{{file.name}}</td>
              </tr>
            </tbody>
          </table>
          <button type="button" class="btn btn-warning" ng-click="fileUploader.cancelAll()"><i class="icon-remove icon-white"></i> Cancel all</button>
        </div>
      </div>

      <h4>Uploaded files</h4>
      <table role="presentation" class="table table-striped">
        <tbody class="uploaded-files-list">
          <tr ng-repeat="file in fileUploader.uploadedFiles">
            <td>{{file.name}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <!-- The loading indicator is shown during file processing -->
  <div class="fileupload-loading"></div>
</form>
