<div class="privacyBox container"
     ng-controller="PrivacyBoxCtrl">

  <div class="row" ng-mouseenter="showBox()" ng-mouseleave="hideBox()">

    <div class="semaphores col-md-1" ng-class="boxes">

      <div ng-switch="" on="privacy">

        <div ng-switch-when="high" class="semaphore btn-success"></div>
        <div ng-switch-when="unknown" class="semaphore btn-warning"></div>
        <div ng-switch-when="low" class="semaphore btn-danger">
          <span ng-show="!displayBox" class="label label-danger">
            {{ "Danger!" | translate }}
          </span>
        </div>

      </div>

    </div>

    <div class="informationBoxes">

      <div class="informationBox privacyInformation" ng-show="displayBox">

        <button type="button" class="close" ng-click="hideBox()">×</button>

        <div ng-switch="" on="privacy">

          <div ng-switch-when="high">

            <span class="label label-success">
              {{ "Congratulations!" | translate }}</span>
            <p>{{ "It appears you are using Tor. To better protect your anonymity, be sure that you are using the" | translate }} 
            <a href="https://www.torproject.org/download/download">Tor Browser Bundle</a>.
            {{ "Keep in mind that using Tor Browser Bundle does not replace good security practices and it cannot protect you in the event your computer has been compromised. You are strongly advised to read the" | translate }} <a href="https://securityinabox.org/">security in a box</a> 
            {{ "manual for practical security best practices." | translate }}</p>
          </div>

          <div ng-switch-when="unknown">

            <span class="label label-danger">
              {{ "Warning!" | translate }}</span>
            <p>{{ "We were not able to determine if you are anonymous or not, please proceed with care" | translate }}</p>

          </div>

          <div ng-switch-when="low">

            <span class="label label-danger">
              {{ "Danger!" | translate }}</span>
            <p>{{ "It appears you are not using Tor, thus you are strongly advised to " | translate }}
            <a href="https://www.torproject.org/download/download">
              {{ "download a copy of the tor browser bundle" | translate }}</a>
              {{ "before continuing." | translate }}</p>

          </div>
        </div>

      </div>

    </div>
  </div>

</div>
