<div class="dropdown privacyBox container">

  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
    <img holder src="holder.js/104x20">
  </a>

  <div class="dropdown-menu">
    <div class="alert alert-danger">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Danger!</strong> You have no anonymity!
    </div>

    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>All good</strong> You are safe and secure to submit to this node.
    </div>
  </div>

</div>
