<div class="col-md-8">
  <div class="form-group table-bordered">
    <input ng-model="preferences.tip_notification" type="checkbox">
    <label>
      {{ "Enable Tip notification" | translate }}
    </label>
    <label ng-show="preferences.tip_notification">
      <span class="btn-info">
        {{ "now Enabled:" | translate }}
      </span>
      {{ "Every new Tip you receive will trigger an email with a link to it." | translate }}
    </label>
  </div>

  <div class="form-group table-bordered">
    <input ng-model="preferences.comment_notification" type="checkbox">
    <label>
      {{ "Enable Comment notification" | translate }}
    </label>
    <div ng-show="preferences.comment_notification">
      <span class="btn-info">
        {{ "now Enabled:" | translate }}
      </span>
      {{ "Every comment, written by the whistleblower or the receivers, will trigger an email." | translate }}
    </div>
  </div>

  <div class="form-group table-bordered">
    <input ng-model="preferences.file_notification" type="checkbox">
    <label>
      {{ "Enable File notification" | translate }}
    </label>
    <div ng-show="preferences.file_notification">
      <span class="btn-info">
        {{ "now Enabled:" | translate }}
      </span>
      {{ "For every file available for download you will be notified via email with related information." | translate }}
    </div>
  </div>

  <button type="submit" class="btn btn-success" ng-click="pref_save()">
    <i class="glyphicon glyphicon-ok"></i>
    {{ "Update notification settings" | translate }}
  </button>
</div>
