<div class="col-md-8">
  <div ng-show="preferences.gpg_key_info">

    <p>
      {{ "PGP Key details" | translate }}
      <br />
      {{ "The fingerprint is:" | translate }}
      <b>{{preferences.gpg_key_fingerprint}}</b>
    </p>

    <div>
      <pre>{{preferences.gpg_key_info}}</pre>
    </div>

    <div class="form-group table-bordered">
      <label>
        <input ng-model="preferences.gpg_enable_notification" type="checkbox">
        {{ "Enable encrypted notification" | translate }}
      </label>
      <div ng-show="preferences.gpg_enable_notification">
        <span class="label label-success">
          {{ "now Enabled:" | translate }}
        </span>
        {{ "Every notification will be encrypted with the PGP key." | translate }}
      </div>
      <div ng-show="!preferences.gpg_enable_notification">
        <span class="label label-danger">
          {{ "now Disabled:" | translate }}
        </span>
        {{ "Every notification won't be encrypted." | translate }}
      </div>
    </div>

    <div class="form-group table-bordered">
      <label>
        <input ng-model="preferences.gpg_enable_files" type="checkbox">
        {{ "Enable file encryption" | translate }}
      </label>
      <div ng-show="preferences.gpg_enable_files">
        <span class="label label-success">
          {{ "now Enabled:" | translate }}
        </span>
        {{ "Every downloaded file will be encrypted with the PGP key." | translate }}
      </div>
      <div ng-show="!preferences.gpg_enable_files">
        <span class="label label-danger">
          {{ "now Disabled:" | translate }}
        </span>
        {{ "Every downloaded file won't be encrypted." | translate }}
      </div>
    </div>

    <div class="form-group table-bordered" ng-show="preferences.gpg_key_fingerprint">
      <input ng-model="preferences.gpg_key_remove" type="checkbox">
      <label>{{ "Remove the PGP key" | translate }}</label>
    </div>
  </div>

  <div class="form-group">
    <div class="alert alert-danger" ng-hide="preferences.gpg_key_fingerprint" ng-click="gpg_marketing = ! gpg_marketing" ng-init="gpg_marketing=false">
      <b>{{ "You've not enabled encryption!" | translate }}</b>
      <br /><br />
      <div>
        <a href="https://gnupg.org">GnuPG</a>
        {{ "can be configured in order to deliver encrypted email and store encrypted files. You've to copy and paste the ascii version of your personal key, and then it would be possibile update your encryption settings. If you've any doubts talk to your admin." | translate }}
      </div>
     </div>
  </div>

  <div class="form-group" ng-hide="preferences.gpg_key_fingerprint">
    <button class="btn btn-success" ng-init="send_key=false" ng-click="send_key = !send_key">
      <i class="glyphicon glyphicon-plus"></i>
      {{ "Configure a PGP key" | translate }}
    </button>

    <div ng-show="send_key">
      <label>{{ "Copy and Paste here the PGP Key:" | translate }}</label>
      <textarea class="form-control" ng-model="preferences.gpg_key_armor"></textarea>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success" ng-click="pref_save()">
    <i class="glyphicon glyphicon-ok"></i>
    {{ "Update notification and encryption settings" | translate }}
    </button>
  </div>
</div>

</div>
