<div class="panel panel-default">
  <div class="panel-body">
    <form name="adminNetForm">
      <div class="row">
        <div class="col-md-12">
          <div data-ng-show="admin.node.reachable_via_web">
            <div class="form-group">
              <label data-translate>Roles enabled to use the platform without Tor:</label>
            </div>
            <table class="table table-bordered">
              <tbody>
                <tr>
                  <td data-translate>Admin</td>
                  <td><input data-ng-model="admin.node.tor2web_admin" type="checkbox"></td>
                </tr>
                <tr>
                  <td data-translate>Custodian</td>
                  <td><input data-ng-model="admin.node.tor2web_custodian" type="checkbox"></td>
                </tr>
                <tr>
                  <td data-translate>Recipient</td>
                  <td><input data-ng-model="admin.node.tor2web_receiver" type="checkbox"></td>
                </tr>
                <tr uib-popover-template="'views/admin/network/tor2web_wb_warn.html'" popover-placement="bottom">
                  <td data-translate>Whistleblower</td>
                  <td><input data-ng-model="admin.node.tor2web_whistleblower" type="checkbox"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-md-6">
        <button id="AccessControlSave" class="btn btn-success" data-ng-disabled="adminNetForm.$invalid" data-ng-click="Utils.update(admin.node)" type="submit">
          <i class="glyphicon glyphicon-ok"></i>
          <span data-translate>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
