<h4 data-translate>Certificate Signature Request (CSR) generator</h4>
<div data-ng-form name="certSigRequestForm" class="form-horizontal">
  <p data-translate>
    <span data-translate>This form will generate a certificate signing request (cert_sig_req.pem) to use when applying for a certificate from a Certificate Authority.</span>
    <span data-translate>After the Certificate Authority validates your ownership of the domain name you have chosen, they will issue you a certificate and provide a chain file.</span>
    <span data-translate>Load the certificate and the chain file below to complete the HTTPS setup.</span>
    <span data-translate>Please note that the file format expected for all files uploaded is PEM.</span>
    <span data-translate>Sometimes Certificate Authorities will provide certificates in DER format which must be converted to PEM.</span>
  </p>
  <hr/>

  <div class="form-group" data-ng-class="{'has-error': certSigRequestForm.commonname.$invalid}">
    <label class="col-md-4 control-label" data-translate>Domain name</label>
    <div class="col-md-8">
      <input class="form-control" type="text" data-ng-model="csr_cfg.commonname"
       name="commonname" required/>
    </div>
  </div>

  <div class="form-group" data-ng-class="{'has-error': certSigRequestForm.country.$invalid}">
    <label class="col-md-4 control-label" data-translate>Country code</label>
    <div class="col-md-8">
      <input class="form-control" type="text" data-ng-model="csr_cfg.country"
       name="country" placeholder="IT" minlength="2" maxlength="2" required />
    </div>
  </div>
  <div class="form-group" data-ng-class="{'has-error': certSigRequestForm.province.$invalid}">
    <label class="col-md-4 control-label" data-translate>State or Province name</label>
    <div class="col-md-8">
      <input class="form-control" data-ng-model="csr_cfg.province"
       name="province" type="text" required/>
    </div>
  </div>

  <div class="form-group" data-ng-class="{'has-error': certSigRequestForm.city.$invalid}">
    <label class="col-md-4 control-label" data-translate>Locality name</label>
    <div class="col-md-8">
      <input class="form-control" data-ng-model="csr_cfg.city"
        name="city" type="text" required/>
    </div>
  </div>

  <div class="form-group" data-ng-class="{'has-error': certSigRequestForm.company.$invalid}">
    <label class="col-md-4 control-label" data-translate>Organization</label>
    <div class="col-md-8">
        <input class="form-control" data-ng-model="csr_cfg.company"
         name="company" required/>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" data-translate>Organizational unit</label>
    <div class="col-md-8">
      <input name="department" class="form-control" data-ng-model="csr_cfg.department"/>
    </div>
  </div>

  <div class="form-group" data-ng-class="{'has-error': certSigRequestForm.email.$invalid}">
    <label class="col-md-4 control-label" data-translate>Email</label>
    <div class="col-md-8">
      <input class="form-control" data-ng-model="csr_cfg.email"
       name="email" type="text" required data-ng-pattern="email_regexp"/>
      <div class="text-danger" data-ng-show="certSigRequestForm.email.$error.pattern">
        <span data-translate>Invalid email address</span>
      </div>
    </div>
  </div>
  <button class="btn btn-success pull-right" ng-click="submitCSR()" ng-disabled="certSigRequestForm.$invalid">
    <span data-translate>Generate</span>
  </button>
</div>
