<div id="HTTPSSettings" data-ng-controller="AdminHTTPSConfigCtrl">
  <div data-ng-switch="menuState">
    <div data-ng-switch-when="setup">
      <div data-ng-include="'views/admin/network/https_setup_start.html'"></div>
    </div>
    <div data-ng-switch-when="choice">
      <div data-ng-include="'views/admin/network/https_setup_choices.html'"></div>
    </div>
    <div data-ng-switch-when="files">
      <div data-ng-include="'views/admin/network/https_files.html'"></div>
    </div>
    <div data-ng-switch-when="status">
      <div data-ng-include="'views/admin/network/https_status.html'"></div>
    </div>
    <div data-ng-switch-when="acmeCfg">
      <div data-ng-include="'views/admin/network/https_acme_cfg.html'"></div>
    </div>
    <div data-ng-switch-when="acmeFin">
      <div data-ng-include="'views/admin/network/https_acme_fin.html'"></div>
    </div>
  </div>
</div>
