<div id="HttpsSettings" data-ng-controller="AdminHTTPSConfigCtrl">
  <div>
    <h3 data-translate>HTTPS Dashboard</h3>
    <h3><span data-translate>Status</span>:
      <span data-ng-show="tls_config.enabled" class="label label-success" data-translate>Enabled</span>
      <span data-ng-hide="tls_config.enabled" class="label label-danger" data-translate>Disabled</span>
      <span data-ng-show="tls_config.running" class="label label-success" data-translate>Running</span>
      <span data-ng-show="!tls_config.running && tls_config.enabled" class="label label-warning" data-translate>Not running</span>
    </h3>
    <div>
      <h4>
        <span data-translate>Domain name</span><span>:</span>
        <a data-ng-show="tls_config.https_url != ''" target="_blank" rel="noreferrer noopener" href="{{ tls_config.https_url }}">{{ tls_config.https_url }}</a>
      </h4>
      <div data-ng-show="tls_config.https_url == ''"
          class="alert alert-warning">
          <strong data-translate>Domain name is not set!</strong>
          <span data-translate>Set the HTTPS domain name in network settings.</span>
      </div>
      <h4 data-translate>System message:</h4>
      <div class="alert alert-info"><b>{{tls_config.status.timestamp | date:'dd-MM-yyyy HH:mm' }}</b> {{ tls_config.status.msg }}</div>
    </div>
  </div>
  <div>
    <h3 data-translate>Configuration</h3>
    <div data-ng-if="!(tls_config.running && tls_config.enabled)" class="alert">
      <p data-translate>This configuration wizard will guide you through the setup of HTTPS allowing you to generating a private key and to certificate signing request that you can use when applying for a certificate from a Certificate Authority.</p>
      <p data-translate>After the Certificate Authority validates your ownership of the domain name you have chosen and upon the reception of the Certificate Signing Request, they will issue you a certificate and provide a file containing intermediate certificates which is sometimes called a chain file.</p>
      <p data-translate>Load the certificate and the chain file below to complete the HTTPS setup.</p>
      <p data-translate>Please note that the file format expected for all files uploaded is PEM.</p>
      <p data-translate>Sometimes Certificate Authorities will provide certificates in DER format which must be converted to PEM.</p>
    </div>
    <div class="panel panel-default hideable-div">
      <div data-ng-hide="!tls_config.enabled" class="disabling-div"></div>
      <div class="panel-body">
        <span data-ng-class="statusClass(tls_config.files.priv_key)">
          <span class="text-bold">1</span>
          <span class="text-bold" data-translate>Private key</span>
          <span>(PEM)</span>
        </span>
        <span class="pull-right">
          <span class="file-upload" data-ng-if="!tls_config.files.priv_key.set">
            <label for="certUpload" class="btn btn-xs btn-primary">
              <input id="certUpload" type="file" file-change
              handler="postFile(files, file_resources.priv_key)"  />
              <span data-translate>Upload</span>
            </label>
          </span>
          <button class="btn btn-xs btn-success" data-ng-if="!tls_config.files.priv_key.set"
              data-ng-click="gen_priv_key()" data-translate>Generate</button>
          <span data-ng-if="tls_config.files.priv_key.set">
            <button class="btn btn-xs btn-danger"
                data-ng-click="deleteFile(file_resources.priv_key)" data-translate>Delete</button>
          </span>
        </span>
      </div>
    </div>

    <div class="panel panel-default hideable-div">
      <div data-ng-hide="tls_config.files.priv_key.set && !tls_config.files.cert.set && !tls_config.enabled" class="disabling-div"></div>
      <div class="panel-body">
        <span data-ng-class="statusClass(tls_config.files.cert)">
        <span class="text-bold">2</span>
        <span class="text-bold" data-translate>Certificate signing request</span>
        <span>(PEM)</span>
        <span class="pull-right">
          <button class="btn btn-xs btn-success" data-ng-hide="csr_state.open" data-ng-click="csr_state.open = true">
            <span data-translate>Generate</span>
          </button>
          <button type="button" class="close" data-ng-show="csr_state.open" data-ng-click="csr_state.open = false" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </span>
        <div data-ng-show="csr_state.open">
           <hr />
           <div ng-include="'views/admin/network/csr_gen.html'"></div>
        </div>
      </div>
    </div>

    <div class="panel panel-default hideable-div">
        <div data-ng-hide="(tls_config.files.cert.set || tls_config.files.priv_key.set) && !tls_config.enabled" class="disabling-div"></div>
      <div class="panel-body">
        <span data-ng-class="statusClass(tls_config.files.cert)">
          <span class="text-bold">3</span>
          <span class="text-bold" data-translate>Certificate</span>
          <span>(PEM)</span>
        </span>
        <span data-ng-show="tls_config.files.cert.set" class="label label-warning">
          <span data-translate>Valid until:</span> {{ tls_config.files.cert.expiration_date | date:'dd-MM-yyyy HH:mm' }}
          <span data-translate>Issuer:</span> <b>{{ tls_config.files.cert.issuer }}</b>
        </span>
        <span class="pull-right">
          <span class="file-upload" data-ng-if="tls_config.files.priv_key.set && !tls_config.files.cert.set">
            <label for="certUpload" class="btn btn-xs btn-primary">
              <input id="certUpload" type="file" file-change
              handler="postFile(files, file_resources.cert)"  />
              <span data-translate>Upload</span>
            </label>
          </span>
          <span data-ng-if="tls_config.files.cert.set">
            <button class="btn btn-xs btn-primary"
                data-ng-click="downloadFile(file_resources.cert)" data-translate>Download</button>
            <button class="btn btn-xs btn-danger"
                data-ng-click="deleteFile(file_resources.cert)" data-translate>Delete</button>
          </span>
        </span>
      </div>
    </div>

    <div class="panel panel-default hideable-div">
      <div data-ng-hide="(tls_config.files.chain.set || (tls_config.files.cert.set && tls_config.files.priv_key.set)) && !tls_config.enabled" class="disabling-div"></div>
      <div class="panel-body">
        <b class="" data-ng-class="iconClass(tls_config.files.chain)">4</b>
        <b data-translate>Intermediate certificates</b>
        <small data-ng-show="tls_config.files.chain.set">PEM
            <span data-translate>Valid until:</span>{{ tls_config.files.chain.expiration_date | date:'dd-MM-yyyy HH:mm' }}
          <span data-translate>Issuer:</span> <b>{{ tls_config.files.chain.issuer }}</b>
       </small>
        <div class="pull-right">
          <span class="file-upload" data-ng-if="tls_config.files.priv_key.set && !tls_config.files.chain.set">
            <label for="chainUpload" class="btn btn-xs btn-primary">
              <input id="chainUpload" type="file" file-change
              handler="postFile(files, file_resources.chain)" />
              <span data-translate>Upload</span>
            </label>
          </span>
          <span data-ng-if="tls_config.files.chain.set">
            <button class="btn btn-xs btn-primary"
                 data-ng-click="downloadFile(file_resources.chain)" data-translate>Download</button>
            <button class="btn btn-xs btn-danger"
                data-ng-click="deleteFile(file_resources.chain)" data-translate>Delete</button>
          </span>
        </div>
      </div>
    </div>

  </div>

  <button class="btn btn-md btn-success" data-ng-if="!tls_config.enabled"
      data-ng-disabled="!tls_config.files.priv_key.set || !tls_config.files.cert.set"
      data-ng-click="toggleCfg()"
      data-translate>Enable
  </button>
  <button class="btn btn-md btn-danger" data-ng-if="tls_config.enabled"
      data-ng-click="toggleCfg()"
      data-translate>Disable
  </button>
</div>
