<div class="info-section">
  <div>
    <div>
      <span data-translate>Status</span><span>: </span>

      <span data-ng-if="tls_config.enabled">
        <span data-translate>Enabled</span>
      </span>

      <span data-ng-if="!tls_config.enabled">
        <span data-translate>Disabled</span>
      </span>
    </div>

    <div data-ng-if="tls_config.acme">
      <span data-translate>Auto-renewal</span>: <span data-translate>Enabled</span>
    </div>
  </div>

  <div class="hostname">
    <div data-ng-if="tls_config.enabled">
      <span>URL</span><span>:</span>
      <a href="https://{{resources.network.hostname}}" rel="noreferrer" target="_blank">https://{{resources.network.hostname}}</a>
    </div>
  </div>
</div>
