<div data-ng-form name="certSigRequestForm" class="form-horizontal was-validated clearfix">
  <div class="form-group">
    <label class="col-md-4 control-label" data-translate>Country code</label>
    <div class="col-md-8">
      <input class="form-control" type="text" data-ng-model="csr_cfg.country"
        data-ng-class="{'is-invalid': certSigRequestForm.country.$invalid}"
        name="country" minlength="2" maxlength="2" required />
    </div>
  </div>
  <div class="form-group">
    <label class="col-md-4 control-label" data-translate>Status</label>
    <div class="col-md-8">
      <input class="form-control" data-ng-model="csr_cfg.province"
             data-ng-class="{'is-invalid': certSigRequestForm.province.$invalid}"
             name="province" type="text" required />
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" data-translate>City</label>
    <div class="col-md-8">
      <input class="form-control" data-ng-model="csr_cfg.city"
             data-ng-class="{'is-invalid': certSigRequestForm.city.$invalid}"
             name="city" type="text" required />
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" data-translate>Organization</label>
    <div class="col-md-8">
      <input class="form-control" data-ng-model="csr_cfg.company"
             data-ng-class="{'is-invalid': certSigRequestForm.company.$invalid}"
             name="company" required />
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" data-translate>Organizational unit</label>
    <div class="col-md-8">
      <input class="form-control" data-ng-model="csr_cfg.department"
             data-ng-class="{'is-invalid': certSigRequestForm.department.$invalid}"
             name="department" required />
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-4 control-label" data-translate>Email</label>
    <div class="col-md-8">
      <input class="form-control" data-ng-model="csr_cfg.email"
             data-ng-class="{'is-invalid': certSigRequestForm.email.$invalid}"
             name="email" type="text" required data-ng-pattern="email_regexp"/>
      <div class="text-danger" data-ng-show="certSigRequestForm.email.$error.pattern">
        <span data-translate>Invalid email address</span>
      </div>
    </div>
  </div>
  <button id="csrSubmit" class="btn btn-primary float-right"
      data-ng-click="submitCSR()"
      data-ng-disabled="certSigRequestForm.$invalid"
      data-translate>Generate</button>
</div>
