<label data-translate>The platform supports the configuration of HTTPS through this interface.</label>
<br />
<div data-translate>After HTTPS is configured the application will be accessible to different user roles specified in the Access Control tab.</div>
<div data-translate>The platform must be reachable through a public IP address and the selected hostname must have a corresponding DNS record referencing that address.</div>
<br />
<div data-ng-show="verifyFailures" class="alert alert-warning">
  <i class="glyphicon glyphicon-alert"></i>
  <span data-translate>The connection to the configured domain failed.</span>
</div>

<button class="btn btn-success"
        data-ng-click="saveNodeAndProceed()"
        data-ng-disabled="admin.node.hostname === ''"
        data-translate>Proceed</button>
</div>
