<div data-ng-show="choseManCfg" data-translate>This interface can generate a Private Key and a Certificate Signing Request. The Certificate Signing Request can be provided to a Certificate Authority to retrieve a Certificate. After having validated your request and your ownership of the hostname, the Certificate Authority will issue you a Certificate and provide a file containing Intermediate Certificates. Load the Certificate and the file containing the Intermediate Certificates to complete the HTTPS setup.</div>
<br />
<div class="https-file-res">
  <div class="panel panel-default priv-key">
    <div class="panel-body" data-ng-class="{'disabled-interface': tls_config.enabled || tls_config.acme}">
      <span data-ng-class="statusClass(tls_config.files.priv_key)">
        <span class="text-bold">1</span>
        <span class="text-bold" data-translate>Private Key</span>
        <span>(PEM)</span>
      </span>
      <span class="pull-right">
        <span class="file-upload" data-ng-if="!tls_config.files.priv_key.set">
          <label id="keyUpload" file-picker-input="postFile(file, file_resources.priv_key)" data-label-text="Upload" class="btn btn-xs btn-primary"></label>
        </span>
        <button id="pkGen" class="btn btn-xs btn-success" data-ng-if="!tls_config.files.priv_key.set" data-ng-click="gen_priv_key()">
            <i class="glyphicon glyphicon-cog"></i>
          <span data-translate>Generate</span>
        </button>
        <span data-ng-if="tls_config.files.priv_key.set">
          <button id="deleteKey" class="btn btn-xs btn-danger" data-ng-click="deleteFile(file_resources.priv_key)">
            <i class="glyphicon glyphicon-remove"></i>
            <span data-translate>Delete</span>
          </button>
        </span>
      </span>
    </div>
  </div>

  <div data-ng-if="tls_config.files.priv_key.gen && !tls_config.acme" class="panel panel-default csr">
    <div class="panel-body" data-ng-class="{'disabled-interface': state < 0 || tls_config.acme}">
      <span data-ng-class="statusClass(tls_config.files.csr)">
        <span class="text-bold">2</span>
        <span class="text-bold" data-translate>Certificate Signing Request</span>
        <span>(PEM)</span>
      </span>
      <span data-ng-if="!tls_config.files.csr.set">
        <span class="pull-right">
          <button id="csrGen" class="btn btn-xs btn-success" data-ng-hide="csr_state.open" data-ng-click="csr_state.open = true">
            <i class="glyphicon glyphicon-cog"></i>
            <span data-translate>Generate</span>
          </button>
          <button type="submit" class="close" data-ng-show="csr_state.open" data-ng-click="csr_state.open = false" aria-label="Close">&times;</button>
        </span>
        <div data-ng-show="csr_state.open">
          <hr />
          <div ng-include="'views/admin/network/https_csr_gen.html'"></div>
        </div>
      </span>
      <span data-ng-if="tls_config.files.csr.set">
        <span class="pull-right">
          <button id="downloadCsr" class="btn btn-xs btn-primary" data-ng-click="downloadFile(file_resources.csr)">
            <i class="glyphicon glyphicon-save-file"></i>
            <span data-translate>Download</span>
          </button>
          <button id="deleteCsr" class="btn btn-xs btn-danger" data-ng-click="deleteFile(file_resources.csr)">
            <i class="glyphicon glyphicon-remove"></i>
            <span data-translate>Delete</span>
          </button>
        </span>
      </span>
    </div>
  </div>

  <div class="panel panel-default cert">
    <div class="panel-body" data-ng-class="{'disabled-interface': state <= 0 || tls_config.acme}">
      <span data-ng-class="statusClass(tls_config.files.cert)">
        <span class="text-bold">{{(!tls_config.acme && tls_config.files.priv_key.gen) ? '3' : '2'}}</span>
        <span class="text-bold" data-translate>Certificate</span>
        <span>(PEM)</span>
      </span>
      <span data-ng-show="tls_config.files.cert.set" class="label label-info">
        <span data-translate>Valid until:</span> {{ tls_config.files.cert.expiration_date | date:'dd-MM-yyyy HH:mm' }}
        <span data-translate>Issuer:</span> <b>{{ tls_config.files.cert.issuer }}</b>
      </span>
      <span class="pull-right">
        <span class="file-upload" data-ng-if="!tls_config.files.cert.set">
          <label id="certUpload" file-picker-input="postFile(file, file_resources.cert)" data-label-text="Upload" class="btn btn-xs btn-primary"></label>
        </span>
        <span data-ng-if="tls_config.files.cert.set">
          <button id="downloadCert" class="btn btn-xs btn-primary" data-ng-click="downloadFile(file_resources.cert)">
            <i class="glyphicon glyphicon-save-file"></i>
            <span data-translate>Download</span>
          </button>
          <button id="deleteCert" class="btn btn-xs btn-danger" data-ng-click="deleteFile(file_resources.cert)">
            <i class="glyphicon glyphicon-remove"></i>
            <span data-translate>Delete</span>
          </button>
        </span>
      </span>
    </div>
  </div>

  <div class="panel panel-default chain">
    <div class="panel-body" data-ng-class="{'disabled-interface': state <= 1 || tls_config.acme}">
      <span data-ng-class="statusClass(tls_config.files.chain)">
        <span class="text-bold">{{(tls_config.acme && tls_config.files.priv_key.gen) ? '4' : '3'}}</span>
        <span class="text-bold" data-translate>Intermediate Certificates</span>
        <span>(PEM)</span>
      </span>
      <span data-ng-show="tls_config.files.chain.set" class="label label-info">
        <span data-translate>Valid until:</span> {{ tls_config.files.chain.expiration_date | date:'dd-MM-yyyy HH:mm' }}
        <span data-translate>Issuer:</span> <b>{{ tls_config.files.chain.issuer }}</b>
      </span>
      <div class="pull-right">
        <span class="file-upload" data-ng-if="!tls_config.files.chain.set">
          <label id="chainUpload" file-picker-input="postFile(file, file_resources.chain)" data-label-text="Upload" class="btn btn-xs btn-primary"></label>
        </span>
        <span data-ng-if="tls_config.files.chain.set">
          <button id="downloadChain" class="btn btn-xs btn-primary" data-ng-click="downloadFile(file_resources.chain)">
            <i class="glyphicon glyphicon-save-file"></i>
            <span data-translate>Download</span>
          </button>
          <button id="deleteChain" class="btn btn-xs btn-danger" data-ng-click="deleteFile(file_resources.chain)">
            <i class="glyphicon glyphicon-remove"></i>
            <span data-translate>Delete</span>
          </button>
        </span>
      </div>
    </div>
  </div>

  <button class="btn btn-success" data-ng-if="state > 1" data-ng-click="toggleCfg()" data-translate>Enable</button>
  <button class="btn btn-danger" data-ng-click="resetCfg()" data-translate>Reset</button>
</div>
