<div class="panel panel-default">
  <div class="panel-body">
<p>
  <span data-translate>Using Let's Encrypt requires agreement to their terms of service. Please carefully review their terms.</span>
</p>
<a class="btn btn-default btn-small" data-ng-href="{{ le_terms_of_service }}" target="_blank" rel="noreferrer noopener">Terms of Service <i class="glyphicon glyphicon-link"></i></a>
<br/><br/>
<div class="form-group">
  <input data-ng-model="accepted_le_terms" type="checkbox"></input>
  <label data-translate>I agree to the terms</label>
</div>

<hr/>
<button id="LetsCry" class="btn btn-med btn-success"
  data-ng-disabled="!accepted_le_terms"
  data-ng-click="letsEncryptor()"
  data-translate>Proceed</button>
<button class="btn btn-default" data-ng-click="setMenu('setup')" data-translate>Cancel</button>
</div>
</div>
