<div id="HttpsSettings" data-ng-controller="AdminHTTPSConfigCtrl">
  <div data-ng-switch="menuState">
    <div data-ng-switch-when="setup">
      <div data-ng-include="'views/admin/network/https_setup.html'"></div>
    </div>
    <div data-ng-switch-when="acmeCfg">
      <div data-ng-include="'views/admin/network/https_acme_cfg.html'"></div>
    </div>
    <div data-ng-switch-when="acmeFin">
      <div data-ng-include="'views/admin/network/https_acme_fin.html'"></div>
    </div>
    <div data-ng-switch-when="fileRes">
      <div data-ng-include="'views/admin/network/https_file_res.html'"></div>
    </div>
    <div data-ng-switch-when="status">
      <div data-ng-include="'views/admin/network/https_status.html'"></div>
    </div>
  </div>
  <small>tmp
    <a ng-click="setMenu('setup')">setup</a>
    <a ng-click="setMenu('acmeCfg')">acme cfg</a>
    <a ng-click="setMenu('acmeFin')">acme fin</a>
    <a ng-click="setMenu('fileRes')"> file res</a>
    <a ng-click="setMenu('status')">status</a>
  </small>
</div>
