<div data-ng-form name="certSigRequestForm" class="form-horizontal">
  <div class="form-group" data-ng-class="{'has-error': certSigRequestForm.country.$invalid}">
    <label class="col-md-4 control-label" data-translate>Country code</label>
    <div class="col-md-8">
      <input class="form-control" type="text" data-ng-model="csr_cfg.country"
        name="country" placeholder="IT" minlength="2" maxlength="2" required />
    </div>
  </div>
  <div class="form-group" data-ng-class="{'has-error': certSigRequestForm.province.$invalid}">
    <label class="col-md-4 control-label" data-translate>State</label>
    <div class="col-md-8">
      <input class="form-control" data-ng-model="csr_cfg.province"
        name="province" type="text" required />
    </div>
  </div>

  <div class="form-group" data-ng-class="{'has-error': certSigRequestForm.city.$invalid}">
    <label class="col-md-4 control-label" data-translate>City</label>
    <div class="col-md-8">
      <input class="form-control" data-ng-model="csr_cfg.city"
        name="city" type="text" required />
    </div>
  </div>

  <div class="form-group" data-ng-class="{'has-error': certSigRequestForm.company.$invalid}">
    <label class="col-md-4 control-label" data-translate>Organization</label>
    <div class="col-md-8">
      <input class="form-control" data-ng-model="csr_cfg.company"
        name="company" required />
    </div>
  </div>

  <div class="form-group" data-ng-class="{'has-error': certSigRequestForm.department.$invalid}">
    <label class="col-md-4 control-label" data-translate>Organizational unit</label>
    <div class="col-md-8">
      <input class="form-control" data-ng-model="csr_cfg.department"
        name="department" required />
    </div>
  </div>

  <div class="form-group" data-ng-class="{'has-error': certSigRequestForm.email.$invalid}">
    <label class="col-md-4 control-label" data-translate>Email</label>
    <div class="col-md-8">
      <input class="form-control" data-ng-model="csr_cfg.email"
        name="email" type="text" required data-ng-pattern="email_regexp"/>
      <div class="text-danger" data-ng-show="certSigRequestForm.email.$error.pattern">
        <span data-translate>Invalid email address</span>
      </div>
    </div>
  </div>
  <button id="csrSubmit" class="btn btn-success pull-right"
      ng-click="submitCSR()"
      ng-disabled="certSigRequestForm.$invalid"
      ng-hide="menuState === 'acmeCfg'"
      data-translate>Generate
  </button>
</div>
