/** Receiver selection page **/

.receiverCards {
  position: relative;
}

.receiverCard {
  margin-bottom: 20px;
  padding: 39px 19px 14px;
  background-color: white;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  float: left;
}

.receiverCard.selected {
  background-color: #DFF0D8;
}
