<div class="row">
  <div class="col-md-8">
    <div class="form-group table-bordered">
      <input ng-model="admin.notification.disable" type="checkbox">
      <label>{{ "Disable email notification" | translate }}</label>
      <div ng-show="admin.notification.disable">
        <span class="label label-warning">
          {{ "now Disabled:" | translate }} <br />
        </span>
        {{ "Unsent emails will be spooled when the option will be re-enabled." | translate }}
      </div>
    </div>

    <div class="form-group">
      <label>{{ "Source Name" | translate }}</label>
      <input class="form-control" ng-model="admin.notification.source_name" type="text">
    </div>

    <div class="form-group">
      <label>{{ "Source Email" | translate }}</label>
      <input class="form-control" ng-model="admin.notification.source_email" type="text">
    </div>

    <div class="form-group">
      <label>{{ "Username" | translate }}</label>
      <input class="form-control" ng-model="admin.notification.username" type="text">
    </div>

    <div class="form-group">
      <label>{{ "Password" | translate }}</label>
      <input class="form-control" ng-model="admin.notification.password" type="password">
    </div>

    <div class="form-group">
      <label>{{ "SMTP server address" | translate }}</label>
      <input class="form-control" ng-model="admin.notification.server" type="text">
    </div>

    <div class="form-group">
      <label>{{ "SMTP server port" | translate }}</label>
      <input class="form-control" ng-model="admin.notification.port" type="text">
    </div>

    <div class="form-group">
      <label>{{ "Transport Security" | translate }}</label>
      <select class="form-control" ng-model="admin.notification.security" required="">
        <option value="SSL">SMTPS</option>
        <option value="TLS">SMTP/TLS</option>
      </select>
    </div>

    <div class="form-group">
      <label>{{ "Zip Description Template" | translate }}</label>
      <div>
        <textarea ng-model="admin.notification.zip_description" class="form-control mobileTextArea"></textarea>
      </div>
    </div>

  </div>
</div>
