<div class="row">
  <div class="col-md-8">
    <div>
      {{ "This interface permits to configure email templates used for secure mail notifications." | translate }}
    </div>

    <br /><br />

    <div class="form-group">
      <label>{{ "Tip Email Subject" | translate }}</label>
      <input ng-model="admin.notification.encrypted_tip_mail_title" class="input-xlarge form-control" type="text">
    </div>

    <div class="form-group">
      <label>{{ "Tip Email Template" | translate }}</label>
      <div>
        <textarea ng-model="admin.notification.encrypted_tip_template" class="form-control mobileTextArea"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label>{{ "Comment Email Subject" | translate }}</label>
      <input ng-model="admin.notification.encrypted_comment_mail_title" class="input-xlarge form-control" type="text">
    </div>

    <div class="form-group">
      <label>{{ "Comment Email Template" | translate }}</label>
      <div>
        <textarea ng-model="admin.notification.encrypted_comment_template" class="form-control mobileTextArea"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label>{{ "File Email Subject" | translate }}</label>
      <input ng-model="admin.notification.encrypted_file_mail_title" class="input-xlarge form-control" type="text">
    </div>

    <div class="form-group">
      <label>{{ "File Email Template" | translate }}</label>
      <div>
        <textarea ng-model="admin.notification.encrypted_file_template" class="form-control mobileTextArea"></textarea>
      </div>
    </div>

    <div class="form-group">
      <label>{{ "Message Email Subject" | translate }}</label>
      <input ng-model="admin.notification.encrypted_message_mail_title" class="input-xlarge form-control" type="text">
    </div>

    <div class="form-group">
      <label>{{ "Message Email Template" | translate }}</label>
      <div>
        <textarea ng-model="admin.notification.encrypted_message_template" class="form-control mobileTextArea"></textarea>
      </div>
    </div>

  </div>
</div>
