<div class="row">
  <div class="col-md-12">
    <label data-ng-if="!public.node.simplified_login" data-translate>Enter your account's username or your email address to request a password reset.</label>
    <label data-ng-if="public.node.simplified_login" data-translate>Enter your email address to request a password reset.</label>
  </div>
</div>
<div class="row">	
  <div class="col-md-3">
    <form name="form" autocomplete="off" novalidate>
      <div class="input-group">
        <input class="form-control" name="username" data-ng-model="request.username" type="text" required />
        <span class="input-group-append">
          <button class="btn btn-primary" data-ng-disabled="!request.username"  data-ng-click="submit()" type="submit" data-translate>Submit</button>
	  <a class="btn" href="#" data-ng-click="Utils.openSupportModal()" data-uib-tooltip="{{'Request support' | translate}}"><i class="fa-solid fa-life-ring"></i></a>
	</span>
      </div>
    </form>
  </div>
</div>
