@if (authenticationService.session) {
  <form name="preferenceResolver.dataModel.orm" #preferenceForm="ngForm" class="reveal" id="PreferencesForm">
    @if (preferenceResolver.dataModel.picture) {
      <div class="image-thumbnail">
        <img class="receiver-image" alt="user picture" src="/s/{{preferenceResolver.dataModel.id}}" />
        <br />
      </div>
    }
    <div id="Username">
      <label>
        <span>{{'Username'|translate}}</span>: </label> {{preferenceResolver.dataModel.username}}
      </div>
      <div id="Role">
        <label>
          <span>{{'Role'|translate}}</span>: </label>
          <span>{{role}}</span>
        </div>
        <div id="Name">
          <label>
            <span>{{'Name'|translate}}</span>: </label>
            @if (!editingName) {
              <span>
                <span>{{preferenceResolver.dataModel.name}}</span>
                @if (!editingName) {
                  <button class="btn btn-sm btn-outline-secondary" (click)="toggleNameEditing(); $event.stopPropagation();">
                    <span>{{'Edit'|translate}}</span>
                  </button>
                }
              </span>
            }
            @if (editingName) {
              <input class="form-control" name="name" [(ngModel)]="preferenceResolver.dataModel.name" type="text" required />
            }
          </div>
          <div id="PublicName">
            <label>
              <span>{{'Public name'|translate}}</span>: </label>
              @if (!editingPublicName) {
                <span>
                  <span>{{preferenceResolver.dataModel.public_name}}</span>
                  @if (!editingPublicName) {
                    <button class="btn btn-sm btn-outline-secondary" (click)="togglePublicNameEditing(); $event.stopPropagation();">
                      <span>{{'Edit'|translate}}</span>
                    </button>
                  }
                </span>
              }
              @if (editingPublicName) {
                <input class="form-control" name="public_name" [(ngModel)]="preferenceResolver.dataModel.public_name" type="text" required />
              }
            </div>
            <div id="EmailAddress">
              <label>
                <span>{{'Email address'|translate}}</span>: </label>
                <div>
                  @if (!editingEmailAddress) {
                    <span>{{preferenceResolver.dataModel.mail_address}}</span>
                  }
                  @if (!editingEmailAddress) {
                    <button class="btn btn-sm btn-outline-secondary" (click)="toggleEmailAddressEditing(); $event.stopPropagation();">
                      <span>{{'Edit'|translate}}</span>
                    </button>
                  }
                </div>
              </div>
              @if (editingEmailAddress) {
                <div>
                  <input class="form-control" name="mail_address" [(ngModel)]="preferenceResolver.dataModel.mail_address" [pattern]="Constants.emailRegexp" type="email" [ngClass]="{'is-invalid': preferenceForm.form.get('mail_address')?.errors?.['pattern']}"/>
                </div>
              }
              @if (!editingEmailAddress && preferenceResolver.dataModel.change_email_address) {
                <div class="alert alert-secondary mt-2">
                  <div>{{'Validation of email address change in progress.'|translate}}</div>
                  <div>{{'Please check your inbox for further instructions.'|translate}}</div>
                </div>
              }
              @if (preferenceResolver.dataModel.description) {
                <div>
                  <label>{{'Description'|translate}}</label> {{preferenceResolver.dataModel.description}}
                </div>
              }
              @if (authenticationService.session.role === 'receiver' && appDataService.public.contexts.length > 1) {
                <div id="Contexts">
                  <label>
                    <span>{{'Channels'|translate}}</span>
                  </label>
                  @for (context_id of preferenceResolver.dataModel.contexts; track context_id) {
                    <ul>
                      <li>{{appDataService.contexts_by_id[context_id].name}}</li>
                    </ul>
                  }
                </div>
              }
              @if (appDataService.languages_enabled_selector.length > 1) {
                <div id="Language" class="form-group">
                  <label>{{'Language'|translate}}</label>
                  <select class="form-select-custom" name="languageModel" [(ngModel)]="languageModel" (ngModelChange)="onlanguagechange()">
                    @for (item of appDataService.languages_enabled_selector; track item) {
                      <option [value]="item.code">{{ item.native }}</option>
                    }
                  </select>
                </div>
              }
              @if ((authenticationService.session.role === 'admin' && !appDataService.public.node.disable_admin_notification) || (authenticationService.session.role === 'receiver' && !appDataService.public.node.disable_receiver_notification) || (authenticationService.session.role === 'custodian' && !appDataService.public.node.disable_custodian_notification)) {
                <div id="EnableNotifications" class="form-group">
                  <input class="form-check-input" name="notification" [(ngModel)]="preferenceResolver.dataModel.notification" type="checkbox">
                  <label>{{'Enable email notifications'|translate}}</label>
                </div>
              }
              <div class="form-group">
                <label>
                  <input class="form-check-input" name="two_factor" type="checkbox" [checked]="preferenceResolver.dataModel.two_factor" (click)="toggle2FA($event)" />
                  <span>{{'Enable two factor authentication'|translate}}</span>
                </label>
              </div>
              @if (appDataService.public.node.pgp) {
                <div id="EditPGP" ngForm #pgpkeyForm="ngForm">
                  @if (preferenceResolver.dataModel.pgp_key_fingerprint) {
                    <div>
                      <div class="form-group">
                        <label>{{'Details of the PGP key:'|translate}}</label>
                        <div>
                          <span>{{'Fingerprint'|translate}}</span>: <span>{{preferenceResolver.dataModel.pgp_key_fingerprint}}</span>
                        </div>
                        <div>
                          <span>{{'Expiration date'|translate}}</span>: {{preferenceResolver.dataModel.pgp_key_expiration | date:"dd/MM/yyyy"}}
                        </div>
                      </div>
                      <div class="form-group">
                        <input class="form-check-input" name="pgp" [(ngModel)]="preferenceResolver.dataModel.pgp_key_remove" type="checkbox">
                        <label>{{'Remove'|translate}}</label>
                      </div>
                    </div>
                  }
                  @if (!preferenceResolver.dataModel.pgp_key_fingerprint) {
                    <div>
                      <div class="position-relative">
                        <label>{{'Set up encryption by providing a PGP public key'|translate}}</label>
                        <div>
                          <input #uploader id="customFile" type="file" [style.display]="'none'" class="custom-file-input" (change)="loadPublicKeyFile(uploader.files)" />
                          <label class="btn btn-sm btn-outline-secondary" for="customFile">
                            <i class="fa-solid fa-upload"></i>
                            <span>{{ 'Upload' | translate }}</span>
                          </label>
                        </div>
                      </div>
                    </div>
                  }
                  <br />
                  <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="preferenceForm.invalid || pgpkeyForm.invalid">
                    <i class="fa-solid fa-check"></i>
                    <span>{{'Save'|translate}}</span>
                  </button>
                  @if (preferenceResolver.dataModel.encryption) {
                    <button class="btn btn-outline-secondary" id="account_recovery_key" (click)="getEncryptionRecoveryKey($event)">{{'Account recovery key'|translate}}</button>
                  }
                </div>
              }
              @if (!appDataService.public.node.pgp) {
                <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="preferenceForm.invalid">
                  <i class="fa-solid fa-check"></i>
                  <span>{{'Save'|translate}}</span>
                </button>
              }
              @if (!appDataService.public.node.pgp && preferenceResolver.dataModel.encryption) {
                <button id="account_recovery_key" class="btn btn-outline-secondary" (click)="getEncryptionRecoveryKey($event)">{{'Account recovery key'|translate}}</button>
              }
            </form>
          }