<ng-container *ngIf="this.auditLog.slice">
    <table id="userList" class="table table-condensed table-striped">
        <thead>
        <tr>
            <th>{{'Date'|translate}}</th>
            <th>{{'Type'|translate}}</th>
            <th>{{'User'|translate}}</th>
            <th>{{'Object'|translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of getPaginatedData()">
            <td>{{ data.date | date:'dd-MM-yyyy HH:mm' }}</td>
            <td>{{ data.type }}</td>
            <td>{{ data.user_id }}</td>
            <td>{{ data.object_id }}</td>
        </tr>
        </tbody>
    </table>
    <div class="float-start" *ngIf="auditLog.length > pageSize">
        <ngb-pagination dir="ltr" class="d-flex justify-content-center" [(page)]="currentPage" [pageSize]="pageSize" [collectionSize]="auditLog.length">
            <ng-template ngbPaginationFirst><i class="fa-solid fa-backward-fast" title="{{'First' | translate}}"></i></ng-template>
            <ng-template ngbPaginationPrevious><i class="fa-solid fa-backward-step" title="{{'Previous' | translate}}"></i></ng-template>
            <ng-template ngbPaginationNext><i class="fa-solid fa-forward-step" title="{{'Next' | translate}}"></i></ng-template>
            <ng-template ngbPaginationLast><i class="fa-solid fa-forward-fast" title="{{'Last' | translate}}"></i></ng-template>
        </ngb-pagination>
    </div><div class="float-end"><button class="btn btn-sm btn-link" type="button" (click)="exportAuditLog()"> <i class="fa-solid fa-download"></i> <span>{{ 'Export' | translate }}</span> </button> <span *ngIf="nodeResolver.dataModel.root_tenant"> <a class="btn btn-sm btn-link" type="button" (click)="utilsService.saveAs(authenticationService, 'globaleaks.log', '/api/admin/auditlog/debug')"> <i class="fa-solid fa-download"></i> globaleaks.log </a> <a class="btn btn-sm btn-link" type="button" (click)="utilsService.saveAs(authenticationService, 'access.log', '/api/admin/auditlog/access')"> <i class="fa-solid fa-download"></i> access.log </a> </span></div>
</ng-container>
