@if (this.auditLog.slice()) {
  <table id="userList" class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>{{'Date'|translate}}</th>
        <th>{{'Type'|translate}}</th>
        <th>{{'User'|translate}}</th>
        <th>{{'Object'|translate}}</th>
      </tr>
    </thead>
    <tbody>
      @for (data of getPaginatedData(); track data) {
        <tr>
          <td>{{ data.date | date:'dd-MM-yyyy HH:mm' }}</td>
          <td>{{ data.type }}</td>
          <td>{{ data.user_id }}</td>
          <td>{{ data.object_id }}</td>
        </tr>
      }
    </tbody>
  </table>
  @if (auditLog.length > pageSize) {
    <div class="float-start">
      <ngb-pagination [(page)]="currentPage" [pageSize]="pageSize" [collectionSize]="auditLog.length" [boundaryLinks]="true">
        <ng-template ngbPaginationPrevious>
        < {{'Previous' | translate}}</ng-template>
        <ng-template ngbPaginationNext>{{'Next' | translate}} ></ng-template>
        <ng-template ngbPaginationFirst>
        << {{'First' | translate}}</ng-template>
        <ng-template ngbPaginationLast>{{'Last' | translate}} >></ng-template>
      </ngb-pagination>
    </div>
    }<div class="float-end"><button class="btn btn-sm btn-link" type="button" (click)="exportAuditLog()"> <i class="fa-solid fa-download"></i> <span>{{ 'Export' | translate }}</span> </button> @if (nodeResolver.dataModel.root_tenant) {
    <span> <a class="btn btn-sm btn-link" type="button" (click)="utilsService.saveAs(authenticationService, 'globaleaks.log', '/api/admin/auditlog/debug')"> <i class="fa-solid fa-download"></i> globaleaks.log </a> <a class="btn btn-sm btn-link" type="button" (click)="utilsService.saveAs(authenticationService, 'access.log', '/api/admin/auditlog/access')"> <i class="fa-solid fa-download"></i> access.log </a> </span>
  }</div>
}
