Source: globaleaks
Maintainer: Random GlobaLeaks developers <info@globaleaks.org>
Section: web
Priority: optional
Build-Depends: python (>= 2.6.6-3), debhelper (>= 7.4.3)
Standards-Version: 3.9.1
XS-Python-Version: >= 2.6

Package: globaleaks
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, tor, libjpeg-dev, build-essential, libssl-dev, python-dev, python-pip
Description: GlobaLeaks is an open source project aimed to create a worldwide, anonymous, censorship-resistant, distributed whistleblowing platform.
XB-Python-Version: ${python:Versions}
Provides: ${python:Provides}
