#!/usr/bin/make -f

export PYBUILD_NAME=globaleaks
#export PYBUILD_DISABLE=test

%:
	dh $@ --with python2 --buildsystem=pybuild

override_dh_auto_test:
	PYBUILD_SYSTEM=custom \
	PYBUILD_TEST_ARGS="trial {dir}/globaleaks" dh_auto_test

override_dh_install:
#   install man page
	python setup.py build_sphinx -b man
	mkdir -p debian/globaleaks/usr/share/man
	cp doc/_build/man/globaleaks.1 debian/globaleaks/usr/share/man/
#   install apparmor profile
	mkdir -p debian/globaleaks/etc/apparmor.d/local
	cp debian/globaleaks.apparmor-profile debian/globaleaks/etc/apparmor.d/usr.bin.globaleaks
	dh_apparmor --profile-name=usr.bin.globaleaks
	dh_install --fail-missing

override_dh_installinit:
	dh_installinit --update-rcd-params="defaults 99"
