#!/usr/bin/make -f

export PYBUILD_NAME=globaleaks

%:
	dh $@ --with python2 --buildsystem=pybuild

override_dh_install:
	mkdir debian/globaleaks/etc
	mkdir debian/globaleaks/etc/apparmor.d
	mkdir debian/globaleaks/etc/apparmor.d/local
	cp debian/globaleaks.apparmor-profile debian/globaleaks/etc/apparmor.d/usr.bin.globaleaks
	dh_apparmor --profile-name=usr.bin.globaleaks
	dh_install --fail-missing

override_dh_installinit:
	dh_installinit --update-rcd-params="defaults 99"
