#!/usr/bin/make -f

export DH_VERBOSE = 1
export PYBUILD_DISABLE=test
export PYBUILD_INSTALL_ARGS=--no-compile


%:
	dh $@ --with python3 --buildsystem=pybuild --sourcedirectory=backend/

override_dh_install:
	dh_apparmor --profile-name=usr.bin.globaleaks
	dh_install

override_dh_installman:
	true

override_dh_python3:
	dh_python3 --no-guessing-deps
