<div data-ng-switch="page">
  <div data-ng-switch-when="submissionpage">
    <div data-ng-controller="SubmissionCtrl" data-ng-include="'views/whistleblower/submission.html'"></div>
  </div>
  <div data-ng-switch-when="receiptpage">
    <div data-ng-controller="ReceiptCtrl" data-ng-include="'views/whistleblower/receipt.html'"></div>
  </div>
  <div data-ng-switch-when="tippage">
    <div data-ng-controller="TipCtrl" data-ng-include="'views/whistleblower/tip.html'"></div>
  </div>
  <div data-ng-switch-default>
    <div data-ng-include="'views/whistleblower/home.html'"></div>
  </div>
</div>
