@if (this.users.slice()) {
  <table id="userList" class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>{{'ID'|translate}}</th>
        <th>{{'Username'|translate}}</th>
        <th>{{'Role'|translate}}</th>
        <th>{{'Name'|translate}}</th>
        <th>2FA</th>
        <th>{{'Creation date'|translate}}</th>
        <th>{{'Last access'|translate}}</th>
      </tr>
    </thead>
    <tbody>
      @for (data of getPaginatedData(); track data) {
        <tr>
          <td>{{data.id}}</td>
          <td>{{data.username}}</td>
          <td>{{data.role}}</td>
          <td>{{data.name}}</td>
          <td> <i class="fa" [ngClass]="{'fa-check': data.two_factor, 'fa-times': !data.two_factor}"></i> </td>
          <td>{{data.creation_date | date:'dd-MM-yyyy HH:mm'}}</td>
          <td>{{data.last_login | date:'dd-MM-yyyy HH:mm'}}</td>
        </tr>
      }
    </tbody>
  </table>
  @if (users.length > pageSize) {
    <div class="float-start">
      <ngb-pagination [(page)]="currentPage" [pageSize]="pageSize" [collectionSize]="users.length" [boundaryLinks]="true">
        <ng-template ngbPaginationPrevious>
        < {{'Previous' | translate}}</ng-template>
        <ng-template ngbPaginationNext>{{'Next' | translate}} ></ng-template>
        <ng-template ngbPaginationFirst>
        << {{'First' | translate}}</ng-template>
        <ng-template ngbPaginationLast>{{'Last' | translate}} >></ng-template>
      </ngb-pagination>
    </div>
    } <div class="float-end"><button class="btn btn-sm btn-link" type="button" (click)="exportAuditLog()"> <i class="fa-solid fa-download"></i> <span>{{ 'Export' | translate }}</span> </button></div>
  }
