<div data-ng-if="!Authentication.authcoderequired">
  <div class="form-group">
    <label data-translate>Site:</label>
    <div class="row">
      <div class="col-md-12">
        <ui-select data-ng-model="selected.value" data-theme="bootstrap" data-on-select='selectSite($item)'>
          <ui-select-match data-ng-attr-placeholder="{{'Search' | translate}}">
            <span data-ng-bind="$select.selected.name"></span>
          </ui-select-match>
          <ui-select-choices data-repeat="site in selectableSites" refresh="refreshSelectableSites($select.search)" resfresh-delay="0">
            <span data-ng-bind-html="site.name | highlight: $select.search"></span>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>
  </div>

  <div data-ng-if="vars.site !== null">
    <div data-ng-if="public.node.mode !== 'whistleblowing.it'">
      <div class="form-group">
        <label data-translate>Username</label>
        <input class="form-control" name="username" data-ng-model="loginData.loginUsername" type="text" required />
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Password</label>
      <input class="form-control" name="password" data-ng-model="loginData.loginPassword" type="password" required />
    </div>

    <button id="login-button" class="btn btn-primary" data-ng-disabled="Authentication.loginInProgress || loginForm.$invalid" data-ng-click="Authentication.login(vars.site.id, loginData.loginUsername, loginData.loginPassword)" type="submit">
      <i class="fas fa-sign-in-alt"></i>
      <span data-translate>Log in</span>
    </button>

    <span id="forgot-button">
      <a class="btn btn-secondary" href="/t/{{vars.site.id}}/#/login/passwordreset" data-translate>Forgot password?</a>
    </span>
  </div>
</div>

<div data-ng-if="Authentication.authcoderequired">
  <div class="form-group">
    <label data-translate>Enter the two factor authentication code</label>
    <input class="form-control" data-ng-model="loginData.loginAuthCode" type="text" size="6" maxlength="6" required />
  </div>

  <button id="login-button" class="btn btn-primary" data-ng-disabled="Authentication.loginInProgress || loginForm.$invalid" data-ng-click="Authentication.login(0, loginData.loginUsername, loginData.loginPassword, loginData.loginAuthCode)" type="submit">
    <i class="fas fa-sign-in-alt"></i>
    <span data-translate>Log in</span>
  </button>
</div>
