<fieldset>
  <legend><span data-translate>Details</span></legend>
  <div data-ng-repeat="field in submission.current_context.fields">
    <div data-ng-form="" name="subForm" class="submissionField">
      <div data-ng-switch="" on="field.type">
        <div data-ng-switch-default="" class="form-group input" data-ng-class="field.required && 'required'">
          <label>{{$index + 1}}) {{field.name}}</label>
          <a href="" data-ng-show="field.hint" data-content="field.hint" popover="{{field.hint}}" popover-placement="right" popover-trigger="mouseenter">
            <i class="glyphicon glyphicon-question-sign"></i>
          </a>
          <div class="submissionFieldInput">
            <div class="row">
              <div data-ng-switch="" on="field.type" class="col-md-4">
                <input class="form-control" data-ng-switch-when="text" data-ng-model="field.value" data-ng-required="field.required" name="input" value="{{field.value}}" placeholder="{{field.placeholder}}" type="text">

                <textarea class="form-control" data-ng-switch-when="textarea" data-ng-model="field.value" data-ng-required="field.required" placeholder="{{field.placeholder}}">{{field.value}}</textarea>

                <select class="form-control" data-ng-switch-when="select" name="input" data-ng-model="field.value" data-ng-required="field.required">
                  <option data-ng-repeat="option in field.options" value="{{option.value}}">{{option.name}}</option>
                </select>

                <select class="form-control" data-ng-switch-when="multiple" name="input" data-ng-model="field.value" multiple="">
                  <option data-ng-repeat="option in field.options" value="{{option.value}}">{{option.name}}</option>
                </select>

                <fieldset data-ng-switch-when="radio">
                  <div data-ng-repeat="option in field.options">
                    <input data-ng-model="field.value" data-ng-required="field.required" value="{{option.value}}" type="radio">
                    <label>{{option.name}}</label>
                  </div>
                </fieldset>

                <div data-ng-switch-when="checkboxes">
                  <div data-ng-repeat="option in field.options">
                    <input name="{{option.name}}" 
                        data-ng-model="field.value[option.name]"
                        type="checkbox">
                    <label>{{field.options[$index].name}}</label>
                  </div>
                </div>

              </div>
            </div>

            <p class="has-error" data-ng-show="subForm.$invalid">
              <span data-translate>This field cannot be empty</span>
            </p>

          </div>
        </div>

      </div>
    </div>

  </div>
</fieldset>
