<!-- 

This comment is needed in order to push the following strings on transifex

{{ "Blow the Whistle" | translate }}
{{ "This receiver has configured the encryption key." | translate }}
{{ "This receiver has not configured for encryption key." | translate }
{{ "Select this receiver." | translate }}
{{ "Deselect this receiver." | translate }}

-->
<div class="ng-cloak container" ng-show="!node.configured && node.name">
  <h2>{{ "This node is not configured." | translate }}</h2>
  <p>{{ "You will not be able to perform a submission." | translate }}<br />
  {{ "Admin please configure at least one Context and associated Receivers using" | translate }}
  <a href="/#/admin/contexts">
    {{ "Admin management interface" | translate }}
  </a>.</p>
</div>

<div ng-controller="SubmissionStepsCtrl" id="ContentBox" class="container submission" ng-show="node.name && node.configured">

  <div class="tabbable tabs-below">

    <ul class="nav nav-tabs">
      <li ng-repeat="step in steps" ng-class="{active: $index==getCurrentStepIndex(), disabled: uploading}">
        <a href="javascript:void(0)" ng-click="goToStep($index)" ng-disabled="uploading">
          <div ng-switch="" on="step">

            <span ng-switch-when="1">
              1 - {{ "Receiver selection" | translate }}
            </span>

            <span ng-switch-when="2">
              2 - {{ "Fill out your submission" | translate }}
            </span>

            <span ng-switch-when="3">
              3 - {{ "Final Step" | translate }}
            </span>

          </div>
        </a>
      </li>
    </ul>

    <div ng-switch="" on="selection" class="tab-content">

      <!-- First Step -->
      <div ng-switch-when="1" class="receiverCards">
        <div id="ContextPickSelector" ng-show="submission.contexts.length > 1">
            <div class="lead">
              {{ "Choose the context and receivers that will be sure to transform your submission into action!" | translate }}
            </div>

            <span class="lead" ng-show="node.configured">
              {{ "I want to report on" | translate }}
            </span>

            <select class="form-control contexts" ng-model="submission.current_context" ng-options="context as context.name for context in submission.contexts | orderBy:'presentation_order'">
            </select>

        </div>

        <div id="ContextIntroductionBox">
          {{submission.current_context.description}}
        </div>

        <div id="ReceiverIntroductionBox">
          {{submission.current_context.receiver_introduction}}
        </div>

        <div ng-show="submission.current_context.maximum_selectable_receivers != 0 && !submission.current_context.select_all_receivers" id="MaxSelectableReceiverBox" class="clearfix">
          <div>{{ "Maximum number of Receivers selectable:" | translate }} {{submission.current_context.maximum_selectable_receivers}}</div>
          <div>{{ "Receivers selected:" | translate }} {{selected_receivers_count()}}</div>
        </div>

        <div id="ReceiverSelectionBoxBig" ng-repeat="receiver in submission.current_context_receivers | orderBy:'presentation_order'" ng-show="!submission.current_context.show_small_cards">
          <div class="{{['receiverCard col-md-5', 'receiverCard col-md-5 col-md-offset-1'][$index % 2]}}" ng-class="{selected: submission.receivers_selected[receiver.receiver_gus]}" ng-click="switch_selection(receiver.receiver_gus)">
            <div class="row receiverCardTitle">
              <div class="col-md-10">
                <label>
                  <span ng-switch="" on="receiver.gpg_key_status">
                    <span ng-switch-when="Enabled">
                      <i class="glyphicon glyphicon-certificate" popover="{{ 'This receiver has configured the encryption key.' | translate }}" popover-placement="right" popover-trigger="mouseenter"></i>
                    </span>
                    <span ng-switch-when="Disabled">
                      <i class="glyphicon glyphicon-warning-sign" popover="{{ 'This receiver has not configured the encryption key.' | translate }}" popover-placement="right" popover-trigger="mouseenter"></i>
                    </span>
                  </span>
                  &nbsp;{{receiver.name}}
                </label>
              </div>
              <div class="col-md-1">
                <div ng-show="submission.receivers_selected[receiver.receiver_gus]">
                  <i class="glyphicon glyphicon-check" popover="{{ 'Deselect this receiver' | translate }}" popover-placement="right" popover-trigger="mouseenter"></i>
                </div>
                <div ng-show="!submission.receivers_selected[receiver.receiver_gus]">
                  <i class="glyphicon glyphicon-unchecked" popover="{{ 'Select this receiver' | translate }}" popover-placement="right" popover-trigger="mouseenter"></i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <img ng-src="/static/{{receiver.receiver_gus}}.png" class="img-thumbnail">
              </div>
              <div class="col-md-offset-1 col-md-6">
                <p>{{receiver.description}}</p>
              </div>
            </div>
          </div>
          <div class="clearfix" ng-show="$index % 2"></div>
        </div>

        <div id="ReceiverSelectionBoxSmall" ng-repeat="receiver in submission.current_context_receivers | orderBy:'presentation_order'" ng-show="submission.current_context.show_small_cards">
          <div class="form-group col-md-3">
            <div ng-click="switch_selection(receiver.receiver_gus)" class="receiverCard" ng-class="{selected: submission.receivers_selected[receiver.receiver_gus]}">
              <div class="row receiverCardTitle">
                <div class="col-md-9">
                  <label>
                    <span ng-switch="" on="receiver.gpg_key_status">
                      <span ng-switch-when="Enabled">
                        <i class="glyphicon glyphicon-certificate" popover="{{ 'This receiver has configured the encryption key.' | translate }}" popover-placement="right" popover-trigger="mouseenter"></i>
                      </span>
                      <span ng-switch-when="Disabled">
                        <i class="glyphicon glyphicon-warning-sign" popover="{{ 'This receiver has not configured the encryption key.' | translate }}" popover-placement="right" popover-trigger="mouseenter"></i>
                      </span>
                    </span>
                    &nbsp;{{receiver.name}}
                  </label>
                </div>
                <div class="col-md-1">
                  <div ng-show="submission.receivers_selected[receiver.receiver_gus]">
                    <i class="glyphicon glyphicon-check" popover="{{ 'Select this receiver' | translate }}" popover-placement="right" popover-trigger="mouseenter"></i>
                  </div>
                  <div ng-show="!submission.receivers_selected[receiver.receiver_gus]">
                    <i class="glyphicon glyphicon-unchecked" popover="{{ 'Deselect this receiver' | translate }}" popover-placement="right" popover-trigger="mouseenter"></i>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <img ng-src="/static/{{receiver.receiver_gus}}.png" class="img-thumbnail">
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix" ng-show="!(($index + 1) % 4)"></div>
        </div>

      </div>
      <!-- /1 -->

      <!-- Second Step -->
      <div ng-switch-when="2">

        <div class="lead">
          {{ "Enter the information that is relevant to your submission and possibly upload the relevant accompanying files" | translate }}
        </div>
        <div>
          {{submission.current_context.fields_introduction}}
        </div>

        <div class="row">

          <div class="col-md-6" ng-form="submissionForm" ng-controller="SubmissionFormController"> 
            <div class="submissionDetails" ng-include="'views/submission/form.html'"></div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6" ng-include="'views/partials/fileupload.html'"></div>
        </div>

      </div>
      <!-- /2 -->

      <!-- Third Step -->
      <div ng-switch-when="3">

        <div class="row">

          <div class="col-md-12">
            <p class="lead">
            {{ "To ensure your anonymity be sure that you are visiting this site using the" | translate }}
            <a href="https://www.torproject.org/projects/torbrowser.html" target="_blank" rel="noreferrer">Tor Browser Bundle</a>
            </p>

            <p class="lead">
            {{ "You acknowledge that failure to do so will result in the inability to technically protect your anonymity." | translate }}
            </p>

            <p class="lead">
              {{ "To further enhance your security, please follow these instructions:" | translate }}
            </p>

            <ul class="lead">
              <li>{{ "In the event that you would like to remain anonymous, do not submit any personal information. (e.g. your name or relationship to the offender. Do not submit any information that can be traced back to you.)" | translate }}</li>
              <li>{{ "Please do not submit your report on a PC provided by your employer. Particularly an intranet connection may jeopardize your anonymity." | translate }}</li>
            </ul>

            <p class="lead">
              {{ "By checking the box below you agree to these terms and conditions." | translate }}
            </p>
            <div class="form-group">
              <input ng-model="disclaimer.accepted" value="true" type="checkbox"> 
              <label>{{ "Agree" | translate }}</label>
            </div>

          </div>

        </div>

      </div>
      <!-- /3 -->

    </div>

    <!-- END steps -->

    <div class="clearfix"></div>

    <ul class="pager pull-left">
      <li ng-class="{disabled: uploading}" class="previous" ng-hide="!hasPreviousStep()">
        <a ng-click="decrementStep()">
          <i class="glyphicon glyphicon-arrow-left"></i>
          {{ "Previous Step" | translate }}
        </a>
      </li>
      <li ng-class="{disabled: uploading}" class="next" ng-hide="!hasNextStep()">
        <a ng-click="incrementStep()">
          {{ "Next Step" | translate }}
          <i class="glyphicon glyphicon-arrow-right"></i>
        </a>
      </li>
    </ul>
    <div class="pager pull-left" style="margin-left: 20px">
      <div class="btn btn-success" ng-click="submit()" ng-disabled="uploading || !disclaimer.accepted || invalidForm || !receiver_selected">
        <i class="glyphicon glyphicon-ok"></i>
        {{ "Submit" | translate }}
      </div>
    </div>

    <div class="clearfix"></div>
  </div>

</div>

<!-- This will be visualized once the subission is created -->
<div class="submission-receipt modal" ng-show="submission.completed">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>{{ "Submission Created!" | translate }}</h3>
      </div>
      <div class="modal-body">

        <p>
        {{ "This receipt will allow you to login as the whistleblower for this Tip." | translate }}
        {{ "Through this system receivers will be able to ask you questions on the Tip and you will be able to write a reply." | translate }} 
        {{ "You will also be able to keep track of who has viewed your submission and downloaded the files." | translate }}
        {{ "Moreover, it will allow you to add other files to your submission." | translate }} 
        </p>

        <p>
        {{ "Beware of the fact that this receipt, if fallen into the wrong hands, will lead to identifying you as the whistleblower for this Tip." | translate }}
        </p>
    
        <p>
        {{ "If you are interested in keeping it, please save it in a secure place and make sure it does not fall into the wrong hands" | translate }} 
        </p>

        <h2>{{submission.receipt}}</h2>

        <p>
        {{ "Please copy in the box below your receipt to access the tip interface." | translate }} 
        </p>
        <input class="form-control" ng-model="receiptConfirmation" type="text">

      </div>
      <div class="modal-footer">
        <a ng-click="view_tip(submission.receipt)" ng-disabled="submission.receipt != receiptConfirmation" class="btn btn-success">
         <i class="glyphicon glyphicon-log-in"></i>
         {{ "View Tip" | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End -->
