<!-- 

This comment is needed in order to push the following strings on transifex

<span data-translate>Blow the Whistle</span>
<span data-translate>This receiver has configured the encryption key.</span>
<span data-translate>This receiver has not configured the encryption key.</span>
<span data-translate>Select this receiver.</span>
<span data-translate>Unselect this receiver.</span>

-->
<div class="ng-cloak container" data-ng-show="!node.configured && node.name">
  <h2 data-translate>This node is not configured.</h2>
  <p>
    <span data-translate>You will not be able to send a submission.</span><br />
    <span data-translate>Admin please configure at least one Context and associated Receivers using</span>
    <a href="/#/admin/contexts">
      <span data-translate>Admin management interface</span>
    </a>.
  </p>
</div>

<div data-ng-controller="SubmissionStepsCtrl" id="ContentBox" class="container submission" data-ng-show="node.name && node.configured">

  <div class="tabbable tabs-below">

    <ul class="nav nav-tabs">
      <li data-ng-if="!skip_first_step" data-ng-class="{active: getCurrentStepIndex()==0, disabled: uploading}">
        <a href="javascript:void(0)" data-ng-click="goToStep(0)" data-ng-disabled="uploading">
           <span>
              1 - <span data-translate>Receiver selection</span>
            </span>
        </a>
      </li>
      <li data-ng-class="{active: getCurrentStepIndex()==1, disabled: uploading}">
        <a href="javascript:void(0)" data-ng-click="goToStep(1)" data-ng-disabled="uploading">
            <span>
              <span data-ng-if="skip_first_step">1 - </span>
              <span data-ng-if="!skip_first_step">2 - </span>
              <span data-translate>Fill out your submission</span>
            </span>
        </a>
      </li>
      <li data-ng-class="{active: getCurrentStepIndex()==2, disabled: uploading}">
        <a href="javascript:void(0)" data-ng-click="goToStep(2)" data-ng-disabled="uploading">
            <span>
              <span data-ng-if="skip_first_step">2 - </span>
              <span data-ng-if="!skip_first_step">3 - </span>
              <span data-translate>Final Step</span>
            </span>
        </a>
      </li>
    </ul>

    <div class="tab-content">

      <!-- First Step -->
      <div data-ng-if="selection == 1" id="SubmissionStep1" class="receiverCards">
        <div id="ContextPickSelector" data-ng-show="submission.contexts.length > 1">
            <div id="SubmissionStep1Title" class="lead">
              <span data-translate>Choose the context and receivers that will be sure to transform your submission into action!</span>
            </div>

            <span class="lead" data-ng-show="node.configured">
              <span data-translate>I want to report on</span>
            </span>

            <select class="form-control contexts" data-ng-model="submission.current_context" data-ng-options="context as context.name for context in submission.contexts | orderBy:'presentation_order'">
            </select>

        </div>
        <div id="ContextIntroductionBox">
          {{submission.current_context.description}}
        </div>

        <div id="ReceiverIntroductionBox">
          {{submission.current_context.receiver_introduction}}
        </div>

        <div data-ng-show="submission.current_context.maximum_selectable_receivers != 0 && !submission.current_context.select_all_receivers" id="MaxSelectableReceiverBox" class="clearfix">
          <div><span data-translate>Maximum number of selectable Receivers:</span> {{submission.current_context.maximum_selectable_receivers}}</div>
          <div><span data-translate>Receivers selected:</span> {{selected_receivers_count()}}</div>
        </div>

        <div id="ReceiverSelectionBoxBig" data-ng-repeat="receiver in submission.current_context_receivers | orderBy:'presentation_order'" data-ng-show="!submission.current_context.show_small_cards">
          <div class="{{['receiverCard col-md-5', 'receiverCard col-md-5 col-md-offset-1'][$index % 2]}}" data-ng-class="{selected: submission.receivers_selected[receiver.id], disabled: receiver.disabled}" data-ng-click="switch_selection(receiver)">
            <div class="row receiverCardTitle">
              <div class="col-md-10">
                <label>
                  <span data-ng-switch="" on="receiver.gpg_key_status">
                    <span data-ng-switch-when="Enabled">
                      <i class="glyphicon glyphicon-certificate" popover="{{ 'This receiver has configured the encryption key.' | translate }}" popover-placement="right" popover-trigger="mouseenter"></i>
                    </span>
                    <span data-ng-switch-when="Disabled">
                      <i class="glyphicon glyphicon-warning-sign" popover="{{ 'This receiver has not configured the encryption key.' | translate }}" popover-placement="right" popover-trigger="mouseenter"></i>
                    </span>
                  </span>
                  &nbsp;{{receiver.name}}
                </label>
              </div>
              <div class="col-md-1" ng-hide="receiver.disabled">
                <div data-ng-show="submission.receivers_selected[receiver.id]">
                  <i class="glyphicon glyphicon-check" popover="{{ 'Unselect this receiver' | translate }}" popover-placement="right" popover-trigger="mouseenter"></i>
                </div>
                <div data-ng-show="!submission.receivers_selected[receiver.id]">
                  <i class="glyphicon glyphicon-unchecked" popover="{{ 'Select this receiver' | translate }}" popover-placement="right" popover-trigger="mouseenter"></i>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <img data-ng-src="/static/{{receiver.id}}.png" class="img-thumbnail">
              </div>
              <div class="col-md-offset-1 col-md-6" ng-show="!receiver.disabled">
                <p>{{receiver.description}}</p>
              </div>
              <div class="col-md-offset-1 col-md-6" ng-show="receiver.disabled">
                <div data-translate>This receiver is disabled due to missing PGP key.</div>
                <div data-translate>To enable it, his public key must be loaded by the admin or by the receiver.</div>
              </div>
            </div>
          </div>
          <div class="clearfix" data-ng-show="$index % 2"></div>
        </div>

        <div id="ReceiverSelectionBoxSmall" data-ng-repeat="receiver in submission.current_context_receivers | orderBy:'presentation_order'" data-ng-show="submission.current_context.show_small_cards">
          <div class="form-group col-md-3">
            <div data-ng-click="switch_selection(receiver)" class="receiverCard" data-ng-class="{selected: submission.receivers_selected[receiver.id], disabled: receiver.disabled}">
              <div class="row receiverCardTitle">
                <div class="col-md-9">
                  <label>
                    <span data-ng-switch="" on="receiver.gpg_key_status">
                      <span data-ng-switch-when="Enabled">
                        <i class="glyphicon glyphicon-certificate" popover="{{ 'This receiver has configured the encryption key.' | translate }}" popover-placement="right" popover-trigger="mouseenter"></i>
                      </span>
                      <span data-ng-switch-when="Disabled">
                        <i class="glyphicon glyphicon-warning-sign" popover="{{ 'This receiver has not configured the encryption key.' | translate }}" popover-placement="right" popover-trigger="mouseenter"></i>
                      </span>
                    </span>
                    &nbsp;{{receiver.name}}
                  </label>
                  <div data-ng-show="receiver.disabled">
                    <span data-translate>Disabled</span>
                  </div>
                </div>

                <div class="col-md-1" ng-hide="receiver.disabled">
                  <div data-ng-show="submission.receivers_selected[receiver.id]">
                    <i class="glyphicon glyphicon-check" popover="{{ 'Select this receiver' | translate }}" popover-placement="right" popover-trigger="mouseenter"></i>
                  </div>
                  <div data-ng-show="!submission.receivers_selected[receiver.id]">
                    <i class="glyphicon glyphicon-unchecked" popover="{{ 'Unselect this receiver' | translate }}" popover-placement="right" popover-trigger="mouseenter"></i>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <img data-ng-src="/static/{{receiver.id}}.png" class="img-thumbnail">
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix" data-ng-show="!(($index + 1) % 4)"></div>
        </div>

      </div>
      <!-- /1 -->

      <!-- Second Step -->
      <div data-ng-if="selection == 2" id="SubmissionStep2">

        <div id="SubmissionStep2Title" class="lead">
          <span data-translate>Enter the information that is relevant to your submission and possibly upload the relevant accompanying files</span>
        </div>
        <div>
          {{submission.current_context.fields_introduction}}
        </div>

        <div class="row">

          <div class="col-md-6" data-ng-form="submissionForm" data-ng-controller="SubmissionFormController"> 
            <div class="submissionDetails" data-ng-include="'views/submission/form.html'"></div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-6" data-ng-include="'views/partials/fileupload.html'"></div>
        </div>

      </div>
      <!-- /2 -->

      <!-- Third Step -->
      <div data-ng-if="selection == 3" id="SubmissionStep3">

        <div class="row">
          <div class="col-md-12">
            <div class="preformatted">{{node.terms_and_conditions}}</div>
            <div class="form-group">
              <input data-ng-model="disclaimer.accepted" value="true" type="checkbox"> 
              <label data-translate>Agree</label>
            </div>

          </div>

        </div>

      </div>
      <!-- /3 -->

    </div>

    <!-- END steps -->

    <div class="clearfix"></div>

    <ul class="pager pull-left">
      <li data-ng-class="{disabled: uploading}" class="previous" data-ng-hide="!hasPreviousStep()">
        <a data-ng-click="decrementStep()">
          <span data-translate>Previous Step</span>
        </a>
      </li>
      <li data-ng-class="{disabled: uploading}" class="next" data-ng-hide="!hasNextStep()">
        <a data-ng-click="incrementStep()">
          <span data-translate>Next Step</span>
        </a>
      </li>
    </ul>
    <div class="pager pull-left" style="margin-left: 20px" data-ng-show="!hasNextStep()">
      <div class="btn btn-success" data-ng-click="submit()" data-ng-disabled="uploading || !disclaimer.accepted || invalidForm || !receiver_selected">
        <i class="glyphicon glyphicon-ok"></i>
        <span data-translate>Submit</span>
      </div>
    </div>

    <div class="clearfix"></div>
  </div>

</div>

<!-- This will be visualized once the subission is created -->
<div class="submission-receipt modal" data-ng-show="submission.completed">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 data-translate>Submission Created!</h2>
      </div>
      <div class="modal-body">

        <p>
        <span data-translate>This receipt will allow you to login as the whistleblower for this Tip.</span>
        <span data-translate>Through this system receivers will be able to ask you questions on the Tip and you will be able to write a reply.</span> 
        <span data-translate>You will also be able to keep track of who has viewed your submission and downloaded the files.</span>
        <span data-translate>Moreover, it will allow you to add other files to your submission.</span> 
        </p>

        <p>
        <span data-translate>Beware of the fact that this receipt, if fallen into the wrong hands, will lead to identifying you as the whistleblower for this Tip.</span>
        </p>
    
        <p>
        <span data-translate>If you are interested in keeping it, please save it in a secure place and make sure it does not fall into the wrong hands</span> 
        </p>

        <h2>{{submission.receipt}}</h2>

        <p>
        <span data-translate>Please copy in the box below your receipt to access the tip interface.</span> 
        </p>
        <input class="form-control" data-ng-model="receiptConfirmation" type="text">

      </div>
      <div class="modal-footer">
        <a data-ng-click="view_tip(submission.receipt)" data-ng-disabled="submission.receipt != receiptConfirmation" class="btn btn-success">
         <i class="glyphicon glyphicon-log-in"></i>
         <span data-translate>View Tip</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End -->
