<div class="row" ng-controller="AdminDeliveryCtrl">
  <div class="span9 adminDelivery">
    <label>Email Server</label>
    <input type="text"
      ng-model="adminDelivery.emailServer" required>

    <label>Email Server Port</label>
    <input type="text"
      ng-model="adminDelivery.emailServerPort" required>

    <label>Email User Name</label>
    <input type="text"
      ng-model="adminDelivery.emailUserName" required>

    <label>Email Sender</label>
    <input type="email"
      ng-model="adminDelivery.emailSender" required>

    <label>Email Security</label>
    <select
      ng-model="adminDelivery.emailSecurity" required>
      <option value="ssl">SSL</option>
      <option value="tls">TLS</option>
    </select>

  </div>
</div>

