<div class="row">
  <div class="span9">
    <h2>Node Settings</h2>
    <label>Hidden Service</label>
    <input type="text"
      ng-model="adminNode.hidden_service" required>

    <label>Public Site</label>
    <input type="text"
      ng-model="adminNode.public_site" required>

    <label>Public Stats update time</label>
    <input type="text"
      ng-model="adminNode.public_stats_update_time" required>

    <label>Private Stats update time</label>
    <input type="text"
      ng-model="adminNode.public_stats_update_time" required>

    <label>Auth options</label>
    <input type="text"
      ng-model="adminNode.public_stats_update_time" required>
  </div>
</div>
