<div class="row">
  <div class="col-md-6">
    <p>
      <b>{{ "You're running GlobaLeaks version" | translate }} {{admin.node.version}}</b>
    </p>

    <p>
      {{ "This section contains settings that may make your installation not work properly. Please refer to the " | translate }}
      <a href="https://github.com/globaleaks/GlobaLeaks/wiki/Advanced-configuration" target="_blank" rel="noreferrer">Advanced configuration</a>.
    </p>

    <div class="form-group">
      <label>{{ "Exception mail address" | translate }}</label>
      <input class="form-control" ng-model="admin.node.exception_email" type="text">
    </div>

    <div class="form-group table-bordered">
      <label>
        <input ng-model="admin.node.anomaly_checks" type="checkbox">
        {{ "Enable anomaly checks" | translate }}
      </label>
      <div ng-show="admin.node.anomaly_checks">
        <span class="btn-info">
        {{ "now Enabled:" | translate }}
        </span>
        {{ "Anomaly checks will be now performed on each request." | translate }}
      </div>
    </div>

    <div class="form-group">
      <label>{{ "File size limit (in Megabytes)" | translate }}</label>
      <input class="form-control" ng-model="admin.node.maximum_filesize" type="text">
    </div>

    <div class="form-group">
      <label>{{ "Text size limit (in bytes)" | translate }}</label>
      <input class="form-control" ng-model="admin.node.maximum_textsize" type="text">
    </div>

    <div class="form-group table-bordered">
      <label>
        <input ng-model="admin.node.postpone_superpower" type="checkbox">
        {{ "Permit Receivers to postpone expiration date of the Tips" | translate }}
      </label>
      <div ng-show="admin.node.postpone_superpower">
        <span class="btn-info">
        {{ "now Enabled:" | translate }}
        </span>
        {{ "Receivers will be now able to postpone Tips expiration." | translate }}
      </div>
    </div>

    <div class="form-group table-bordered">
      <label>
        <input ng-model="admin.node.can_delete_submission " type="checkbox">
        {{ "Permit Receivers to delete Tips" | translate }}
      </label>
      <div ng-show="admin.node.can_delete_submission">
        <span class="btn-info">
        {{ "now Enabled:" | translate }}
        </span>
	{{ "Receivers will be now able to delete Tips and their content." | translate }}
      </div>
    </div>

  </div>
</div>






