
<a routerLink="/admin/home" routerLinkActive="active" [attr.aria-current]="isActive('/admin/home') ? 'page' : 'false'">
    <i class="fa fa-home"></i>
    <span>{{'Home'|translate}}</span>
</a>
<a routerLink="/admin/settings" routerLinkActive="active" [attr.aria-current]="isActive('/admin/settings') ? 'page' : 'false'">
    <i class="fa-solid fa-sliders"></i>
    <span>{{'Settings'|translate}}</span>
</a>
<a routerLink="/admin/users" routerLinkActive="active" [attr.aria-current]="isActive('/admin/users') ? 'page' : 'false'">
    <i class="fa fa-users"></i>
    <span>{{'Users'|translate}}</span>
</a>
<a routerLink="/admin/questionnaires" routerLinkActive="active" [attr.aria-current]="isActive('/admin/questionnaires') ? 'page' : 'false'">
    <i class="fa fa-circle-question"></i>
    <span>{{'Questionnaires'|translate}}</span>
</a>
<a routerLink="/admin/contexts" routerLinkActive="active" [attr.aria-current]="isActive('/admin/contexts') ? 'page' : 'false'">
    <i class="fa fa-inbox"></i>
    <span>{{'Channels'|translate}}</span>
</a>
<a routerLink="/admin/casemanagement" routerLinkActive="active" [attr.aria-current]="isActive('/admin/casemanagement') ? 'page' : 'false'">
    <i class="fa fa-bars-progress"></i>
    <span>{{'Case management'|translate}}</span>
</a>
<a routerLink="/admin/notifications" routerLinkActive="active" [attr.aria-current]="isActive('/admin/notifications') ? 'page' : 'false'">
    <i class="fa fa-envelope"></i>
    <span>{{'Notifications'|translate}}</span>
</a>
<a routerLink="/admin/network" routerLinkActive="active" *ngIf="nodeResolver.dataModel.root_tenant || authenticationService.session.properties.management_session" [attr.aria-current]="isActive('/admin/network') ? 'page' : 'false'">
    <i class="fa fa-network-wired"></i>
    <span>{{'Network'|translate}}</span>
</a>
<a routerLink="/admin/sites" routerLinkActive="active" *ngIf="nodeResolver.dataModel.root_tenant" [attr.aria-current]="isActive('/admin/sites') ? 'page' : 'false'">
    <i class="fa-solid fa-sitemap"></i>
    <span>{{'Sites'|translate}}</span>
</a>
<a routerLink="/admin/auditlog" routerLinkActive="active" [attr.aria-current]="isActive('/admin/auditlog') ? 'page' : 'false'">
    <i class="fa fa-clipboard-list"></i>
    <span>{{'Audit log'|translate}}</span>
</a>