<div [ngSwitch]="field.type" class="nested">
    <div *ngSwitchCase="'checkbox'">
        <span *ngIf="entry">
            <div [ngSwitch]="field.type">
                <div *ngFor="let option of field.options">
                    <div *ngIf="entry[option.id] === true">
                        <i class="fa-solid fa-check-square"></i>
                        <span>{{ option.label }}</span>
                    </div>
                </div>
            </div>
        </span>
    </div>
    <div *ngSwitchCase="'voice'">
        <i class="fa-solid fa-file-audio" *ngIf="authenticationService.session.role === 'whistleblower'"></i>
        <div class="audio-player-wrapper" *ngIf="authenticationService.session.role === 'receiver'">
            <audio [src]="audioFiles[field.id]" controls class="audio-player"></audio>
        </div>
    </div>
    <div *ngSwitchCase="'selectbox'">
        <div *ngFor="let option of field.options">
            <span *ngIf="entry['value'] === option.id">{{option.label}}</span>
        </div>
    </div>
    <div *ngSwitchCase="'multichoice'">
        <div *ngFor="let option of field.options">
            <span *ngIf="entry['value'] === option.id">{{option.label}}</span>
        </div>
    </div>
    <span *ngSwitchCase="'date'">
        <div *ngIf="entry['value']">
            {{entry['value'] | date:'dd-MM-yyyy'}}
        </div>
    </span>
    <span *ngSwitchCase="'daterange'">
        <span *ngIf="entry['value']">
            <span>{{'From:'|translate}}</span> {{entry['value'] | split: [":", 0] | date:'dd-MM-yyyy'}}
            <span>{{'To:'|translate}}</span> {{entry['value'] | split: [":", 1] |  date:'dd-MM-yyyy'}}
        </span>
    </span>
    <span *ngSwitchCase="'tos'">
        <span *ngIf="entry['value']">
            <i *ngIf="entry['value'] === true" class="fa-solid fa-check-square"></i>
            <i *ngIf="entry['value'] === false" class="fa-solid fa-square"></i>
        </span>
    </span>
    <span *ngSwitchCase="'fieldgroup'">
        <div *ngFor="let field of field.children | orderBy:['y', 'x']">
            <src-tip-field [fields]=field [fieldAnswers]=entry></src-tip-field>
        </div>
    </span>
    <span *ngSwitchDefault class="entry-text">
        <span *ngIf="entry['value']">
            {{entry['value']}}
        </span>
    </span>
</div>