<div class="row mb-3">
  <div class="col-md-12">
    <span data-translate>Before proceeding, please set a new password.</span>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <form name="preferencesForm" novalidate>
      <div class="form-group" data-ng-class="{'has-danger': passwordChangeForm.password.$error.required || passwordChangeForm.password.$error.passwordStrength}">
        <label>
          <span data-translate>New password</span>
          <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right">*</span>
        </label>
        <input class="form-control" name="password" data-ng-model="preferences.password" type="password" autocomplete="off" data-zxcvbn="passwordStrength" data-zx-min-score="3" required />
        <zx-password-meter value="passwordStrength"></zx-password-meter>
        <div class="text-danger" data-ng-show="!passwordChangeForm.password.$error.required && passwordChangeForm.password.$error.passwordStrength">
          <p data-translate>The chosen password is too weak. Make it more secure by adding special characters, numbers, and unusual symbols.</p>
         </div>
        <div class="text-danger" data-ng-show="preferences.password !== '' && preferences.password === preferences.old_password">
          <p data-translate>The new password must be different from the current one.</p>
        </div>
      </div>

      <div class="form-group" data-ng-class="{'has-danger': preferences.password.length && !passwordChangeForm.password.$error && (passwordChangeForm.checkpassword.$error.required || preferences.password !== preferences.check_password)}">
        <label>
          <span data-translate>Type your new password again</span>
          <span class="text-danger" uib-popover="{{'This field is mandatory' | translate}}" popover-placement="right">*</span>
        </label>
        <input class="form-control" name="checkpassword" data-ng-model="preferences.check_password" type="password" autocomplete="off" required/>
        <p class="text-danger" data-ng-show="preferences.password.length && !passwordChangeForm.password.$error.passwordStrength && (preferences.password !== preferences.check_password)">
          <span data-translate>The two passwords do not match</span>
        </p>
      </div>

      <br />

      <button type="submit" class="btn btn-success" data-ng-disabled="passwordChangeForm.$invalid || passwordChangeForm.$pristine || preferences.password !== preferences.check_password || (preferences.password !==     '' && preferences.password === preferences.old_password)" data-ng-click="save()">
        <i class="fa fa-check"></i>
        <span data-translate>Proceed</span>
      </button>
    </form>
    <div id="PasswordChangeError" class="mt-3 alert alert-danger" data-ng-show="errors[0].code === 11">
      <span data-translate>The new password must differ from the previous.</span>
    </div>
  </div>
</div>
