<div id="ContentBox" class="container">
  <div id="HomePageBox">

    <div id="HomePageBoxHeader">
      <div id="HomePageBoxNodePresentation">
        {{ node.presentation }}
      </div>
      <div id="HomePageBoxNodeDescription" class="preformatted">{{node.description}}</div>
    </div>

    <div id="WhistleblowerLoginBox" class="ng-cloak row">
      <div data-ng-show="node.configured">
        <div id="WhistleblowerSubmitBoxButtonDisabled" class="row" data-ng-show="!node.tor2web_submission && !anonymous">
          <button class="btn btn-danger" disabled="disabled">
            <i class="glyphicon glyphicon-ban-circle"></i>
            <span data-translate>Whistleblowing disabled</span>
          </button>
        </div>
        <div class="row" data-ng-show="!node.tor2web_submission && !anonymous">
          <p class="has-error">
            <span data-translate>You are connecting to the node without anonymity and this node supports only anonymous submissions</span>
          </p>
        </div>
        <div class="row" data-ng-show="node.tor2web_submission || anonymous">
          <div id="WhistleblowerSubmitBox">
            <div id="WhistleblowerSubmitBoxHeader">
              <span>{{node.whistleblowing_question}}</span>
            </div>
            <div id="WhistleblowerSubmitBoxButton">
              <a data-ng-click="goToSubmission()" class="btn btn-primary">
                <i class="glyphicon glyphicon-bullhorn"></i>
                <span data-translate>{{node.whistleblowing_button}}</span>
              </a>
            </div>
          </div>
          <div id="WhistleblowerLoginBox" class="center-block">
            <div>
              <h3 data-translate>Have you already filed a submission? Enter your receipt.</h3>
            </div>
            <div data-ng-include="'views/partials/wb_login.html'"></div>
            <div class="LoginErrorBoxHomepage row" data-ng-show="errors[0].code == 29">
              <div class="col-md-12">
                <div class="alert alert-danger">
                  <div>
                    <span data-translate>Cannot Login</span>:
                    <span data-translate>The Key Code is either invalid or the Tip has expired.</span>
                  </div>
                  <div data-translate>Please check your Key Code and try again or make a new Submission.</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-ng-hide="node.configured">
        <span data-translate>Your node is not configured! Please use the</span>
        <a href="/#/admin/contexts">
          <span data-translate>Admin interface and configure at least one context</span>
        </a>
      </div>
    </div>

    <div id="GlobaleaksInfoBox" class="row">
      <div class="col-md-12">
        <span data-translate>This platform makes use of GlobaLeaks software specifically designed to protect the identity of the submitter and of the receiver in the exchange of leaked materials.</span><br />
        <span data-translate>The software is developed by the non-profit Hermes Center for Transparency and Digital Human Rights.</span>
        <a href="http://logioshermes.org/home/about-mission/support-us/" target="_blank" rel="noreferrer"><span data-translate>Please support Hermes through their donation page.</span></a>
        </p>
      </div>
    </div>
  </div>
</div>
