<div>
  <div class="row">
    <div class="col-md-12">
      <div id="ReceiptText">
        <div data-ng-if="!Authentication.context.score_receipt_text_custom">
          <span data-translate>Thank you!</span> <span data-translate>Your submission was successful.</span> <span data-translate>We will try to get back to you as soon as possible.</span>
        </div>
        <div data-ng-if="Authentication.context.score_receipt_text_custom">
          <p data-ng-if="Authentication.submission.score === 1" class="preformatted">{{Authentication.context.score_receipt_text_l}}</p>
          <p data-ng-if="Authentication.submission.score === 2" class="preformatted">{{Authentication.context.score_receipt_text_m}}</p>
          <p data-ng-if="Authentication.submission.score === 3" class="preformatted">{{Authentication.context.score_receipt_text_h}}</p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default" data-ng-init="collapsed = false">
        <div class="panel-heading">
          <span data-translate>Remember your receipt for this submission.</span>
        </div>
        <div class="panel-body" data-ng-show="!collapsed">
          <div id="KeyCodeBox">
            <span id="KeyCode">{{formatted_receipt}}</span>
          </div>
          <div data-translate>Use the 16 digit receipt to log in. It will allow you to view any messages we sent you, and also to add extra info.</div>
          <div>
            <button id="ReceiptButton" class="pull-right btn btn-default" data-ng-click="Authentication.login(0, 'whistleblower', receipt)" data-translate>View your submission</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" data-ng-if="!node.disable_key_code_hint">
      <div data-ng-include="'views/partials/keycodehint_panel.html'"></div>
    </div>
    <div class="col-md-6" data-ng-if="node.enable_ricochet_panel">
      <div data-ng-include="'views/partials/ricochet_panel.html'"></div>
    </div>
  </div>
</div>
