acme==1.12.0
automat==20.2.0
chardet==4.0.0
cffi==1.14.5
cryptography==3.3.2
h2==4.0.0
idna==2.10
priority==1.3.0
pyopenSSL==20.0.1
pyasn1==0.4.8
pyasn1_modules==0.2.1
pynacl==1.4.0
pyotp==2.3.0
python_debian==0.1.39
python_gnupg==0.4.6
requests==2.25.1
service_identity==18.1.0
sqlalchemy==1.3.22
twisted==20.3.0
txtorcon==20.0.0
zope.interface==5.2.0
