Parsley==1.2
Twisted==16.0.0
acme==0.22.2
cffi==1.5.2
chardet==2.3.0
cryptography==1.2.3
enum34==1.1.2
idna==2.0
pyOpenSSL==0.15.1
pyasn1==0.1.9
pyasn1_modules==0.0.7
pycparser==2.14
python_debian==0.1.28
python_gnupg==0.3.8
requests==2.9.1
scrypt==0.6.1
service_identity==16.0.0
six==1.10.0
sqlalchemy==1.0.11
txtorcon==0.15.1
zope.component==4.2.2
zope.event==4.2.0
zope.interface==4.1.3
josepy==1.0.1
