acme==2.1.0
automat==22.10.0
chardet==5.1.0
cffi==1.15.1
cryptography==38.0.4
h2==4.1.0
idna==3.3
priority==2.0.0
pyopenSSL==23.0.0
pyasn1==0.4.8
pyasn1_modules==0.2.8
pynacl==1.5.0
pyotp==2.6.0
python_debian==0.1.49
python_gnupg==0.4.9
requests==2.28.1
service_identity==18.1.0
sqlalchemy==1.4.46
twisted==22.4.0
txtorcon==22.0.0
zope.interface==5.5.2
