Parsley==1.2
Twisted==16.0.0
acme==0.4.1
cffi==1.5.2
chardet==2.3.0
cryptography==1.2.3
enum34==0.9.23
idna==2.0
pyOpenSSL==0.15.1
pyasn1==0.1.9
pyasn1_modules==0.0.7
pycparser==2.10
python_debian==0.1.28
python_gnupg==0.3.6
requests==2.2.1
scrypt==0.6.1
service_identity==16.0.0
six==1.10.0
sqlalchemy==1.0.11
txsocksx==1.15.0.2
txtorcon==0.15.1
zope.component==4.0.2
zope.event==4.0.1
zope.interface==4.0.5
