Parsley>=1.2
Twisted>=16.0.0
cffi>=1.5.2
cryptography>=1.2.3
cyclone>=1.1
enum34>=1.1.2
idna>=2.0
pyOpenSSL>=0.15.1
pyasn1>=0.1.9
pycparser>=2.14
python_gnupg>=0.3.8
scrypt>=0.6.1
service_identity>=16.0.0
six>=1.10.0
storm>=0.19
transaction>=1.4.3
txsocksx>=0.0.0
zope.component>=4.2.2
zope.event>=4.2.0
zope.interface>=4.1.3
