Parsley==1.2
Twisted==14.0.2
cffi==0.8.6
cryptography==0.6.1
cyclone==1.1
enum34==1.0.3
pyOpenSSL==0.14
pyasn1==0.1.7
pycparser==2.10
python_gnupg==0.3.6
scrypt==0.6.1
six==1.8.0
storm==0.19
transaction==1.4.3
txsocksx==1.13.0.3
zope.component==4.2.1
zope.event==4.0.3
zope.interface==4.0.1
