<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-header" data-translate>Reports</div>
      <div class="card-body text-center">
        <h2>{{charts[0].total}}</h2>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div data-ng-repeat="c in charts" data-ng-if="!error" class="col-md-3">
    <div class="card">
      <div class="card-header">{{c.title | translate}}</div>
      <div class="card-body">
        <canvas class="chart chart-pie" chart-data="c.values" chart-labels="c.labels"></canvas>
      </div>
    </div>
  </div>
</div>
