<div class="row">
  <div class="col-6" data-ng-repeat="c in charts" data-ng-if="!error">
    <div class="card">
      <div class="card-header">
        <span data-translate>{{c.title}}</span>
      </div>
      <div class="card-body">
        <canvas class="chart chart-pie" chart-data="c.values" chart-labels="c.labels"
          chart-options="c.options" chart-colors="c.colors"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-header">
        <span data-translate>Total Wistleblower number</span>
      </div>
      <div class="card-body text-center">
        <h2>{{charts[0].total}}</h2>
      </div>
    </div>
  </div>
</div>