<div id="TipQuestionnaireAnswersBox" class="card card-default" data-ng-init="collapsed = false" data-ng-attr-aria-expanded="{{collapsed}}">
  <div class="card-header clearfix" data-ng-click="collapsed = !collapsed; $event.stopPropagation();">
    <span data-translate>Questionnaire answers</span>
    <span class="float-right">
      <i data-ng-if="!collapsed" class="fa-solid fa-chevron-up" data-uib-tooltip="{{'Collapse' | translate}}"></i>
      <i data-ng-if="collapsed" class="fa-solid fa-chevron-down" data-uib-tooltip="{{'Expand' | translate}}"></i>
    </span>
  </div>
  <div class="card-body" data-ng-show="!collapsed">
    <div data-ng-repeat="questionnaire in tip.questionnaires">
      <div data-ng-if="tip.questionnaires.length > 1">
        <span data-translate>Questionnaire</span>
        <span>{{$index + 1}}</span>
      </div>
      <div data-ng-repeat="step in questionnaire.steps | orderBy:'order'">
        <dt id="step={{$index}}" data-ng-if="questionnaire.steps.length > 1 && tip.context.show_steps_navigation_interface && step.enabled">
          <span data-translate>Step</span>
          <span>{{$index + 1}}: {{step.label}}</span>
        </dt>
        <dd>
          <div data-ng-if="step.enabled" data-ng-repeat="field in step.children | orderBy:['y', 'x'] | filter:{ type: '!fileupload'}">
            <span data-ng-init="fieldAnswers=questionnaire.answers" data-ng-include="'views/partials/tip_field.html'"></span>
          </div>
        </dd>
      </div>
    </div>
  </div>
</div>
