<div id="TipPageReceiversInfoBox" class="card card-default" data-ng-init="collapsed = false" data-ng-attr-aria-expanded="{{collapsed}}">
  <div class="card-header clearfix" data-ng-click="collapsed = !collapsed" data-ng-keypress="eventDismiss(); $event.stopPropagation();">
    <span data-translate>Recipients</span>
    <span class="float-right">
      <i data-ng-if="!collapsed" class="fa-solid fa-chevron-up" data-uib-tooltip="{{'Collapse' | translate}}"></i>
      <i data-ng-if="collapsed" class="fa-solid fa-chevron-down" data-uib-tooltip="{{'Expand' | translate}}"></i>
    </span>
  </div>
  <div class="card-body" data-ng-show="!collapsed">
    <div data-ng-repeat="receiver in tip.receivers">
      <div>{{tip.receivers_by_id[receiver.id].name}}</div>
    </div>
  </div>
</div>
