<div data-ng-hide="resources.preferences.password_change_needed || resources.preferences.require_two_factor">
  <div id="LanguagePickerBox" data-ng-if="public.node.languages_enabled.length > 1" class="float-right ml-1 mb-2">
    <label for="language-picker-select" class="visually-hidden" data-traslate>Select your language</label>
    <select id="language-picker-select" class="form-control" data-ng-model="GLTranslate.state.language" data-ng-options="item.code as item.native for item in languages_enabled_selector | orderBy:'native'"></select>
  </div>
  <div id="LoginStatusBox" data-ng-if="Utils.showUserStatusBox()" class="float-right ml-1 mb-2">
    <span id="HomeLinkBox" data-ng-if="Authentication.session.role !== 'whistleblower'">
      <a id="HomepageLink" data-ng-href="#{{Authentication.session.homepage}}" data-uib-tooltip="{{'Home' | translate}}"><i class="fa-solid fa-fw fa-home"></i></a>
      <span class="text-separator">|</span>
    </span>
    <span id="PreferencesLinkBox" data-ng-if="Authentication.session.role !== 'whistleblower' && !Authentication.session.properties.management_session">
      <a id="PreferencesLink" data-ng-href="#{{Authentication.session.preferencespage}}" data-uib-tooltip="{{'Preferences' | translate}}"><i class="fa-solid fa-fw fa-user"></i></a>
      <span class="text-separator">|</span>
    </span>
    <span id="SupportLinkBox" data-ng-if="Authentication.session && Authentication.session.role !== 'whistleblower'">
      <span id="SupportLink" class="link" data-ng-click="Utils.openSupportModal()" data-uib-tooltip="{{'Request support' | translate}}"><i class="fa-solid fa-fw fa-life-ring"></i></span>
      <span class="text-separator">|</span>
    </span>
    <span id="LogoutLinkBox">
      <a id="LogoutLink" href="#" data-ng-click="Authentication.logout()" data-uib-tooltip="{{'Logout' | translate}}"><i class="fa-solid fa-fw fa-sign-out-alt"></i><span data-ng-if="Authentication.session.role === 'whistleblower'"><span> </span><span data-translate>Logout</span></span></a>
    </span>
  </div>
  <div id="WhistleblowerLoginBox" class="ml-1 mb-1" data-ng-if="Utils.showWBLoginBox()" data-ng-include="'views/partials/receipt.html'"></div>
</div>
