<div class="row">
  <div class="col-md-12">
    <span data-translate>Before proceeding, please enable the two factor authentication.</span>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-6" data-ng-include="'views/partials/enable_2fa.html'"></div>
</div>
<div class="row mt-3">
  <div class="col-md-6">
    <button data-ng-click="enable2FA(vars.token_2fa)" data-ng-disabled="vars.token_2fa.length !== 6" class="btn btn-success">
      <span data-translate>Proceed</span>
      <i class="fas fa-arrow-circle-right"></i>
    </button>
  </div>
</div>
