<div class="row">
  <div class="col-md-12">
    <label data-translate>Enter your account recovery key to complete the password reset procedure</label>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <form name="form" autocomplete="off" novalidate>
      <div class="input-group">
        <input class="form-control recoverykeyinput" type="text" placeholder="XXXX-XXXX-XXXX-XXXX-XXXX-XXXX-XXXX-XXXX-XXXX-XXXX-XXXX-XXXX-XXXX" maxlength="64" size="64" data-ng-model="request.recovery_key" name="recoveryKey" recoverykeyvalidator>
	<div class="input-group-btn">
          <button class="btn btn-primary" data-ng-click="submit()" type="submit" data-translate>Submit</button>
	  <a class="btn" href="" data-ng-click="Utils.openSupportModal()" data-uib-tooltip="{{'Request support' | translate}}"><i class="fas fa-life-ring"></i></a>
        </span>
      </div>
    </form>
  </div>
</div>
