<div class="jumbotron subhead">
  <div class="container">
    <h1>Content Settings</h1>
    <p>Administration Interface</p>
  </div>
</div>

<div class="container config-page">
  <div class="row">
    <!-- Begin Nav Bar -->
    <div class="span3 sidebar-nav config-sidebar">
      <ul class="nav nav-list config-sidenav">
        <li class="active"><i class="icon-chevron-right"></i><a
            href="#/admin/contents">
            Content Settings
        </a></li>
        <div class="sub-menu">
        <li class="active"><i class="icon-chevron-right"></i><a
            href="#/admin/contents">
            Content Settings
        </a></li>

        </div>
        <li><a href="#/admin/wizard"><i class="icon-chevron-right"></i>
        Setup Wizard
        </a></li>
        <li><a href="#/admin/basic"><i class="icon-chevron-right"></i>
        Basic Configuration
        </a></li>
        <li><a href="#/admin/advanced"><i class="icon-chevron-right"></i>
        Advanced Configuration
        </a></li>
      </ul>
    </div>
    <form class="config-form">
    <!-- XXX here there is a bug. I would like it if the sidebar were not on
    the same row as the rest of the page. Otherwise this will lead to the h2
    being on the same row as the option and the comment will appear to apply
    also to h2.-->
    <div class="span5">
      <h2>General</h2>
      <label>Site Title
      <select class="language-setting">
        <option>English</option>
        <option>Serbian</option>
      </select>
      </label>
      <input type="text" placeholder="GlobaLeaks Node">
    </div>

    <div class="span4">
      <p>Wayfarers tumblr next level american apparel mumblecore authentic
      master cleanse. Vinyl bushwick labore nesciunt readymade, jean shorts
      hoodie polaroid food truck. Dolor eiusmod +1 put a bird on it bespoke.<a
        href="https://github.com/globaleaks/GlobaLeaks/wiki">Learn More</a></p>

    </div>
  </div>
  <div class="row">
    <div class="offset3 span5">
      <label>Keywords
      <select class="language-setting">
        <option>English</option>
        <option>Serbian</option>
      </select></label>
      <textarea placeholder="fuffa, foo, antani, supercazzola, religione, cristo, lamadonna"></textarea>
    </div>
    <div class="span4">
      <p>Wayfarers tumblr next level american apparel mumblecore authentic
      master cleanse. Vinyl bushwick labore nesciunt readymade, jean shorts
      hoodie polaroid food truck. Dolor eiusmod +1 put a bird on it bespoke.<a
        href="https://github.com/globaleaks/GlobaLeaks/wiki">Learn More</a></p>
    </div>
  </div>

  <div class="row">
    <div class="offset3 span5">
      <label>Email</label>
      <input type="text" placeholder="me@example.com">
    </div>
    <div class="span4">
      <p>Wayfarers tumblr next level american apparel mumblecore authentic
      master cleanse. Vinyl bushwick labore nesciunt readymade, jean shorts
      hoodie polaroid food truck. Dolor eiusmod +1 put a bird on it bespoke.<a
        href="https://github.com/globaleaks/GlobaLeaks/wiki">Learn More</a></p>
    </div>
  </div>

  <div class="row">
    <div class="offset3 span5">
      <h2 id="internationalization">Internationalization</h2>
    </div>
  </div>
  <div class="row">
    <div class="offset3 span5">
        <label>Enabled languages</label>
        <label class="checkbox inline"><input type="checkbox" id="languageEnglish"
              value="English" checked="on">English</input></label>
        <label class="checkbox inline"><input type="checkbox" id="languageSerbian"
              value="Serbian" checked="on">Serbian</input></label>
        <label class="checkbox inline"><input type="checkbox" id="languageGerman" value="German">German</input></label>
        <label class="checkbox inline"><input type="checkbox" id="languageSpanish"
              value="Spanish">Spanish</input></label>
    </div>
    <div class="span4">
      <p>Wayfarers tumblr next level american apparel mumblecore authentic
      master cleanse. Vinyl bushwick labore nesciunt readymade, jean shorts
      hoodie polaroid food truck. Dolor eiusmod +1 put a bird on it bespoke.<a
        href="https://github.com/globaleaks/GlobaLeaks/wiki">Learn More</a></p>
    </div>
  </div>

  <div class="row">
      <div class="offset3 span5">
        <button class="btn btn-primary">Add new language</button>
    </div>
  </div>

  <div class="row">
      <div class="offset3 span5">
          <label>Default Language</label>
          <select>
              <option>English</option>
              <option>Serbian</option>
    </div>
    <div class="span4">
      <p>Wayfarers tumblr next level american apparel mumblecore authentic
      master cleanse. Vinyl bushwick labore nesciunt readymade, jean shorts
      hoodie polaroid food truck. Dolor eiusmod +1 put a bird on it bespoke.<a
        href="https://github.com/globaleaks/GlobaLeaks/wiki">Learn More</a></p>
    </div>
  </div>


  <div class="row">
    <div class="offset3 span5"><button type="submit" class="btn btn-success">Save</button></div>
  </div>

  </form>
</div>
