<div data-ng-controller="StatisticsCtrl">
  <div>
    <span data-translate>Stats of the week:</span>
    <a data-ng-click="decrement_week()"><i class="fas fa-chevron-left"></i></a>
    <span>{{week | weekNumber}} {{date | date: 'yyyy'}}</span>
    <a data-ng-click="increment_week()"><i class="fas fa-chevron-right"></i></a>
  </div>

  <br /><br />

  <div id="chart"></div>

  <div id="StatsInfoTable" data-ng-if="blob">
    <div class="col-md-6">
      <div>
        <label data-translate>Reports</label>
        {{blob.summary.reports}}
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <label data-translate>Failed logins</label>
        {{blob.summary.failed_logins}}
      </div>
      <div>
        <label data-translate>Successful logins</label>
        {{blob.summary.successful_logins}}
      </div>
    </div>
  </div>
</div>
