<table id="ReportsHistoryTable" class="table table-condensed table-striped">
  <thead>
    <tr>
      <th data-translate>Date</th>
      <th data-translate>Last update</th>
      <th data-translate>Expiration date</th>
      <th data-translate>Context</th>
      <th data-translate>State</th>
      <th data-translate>Connection</th>
      <th data-translate>Files</th>
      <th data-translate>Comments</th>
      <th data-translate>WB last access</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="tip in resources.tips">
      <td>{{tip.creation_date | date:'dd-MM-yyyy HH:mm'}}</td>
      <td>{{tip.last_update | date:'dd-MM-yyyy HH:mm'}}</td>
      <td>{{tip.expiration_date | date:'dd-MM-yyyy HH:mm'}}</td>
      <td>{{contexts_by_id[tip.context_id]['name']}}</td>
      <td>{{Utils.getSubmissionStatusText(tip, submission_statuses)}}</td>
      <td>{{tip.tor ? 'Tor' : 'HTTPS'}}</td>
      <td>{{tip.comments}}</td>
      <td>{{tip.files}}</td>
      <td>{{tip.wb_last_access | date:'dd-MM-yyyy HH:mm'}}</td>
    </tr>
  </tbody>
</table>
