<table id="AnomaliesHistoryTable" class="table table-condensed table-striped">
  <thead>
    <tr>
      <th data-translate>Date</th>
      <th data-translate>Alarm level</th>
      <th data-translate>Events</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="anomaly in auditLog.anomalies.elems  | limitTo:itemsPerPage:((auditLog.anomalies.currentPage - 1) * itemsPerPage)">
      <td>{{anomaly.date | date:'dd-MM-yyyy HH:mm'}}</td>
      <td>{{anomaly.alarm}}</td>
      <td data-ng-repeat="event in anomaly.events">
        <div>{{event.type | anomalyToString | translate}}: {{event.count}}</div>
      </td>
    </tr>
  </tbody>
</table>
<div class="text-center" data-ng-show="auditLog.anomalies.elems.length > itemsPerPage">
  <ul uib-pagination
      total-items="auditLog.anomalies.elems.length"
      first-text="<< {{'First' | translate}}"
      last-text="{{'Last' | translate}} >>"
      previous-text="< {{'Previous' | translate}}"
      next-text="{{'Next' | translate}} >"
      items-per-page="itemsPerPage"
      data-ng-model="auditLog.anomalies.currentPage"
      max-size="10"
      class="pagination-sm"
      boundary-links="true"
      force-ellipses="true"></ul>
</div>
<button class="btn btn-sm btn-link" type="button" ng-csv="resources_export.anomalies" csv-label='true' filename="anomalies.csv"><i class="fa fa-download"></i> <span data-translate>Export</span></button>
