<div id="ReceiverToolbar" class="row">
  <div class="col-md-12">
    <div class="pull-left">

      <a id="link-tiplist"
         href="#/receiver/tips"
         popover="{{'Tips' | translate}}"
         popover-placement="top"
         popover-trigger="mouseenter"
         class="btn btn-default">
        <span class="glyphicon glyphicon-th-list"></span>
      </a>

      <a id="receiver-link-preferences"
         href="#/receiver/preferences"
         popover="{{'Preferences' | translate}}"
         popover-placement="top"
         popover-trigger="mouseenter"
         class="btn btn-default">
        <span class="glyphicon glyphicon-cog"></span>
      </a>
      <a id="link-reload"
         data-ng-click="reload()"
         popover="{{'Refresh tip list' | translate}}"
         popover-placement="top"
         popover-trigger="mouseenter"
         class="btn btn-default">
        <span class="glyphicon glyphicon-refresh"></span>
      </a>

    </div>
  </div>
</div>
<div class="row" id="ReceiverLogsCtrl">
    <h2 data-translate>Activities Logs</h2>
    <table class="table table-condensed table-striped" id="LogList" data-ng-init="sortKey = 'time'; sortReverse=true;">

        <thead>
        <tr>
            <th class="col-md-2" ng-click="sortKey = 'event_id'; sortReverse = !sortReverse">
                <span data-translate>Log ID</span>
                <span ng-show="sortKey == 'event_id' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortKey == 'event_id' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </th>
            <th class="col-md-2" ng-click="sortKey = 'time'; sortReverse = !sortReverse">
                <span data-translate>When</span>
                <span ng-show="sortKey == 'time' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortKey == 'time' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </th>
            <th class="col-md-2" ng-click="sortKey = 'event'; sortReverse = !sortReverse">
                <span data-translate>Message</span>
                <span ng-show="sortKey == 'event' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortKey == 'event' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </th>
            <th class="col-md-2" ng-click="sortKey = 'response_time'; sortReverse = !sortReverse">
                <span data-translate>Level</span>
                <span ng-show="sortKey == 'response_time' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span ng-show="sortKey == 'response_time' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="alert-warning" data-ng-repeat="warn in warning | orderBy:sortKey:sortReverse">
            <td class="col-md-2">{{warn.id}}</td>
            <td class="col-md-2">{{warn.log_date | date:'dd-MM-yyyy HH:mm'}}</td>
            <td class="col-md-2">{{warn.message}}</td>
            <td class="col-md-2">{{warn.level}}</td>
        </tr>
        <tr data-ng-repeat="activity in activities | orderBy:sortKey:sortReverse">
            <td class="col-md-2">{{activity.id}}</td>
            <td class="col-md-2">{{activity.log_date | date:'dd-MM-yyyy HH:mm'}}</td>
            <td class="col-md-2">{{activity.message}}</td>
            <td class="col-md-2">{{activity.level}}</td>
        </tr>
        </tbody>
    </table>
</div>
