<div id="ContentBox" class="container">
  <div class="row">
    <div class="col-md-12">
      <span data-translate>Welcome onto the GlobaLeaks platform!</span>
      <br />
      <span data-translate>Before proceeding please choose a secure password for your globaleaks account.</span>
      <br /><br />
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <form name="receiverPreferencesForm">
        <div data-ng-include="'views/receiver/preferences/tab1.html'"></div>
      </form>
    </div>
  </div>
</div>
