<div id="ReceiverToolbar" class="row">
  <div class="col-md-12">
    <div class="pull-left">
      <a id="link-tiplist"
         href="#/receiver/tips"
         popover="{{'Tips' | translate}}"
         popover-placement="top"
         popover-trigger="mouseenter"
         class="btn btn-default">
        <span class="glyphicon glyphicon-th-list"></span>
      </a>
      <span id="link-reload"
            data-ng-click="reload()"
            popover="{{'Refresh tip list' | translate}}"
            popover-placement="top"
            popover-trigger="mouseenter"
            class="btn btn-default">
          <span class="glyphicon glyphicon-refresh"></span>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">

    <form class="row tab-content" name="preferencesForm" novalidate>
      <tabset>
        <tab data-ng-repeat="tab in tabs" heading="{{tab.title | translate}}" active="tab.active" disable="tab.disabled">
          <div data-ng-include="tab.template" data-ng-controller="tab.ctrl"></div>
        </tab>
      </tabset>
    </form>

  </div> 
</div>
