<li class="nav-item">
  <a class="nav-link" href="#/receiver/home" data-ng-class="{'active': location_path === '/receiver/home'}">
    <i class="fas fa-chevron-right"></i>
    <span data-translate>Home</span>
  </a>
</li>

<li class="nav-item">
  <a class="nav-link" href="#/receiver/tips" data-ng-class="{'active': location_path === '/receiver/tips'}">
    <i class="fas fa-chevron-right"></i>
    <span data-translate>Reports</span>
  </a>
</li>

<li class="nav-item">
  <a class="nav-link" href="#/receiver/preferences" data-ng-class="{'active': location_path === '/receiver/preferences'}">
    <i class="fas fa-chevron-right"></i>
    <span data-translate>User preferences</span>
  </a>
</li>

<li class="nav-item" data-ng-if="preferences.can_edit_general_settings">
  <a class="nav-link" href="#/receiver/content" data-ng-class="{'active': location_path === '/receiver/content'}">
    <i class="fas fa-chevron-right"></i>
    <span data-translate>Site settings</span>
  </a>
</li>
