<div id="ReceiverToolbar" class="row">
  <div class="col-md-12">
    <a id="link-tiplist"
       href="#/receiver/tips"
       uib-popover="{{'List of submissions' | translate}}"
       popover-placement="top"
       class="btn btn-default">
      <span class="glyphicon glyphicon-th-list"></span>
    </a>

    <span id="TipExport" ng-click="exportTip(tip)">
      <button id="tip-action-export"
              uib-popover="{{'Export' | translate}}"
              popover-placement="top"
              class="btn btn-default">
        <i class="glyphicon glyphicon-save"></i>
      </button>
    </span>

    <span id="tip-action-postpone"
          data-ng-if="preferences.can_postpone_expiration"
          data-ng-click="tip_postpone()"
          uib-popover="{{'Postpone the expiration date' | translate}}"
          popover-placement="top"
          class="btn btn-default">
      <i class="glyphicon glyphicon-time"></i>
    </span>

    <span id="tip-action-delete"
          data-ng-if="preferences.can_delete_submission"
          data-ng-click="tip_delete()"
          uib-popover="{{'Delete' | translate}}"
          popover-placement="top"
          class="btn btn-default">
      <span class="glyphicon glyphicon-trash"></span>
    </span>

    <span id="tip-action-silence" data-ng-if="tip.enable_notifications"
          data-ng-click="tip_notify(false)"
          uib-popover="{{'Silence email notifications' | translate}}"
          popover-placement="top"
          class="btn btn-default">
      <span class="glyphicon glyphicon-volume-up"></span>
    </span>

    <span id="tip-action-notify" data-ng-if="!tip.enable_notifications"
          data-ng-click="tip_notify(true)"
          uib-popover="{{'Turn on email notifications' | translate}}"
          popover-placement="top"
          class="btn btn-default active">
      <span class="glyphicon glyphicon glyphicon-volume-off"></span>
    </span>

    <span id="link-reload"
          data-ng-click="reload()"
          uib-popover="{{'Refresh page' | translate}}"
          popover-placement="top"
          class="btn btn-default">
      <span class="glyphicon glyphicon-refresh"></span>
    </span>
  </div>
</div>

<div data-ng-if="!node.disable_encryption_warnings">
  <div class="row" data-ng-if="preferences.pgp_key_public === ''">
    <div class="col-md-12">
      <div class="alert alert-warning">
        <i class="glyphicon glyphicon-warning-sign"></i>
        <strong><span data-translate>Warning</span></strong>
        <span data-translate>You have not set up your encryption key, so the files will not be encrypted prior to being stored on the server.</span>
        <span data-translate>This may lead to unintended access to the files by the server administrator or others in case the server is compromised.</span>
        <span data-translate>Please configure your PGP keys in the recipient preferences page.</span>
      </div>
    </div>
  </div>
  <div class="row" data-ng-if="!node.disable_encryption_warning && tip_unencrypted">
    <div class="col-md-12">
      <div class="alert alert-warning">
        <i class="glyphicon glyphicon-warning-sign"></i>
        <strong><span data-translate>Warning</span></strong>
        <span data-translate>One or more of the recipients of this submission has not configured a PGP key.</span>
        <span data-translate>This means that the submitted files will be stored in plaintext on the server.</span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div data-ng-include="'views/partials/tip_info.html'"></div>
    <div data-ng-if="tip.context.show_recipients_details" data-ng-include="'views/partials/tip_receiver_list.html'"></div>
  </div>
  <div class="col-md-6">
    <div data-ng-include="'views/partials/tip_questionnaire_answers.html'"></div>
  </div>
  <div class="col-md-6" data-ng-if="tip.enable_whistleblower_identity">
    <div data-ng-include="'views/receiver/whistleblower_identity.html'"></div>
  </div>
  <div class="col-md-6" data-ng-if="showWBFileUpload()">
    <div data-ng-include="'views/partials/tip_upload_wbfile.html'"></div>
  </div>
  <div class="col-md-12">
    <div data-ng-include="'views/partials/tip_files_receiver.html'"></div>
  </div>
  <div class="col-md-6" data-ng-if="tip.context.enable_comments">
    <div data-ng-include="'views/partials/tip_comments.html'"></div>
  </div>
  <div class="col-md-6" data-ng-if="tip.context.enable_messages">
    <div data-ng-include="'views/partials/tip_messages.html'"></div>
  </div>
</div>
