<!-- 

This comment is needed in order to push the following strings on transifex

<span data-translate>Your Tips</span>
<span data-translate>Receiver Interface</span>
<span data-translate>Creation Date</span>
<span data-translate>Expiration Date</span>
<span data-translate>Last Access</span>
<span data-translate>Files</span>
<span data-translate>Comments</span>

-->
<div id="ContentBox" class="container">
  <div class="row">
    <div id="ConfigSidebarBox" class="col-md-3" data-ng-include="'views/receiver/sidebar.html'" data-ng-controller="ReceiverSidebarCtrl"></div>
    <!-- Begin main content -->
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <div class="form-horizontal">
            <span class="form-group col-md-6" data-ng-init="orderProp='creation_date'">
              <label class="control-label col-md-4">
                <span data-translate>Order by:</span>
              </label>
              <div class="col-md-6">
              <select data-ng-model="orderProp" class="form-control">
                <option value="creation_date" data-translate>Creation</option>
                <option value="expiration_date" data-translate>Expiration</option>
                <option value="last_access" data-translate>Last Access</option>
                <option value="access_counter" data-translate>Access Number</option>
                <option value="files_number" data-translate>Files Number</option>
                <option value="comments_number" data-translate>Comments Number</option>
                <option value="context_name" data-translate>Context Name</option>
              </select>
              </div>
            </span>
            <span class="form-group col-md-6" data-ng-init="reverse='true'">
              <label class="control-label col-md-4">
                <span data-translate>Order:</span>
              </label>
              <div class="col-md-4">
                <select data-ng-model="reverse" class="form-control">
                  <option value="true" data-translate>Desc</option>
                  <option value="false" data-translate>Asc</option>
                </select>
              </div>
            </span>
          </div>
        </div>
      </div>
      <div class="table table-responsive">
        <table class="table table-bordered" id="tipList">
          <thead>
            <tr>
              <th class="col-md-2">
                <span data-translate>Tip</span>
              </th>
              <th class="col-md-4">
                <span data-translate>Date</span>
              </th>
              <th class="col-md-2">
                <span data-translate>Info</span>
              </th>
              <th><span data-translate>Preview</span></th>
            </tr>
          </thead>
          <tbody id="tipListTableBody" data-ng-controller="TipCtrl">
            <tr data-ng-repeat="tip in tips | orderBy:orderProp:reverse" class="{{tip.parity}}">
              <td class="col-md-2">
                <a data-ng-switch="tip.access_counter" href="/#/status/{{tip.id}}">
                  <span data-ng-switch-when="0" class="btn btn-success col-md-12" style="text-align: left">
                    <span class="glyphicon glyphicon-tint"></span>&nbsp;
                    <span data-translate>Open</span>
                    <span data-translate>(New)</span>
                  </span>
                  <span data-ng-switch-default class="btn btn-primary col-md-12" style="text-align: left">
                    <span class="glyphicon glyphicon-tint"></span>&nbsp;
                    <span data-translate>Open</span>
                  </span>
                </a>
                <br /><br />
                <a data-ng-show="tip.postpone_superpower" data-ng-click="tip_extend(tip.id)" class="btn btn-xs btn-warning"
                   popover="{{ 'Postpone Tip expiration date' | translate }}" popover-placement="top" popover-trigger="mouseenter">
                  <i class="glyphicon glyphicon-time"></i>
                </a>
                <a data-ng-show="tip.can_delete_submission" data-ng-click="tip_delete(tip.id, true)" class="btn btn-xs btn-danger"
                   popover="{{ 'Delete Tip (Globablly)' | translate }}" popover-placement="top" popover-trigger="mouseenter">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
                <br /><br />
                <div>
                 <b><span data-translate>Accesses</span>:</b>
                 {{tip.access_counter}} 
                <div>
              </td>
              <td class="col-md-4">
                <div class="row">
                  <span class="col-md-6">
                    <b><span data-translate>Submission</span>:</b>
                  </span>
                  <span class="col-md-6">
                    {{tip.creation_date | date:'dd-MM-yyyy HH:mm' }}
                  </span>
                </div>
                <div class="row">
                  <span class="col-md-6">
                    <b><span data-translate>Expiration</span>:</b>
                  </span>
                  <span class="col-md-6">
                    {{tip.expiration_date | date:'dd-MM-yyyy HH:mm' }}
                  </span>
                </div>
                <div class="row">
                  <span class="col-md-6">
                    <b><span data-translate>Last Access</span>:</b>
                  </span>
                  <span class="col-md-6">
                    {{tip.last_access | date:'dd-MM-yyyy HH:mm' }}
                  </span>
                </div>
              </td>
              <td class="col-md-2">
                <div>
                  <b><span data-translate>Files</span>:</b>
                  {{tip.files_number}}
                </div>
                <div>
                  <b><span data-translate>Comments</span>:</b>
                  {{tip.comments_number}}
                </div>
              </td>
              <td>
                <div>
                  <b><span data-translate>Context Name</span>:</b>
                  {{tip.context_name}}
                <div>
                <div data-ng-repeat="entry in tip.preview">
                  <b>{{entry.label}}:</b> {{entry.value}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
