<div id="ReceiverToolbar" class="row">
  <div class="col-md-12">
    <span class="pull-left">
      <span data-ng-if="preferences.can_postpone_expiration || preferences.can_delete_submission">
        <span id="tip-action-select-all"
            data-ng-if="selected_tips.length !== tips.length"
            data-ng-click="select_all()"
            uib-popover="{{'Select all' | translate}}"
            popover-placement="top"
            class="btn btn-default">
          <i class="glyphicon glyphicon glyphicon-unchecked"></i>
        </span>

        <span id="tip-action-select-all"
            data-ng-if="selected_tips.length === tips.length"
            data-ng-click="deselect_all()"
            uib-popover="{{'Deselect all' | translate}}"
            popover-placement="top"
            class="btn btn-default">
          <i class="glyphicon glyphicon-check"></i>
        </span>

        <span id="tip-action-postpone-selected"
            data-ng-if="selected_tips.length && preferences.can_postpone_expiration"
            data-ng-click="tip_postpone_all()"
            uib-popover="{{'Postpone the expiration date' | translate}}"
            popover-placement="top"
            class="btn btn-default">
          <i class="glyphicon glyphicon-time"></i>
        </span>

        <span id="tip-action-delete-selected"
          data-ng-if="selected_tips.length && preferences.can_delete_submission"
          data-ng-click="tip_delete_all()"
          uib-popover="{{'Delete' | translate}}"
          popover-placement="top"
          class="btn btn-default">
          <span class="glyphicon glyphicon-trash"></span>
        </span>
      </span>

      <span id="tip-action-reload"
        data-ng-click="reload()"
        uib-popover="{{'Refresh page' | translate}}"
        popover-placement="top"
        class="btn btn-default">
        <span class="glyphicon glyphicon-refresh"></span>
      </span>

      <span id="RecvSearchFilter" class="form-group pull-right">
        <input id="search-filter" type="text" class="form-control" data-ng-attr-placeholder="{{'Search' | translate}}" data-ng-model="search">
      </span>
    </span>
  </div>
</div>

<div id="TipList" class="row">
  <div class="col-md-12 table-responsive">
    <table class="table table-striped" id="tipList" data-ng-init="sortKey = 'creation_date'; sortReverse=true;">
      <thead>
        <tr>
          <th></th>
          <th>
            <span>
              <i class="glyphicon glyphicon-barcode"></i>
            </span>
          </th>
          <th data-ng-if="contexts.length > 1">
            <span data-ng-click="sortKey = 'context_name'; sortReverse = !sortReverse">
              <span data-translate>Context</span>
              <i class="glyphicon glyphicon-inbox"></i>
              <span class="btn btn-xs" data-ng-show="sortKey == 'context_name'">
                <span data-ng-show="!sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span data-ng-show="sortReverse" class="glyphicon glyphicon-triangle-top"></span>
              </span>
            </span>
          </th>
          <th>
            <span data-ng-click="sortKey = 'label'; sortReverse = !sortReverse">
              <i class="glyphicon glyphicon-tag"></i>
              <span data-translate>Label</span>
              <span class="btn btn-xs" data-ng-show="sortKey == 'label'">
                <span data-ng-show="!sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span data-ng-show="sortReverse" class="glyphicon glyphicon-triangle-top"></span>
              </span>
            </span>
          </th>
          <th>
            <span data-ng-click="sortKey = 'creation_date'; sortReverse = !sortReverse">
              <i class="glyphicon glyphicon-time"></i>
              <span data-translate>Submission date</span>
              <span class="btn btn-xs" data-ng-show="sortKey == 'creation_date'">
                <span data-ng-show="!sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span data-ng-show="sortReverse" class="glyphicon glyphicon-triangle-top"></span>
              </span>
            </span>
          </th>
          <th>
            <span data-ng-click="sortKey = 'update_date'; sortReverse = !sortReverse">
              <i class="glyphicon glyphicon-time"></i>
              <span data-translate>Last update</span>
              <span class="btn btn-xs" data-ng-show="sortKey == 'update_date'">
                <span data-ng-show="!sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span data-ng-show="sortReverse" class="glyphicon glyphicon-triangle-top"></span>
              </span>
            </span>
          </th>
          <th>
            <span data-ng-click="sortKey = 'expiration_date'; sortReverse = !sortReverse">
              <i class="glyphicon glyphicon-hourglass"></i>
              <span data-translate>Expiration date</span>
              <span class="btn btn-xs" data-ng-show="sortKey == 'expiration_date'">
                <span data-ng-show="!sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span data-ng-show="sortReverse" class="glyphicon glyphicon-triangle-top"></span>
              </span>
            </span>
          </th>
          <th>
            <i class="glyphicon glyphicon-eye-open"></i>
          </th>
          <th>
            <span data-ng-click="sortKey = 'file_counter'; sortReverse = !sortReverse">
              <i class="glyphicon glyphicon-file"></i>
              <span class="btn btn-xs" data-ng-show="sortKey == 'file_counter'">
                <span data-ng-show="!sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span data-ng-show="sortReverse" class="glyphicon glyphicon-triangle-top"></span>
              </span>
            </span>
          </th>
          <th>
            <span data-ng-click="sortKey = 'comment_counter'; sortReverse = !sortReverse">
              <i class="glyphicon glyphicon-comment"></i>
              <span class="btn btn-xs" data-ng-show="sortKey == 'comment_counter'">
                <span data-ng-show="!sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span data-ng-show="sortReverse" class="glyphicon glyphicon-triangle-top"></span>
              </span>
            </span>
          </th>
          <th>
            <span data-ng-click="sortKey = 'message_counter'; sortReverse = !sortReverse">
              <i class="glyphicon glyphicon-envelope"></i>
              <span class="btn btn-xs" data-ng-show="sortKey == 'message_counter'">
                <span data-ng-show="!sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span data-ng-show="sortReverse" class="glyphicon glyphicon-triangle-top"></span>
              </span>
            </span>
          </th>
          <th>
            <span>
              <i class="glyphicon glyphicon-send"></i>
              <span data-translate>Connection</span>
            </span>
          </th>
          <th>
            <span>
              <i class="glyphicon glyphicon-list-alt"></i>
              <span data-translate>Preview</span>
            </span>
          </th>
          <th data-ng-if="::node.enable_experimental_features">
            <span data-ng-click="$parent.sortKey = 'total_score'; sortReverse = !sortReverse">
              <i class="glyphicon glyphicon-flash"></i>
              <span data-translate>Score</span>
              <span class="btn btn-xs" data-ng-show="$parent.sortKey == 'total_score'">
                <span data-ng-show="!sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
                <span data-ng-show="sortReverse" class="glyphicon glyphicon-triangle-top"></span>
              </span>
            </span>
          </th>
        </tr>
      </thead>
      <tbody id="tipListTableBody">
        <tr id="tip-{{$index}}" data-ng-repeat="tip in filteredTips | orderBy:sortKey:sortReverse | limitTo:itemsPerPage:((currentPage - 1) * itemsPerPage)" data-ng-class="{'newTip': tip.new, 'selectedTip': isSelected(tip.id)}" class="tip-action-open" data-ng-click="Utils.go('/status/' + tip.id)">
          <td>
            <span data-ng-if="preferences.can_postpone_expiration || preferences.can_delete_submission">
              <span class="btn btn-xs btn-default" data-ng-if="isSelected(tip.id)" data-ng-click="tip_switch(tip.id); $event.stopPropagation();">
                <i class="glyphicon glyphicon-check"></i>
              </span>
              <span class="btn btn-xs btn-default" data-ng-if="!isSelected(tip.id)" data-ng-click="tip_switch(tip.id); $event.stopPropagation();">
                <i class="glyphicon glyphicon-unchecked"></i>
              </span>
            </span>
            <span name="TipExport" class="pull-right"
                data-ng-click="exportTip(tip); $event.stopPropagation()"
                uib-popover="{{'Export' | translate}}" popover-placement="top"
                novalidate>
              <button id="tip-action-export" class="btn btn-xs btn-default">
                <i class="glyphicon glyphicon-save"></i>
              </button>
            </span>
          </td>
          <td class="tipID">{{ tip | tipID }}</td>
          <td data-ng-if="contexts.length > 1">{{::tip.context_name}}</td>
          <td>{{::tip.label}}</td>
          <td>{{::tip.creation_date | date:'dd-MM-yyyy HH:mm'}}</td>
          <td>{{::tip.update_date | date:'dd-MM-yyyy HH:mm'}}</td>
          <td>
            <span data-ng-if="!Utils.isNever(tip.expiration_date)">{{::tip.expiration_date | date:'dd-MM-yyyy HH:mm'}}</span>
            <span data-ng-if="Utils.isNever(tip.expiration_date)" data-translate>Never</span>
          </td>
          <td>
            <i data-ng-if="tip.wb_last_access >= tip.update_date" class="glyphicon glyphicon-ok"
                uib-popover="{{'The whistleblower has already read the latest update' | translate }} ({{tip.wb_last_access | date:'dd-MM-yyyy HH:mm'}})"></i>
            <i data-ng-if="tip.wb_last_access < tip.update_date" class="glyphicon glyphicon-remove"
               uib-popover="{{'The whistleblower has not read the latest update yet' | translate }}"></i>
          </td>
          <td>{{::tip.file_counter}}</td>
          <td>{{::tip.comment_counter}}</td>
          <td>{{::tip.message_counter}}</td>
          <td>
            <span data-ng-if="tip.tor2web"
              class="label label-warning"
              uib-popover="{{'The connection used to send this submission has been secured with HTTPS ensuring confidentiality.' | translate}}" popover-placement="right">HTTPS</span>
            <span data-ng-if="!tip.tor2web"
              class="label label-success"
              uib-popover="{{'The connection used to send this submission has been secured with Tor ensuring confidentiality and anonymity.' | translate}}" popover-placement="right">Tor</span>
          </td>
          <td>
            <div data-ng-repeat="field in tip.preview_schema" data-ng-init="fieldAnswers = tip.preview; preview=true" data-ng-include="'views/partials/tip_field.html'"></div>
          </td>
          <td data-ng-if="::node.enable_experimental_features">{{::tip.total_score}}</td>
        </tr>
      </tbody>
    </table>

    <div class="text-center" data-ng-show="filteredTips.length > itemsPerPage">
      <ul uib-pagination
          total-items="filteredTips.length"
          first-text="{{'First' | translate}}"
          last-text="{{'Last' | translate}}"
          previous-text="{{'Previous' | translate}}"
          next-text="{{'Next' | translate}}"
          items-per-page="itemsPerPage"
          ng-model="currentPage"
          max-size="10"
          class="pagination-sm"
          boundary-links="true"
          force-ellipses="true"></ul>
    </div>
  </div>
</div>
