<div id="TipInfoBox" class="TipPageSection" data-ng-init="collapsed = false">
  <div class="TipPageSectionTitle" data-ng-click="collapsed = !collapsed" data-ng-keypress="eventDismiss($event)">
    <div>
      <span data-translate>Identity of the whistleblower</span>
      <span>:&nbsp;</span>
      <span data-translate>Not available</span>&nbsp;/&nbsp;
      <span data-translate>Available</span>
    </div>
    <span class="pull-right">
      <i data-ng-if="!collapsed" class="glyphicon glyphicon-collapse-down" popover="{{'Collapse' | translate}}" popover-placement="left" popover-trigger="mouseenter"></i>
      <i data-ng-if="collapsed" class="glyphicon glyphicon-fullscreen" popover="{{'Expand' | translate}}" popover-placement="left" popover-trigger="mouseenter"></i>
    </span>
  </div>
  <div class="TipPageSectionContent" data-ng-show="!collapsed">
    <div>
      <a class="btn btn-primary" data-ng-click="file_identity_access_request()">
        <span data-translate>Request access to the whistleblower's identity</span>
      </a>
    </div>
    <div>
      <div>
        <label data-translate>Request status</label>
        <span>:</span>
        <span data-translate>Denied</span>&nbsp;/&nbsp;
        <span data-translate>Waiting for authorization</span>&nbsp;/&nbsp;
        <span data-translate>Authorized</span>
      </div>
      <label data-translate>Request motivation</label>:<span data-translate>lorem ipsum dolor sit amet, consectetuer adipiscing elit.</span>
    </div>
    <div>
      <div><label data-translate>Identity</label>:</div>
      <div style="padding-left: 20px">
        <div><label data-translate>Nome:</label> Mario</div>
        <div><label data-translate>Cognome</label> Rossi</div>
        <div><label data-translate>Sesso:</label> M</div>
        <div><label data-translate>Data di nascita:</label> 02/08/1985</div>
        <div><label data-translate>Luogo di nascita:</label> Massa</div>
        <div><label data-translate>Redidenza:</label> Viale Roma 100, Massa, Italia</div>
      </div>
    </div>
  </div>
 </div>
