<div class="modal-header">
  <button type="button" class="close" data-ng-click="cancel()" aria-label="{{'Close' | translate}}">
    <i class="fa-solid fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <div class="disclaimer-text" data-markdown-to-html="public.node.disclaimer_text | stripHtml"></div>
</div>
<div class="modal-footer">
  <button data-ng-click="confirm()" class="btn btn-primary" data-translate>Proceed</button>
  <button id="modal-action-cancel" class="btn btn-outline-secondary" data-ng-click="cancel()" data-translate>Close</button>
</div>
