<div class="modal-header">
  <div class="modal-title">
    <h2>{{arg.name}}</h2>
  </div>
  <button type="button" class="close" data-ng-click="cancel()">
    <i class="fa-solid fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <div data-ng-if="!arg.loaded" class="Loader"></div>
  <iframe data-ng-if="arg.loaded" id="viewer" data-ng-src="{{'viewer/index.html'}}" title="fileviewer" frameborder="0" height="{{arg.iframeHeight}}" sandbox="allow-downloads allow-scripts"></iframe>
</div>
<div class="modal-footer">
  <a id="modal-action-cancel"
     class="btn btn-outline-secondary"
     data-ng-click="cancel()">
    <i class="fa-solid fa-times"></i>
    <span data-translate>Close</span>
  </a>
</div>