<div class="modal-header">
  <div class="modal-title" data-translate>Transfer access</div>
  <button type="button" class="close" data-ng-click="cancel()" aria-label="{{'Close' | translate}}">
    <i class="fa-solid fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <div id="ReceiverContextAdder" class="form-group">
    <div class="input-group">
      <ui-select data-ng-model="arg.receiver_id" data-theme="bootstrap">
        <ui-select-match data-ng-attr-placeholder="{{'Search' | translate}}">
           <span data-ng-bind="arg.users_names[$select.selected.id]"></span>
        </ui-select-match>
        <ui-select-choices data-repeat="receiver in arg.selectable_recipients | filter: {name: $select.search}">
           <span data-ng-bind-html="arg.users_names[receiver.id] | highlight: $select.search"></span>
        </ui-select-choices>
      </ui-select>
      <div class="input-group-append">
        <span class="input-group-text"><i class="fa-solid fa-search"></i></span>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button id="modal-action-ok" class="btn btn-primary" data-ng-click="confirm(arg.receiver_id.id)">
    <span data-translate>Confirm</span>
  </button>
  <a id="modal-action-cancel" class="btn btn-outline-secondary" data-ng-click="cancel()">
    <i class="fa-solid fa-times"></i>
    <span data-translate>Close</span>
  </a>
</div>
