<div data-ng-controller="StatisticsCtrl">
  <div>
    <span data-translate>Stats of the week:</span>
    <a data-ng-click="decrement_week()"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <span>{{week | weekNumber}} {{date | date: 'yyyy'}}</span>
    <a data-ng-click="increment_week()"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>

  <br /><br />

  <div id="chart"></div>

  <div id="StatsInfoTable" data-ng-if="blob">
    <div class="col-md-3">
      <div>
        <label data-translate>Started submissions</label>
        {{blob.summary.started_submissions}}
      </div>
      <div>
        <label data-translate>Completed submissions</label>
        {{blob.summary.completed_submissions}}
      </div>
    </div>
    <div class="col-md-3">
      <div>
        <label data-translate>Failed logins</label>
        {{blob.summary.failed_logins}}
      </div>
      <div>
        <label data-translate>Successful logins</label>
        {{blob.summary.successful_logins}}
      </div>
    </div>
    <div class="col-md-3">
      <div>
        <label data-translate>Files</label>
        {{blob.summary.files}}
      </div>
    </div>
    <div class="col-md-3">
      <div>
        <label data-translate>Free disk space</label>
        {{blob.free_disk_space | byteFmt:2 }}
      </div>
    </div>
  </div>
</div>
