<table id="tipList" class="table table-condensed table-striped">
  <thead>
    <tr>
      <th class="col-md-3" data-translate>ID</th>
      <th class="col-md-3" data-translate>Context</th>
      <th class="col-md-3" data-translate>Creation date</th>
      <th class="col-md-3" data-translate>Expiration date</th>
    </tr>
  </thead>

  <tbody id="tipListBody" data-ng-repeat="tip in admin.tip_overview | orderBy:orderProp:reverse">
    <tr>
      <td class="col-md-3">{{tip.id}}</td>
      <td class="col-md-3">{{tip.context_name}}</td>
      <td class="col-md-3">{{tip.creation_date | date:'dd-MM-yyyy HH:mm'}}</td>
      <td class="col-md-3">{{tip.expiration_date | date:'dd-MM-yyyy HH:mm'}}</td>
    </tr>
  </tbody>
</table>
