<table id="userList" class="table table-condensed table-striped">
  <thead>
    <tr>
      <th class="col-md-3">ID</th>
      <th class="col-md-3" data-translate>Role</th>
      <th class="col-md-3" data-translate>Name</th>
      <th class="col-md-3" data-translate>Last access</th>
    </tr>
  </thead>
  <tbody id="userListBody">
    <tr data-ng-repeat="user in admin.users">
      <td class="col-md-3">{{::user.id}}</td>
      <td class="col-md-3">{{::user.role}}</td>
      <td class="col-md-3">{{::user.name}}</td>
      <td class="col-md-3">{{::user.last_login | date:'dd-MM-yyyy HH:mm'}}</td>
    </tr>
  </tbody>
</table>
