<table id="AnomaliesHistoryTable" class="table table-condensed table-striped">
  <thead>
    <tr>
      <th data-translate>Date</th>
      <th data-translate>Alarm level</th>
      <th data-translate>Events</th>
    </tr>
  </thead>
  <tbody>
    <tr data-ng-repeat="anomaly in admin.anomalies">
      <td>{{anomaly.date | date:'dd-MM-yyyy HH:mm'}}</td>
      <td>{{anomaly.alarm}}</td>
      <td data-ng-repeat="event in anomaly.events">
        <div>{{event.type | anomalyToString | translate}}: {{event.count}}</div>
      </td>
    </tr>
  </tbody>
</table>
