<h3 data-translate>HTTPS configuration</h3>
<p>
  <span data-translate>This section allows you to upload a TLS certificate to use with this node.</span>
  <span data-translate>Once you have uploaded all three files you can check the configuration by visiting this server on port 443 with a web browser.</span>
</p>
<div>
  <button class="btn btn-success" data-translate data-ng-click="go('csr_gen')">Configure</button>
  <button class="btn btn-danger" data-translate data-ng-click="tls_config.$delete()">Reset</button>
</div>
