<div class="title1" data-translate>Welcome to the administration interface!</div>
<br />
<div data-translate>This interface may help you understand how the server can be configured and provides some info on how to connect to other GlobaLeaks users and experts.</div>
  <div class="title3" data-translate>Documentation</div>
  <ul>
    <li>
      <span data-translate>To properly organize your project, please read the following guidelines:</span>
      <a href="https://docs.google.com/document/d/1Y5h_lSZq-MsefH1LkEjHN5uOfEccyyI4oJgd7tm2Iho/pub" target="_blank" rel="noreferrer noopener">Guidelines on how to start up Whistleblowing Projects</a>
    </li>
    <li>
      <span data-translate>Remember to provide proper security advice to Whistleblowers:</span>
      <a href="https://docs.google.com/document/d/1ZrndvBj9eTg-ooIRfKbXxX18Ie-ODlcjnHjKXSY78Ew/edit?usp=sharing" target="_blank" rel="noreferrer noopener">Security advice for whistleblowers</a>
    </li>
    <li>
      <span data-translate>To learn more about GlobaLeaks Security you can read the following document:</span>
      <a href="https://github.com/globaleaks/globaleaks/wiki#software-security" target="_blank" rel="noreferrer noopener">Software Security</a>
    </li>
  </ul>
  <div class="title3" data-translate>Contact</div>
  <ul>
    <li>
      <span data-translate>If you need technical support, have general questions, or have new ideas for the software:</span>
      <a href="https://forum.globaleaks.org" target="_blank" rel="noreferrer noopener">Community Support Forum</a>
    </li>
    <li>
      <span data-translate>If you want to contribute to software development or report a bug, please open an issue in our ticketing system:</span>
      <a href="https://github.com/globaleaks/GlobaLeaks/issues/" target="_blank" rel="noreferrer noopener">Github</a>
    </li>
    <li>
      <span data-translate>If your non-profit needs support for investigative journalism, activism or a human rights defense project:</span>
      <a href="mailto:projects@hermescenter.org" target="_blank" rel="noreferrer noopener">Hermes Center</a>
    </li>
    <li>
      <span data-translate>For professional support and development of anti corruption and compliance projects contact the social enterprise maintaining GlobaLeaks:</span>
      <a href="https://www.globaleaks.org/contact/" target="_blank" rel="noreferrer noopener">Whistleblowing Solutions S.r.l.</a>
    </li>
    <li>
      <span data-translate>Join our IRC chat channel on the irc.oftc.net network:</span>
      <a target="_blank" rel="noreferrer noopener" href="https://webchat.oftc.net/?nick=gl-guest.&channels=globaleaks">#globaleaks</a>
    </li>
    <li>
      <span data-translate>Follow the project on:</span>
      <a target="_blank" rel="noreferrer noopener" href="https://twitter.com/globaleaks">Twitter</a>
      <a target="_blank" rel="noreferrer noopener" href="https://www.facebook.com/globaleaks">Facebook</a>
    </li>
  </ul>
</div>
