<div *ngIf="fields.enabled && (!preview || fields.preview)" [ngClass]="{'nested': !preview}" class="field-answer">
    <div [ngClass]="{'fw-bold': !preview}">
        <span *ngIf="!fields && !preview">{{index + 1}})</span>
        <span>{{fields.label |translate}}</span>
    </div>
    <div *ngIf="!hasMultipleEntries(fieldAnswers[fields.id])">
        <src-tip-field-answer-entry [field]="fields" [fieldAnswers]=fieldAnswers [entry]="fieldAnswers[fields.id][0]"></src-tip-field-answer-entry>
    </div>
    <div *ngIf="hasMultipleEntries(fieldAnswers[fields.id])">
        <div *ngFor="let entry of fieldAnswers[fields.id] | orderBy:['y', 'x']">
            <div class="nested">
                <span class="text-muted">#{{index + 1}}</span>
            </div>
            <src-tip-field-answer-entry [field]="fields" class="nested"></src-tip-field-answer-entry>
        </div>
    </div>
</div>