<div class="row" ng-controller="AdminContextsCtrl">
  <div class="span5 adminContexts">
    <h2>Contexts</h2>
    <select class="language-setting"
        ng-model="localization.selected_language"
        ng-options="lang.code as lang.name for lang in localization.node_info.available_languages">
    </select>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Details</th>
          <th>Receivers</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="context in adminContexts">
          <td>
            <label>Name</label>
            <input type="text"
                ng-model="context.name[localization.selected_language]"
                value="{{context.name[localization.selected_language]}}">
            <label>Description</label>
            <textarea
                ng-model="context.description[localization.selected_language]"
            >context.description[localization.selected_language]}}</textarea>
          </td>
          <td>
            <select multiple ui-select2 style="width: 200px">
              <option
                ng-repeat="receiver in adminReceivers"
                value="{{receiver.gus}}">{{receiver.name}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><input type="text"
            ng-model="new_context_name"></td>
          <td><button class="btn"
              ng-click="new_context()">Add</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="span4">
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
    </p>
    <a href="XXX">Learn More</a>
  </div>
</div>

