<div ng-controller="AdminContextsCtrl">
  <div class="row">
    <div class="span9">
      <h2>Contexts</h2>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <h4>Details</h4>
    </div>
    <div class="span4">
      <h4>Receivers</h4>
    </div>
  </div>

  <div class="row" ng-repeat="context in admin.contexts">
    <div class="span9 configRow" ng-class-even="'odd'">
      <form name="contextForm">

        <div class="row">

          <div class="span4">
            <label>Name</label>
            <input type="text"
                required
                ng-model="context.name"
                value="{{context.name}}">

          </div>

          <div class="span4">
            <select multiple ui-select2 style="width: 200px"
                ng-model="context.receivers">
                <option
                  ng-repeat="receiver in admin.receivers"
                  value="{{receiver.receiver_gus}}">{{receiver.name}}</option>
            </select>
          </div>

        </div>

        <div class="row">

          <div class="span4">
          <label>Description</label>
          <textarea
              required
              ng-model="context.description">{{context.description}}</textarea>
          </div>

          <div class="span4">

            <button class="btn"
              ng-click="editFields(context.fields)">Edit fields</button>

            <button class="btn btn-success"
              ng-disabled="contextForm.$pristine || contextForm.$invalid"
              ng-click="update(context)">Save</button>

            <button class="btn btn-danger"
              ng-click="delete(context)">Delete</button>

          </div>

        </div>

      </form>
    </div>
  </div>

  <div class="row">
    <div class="span4 addContext">
      <input type="text" ng-model="new_context_name">
      <button class="btn" ng-click="admin.create_context(new_context_name)">Add</button>
    </div>
  </div>

</div>
