<div class="row" ng-controller="AdminContextsCtrl">
  <div class="span9 adminContexts">
    <h2>Contexts</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Details</th>
          <th>Receivers</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="context in adminContexts">
          <td>
            <label>Name</label>
            <input type="text"
                required
                ng-model="context.name"
                value="{{context.name}}">
            <label>Description</label>
            <textarea
                required
                ng-model="context.description">context.description}}</textarea>
          </td>
          <td>
            {{context.receivers}}
            <select multiple ui-select2 style="width: 200px"
              ng-model="context.receivers">
              <option
                ng-repeat="receiver in adminReceivers"
                value="{{receiver.receiver_gus}}">{{receiver.name}}</option>
            </select>

            <button class="btn btn-success"
              ng-disabled="configForm.$invalid || isUnchanged(context)"
              ng-click="update(context)">Save</button>

            <button class="btn btn-danger"
              ng-click="delete_context(context)">Delete</button>

          </td>
        </tr>
        <tr>
          <td><input type="text"
            ng-model="new_context_name"></td>
          <td><button class="btn"
              ng-click="new_context()">Add</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

