<div class="row" ng-controller="AdminReceiversCtrl">
  <div class="span9">
    <h2>Receivers</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Details</th>
          <th>Settings</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="receiver in adminReceivers">
          <td>
            <label>Name</label>
            <input type="text"
            ng-model="receiver.name"
            value="{{receiver.name}}">
            </input>
            <label>Address</label>
            <input type="text"
            ng-model="receiver.notification_fields"
            value="{{receiver.notification_fields}}"></input>
          </td>

          <td>
            <label>Can Postpone Expiration</label>
            <input type="checkbox"
            ng-model="receiver.can_postpone_expiration">
            </input>

            <label>Can Configure Notification</label>
            <input type="checkbox"
            ng-model="receiver.can_configure_notification">
            </input>

            <label>Can Configure Delivery</label>
            <input type="checkbox"
            ng-model="receiver.can_configure_delivery">
            </input>

            <label>Can Delete Submission</label>
            <input type="checkbox"
            ng-model="receiver.can_delete_submission">
            </input>

            <label>Contexts</label>
            <p>{{receiver.contexts}}</p>

            <label>Languages</label>
            <select multiple
              ng-model="receiver.languages"
              ui-select2
              style="width: 200px">
              <option
                ng-repeat="(langCode, langName) in localization.languages"
                value="{{langCode}}">{{langName}}</option>
            </select>

            <button class="btn btn-success"
              ng-disabled="!configForm.$dirty"
              ng-click="receiver.$update();configForm.$dirty=false;">Save</button>
            <button class="btn btn-danger"
              ng-click="delete_receiver(receiver)">Delete</button>
          </td>
        </tr>
        <tr>
          <td><input type="text"
            ng-model="new_receiver_name"></td>
          <td><button class="btn"
              ng-click="new_receiver()">Add</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

