<div ng-controller="AdminReceiversCtrl">
  <div class="row">
    <div class="span9">
      <h2>Receivers</h2>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <h4>Details</h4>
    </div>
    <div class="span4">
      <h4>Settings</h4>
    </div>
  </div>

  <div class="row" ng-repeat="receiver in admin.receivers">
    <div class="span9 configRow" ng-class-even="'odd'">
      <form name="receiverForm" class="config-form receiverConfig">
        <div class="span4">
          <label>Name</label>
          <input type="text"
          ng-model="receiver.name" value="{{receiver.name}}" required>
          </input>

          <label>Email Address</label>
          <input type="email"
          ng-model="receiver.notification_fields.mail_address" required>
          </input>

          <label>Password</label>
          <input type="password"
          ng-model="receiver.password">
          </input>

          <label>Username</label>
          <strong>{{receiver.username}}</strong>
        </div>

        <div class="span4">
          <label>Can Postpone Expiration</label>
          <input type="checkbox"
          ng-model="receiver.can_postpone_expiration">
          </input>

          <label>Can Configure Notification</label>
          <input type="checkbox"
          ng-model="receiver.can_configure_notification">
          </input>

          <label>Can Configure Delivery</label>
          <input type="checkbox"
          ng-model="receiver.can_configure_delivery">
          </input>

          <label>Can Delete Submission</label>
          <input type="checkbox"
          ng-model="receiver.can_delete_submission">
          </input>

          <label>Contexts</label>
          <p>{{receiver.contexts}}</p>

          <!-- <label>Languages</label> -->
          <!-- <select multiple -->
          <!--   ng-model="receiver.languages" -->
          <!--   ui-select2 -->
          <!--   style="width: 200px"> -->
          <!--   <option -->
          <!--     ng-repeat="(langCode, langName) in localization.languages" -->
          <!--     value="{{langCode}}">{{langName}}</option> -->
          <!-- </select> -->

          <button class="btn btn-success"
            ng-disabled="receiverForm.$pristine || receiverForm.$invalid"
            ng-click="update(receiver)">Save</button>

          <button class="btn btn-danger"
            ng-click="delete(receiver)">Delete</button>

        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="configRow span9 addReceiver">
      <input type="text"
        ng-model="new_receiver_name">
      <button class="btn"
        ng-click="admin.create_receiver(new_receiver_name)">Add</button>
    </div>
  </div>
</div>

