<header class="p-3 header-box">
    <div class="d-flex flex-wrap justify-content-between">
        <div>
            <div class="mb-3 logo-box" (click)="appConfig.setHomepage()">
                <img class="img-fluid pointer" alt="project logo" ngSrc="{{appDataService.public.node.logo ? 's/logo' : 'data/logo.png'}}" width="500" height="500"/>
            </div>
            <div class="title-box">
                <ng-container *ngIf="appDataService.projectTitle || appDataService.pageTitle">
                    <h1>
                        <span (click)="appConfig.setHomepage()">
                            <a href="#">{{appDataService.projectTitle}}</a>
                        </span>
                        <span class="TitleSeparator" *ngIf="appDataService.projectTitle && appDataService.pageTitle"> - </span>
                        <span>{{appDataService ? appDataService.pageTitle ? appDataService.pageTitle : '' : '' | translate}}</span>
                    </h1>
                </ng-container>
            </div>
        </div>
        <div>
            <views-user></views-user>
        </div>
    </div>
</header>