<!-- 

This comment is needed in order to push the following strings on transifex

{{ "Preferences" | translate }}
{{ "Receiver Interface" | translate }}
{{ "Password Configuration" | translate }}
{{ "Notification Settings" | translate }}
{{ "Encryption Settings" | translate }}

-->
<div ng-include="'views/header.html'"
     onload="header_title='Preferences';
             header_subtitle='Receiver Interface'">
</div>

<div class="container config-page">
  <div class="row">
    <div class="col-md-3 config-sidebar" ng-include="'views/receiver/sidebar.html'" ng-controller="ReceiverSidebarCtrl"></div>
    <div class="col-md-9">

      <div class="row">
        <form class="config-form">

          <tabset>
            <tab ng-repeat="tab in tabs" heading="{{ tab.title | translate }}" active="tab.active" disabled="tab.disabled">
            <div ng-include="tab.template" ng-controller="tab.ctrl" class="content-tab"></div>
            </tab>
          </tabset>

        </form>
      </div>  
    </div>
  </div>
</div>
