<h2>
  {{ "Encryption Settings" | translate }}
</h2>

<div class="col-md-8">
  <div ng-show="preferences.gpg_key_fingerprint">

    <p>
      {{ "You have an active PGP key" | translate }}
      <br />
      {{ "The fingerprint is:" | translate }}
      <b>{{preferences.gpg_key_fingerprint}}</b>
    </p>

    <div class="form-group table-bordered">
      <label>
        <input ng-model="preferences.gpg_enable_notification" type="checkbox">
        {{ "Enable encrypted notification" | translate }}
      </label>
      <label ng-show="preferences.gpg_enable_notification">
        <span class="btn-info">
          {{ "now Enabled:" | translate }}
        </span>
        {{ "Every notification you'll receive will be encrypted with your PGP key." | translate }}
      </label>
    </div>

    <div class="form-group table-bordered">
      <label>
        <input ng-model="preferences.gpg_enable_files" type="checkbox">
        {{ "Enable file encryption" | translate }}
      </label>
      <label ng-show="preferences.gpg_enable_files">
        <span class="btn-info">
          {{ "now Enabled:" | translate }}
        </span>
        {{ "Every file you'll download will be encrypted with your PGP key." | translate }}
      </label>
    </div>
  </div>

  <button class="btn btn-info" ng-show="preferences.gpg_key_fingerprint" ng-click="expose_gpg_key = ! expose_gpg_key" ng-init="expose_gpg_key=false">
    <i class="glyphicon glyphicon-plus"></i>
    {{ "see PGP key details" | translate }}
  </button>

  <div ng-show="expose_gpg_key">
    <pre>{{preferences.gpg_key_info}}</pre>
  </div>

  <div class="form-group">
    <button class="btn btn-danger" ng-hide="preferences.gpg_key_fingerprint" ng-click="gpg_marketing = ! gpg_marketing" ng-init="gpg_marketing=false">
      <i class="glyphicon glyphicon-plus"></i>
      {{ "You've not enabled encryption!" | translate }}
    </button>
  </div>

  <div class="clearfix" ng-show="gpg_marketing">
    <p>
      <a href="https://gnupg.org">GnuPG</a>&nbsp;
      {{ "can be configured in order to deliver encrypted email and store encrypted files. You've to copy and paste the ascii version of your personal key, and then it would be possibile update your encryption settings. If you've any doubts talk to your admin." | translate }}
    </p>
  </div>

  <div class="form-group">
    <button class="btn btn-success" ng-init="send_key=false" ng-click="send_key = ! send_key">
      <i class="glyphicon glyphicon-plus"></i>
      {{ "Submit a PGP key" | translate }}
    </button>
  </div>

  <div class="form-group" ng-show="send_key">
    <label>{{ "Copy/Paste here the PGP Key Armor:" | translate }}</label>

    <textarea class="form-control" ng-model="preferences.gpg_key_armor"></textarea>
  </div>

  <div class="form-group" ng-show="preferences.gpg_key_fingerprint">
    <input ng-model="preferences.gpg_key_remove" type="checkbox">
    <label>{{ "Remove your PGP key" | translate }}</label>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success" ng-click="pref_save()">
    <i class="glyphicon glyphicon-ok"></i>
    {{ "Update notification and encryption settings" | translate }}
    </button>
  </div>
</div>

</div>
