<div ng-include="'views/header.html'"
     onload='header_title="Your Preferences" | translate;
     header_subtitle="Receiver Interface" | translate'>
</div>

<div class="container config-page">
  <div class="row">

    <div class="span3 config-sidebar"
         ng-include="'views/receiver/sidebar.html'" ng-controller="ReceiverSidebarCtrl">
    </div>

    <div class="span9">

      <div class="row">
        <form class="config-form">
            <div class="span4">

            <h4>{{ "Preferences and password management" | translate }}</h4>
            <br>

            <p>{{ "Your username" | translate }}: {{preferences.username}}</p>

            <label><b>{{ "Current Password" | translate }}</b></label>
            <input type="password"
            ng-model="preferences.old_password">
            <p class="text-error" ng-show="missing_old_password">
            {{ "Old password confirmation required" | translate }}</p>

            <label><b>{{ "New Password" | translate }}</b></label>
            <input type="password"
            ng-model="preferences.password" >
            <p class="text-error" ng-show="unsafe_password">
            {{ "The choosen password is unsafe, it should have" | translate }}:</p>
            <li class="text-error" ng-hide="pwdHasLetter">
            {{ "At least one letter" | translate }}</li>
            <li class="text-error" ng-hide="pwdHasNumber">
            {{ "At least one number" | translate }}</li>
            <li class="text-error" ng-hide="pwdValidLength">
            {{ "At least 8 characters" | translate }}</li>

            <label><b>{{ "Type your new password again" | translate }}</b></label>
            <input type="password"
            ng-model="preferences.check_password">
            <p class="text-error" ng-show="mismatch_password">
            {{ "The two passwords do not match" | translate }}</p>

          </div>
        </form>
      </div>

      <div class="row">
          <div class="span4">

            <button type="submit" class="btn btn-success"
                ng-disabled="mismatch_password || unsafe_password || missing_old_password"
                ng-click="pass_save()">
                {{ "Change password" | translate }}
            </button>

        </div>
      </div>

      <form class="config-form">
        <div class="row">
            <div class="span4">

                <h4>
                    {{ "Notification settings" | translate }}
                </h4>

                <div class="table-bordered" >
                    <label>
                        <input type="checkbox" ng-model="preferences.tip_notification"
                               ng-true-value="true" ng-false-value="false" />
                        {{ "Enable Tip notification" | translate }}
                    </label>
                    <label ng-show="preferences.tip_notification" >
                        <span class="btn-info">
                          {{ "now Enabled:" | translate }}</span>
                        {{ "Every new Tip you receive will trigger an email with a link to it." | translate }}
                    </label>
                </div>

                <div class="table-bordered" >
                    <label>
                        <input type="checkbox" ng-model="preferences.comment_notification"
                               ng-true-value="true" ng-false-value="false" />
                        {{ "Enable Comment notification" | translate }}
                    </label>
                    <label ng-show="preferences.comment_notification" >
                        <span class="btn-info">
                          {{ "now Enabled:" | translate }}</span>
                        {{ "Every comment, written by the whistleblower or the receivers, will trigger an email." | translate }}
                    </label>
                </div>

                <div class="table-bordered" >
                    <label>
                        <input type="checkbox" ng-model="preferences.file_notification"
                               ng-true-value="true" ng-false-value="false" />
                        {{ "Enable File notification" | translate }}
                    </label>
                    <label ng-show="preferences.file_notification" >
                        <span class="btn-info">
                          {{ "now Enabled:" | translate }}</span>
                        {{ "For every file available for download you will be notified via email with related information." | translate }}
                    </label>
                </div>

                <div>
                    <button type="submit" class="btn btn-success" ng-click="pref_save()" >
                        {{ "Update notification settings" | translate }}
                    </button>
                </div>

            </div>
        </div>
      </form>
    </div>
  </div>
</div>
