<div ng-include="'views/header.html'"
     onload="header_title='Your Preferences'; header_subtitle='Receiver Interface'">
</div>

<div class="container config-page">
  <div class="row">

    <div class="span3 config-sidebar"
         ng-include="'views/receiver/sidebar.html'" ng-controller="ReceiverSidebarCtrl">
    </div>

    <div class="span9">

      <div class="row">
        <form class="config-form">
          <div class="span4">
            <label>username</label>
            <strong>{{preferences.username}}</strong>

            <label>Current Password</label>
            <input type="password" ng-model="preferences.old_password">

            <label>New Password</label>
            <input type="password" ng-model="preferences.password">

          </div>
        </form>
      </div>

      <div class="row">
        <div class="span4">
          <button type="submit" class="btn btn-success" ng-click="save()">Save</button>
        </div>
      </div>

    </div>

  </div>

</div>