<!-- 

This comment is needed in order to push the following strings on transifex

<span data-translate>Loading Tip page...</span>
<span data-translate>Tip Status Page</span>
<span data-translate>This receiver has configured the encryption key.</span>
<span data-translate>This receiver has not configured the encryption key.</span>

-->
<div id="ContentBox" class="container statusPage ng-cloak">
  <div class="row" ng-show="!preferences.gpg_enable_files">
    <div class="col-md-12">
      <div class="alert alert-warning">
        <i class="glyphicon glyphicon-warning-sign"></i>
        <strong><span data-translate>Warning!</span></strong>
        <span data-translate>You have not configured your encryption keys, so the files will be stored on the globaleaks node un-encrypted.</span>
        <span data-translate>This may lead to unintended access to the files by the server administrator or in case of server seizing.</span>
        <span data-translate>Please configure your PGP keys in the receiver preference page.</span>
      </div>
    </div>
  </div>

  <div class="row" ng-controller="TipCtrl">
    <div class="col-md-6">
      <div class="col-md-12">
        <dl>
          <dt>
            {{ tip.context_name }}
            <a ng-show="tip.context_description" popover="{{tip.context_description}}" popover-placement="right" popover-trigger="mouseenter">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>
          </dt>
          <br />
          <dt><span data-translate>Submission date</span></dt>
          <dd>{{ tip.creation_date | date:'dd-MM-yyyy HH:mm' }}</dd>
          <br />
          <dt><span data-translate>Expiration Date</span></dt>
          <dd>{{ tip.expiration_date | date:'dd-MM-yyyy HH:mm' }}</dd>
        </dl>
        <dl ng-repeat="(fieldName, fieldValue) in tip.fields">
          <dt>
            <span>
              {{fieldFormat[fieldName].name}}
            </span>
            <a ng-show="fieldFormat[fieldName].hint" popover="{{fieldFormat[fieldName].hint}}" popover-placement="right" popover-trigger="mouseenter">
              <span class="glyphicon glyphicon-info-sign"></span>
            </a>
          </dt>
        
          <div ng-switch="" on="fieldFormat[fieldName].type">
      
            <dd ng-switch-when="checkboxes">
              <ul>
                <li ng-repeat="checkbox in fieldFormat[fieldName].options">
                {{checkbox.name}} 
                <span ng-hide="fieldValue[checkbox.name]">☐</span> 
                <span ng-show="fieldValue[checkbox.name]">☑</span>
                </li>
              </ul>
            </dd>

            <dd ng-switch-when="multiple">
              <ul>
                <li ng-repeat="selection in fieldValue">{{selection}}</li>
              </ul>

            </dd>
            <dd ng-switch-default="">{{fieldValue}}</dd>

          </div>
        </dl>
      </div>
    </div>

    <div class="col-md-6">
      <div class="col-md-12">
        <h3>{{ "Options" }}</h3>
        <span ng-show="tip.postpone_superpower">
          <button ng-click="tip_extend(tip.id)" class="btn btn-sm btn-warning">
            <i class="glyphicon glyphicon-time"></i>
            <span data-translate>Postpone Tip expiration date</span>
          </button>
        </span>
        <span ng-show="tip.can_delete_submission">
          <button ng-click="tip_delete(tip.id, true)" class="btn btn-sm btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            <span data-translate>Delete Tip</span>
          </button>
        </span>
      </div>
      <br />

      <div class="col-md-12">
        <h3 data-translate>Receiver List</h3>
        <table class="table table-striped" id="receiverList">
          <thead>
            <tr>
              <th><span data-translate>Name</span></th>
              <th><span data-translate>Description</span></th>
              <th><span data-translate>Access counter</span></th>
            </tr>
          </thead>
          <tbody id="receiverListBody">
            <tr ng-repeat="receiver in tip.receivers | orderBy:'name'">
              <td>
                <span ng-switch="" on="receiver.gpg_key_status">
                  <span ng-switch-when="Enabled">
                    <i class="glyphicon glyphicon-certificate" popover="{{ 'This receiver has configured the encryption key.' | translate }}" popover-placement="right" popover-trigger="mouseenter"></i>
                  </span>
                  <span ng-switch-when="Disabled">
                    <i class="glyphicon glyphicon-warning-sign" popover="{{ 'This receiver has not configured the encryption key.' | translate }}" popover-placement="right" popover-trigger="mouseenter"></i>
                  </span>
                </span>
                {{receiver.name}}
              </td>
              <td>{{receiver.description}}</td>
              <td>{{receiver.access_counter}}</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <h3>
        <span data-translate>Files</span>
      </h3>
      <div class="well" ng-show="tip.files">
        <a class="input-small" ng-href="{{tip.collection}}" ng-show="show_download_all()" ng-click="increaseDownloadCounts()">
          <span data-translate>download all the files</span>
        </a>
        <br />
        <a class="input-small" ng-click="show_new_files = !show_new_files" ng-init="show_new_files = false" ng-show="!show_new_files">
          <span data-translate>show only files not yet downloaded</span>
        </a>
        <a class="input-small" ng-click="show_new_files = !show_new_files" ng-show="show_new_files">
          <span data-translate>show all the files</span>
        </a>
        <br /><br />
        <div class="table-container">
          <table class="table table-striped" id="fileList">
            <thead>
              <tr>
                <th>
                  <span data-translate>Filename</span>
                </th>
                <th>
                  <span data-translate>Download</span>
                </th>
                <th>
                  <span data-translate>Upload Date</span>
                </th>
                <th>
                  <span data-translate>Content Type</span>
                </th>
                <th>
                  <span data-translate>File Size</span>
                </th>
              </tr>
            </thead>
            <tbody id="fileListBody" ng-repeat="file in tip.files">
              <tr ng-show="!show_new_files || (show_new_files && file.downloads == 0)">
                <td>
                  {{file.name}}
                </td>
                <td>
                  <a ng-disabled="file.downloads >= tip.download_limit" ng-click="increaseDownloadCount(file)" class="btn btn-xs btn-default ng-cloak" ng-href="{{file.href}}" download="{{file.name}}">
                    <i class="glyphicon glyphicon-download"></i> 
                    <span data-translate>download</span>
                    ({{file.downloads}}/{{tip.download_limit}})
                  </a>
                </td>
                <td>
                  {{file.creation_date | date:'dd-MM-yyyy' }}
                </td>
                <td>
                  {{file.content_type}}
                </td>
                <td>
                  {{file.size}} Bytes
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <br />

        <a class="input-small" ng-click="security_checksum = !security_checksum" ng-init="security_checksum = false" ng-show="!security_checksum">
          <i class="glyphicon glyphicon-plus-sign"></i>
          <span data-translate>show sha256 checksum</span>
        </a>
        <a class="input-small" ng-click="security_checksum = !security_checksum" ng-show="security_checksum">
          <i class="glyphicon glyphicon-minus-sign"></i>
          <span data-translate>show sha256 checksum</span>
          <i>
            <span data-translate>(click again to hide)</span>
          </i>
        </a>
      </div>
      <div class="well" ng-show="security_checksum">
        <p>
          <span data-translate>Use the</span> 
          <a href="https://en.wikipedia.org/wiki/SHA-2" taget="_blank" rel="noreferrer">
            <span data-translate>sha256 hash</span>
          </a> 
          <span data-translate>to verify the file integrity</span>.
          <br />
          <span data-translate>On unix based systems this can be done by running the following command in the directory of the files</span>:
        </p>
        <b>$ shasum -a 256 *</b>
        <div ng-repeat="file in tip.files">
          <div class="label label-lg label-warning">
            {{file.name}} {{file.sha2sum}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12" ng-hide="tip.files">
      <p>
        <span data-translate>No file has been uploaded!</span>
      </p>
    </div>

  </div>

  <hr>

  <div class="row">
    <div class="col-md-5">
      <h3>
        <span data-translate>Comments</span>
      </h3>
      <textarea ng-model="newCommentContent" class="form-control"></textarea>
      <br />
      <button class="btn btn-success" ng-click="newComment()" ng-disabled="!newCommentContent || newCommentContent == ''">
        <i class="glyphicon glyphicon-comment"></i>
        <span data-translate>Add Comment</span>
      </button>
      <br /><br />
      <div ng-repeat="comment in tip.comments | orderBy:'creation_date':true">
        <div ng-switch="" on="comment.type">

          <div ng-switch-when="whistleblower" class="alert alert-info">
            <div class="row">
              <div class="col-md-6">
                <strong>
                  <span data-translate>Whistleblower</span>
                </strong>
              </div>
              <div class="pull-right" style="margin-right:20px">
                <strong>
                  {{ comment.creation_date | date:'dd-MM-yyyy HH:mm' }}
                </strong>
              </div>
            </div>
            <div class="wrap-content">
              {{comment.content}}
            </div>
          </div>

          <div ng-switch-when="receiver" class="alert alert-success">
            <div class="row">
              <div class="col-md-6">
                <strong>
		  {{comment.author}}
                </strong>
              </div>
              <div class="pull-right" style="margin-right:20px">
                <strong>
                  {{ comment.creation_date | date:'dd-MM-yyyy HH:mm' }}
                </strong>
              </div>
            </div>
            <div class="wrap-content">
              {{comment.content}}
            </div>
          </div>

          <div ng-switch-when="system" class="alert alert-warning">
            <div class="row">
              <div class="col-md-6">
                <strong>
                  <span data-translate>System</span>
                </strong>
              </div>
              <div class="pull-right" style="margin-right:20px">
                <strong>
                  {{ comment.creation_date | date:'dd-MM-yyyy HH:mm' }}
                </strong>
              </div>
            </div>

            <!-- {{comment.content}} -->
            <div ng-switch="" on="comment.system_content.type">
               <div ng-switch-when="1">
                 <span data-translate>The user</span>
                 {{comment.system_content.receiver_name}}
                 <span data-translate>has postponed Tip expiration to</span>
                 {{comment.system_content.expire_on | date:'dd-MM-yyyy HH:mm' }}
               </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-offset-2 col-md-5">
      <div>
        <h3>
          <span data-translate>Private Messages with the Whistleblower</span>
        </h3>
      </div>
      <textarea ng-model="newMessageContent" class="form-control"></textarea>
      <br />
      <button class="btn btn-success" ng-click="newMessage()" ng-disabled="!newMessageContent || newMessageContent == ''">
        <i class="glyphicon glyphicon-envelope"></i>
        <span data-translate>Send Private Message</span>
      </button>
      <br /><br />
      <div ng-repeat="message in tip.messages | orderBy:'creation_date':true">
        <div ng-switch="" on="message.type">

          <div ng-switch-when="whistleblower" class="alert alert-info">
            <div class="row">
              <div class="col-md-6">
                <strong>
		  <span data-translate>Whistleblower</span>
                </strong>
              </div>
              <div class="pull-right" style="margin-right:20px">
                <strong>
                  {{ message.creation_date | date:'dd-MM-yyyy HH:mm' }}
                </strong>
              </div>
            </div>
            <div class="wrap-content">
              {{message.content}}
            </div>
          </div>

          <div ng-switch-when="receiver" class="alert alert-success">
            <div class="row">
              <div class="col-md-6">
                <strong>
		  {{message.author}}
                </strong>
              </div>
              <div class="pull-right" style="margin-right:20px">
                <strong>
                  {{ message.creation_date | date:'dd-MM-yyyy HH:mm' }}
                </strong>
              </div>
            </div>
            <div class="wrap-content">
              {{message.content}}
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

</div>

<!-- 

This comment is needed in order to push the following strings on transifex

<span data-translate>Loading Tip page...</span>

-->

