<div ng-include="'views/header.html'" onload="header_title='Your Tips' | translate;
             header_subtitle='Receiver Interface' | translate">
</div>

<div class="container config-page">

<div class="row">

  <div class="col-md-3 config-sidebar" ng-include="'views/receiver/sidebar.html'" ng-controller="ReceiverSidebarCtrl">
  </div>

  <!-- Begin main content -->
  <div class="col-md-9">
   <div class="table-container">
   <table class="table table-striped table-bordered dataTable" id="tipList">
    <thead>
      <tr>
        <th>{{ "Accesses" | translate }}</th>
        <th>{{ "Creation" | translate }}</th>
        <th>{{ "Last Access" | translate }}</th>
        <th>{{ "Preview" | translate }}</th>
        <th>{{ "Files" | translate }}</th>
      </tr>
    </thead>

    <tbody id="tipListTableBody">
      <tr ng-repeat="tip in tips" class="{{tip.parity}}">
        <td><a href="/#/status/{{tip.id}}">{{tip.access_counter}}</a></td>
        <td>{{tip.creation_date | date:'fullDate' }}</td>
        <td>{{tip.last_access | date:'fullDate' }}</td>
        <td>
            <span ng-repeat="entry in tip.preview">
            <b>{{entry.key}}</b> {{entry.text}}
            </span>
        </td>
        <td>{{tip.files_number}}</td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
  </div>
</div>
