<!-- 

This comment is needed in order to push the following strings on transifex

{{ "Your Tips" | translate }}
{{ "Receiver Interface" | translate }}
{{ "Creation Date" | translate }}
{{ "Expiration Date" | translate }}
{{ "Last Access" | translate }}
{{ "Files" | translate }}
{{ "Comments" | translate }}

-->
<div ng-include="'views/header.html'"
     onload="header_title='Your Tips';
             header_subtitle='Receiver Interface'">
</div>

<div class="container config-page">
  <div class="row">
    <div class="col-md-3 config-sidebar" ng-include="'views/receiver/sidebar.html'" ng-controller="ReceiverSidebarCtrl"></div>
    <!-- Begin main content -->
    <div class="col-md-9">
      <div class="table-responsive">
        <table class="table table-bordered" id="tipList">
          <thead>
            <tr>
              <th class="col-md-2">
                {{ "Tip" | translate }}
              </th>
              <th class="col-md-4">
                {{ "Date" | translate }}
              </th>
              <th class="col-md-2">
                {{ "Info" | translate }}
              </th>
              <th>{{ "Preview" | translate }}</th>
            </tr>
          </thead>
          <tbody id="tipListTableBody">
            <tr ng-repeat="tip in tips" class="{{tip.parity}}">
              <td class="col-md-2">
                <a ng-switch="tip.access_counter" href="/#/status/{{tip.id}}">
                  <span class="glyphicon glyphicon-folder-close" ng-switch-when="0"></span>
                  <span class="glyphicon glyphicon-folder-open" ng-switch-default></span>
                </a>
                <a ng-click="tip_delete(tip.id)">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
                <br /><br />
                <div>
                 <b>{{ "Accesses" | translate }}:</b>
                 {{tip.access_counter}} 
                <div>
              </td>
              <td class="col-md-4">
                <div class="row">
                  <span class="col-md-6">
                    <b>{{ "Creation" | translate }}:</b>
                  </span>
                  <span class="col-md-6">
                    {{tip.creation_date | date:'yyyy-MM-dd HH:mm' }}
                  </span>
                </div>
                <div class="row">
                  <span class="col-md-6">
                    <b>{{ "Expiration" | translate }}:</b>
                  </span>
                  <span class="col-md-6">
                    {{tip.expiration_date | date:'yyyy-MM-dd HH:mm' }}
                  </span>
                </div>
                <div class="row">
                  <span class="col-md-6">
                    <b>{{ "Last Access" | translate }}:</b>
                  </span>
                  <span class="col-md-6">
                    {{tip.last_access | date:'yyyy-MM-dd HH:mm' }}
                  </span>
                </div>
              </td>
              <td class="col-md-2">
                <div>
                  <b>{{ "Files" | translate }}:</b>
                  {{tip.files_number}}
                </div>
                <div>
                  <b>{{ "Comments" | translate }}:</b>
                  {{tip.comments_number}}
                </div>
              </td>
              <td>
                <div ng-repeat="entry in tip.preview">
                  <b>{{entry.label}}:</b> {{entry.text}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
