<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>
        <input data-ng-model="resources.node.adminonly" type="checkbox" />
        <span data-translate>Use the first site for administrative purposes only</span>
      </label>
    </div>

    <div class="form-group">
      <label data-translate>Profile</label>
      <select name="type" class="form-control" data-ng-model="resources.node.mode" required>
        <option value="default">DEFAULT</option>
        <option value="demo">DEMO</option>
        <option value="wbpa">WHISTLEBLOWINGPA</option>
        <option value="eat">EAT</option>
      </select>
    </div>

    <div class="form-group">
      <label data-translate>Root domain used for secondary sites</label>
      <div>
        <input class="form-control" data-ng-model="resources.node.rootdomain" type="text" />
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Questionnaire</label>
      <select class="form-control" data-ng-model="resources.node.default_questionnaire" data-ng-options="item.id as item.name for item in resources.questionnaires"></select>
    </div>

    <div data-ng-if="!resources.node.adminonly">
      <div class="form-group">
        <label>
          <input data-ng-model="resources.node.enable_signup" type="checkbox" />
          <span data-translate>Allow users to sign up</span>
        </label>
      </div>
      <div data-ng-if="resources.node.enable_signup">
        <div class="form-group">
          <label>
            <input data-ng-model="resources.node.signup_tos1_enable" type="checkbox" />
            <span data-translate>Enable terms of service</span> <span>#1</span>
          </label>
          <div data-ng-if="resources.node.signup_tos1_enable" class="nested">
            <div class="form-group">
              <label data-translate>Title</label>
              <input data-ng-model="resources.node.signup_tos1_title" type="text" class="form-control"/>
            </div>
            <div class="form-group">
              <label data-translate>Text</label>
              <div>
                <textarea class="form-control" data-ng-model="resources.node.signup_tos1_text" rows="4"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label data-translate>Checkbox label</label>
              <input data-ng-model="resources.node.signup_tos1_checkbox_label" type="text" class="form-control"/>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>
            <input data-ng-model="resources.node.signup_tos2_enable" type="checkbox" />
            <span data-translate>Enable terms of service</span> <span>#2</span>
          </label>
          <div data-ng-if="resources.node.signup_tos2_enable" class="nested">
            <div class="form-group">
              <label data-translate>Title</label>
              <input data-ng-model="resources.node.signup_tos2_title" type="text" class="form-control"/>
            </div>
            <div class="form-group">
              <label data-translate>Text</label>
              <div>
                <textarea class="form-control" data-ng-model="resources.node.signup_tos2_text" rows="4"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label data-translate>Checkbox label</label>
              <input data-ng-model="resources.node.signup_tos2_checkbox_label" type="text" class="form-control"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="btn btn-primary" data-ng-click="updateNode()">
      <i class="fa-solid fa-check"></i>
      <span data-translate>Save</span>
    </button>
  </div>
</div>
