<div class="jumbotron subhead">
    <div class="container">
      <h1>{{ "Welcome back captain!" | translate }}</h1>
      <p>{{ "From here you can run common debug tasks emulating GLClient functions" | translate }}</p>
    </div>
</div>
<div class="container">
  <div class="row debug_info">
    <div class="col-md-4">
    <h2>Debug functions</h2>
    <button id="node_button">Node info</button>
    <button id="create_new">Create New</button>
    <button id="send_fields">Send Fields</button>
    <button id="select_context">Select context</button>
    <button id="status">Status</button>
    <button id="finalize_button">Finalize</button>
  </div>
</div></div>
