<!--
The following code is based off of http://jsfiddle.net/ProLoser/bp3Qu/light/
-->
<div ng-controller="FormBuilderCtrl">
  <div id="jv-formbuilder">
    <h2>Form Builder</h2>
    <form ng-submit="saveField()">
      <div class="input">
        <label for="newField-name">Field Name:</label>
        <input type="text" id="newField-name" ng-model="newField.name" ng-required>
      </div>
      <div class="input">
        <label for="newField-required">Required:</label>
        <input type="checkbox" id="newField-required" ng-model="newField.required">
      </div>
      <div class="input">
        <label for="newField-order">Order Weight:</label>
        <input type="number" id="newField-order" ng-model="newField.order" value="0" ng-required placeholder="0">
      </div>
      <div class="input">
        <label for="newField-type">Field Type:</label>
        <select id="newField-type" ng-model="newField.type" ng-required>
          <option value="text" selected>Text</option>
          <option value="radio">Radio Buttons</option>
          <option value="select">Drop Menu (Select)</option>
          <option value="multiple">Multi-Select</option>
          <option value="checkbox">Toggle (Checkbox)</option>
          <option value="checkboxes">Checkboxes</option>
          <option value="textarea">Paragraph(s)</option>
          <option value="number">Number</option>
          <option value="url">Url</option>
          <option value="phone">Phone</option>
          <option value="email">Email</option>
          <option value="header">Heading</option>
        </select>
      </div>
      <div ng-switch on="typeSwitch(newField.type)">
      <div ng-switch-default class="input">
        <label for="newField-placeholder">Instructions:</label>
        <input type="text" id="newField-placeholder" ng-model="newField.placeholder">
      </div>
      <fieldset ng-switch-when="multiple">
        <legend><a ng-click="addOption()">Add Option</a></legend>
        <div class="newOption" ng-repeat="option in newField.options.$orderBy('order')">
          <strong>Option:</strong>
          <button class="delete" ng-click="splice(option, newField.options)">Remove</button>
          <label>
            Name:
            <input type="text" ng-model="option.name" ng-required>
          </label>
          <label>
            Value:
            <input type="text" ng-model="option.value">
          </label>
          <label>
            Order:
            <input type="number" ng-model="option.order">
          </label>
        </div>
      </fieldset>
      <span ng-switch-when="checkbox"></span>
      <span ng-switch-when="header"></span>
      </div ng-switch>
      <div><input type="submit" value="Save Field"></div>
    </form>


    <h2>Data:</h2>
  <pre>{{fields}}</pre>
</div>
