<div id="SecurityAwarenessBox" class="not-anonymous-question modal" data-ng-show="showQuestions">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-hidden="true" data-ng-click="showQuestions = false">
          <i class="glyphicon glyphicon glyphicon-remove-circle"></i>
        </button>
        <h3 data-ng-show="correctAnswer || !answered">
          <span data-translate>Warning! You are not Anonymous.</span>
        </h3>
        <h3 data-ng-show="!correctAnswer && answered">
          <span data-translate>Wrong Answer!</span>
        </h3>
      </div>
      <div class="modal-body" data-ng-switch="" on="step">
        <div class="explaination" data-ng-switch-when="1">
          <p>
          <span data-translate>With a HTTPS submission you are exposing yourself to the risks that someone else will know that you have submitted something, without knowing what you have submitted.</span>
          </p>

          <p>
          <span data-translate>Instead with an Anonymous Submission you are fully protected, it is not possible for a third party to know that you have submitted something nor what you have submitted.</span>
          </p>
      
          <p>
          <span data-translate>We strongly advise you to go for an Anonymous Submission.</span>
          </p>

          <p>
          <span data-translate>To make an Anonymous Submission, instead of using your usual Web Browser (Internet Explorer, Chrome, Firefox, Opera, etc.) you should use the</span>
          <a href="https://www.torproject.org/download">Tor Browser Bundle</a>,
          <span data-translate>this is a special piece of software designed to enable Anonymous Web Browsing.</span>
          </p>

        </div>

        <div class="question" data-ng-hide="answered" data-ng-switch-when="2">
           <p class="lead">
             <span data-translate>Which of the following statements is true?</span>
           </p>
    
           <input data-ng-model="answer.value" value="a" type="radio"> 
           <span data-translate>https protects my identity, but not the content of my leak</span><br />
           <input data-ng-model="answer.value" value="b" type="radio"> 
           <span data-translate>https protects the content of my leak but not my identity</span><br />
           <input data-ng-model="answer.value" value="c" type="radio"> 
           <span data-translate>https does not protect the content of my leak nor my identity</span><br />
           <input data-ng-model="answer.value" value="d" type="radio"> 
           <span data-translate>https does protect my identity and the content of my leak</span><br />
        </div>
    
        <div data-ng-switch="" on="answer.value" data-ng-switch-when="3">
          <div data-ng-switch-when="b" class="correct-answer">
              <p>
              <span data-translate>You are aware of the risks involved, go ahead, consider yourself warned.</span>
              </p>
          </div>

          <div class="wrodata-ng-answer" data-ng-switch-default="">
            <p>
            <span data-translate>If you want protection of your identity and the content of your message, you should try to achieve anonimity by using the</span>
            <a href="https://www.torproject.org/download">Tor browser bundle</a> 
            <span data-translate>to submit</span>
            </p>
          </div>

        </div>

      </div>
      <div class="modal-footer" data-ng-switch="" on="step">
        <div data-ng-switch-when="1">
           <a data-ng-click="goToStep(2)" class="btn btn-default">
             <span data-translate>Next Step</span>
             <i class="glyphicon glyphicon-arrow-right"></i>
           </a>
        </div>
    
        <div data-ng-switch-when="2">
          <a data-ng-click="goToStep(1)" class="btn btn-default">
            <i class="glyphicon glyphicon-arrow-left"></i>
            <span data-translate>Previous Step</span> 
          </a>
      
          <a data-ng-click="checkAnswer()" data-ng-disabled="!answer.value" class="btn btn-success">
            <span data-translate>Proceed</span>
            <i class="glyphicon glyphicon-arrow-right"></i>
          </a>
        </div>

        <div data-ng-switch-when="3">
          <a data-ng-click="goToStart()" data-ng-hide="correctAnswer" class="btn btn-default">
            <i class="glyphicon glyphicon-arrow-left"></i>
            <span data-translate>Back to start</span>
          </a>

          <a data-ng-click="goToSubmission()" data-ng-hide="!correctAnswer" data-ng-disabled="!answer.value" class="btn btn-warning">
            <span data-translate>Proceed to submission</span>
            <i class="glyphicon glyphicon-arrow-right"></i>
          </a>

        </div>
      </div>
    </div>
  </div>
</div>

<div id="ContentBox" class="container"   data-ng-show="node.description">
  <div id="HomePageBox">

    <div id="HomePageBoxHeader">
      <div id="HomePageBoxNodePresentation">
        {{ node.presentation }}
      </div>
      <div id="HomePageBoxNodeDescription">
        {{node.description}}
      </div>
    </div>

    <div id="BlowTheWhistleBox" class="ng-cloak row">
      <div data-ng-show="node.configured">
        <div class="row" data-ng-show="!node.tor2web_submission && !anonymous">
          <p class="has-error">
            <span data-translate>You are connecting to the node not anonymously and this node only supports anonymous submissions</span>
          </p>
        </div>
        <div class="row" data-ng-show="!node.tor2web_submission && !anonymous">
          <button class="btn btn-danger" disabled="disabled">
            <i class="glyphicon glyphicon-ban-circle"></i>
            <span data-translate>Whistleblowing disabled</span>
          </button>
        </div>
        <div class="row" data-ng-show="node.tor2web_submission || anonymous">
          <a data-ng-click="goToSubmission()" class="btn btn-primary">
            <i class="glyphicon glyphicon-bullhorn"></i>
            <span data-translate>Blow the Whistle</span>
          </a>
        </div>
      </div>
      <div data-ng-hide="node.configured">
        <span data-translate>Your node is not configured! Please, proceed via</span>
        <a href="/#/admin/contexts">
          <span data-translate>Admin interface and configure at least one context</span>
        </a>
      </div>
    </div>

    <div id="WhistleblowerLoginBox" class="row">
      <div class="col-md-offset-2 col-md-8">
        <div id="WhistleblowerLoginBoxHeader">
          <span data-translate>Are you a whistleblower?</span>
        </div>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label class="row">
              <span data-translate>Enter your receipt</span>
            </label>
            <div class="row">
              <span class="col-md-offset-3 col-md-6">
                <input class="form-control" data-ng-model="receipt" type="text">
              </span>
            </div>
            <br />
            <div class="row">
              <a data-ng-click="view_tip(receipt)" class="btn btn-primary" data-ng-disabled="!receipt || receipt == ''">
                <i class="glyphicon glyphicon-log-in"></i>
                <span data-translate>View Tip</span>
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="ReceiverLoginBox" class="row">
      <div class="col-md-offset-2 col-md-8">
        <div id="ReceiverLoginBoxHeader">
          <span data-translate>Are you a receiver?</span>
        </div>
        <div>
          <span data-translate>This is the</span>
          <a href="#/login">
            <span data-translate>Login page</span>
          </a>.
        </div>
      </div>
    </div>

    <div id="GlobaleaksInfoBox" class="row">
      <div class="col-md-12">
        <p>
        <span data-translate>Through this platform you will be able to report on wrongdoing. This platform is running the</span>
        <a href="https://globaleaks.org/" target="_blank" rel="noreferrer">
          <span data-translate>GlobaLeaks software</span>
        </a> ,  
        <span data-translate>that is specifically designed to protect the identity of the reporter and of the ones running the platform.</span>
        </p>
        <p>
        <span data-translate>This software is developed by the non-profit organization</span>
        <a href="http://www.logioshermes.org/" target="_blank" rel="noreferrer">Hermes Center for Transparency and Digital Human Rights</a>.
        <span data-translate>We are supported also by your donations. Visit our</span> <a href="http://logioshermes.org/home/about-mission/support-us/" target="_blank" rel="noreferrer">
          <span data-translate>donation page</span></a>
        <span data-translate>to help us further support the development of GlobaLeaks.</span>
        </p>
      </div>
    </div>
  </div>
</div>
