<div class="jumbotron homeSplash">
    <h1>Welcome to {{node_info.name}}</h1>

    <a href="#/submission" ng-hide="!configured"
        class="btn btn-primary btn-large">Blow the Whistle</a>

    <div ng-hide="configured">You node is not configured! please proceed via
        <a href="/#/admin/contexts">Admin interface and configure almost one context</a></div>


</div>

<div class="container">
    <div class="homeIntro">
        <h1>Are you a whistleblower?</h1>
        <label>Enter your receipt<br/>
        <input type="text" ng-model="receipt">
        </label>
        <a ng-click="view_tip(receipt)" class="btn btn-primary">View Tip</a>

        <h1>What is this about?</h1>
        <p class="homeIntro-byline">How you can help change the world</p>

        <p class="text-warning">
        <span class="text-info">Psst</span>: This text can be modified by you
        (admin/adopter) by modifying the content of
        <code>app/views/home.html</code> in GLCLient.
        </p>

        <p class="text-warning">
            Help us (info@globaleaks.org) improve your experience! Give us
            feedback on what you would like to customize via the Admin
            interface panel. Your needs are our priority :).
        </p>
    </div>
</div>
