<!-- 

This comment is needed in order to push the following strings on transifex

{{ "Login" | translate }}

-->
<div id="ContentBox" class="container">
  <div id="LoginBox">
    <div class="row ng-cloak" ng-show="errors[0].code == 29">
      <div class="col-md-9">
        <div class="alert alert-error alert-warning">
          <strong>{{ "Authentication Failed" | translate }}</strong>
        </div>
      </div>
    </div>
    <div class="row" ng-show="cookiesEnabled()">
      <div class="col-md-4">
        <form class=form-inline" name="loginForm" novalidate="">
          <div class="form-group">
            <label>{{ "Username:" | translate }}</label>
            <input class="form-control" name="username" ng-model="loginUsername" type="text">
          </div>

          <div class="form-group">
            <label>{{ "Password:" | translate }}</label>
            <input class="form-control" name="password" ng-model="loginPassword" type="password">
          </div>

          <button class="btn btn-success" ng-disable="loginForm.$invalid" ng-click="login(loginUsername, loginPassword, loginRole)">
            <i class="glyphicon glyphicon-log-in"></i>
            {{ "Login" | translate }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
