<!-- 

This comment is needed in order to push the following strings on transifex

{{ "Login" | translate }}

-->
<div ng-include="'views/header.html'"
     onload="header_title='Login';
             header_subtitle=''">
</div>

<div class="container config-page">
  <div class="row" ng-hide="cookiesEnabled()">
    <div class="col-md-9">
      <h2>{{ "Cookies are not enabled!" | translate }}</h2>
      <p>{{ "You will not be able to login." | translate }}</p>
    </div>
  </div>

  <div class="row" ng-cloak="" ng-show="errors[0].code == 29">
    <div class="col-md-9">
      <div class="alert alert-error alert-warning">
        <strong>{{ "Authentication Failed" | translate }}</strong>
      </div>
    </div>
  </div>

  <div class="alert alert-error" ng-show="notificationRedirect()">
    {{ "You are required to login using your username and password to access the Tip." | translate }}
  </div>

  <div class="row" ng-show="cookiesEnabled()">
    <div class="col-md-4">
      <form class=form-inline" name="loginForm" novalidate="">
        <div class="form-group">
          <label>{{ "Username:" | translate }}</label>
          <input class="form-control" name="username" ng-model="loginUsername" required="" type="text">
        </div>

        <div class="form-group">
          <label>{{ "Password:" | translate }}</label>
          <input class="form-control" name="password" ng-model="loginPassword" required="" type="password">
        </div>

        <button class="btn btn-success" ng-disable="loginForm.$invalid" ng-click="login(loginUsername, loginPassword, loginRole)">
          {{ "Login" | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
