<div class="receipt span8">

  <div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Well done!</strong> You have successfully created a submission with this globaleaks node.
  </div>

  <div class="alert alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Pro Tip!</strong> (no pun intended :P) You may access the status page for your submission at any time thanks to the following number.
  </div>
  <div class="well span4 offset2">
    <h4>Submission Receipt</h4>
    <a href="#/status/{{tip_id}}"><h2>{{tip_id}}</h2></a>
  </div>
</div>
