<div class="jumbotron subhead">
  <div class="container">
  <h1>Tip Status Page</h1>
  <p>You receipt is <input id="receiptNumber" type="text" value="{{receipt}}"></p>
  </div>
</div>

<div class="container statusPage">
  <div class="row">
    <div class="span4">
      <dl>
        {{#fields}}
        <dt>{{name}}</dt>
        <dd>{{value}}</dd>
        {{/fields}}
      </dl>
    </div>
    <div class="span4">
      <h3>Folders</h3>
      {{#folders}}
      <div class="well">
        <h4>{{name}}</h4>
        <ul>
          {{#files}}
          <li><i class="icon-book"></i> {{name}}</li>
          {{/files}}
        </ul>
      </div>
      {{/folders}}
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <h3>Receiver List</h3>
      <div class="table-container">
      <table class="table table-striped table-bordered dataTable" id="receiverList">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Languages</th>
          </tr>
        </thead>
        <tbody id="receiverListBody">
          {{#receivers}}
          <tr>
            <td>{{name}}</td>
            <td>{{description}}</td>
            <td>{{languages_supported}}</td>
          </tr>
          {{/receivers}}
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
