<div class="jumbotron subhead">
  <div class="container">
    <h1>Tip Status Page</h1>
    <p>You receipt is <input id="receiptNumber" type="text"
    value="{{receipt_id}}"></p>
  </div>
</div>
<div class="container statusPage">
  <div class="row">
    <div class="span4">
      <dl ng-repeat="field in tip.fields">
        <dt>{{field.name}}</dt>
        <dd>{{field.value}}</dd>
      </dl>
    </div>
    <div class="span4">
      <h3>Folders</h3>
      <div class="well"
        ng-repeat="folder in tip.folders">
        <h4>{{folder.name}}</h4>
        <ul>
          <li ng-repeat="file in folder.files">
            <i class="icon-book"></i> {{file.name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      <h3>Receiver List</h3>
      <div class="table-container">
      <table class="table table-striped table-bordered dataTable" id="receiverList">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Languages</th>
          </tr>
        </thead>
        <tbody id="receiverListBody">
          <tr ng-repeat="receiver in tip.receiver_map">
            <td>{{receiver.name}}</td>
            <td>{{receiver.description}}</td>
            <td>{{receiver.languages}}</td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
