<div class="jumbotron subhead">
  <div class="container">
    <h1>New Submission</h1>
    <p>I want to report on
    <select
      ng-model="localization.current_context"
      ng-options="context.get_context_name() for context in localization.node_info.contexts"
      ng-change="create_submission()"
    >
  </select>
    <p>{{current_context.get_context_description()}}</p>
    <h2>Step {{steps.current}}/{{steps.all.length}}</h2>
  </div>
</div>
<div class="container">
  <div class="submission-wizard" ng-switch on="steps.current">
    <!-- Begin the first step of the submission -->
    <div class="row" ng-switch-default>
      <div class="submission-form span6"
        ng-include="'views/submissionform.html'"
        ng-controller="FormBuilderCtrl">
      </div>
      <div class="span6">
        <div class="file-upload"
          ng-include="'views/fileupload.html'">
        </div>
      </div>
    </div>
    <!-- End first step -->

    <form name="finalsteps" novalidate>
    <!-- Begin second step -->
    <div class="row" ng-switch-when="2">
      <div class="span12 receiver-list">
        <h2>Current List of receivers</h2>
        <div ng-repeat="receiver in localization.current_context.receivers">
          {{receiver.name}} -
          {{receiver.description}} -
          {{receiver.tags}} -
          {{receiver.languages_supported}}
        </div>
      </div>
    </div>
    <!-- End second step -->

    <!-- Begin third step -->
    <div class="row" ng-switch-when="3">
      <div class="span12 receiver-list">
        <input type="text"
          ng-model="submission.submission_receipt"
        >
        <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <label class="checkbox">
          <input type="checkbox"
          required
          name="disclaimer" value="ack"> Agree
        </label>
      </div>
    </div>
    <!-- End third step -->
  </form>
  </div>

  <!-- wizard controls -->
  <div class="row wizard-control">
    <div class="span12">
      <button ng-click="back()"
        class="btn" 
        ng-disabled="disable.back">Back</button>

      <button ng-click="next()"
        class="btn" 
        ng-disabled="disable.next">Next</button>

      <button ng-click="submit()"
        class="btn"
        ng-disabled="submission.$invalid || finalsteps.$invalid"
        >Submit</button>
    </div>
  </div>
</div>

