<!-- 

This comment is needed in order to push the following strings on transifex

{{ "GlobaLeaks Wizard" | translate }}
{{ "Step by step setup" | translate }}
{{ "Read more about describing your initiative here" | translate }}

-->

<div ng-controller="WizardCtrl" id="ContentBox" class="container">

  <form class="navbar-form navbar-left" name="wizard">

    <h2>
      <strong>
        {{ "Welcome to GlobaLeaks!" | translate }}
      </strong>
    </h2>
    <h3>{{ "The following step by step wizard will guide you setupping your whisleblowing site." | translate }}</h3>
    <br />
    <div class="row bordered">
      <h2>{{ "General" | translate }}</h2>

      <div class="col-md-6">

        <div class="form-group col-md-12">
          <label class="col-md-4">
            {{ "Initiative name" | translate }}
          </label>
          <div class="col-md-8">
            <input type="text" class="form-control" ng-model="admin.node.name" placeholder="" required>
            <span class="help-block">
              {{ "Enter the name for your whistleblowing initiative" | translate }}
            </span>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label class="col-md-4">
            {{ "Initiative description" | translate }}
          </label>
          <div class="col-md-8">
            <textarea type="text" class="form-control" ng-model="admin.node.description" required></textarea>
            <span class="help-block">
              {{ "Give a concise description of your project" | translate }}
            </span>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <p class="help-hint">
          {{ "Give your whistleblowing initiative a good name and description to invite whistleblowers to submit. Be sure to make it clear the goals of your project" | translate }}
        </p>
      </div>

    </div>
    
    <div class="row bordered">
      <h2>{{ "Admin" | translate }}</h2>

      <div class="col-md-6">

        <div class="form-group col-md-12">
          <label class="col-md-4">
            {{ "Email" | translate }}
          </label>
          <div class="col-md-8">
            <input type="text" class="form-control" placeholder="" ng-model="admin.node.email" required>
            <span class="help-block">
              {{ "Enter your email address" | translate }}
            </span>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label class="col-md-4">
            {{ "Password" | translate }}
          </label>
          <div class="col-md-8">
            <input type="password" class="form-control" placeholder="" ng-model="admin.node.password" required>
            <span class="help-block">
              {{ "Enter a new globaleaks node password" | translate }}
            </span>
            <p class="has-error" ng-show="unsafe_password">
              {{ "The choosen password is unsafe, it should have" | translate }}:
            </p>
            <li class="has-error" ng-hide="pwdHasLetter">
              {{ "At least one letter" | translate }}
            </li>
            <li class="has-error" ng-hide="pwdHasNumber">
              {{ "At least one number" | translate }}
            </li>
            <li class="has-error" ng-hide="pwdValidLength">
              {{ "At least 8 keypress long" | translate }}
            </li>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label class="col-md-4">
            {{ "Confirm password" | translate }}
          </label>
          <div class="col-md-8">
            <input type="password" class="form-control" placeholder="" ng-model="admin.node.check_password" required>
            <span class="help-block">
              {{ "Please confirm it" | translate }}
            </span>
            <p class="has-error" ng-show="mismatch_password">
              {{ "The two passwords do not match" | translate }}
            </p>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <p class="help-hint">
        {{ "There are three types of users inside of GlobaLeaks: the administrator, the receivers and the whistleblower. Your username for accessing the node as administrator will be 'admin'." | translate }}
        </p>
      </div>

    </div>

    <div class="row bordered">
      <h2>{{ "Receiver" | translate }}</h2>

      <div class="col-md-6">

        <div class="form-group col-md-12">
          <label class="col-md-4">
            {{ "Name" | translate }}
          </label>
          <div class="col-md-8">
            <input type="text" class="form-control" placeholder="" ng-model="receiver.name" required>
            <span class="help-block">
              {{ "Enter the name of the receiver" | translate }}
            </span>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label class="col-md-4">Email</label>
          <div class="col-md-8">
            <input name="receiver_mail" type="email" class="form-control" placeholder="" ng-model="receiver.mail_address" required>
            <span class="help-block">
              {{ "Enter the email address through which the receiver will be notified" | translate }}
            </span>
            <p class="has-error" ng-show="wizard.receiver_mail.$error.email">
              {{ "Invalid email address" | translate }}
            </p>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label class="col-md-4">
            {{ "Password" | translate }}
          </label>
          <div class="col-md-8">
            <input name="receiver_password" type="text" class="form-control" placeholder="" ng-model="receiver.password" required ng-value="{{receiver.password}}" readonly>
            <span class="help-block">
              {{ "This is the password that the receiver must use to login to their tip page." | translate }}
            </span>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <p class="help-hint bg-warning">
        {{ "Receivers are very important for a GlobaLeaks based initiative. They are the people responsible for receiving the whistleblower submissions, verifying their authenticity and taking action upon them. Choose them wisely." | translate }}
        </p>
      </div>

    </div>

    <div class="row bordered">
      <h2>{{ "Context" | translate }}</h2>

      <div class="col-md-6">

        <div class="form-group col-md-12">
          <label class="col-md-4">
            {{ "Name" | translate }}
          </label>
          <div class="col-md-8">
            <input type="text" class="form-control" placeholder="" ng-model="context.name" required>
            <span class="help-block">
              {{ "What is the topic of your whistleblowing initiative" }}
            </span>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <p class="help-hint">
        {{ "The contexts are the categories to be selected by a whistleblower, when they perform their submission. Make sure to make it something pertinent to your initiative." | translate }}
        </p>
      </div>

    </div>

    <div class="row bordered" ng-hide="wizard.$invalid">

      <div class="col-md-10">
        <p class="congratulations">
          <label>
            <strong>
              {{ "Congratulations!" | translate }}
            </strong>
          </label>
          <div>
            {{ "You have finished configuring your GlobaLeaks site. You are now ready to future tweak it inside of the admin interface." | translate }}
          </div>
        </p>
      </div>

      <div class="col-md-2">
        <button class="btn btn-success btn-large" ng-disabled="wizard.$invalid" ng-click="finish()">Go to admin interface</button>
      </div>

    </div>

  </form>
</div>
