<!-- 

This comment is needed in order to push the following strings on transifex

<span data-translate>GlobaLeaks Wizard</span>
<span data-translate>Step-by-step setup</span>

-->

<div data-ng-controller="WizardCtrl" id="ContentBox" class="container">

  <form name="wizard">

    <h2>
      <strong>
        <span data-translate>Welcome to GlobaLeaks!</span>
      </strong>
    </h2>
    <h3 data-translate>The following step by step wizard will guide you through configuring your whistleblowing site.</h3>
    <br />
    <div class="row bordered">
      <h2 data-translate>General</h2>

      <div class="col-md-6">

        <div class="form-group col-md-12">
          <label class="col-md-4">
            <span data-translate>Initiative name</span>
          </label>
          <div class="col-md-8">
            <input type="text" class="form-control" data-ng-model="admin.node.name" placeholder="" required>
            <span class="help-block">
              <span data-translate>Enter the name for your whistleblowing initiative</span>
            </span>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label class="col-md-4">
            <span data-translate>Initiative description</span>
          </label>
          <div class="col-md-8">
            <textarea type="text" class="form-control" data-ng-model="admin.node.description" required></textarea>
            <span class="help-block">
              <span data-translate>Give a concise description of your project</span>
            </span>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <p class="help-hint">
          <span data-translate>Give your whistleblowing initiative a good name and description to invite whistleblowers to submit. Be sure to make the goals of your project clear.</span>
        </p>
      </div>

    </div>
    
    <div class="row bordered">
      <h2 data-translate>Admin</h2>

      <div class="col-md-6">

        <div class="form-group col-md-12">
          <label class="col-md-4">
            <span data-translate>Email</span>
          </label>
          <div class="col-md-8">
            <input name="admin_email" type="email" class="form-control" placeholder="" data-ng-model="admin.node.email" required>
            <span class="help-block">
              <span data-translate>Enter your email address</span>
            </span>
            <p class="has-error" data-ng-show="wizard.admin_email.$error.email">
              <span data-translate>Invalid email address</span>
            </p>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label class="col-md-4">
            <span data-translate>Password</span>
          </label>
          <div class="col-md-8">
            <input type="password" class="form-control" placeholder="" data-ng-model="admin.node.password" required>
            <span class="help-block">
              <span data-translate>Enter a new GlobaLeaks node password</span>
            </span>
            <p class="has-error" data-ng-show="unsafe_password">
              <span data-translate>The choosen password is unsafe, it should have</span>:
            </p>
            <li class="has-error" data-ng-hide="pwdHasLetter">
              <span data-translate>At least one letter</span>
            </li>
            <li class="has-error" data-ng-hide="pwdHasNumber">
              <span data-translate>At least one number</span>
            </li>
            <li class="has-error" data-ng-hide="pwdValidLength">
              <span data-translate>At least 8 characters</span>
            </li>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label class="col-md-4">
            <span data-translate>Confirm password</span>
          </label>
          <div class="col-md-8">
            <input type="password" class="form-control" placeholder="" data-ng-model="admin.node.check_password" required>
            <span class="help-block">
              <span data-translate>Please confirm it</span>
            </span>
            <p class="has-error" data-ng-show="mismatch_password">
              <span data-translate>The two passwords do not match</span>
            </p>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <p class="help-hint">
          <span data-translate>There are three types of users inside of GlobaLeaks: the administrator, the receivers and the whistleblower. Your username for accessing the node as the administrator will be 'admin'.</span>
        </p>
      </div>

    </div>

    <div class="row bordered">
      <h2 data-translate>Receiver</h2>

      <div class="col-md-6">

        <div class="form-group col-md-12">
          <label class="col-md-4">
            <span data-translate>Name</span>
          </label>
          <div class="col-md-8">
            <input type="text" class="form-control" placeholder="" data-ng-model="receiver.name" required>
            <span class="help-block">
              <span data-translate>Enter the name of the receiver</span>
            </span>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label class="col-md-4">Email</label>
          <div class="col-md-8">
            <input name="receiver_email" type="email" class="form-control" placeholder="" data-ng-model="receiver.mail_address" required>
            <span class="help-block">
              <span data-translate>Enter the email address through which the receiver will be notified</span>
            </span>
            <p class="has-error" data-ng-show="wizard.receiver_email.$error.email">
              <span data-translate>Invalid email address</span>
            </p>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label class="col-md-4">
            <span data-translate>Password</span>
          </label>
          <div class="col-md-8">
            <div class="label label-primary wizard-receiver-password"><strong>{{receiver.password}}</strong></div>
            <span class="help-block">
              <span data-translate>This is the password that the receiver must use to login to their tip page.</span>
            </span>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label class="col-md-4">PGP Key</label>
          <div class="col-md-8">
            <textarea type="text" class="form-control" data-ng-model="receiver.gpg_key_armor"></textarea>
            <span class="help-block">
              <label data-translate>Copy and paste the PGP public key here</label>
            </span>
          </div>
        </div>

        <div class="form-group col-md-12">
          <label class="col-md-4">
            <span data-translate></span>
          </label>
          <label class="col-md-8">
            <input data-ng-model="admin.node.allow_unencrypted" ng-click="open_modal_allow_unencrypted()" type="checkbox">
            <span data-translate>Enable insecure configuration without PGP encryption.</span>
            <div data-ng-show="admin.node.allow_unencrypted">
              <span class="label label-danger" data-translate>Danger</span>
              <span data-translate>By enabling this option, the system will be storing the submitted files unecrypted on your node.</span>
              <span data-translate>This happens whenever encryption is unavailable.</span>
            </div>
          </label>
        </div>

      </div>

      <div class="col-md-6">
        <p class="help-hint">
          <span data-translate>Receivers are very important for a GlobaLeaks based initiative. They are the people responsible for receiving the whistleblowers' submissions, verifying their authenticity and taking action upon them. Choose them wisely.</span>
        </p>
      </div>

      <div class="col-md-6">
        <p class="help-hint">
          <span data-translate>In order to deliver encrypted emails and files each receiver needs an associated PGP key. Cut and paste the key of the receiver or mark the checkbox:</span>
          <span data-translate>Enable insecure configuration without PGP encryption.</span>
        </p>
      </div>
    </div>

    <div class="row bordered">
      <h2 data-translate>Context</h2>

      <div class="col-md-6">

        <div class="form-group col-md-12">
          <label class="col-md-4">
            <span data-translate>Name</span>
          </label>
          <div class="col-md-8">
            <input type="text" class="form-control" placeholder="" data-ng-model="context.name" required>
            <span class="help-block">
              <span data-translate>What is the topic of your whistleblowing initiative?</span>
            </span>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <p class="help-hint">
          <span data-translate>Contexts are the categories to be selected by whistleblowers, when they perform their submission. Make sure to make them pertinent to your initiative.</span>
        </p>
      </div>

    </div>

    <div class="row bordered" data-ng-show="!(wizard.$invalid || (!admin.node.allow_unencrypted && !receiver.gpg_key_armor))">

      <div class="col-md-10">
        <div class="congratulations">
          <label>
            <strong>
              <span data-translate>Congratulations!</span>
            </strong>
          </label>
          <div>
            <span data-translate>You have finished configuring your GlobaLeaks site. You are now ready to future tweak it inside of the admin interface.</span>
          </div>
        </div>
      </div>

      <div class="col-md-2">
        <button class="btn btn-success btn-large" data-ng-disabled="wizard.$invalid || (!admin.node.allow_unencrypted && !receiver.gpg_key_armor)" data-ng-click="finish()">Go to admin interface</button>
      </div>

    </div>

  </form>
</div>
