<div class="row">
  <div class="span5">
    <h2>Internationalization</h2>
    <label>Enabled Languages</label>
    <div ng-repeat="(code, name) in adminNode.supported_languages">
      <label class="checkbox">
        <input type="checkbox"
        ng-model="adminNode.enabled_languages[code]">
        {{name}}
      </label>
    </div>
    <label>Default language</label>
    <select
      ng-model="adminNode.default_language"
      ng-options="lang.code as lang.name for lang in localization.node_info.available_languages">
    </select>
  </div>
  <div class="span4">
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
    </p>
    <a href="XXX">Learn More</a>
  </div>
</div>
