<div class="row">
  <div class="span9">
    <h2>Internationalization</h2>
    <label>Enabled Languages</label>
    <div ng-repeat="(code, name) in adminNode.supported_languages">
      <label class="checkbox">
        <input type="checkbox"
        ng-model="adminNode.enabled_languages[code]">
        {{name}}
      </label>
    </div>
    <label>Default language</label>
    <select
      ng-model="adminNode.default_language"
      ng-options="lang.code as lang.name for lang in localization.node_info.languages">
    </select>
  </div>
</div>
