<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label>{{ "Current initiative logo" | translate }}</label>
      <div class="imageUpload" ng-controller="FileUploadCtrl">
        <div class="profile" ng-mouseenter="openUploader()" ng-mouseleave="closeUploader()">
          <div ng-show="uploadfile" class="uploadfile">
            <span class="col-md-12 changePicture">
              {{ "Change picture" | translate }}
            </span>
            <div pragmatic-file-upload="" ng-src="/admin/staticfiles/globaleaks_logo">
              <div class="fileselector">
                <input type="file">
              </div>
            </div>
            <div class="uploadProgress hide">
              <div class="progress progress-striped">
                <div class="progress-bar" style="width: 0%"></div>
              </div>
            </div>
          </div>
          <img ng-src="/static/globaleaks_logo.png" class="img-thumbnail baseimage col-md-12">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>{{ "Node name" | translate }}</label>
      <input class="form-control" ng-model="admin.node.name" value="{{admin.node.name}}" type="text">
    </div>

    <div class="form-group">
      <label>{{ "Node Subtitle" | translate }}</label>
      <input class="form-control" ng-model="admin.node.subtitle" value="{{admin.node.subtitle}}" type="text">
    </div>

    <div class="form-group">
      <label>{{ "Description" | translate }}</label>
      <div>
        <textarea class="form-control" ng-model="admin.node.description">{{admin.node.description}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label>{{ "Presentation" | translate }}</label>
      <div>
        <textarea class="form-control" ng-model="admin.node.presentation">{{admin.node.presentation}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label>{{ "Footer" | translate }}</label>
      <div>
        <textarea class="form-control" ng-model="admin.node.footer">{{admin.node.footer}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label>{{ "Tor Hidden Service (hostname)" | translate }}</label>
      <input class="form-control" name="hidden_service" ng-model="admin.node.hidden_service" ng-pattern="/^http://[0-9a-z]{16}\.onion$/" type="text">
      <p class="has-error" ng-show="contentForm.hidden_service.$error.pattern">
        {{ "Invalid format for hidden service (should be http://thirteenchars123.onion)" | translate }}
      </p>
    </div>

    <div class="form-group">
      <label>{{ "Tor2web Public Site (url)" | translate }}</label>
      <input class="form-control" name="public_site" ng-model="admin.node.public_site" ng-pattern="/^https://[0-9a-z.:]*$/" type="url">
      <p class="has-error" ng-show="contentForm.public_site.$error.pattern">
        {{ "Invalid format for public site (should be https://thirteenchars123.tor2web.org)" | translate }}
      </p>
    </div>
  </div>
</div>
