<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label data-translate>Current initiative logo</label>
      <div class="imageUpload" data-ng-controller="FileUploadCtrl">
        <div class="profile" data-ng-mouseenter="openUploader()" data-ng-mouseleave="closeUploader()">
          <div data-ng-show="uploadfile" class="uploadfile">
            <span class="col-md-12 changePicture">
              <span data-translate>Change picture</span>
            </span>
            <div pragmatic-file-upload="" data-ng-src="/admin/staticfiles/globaleaks_logo">
              <div class="fileselector">
                <input type="file" style="z-index: 2147483647">
              </div>
            </div>
            <div class="uploadProgress hide">
              <div class="progress progress-striped">
                <div class="progress-bar" style="width: 0%"></div>
              </div>
            </div>
          </div>
          <img data-ng-src="/static/globaleaks_logo.png" class="img-thumbnail baseimage" style="z-index: 0">
        </div>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Node name</label>
      <input class="form-control" data-ng-model="admin.node.name" value="{{admin.node.name}}" type="text">
    </div>

    <div class="form-group">
      <label data-translate>Node Subtitle</label>
      <input class="form-control" data-ng-model="admin.node.subtitle" value="{{admin.node.subtitle}}" type="text">
    </div>

    <div class="form-group">
      <label data-translate>Description</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.description">{{admin.node.description}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Presentation</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.presentation">{{admin.node.presentation}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Footer</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.footer">{{admin.node.footer}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Email</label>
      <input class="form-control" data-ng-model="admin.node.email" value="{{admin.node.email}}" name="email" type="email">
      <p class="has-error" data-ng-show="contentForm.email.$error.email">
        <span data-translate>Invalid email address</span>
      </p>
    </div>

    <div class="form-group">
      <label data-translate>Tor Hidden Service (url)</label>
      <input class="form-control" name="hidden_service" data-ng-model="admin.node.hidden_service" data-ng-pattern="/^http://[0-9a-z]{16}\.onion$/" type="text">
      <p class="has-error" data-ng-show="contentForm.hidden_service.$error.pattern">
        <span data-translate>Invalid format for hidden service (should be http://thirteenchars123.onion)</span>
      </p>
    </div>

    <div class="form-group">
      <label data-translate>Tor2web Public Site (url)</label>
      <input class="form-control" name="public_site" data-ng-model="admin.node.public_site" data-ng-pattern="/^https://[0-9a-z.:]*$/" type="url">
      <p class="has-error" data-ng-show="contentForm.public_site.$error.pattern">
        <span data-translate>Invalid format for public site (should be https://thirteenchars123.tor2web.org)</span>
      </p>
    </div>

    <div class="form-group">
      <label data-translate>Install default fields</label>
      <div>
        <button class="btn btn-primary" data-ng-click="install_default_fields()">
          <span class="glyphicon glyphicon-floppy-open"></span>
          <span data-translate>Install</span>
        </button>
      </div>
    </div>
  </div>
</div>
