<div class="row">
  <div class="col-md-6">

    <div class="form-group">
      <label data-translate>Node name</label>
      <input class="form-control" data-ng-model="admin.node.name" value="{{admin.node.name}}" type="text">
    </div>

    <div class="form-group">
      <label data-translate>Node Subtitle</label>
      <input class="form-control" data-ng-model="admin.node.subtitle" value="{{admin.node.subtitle}}" type="text">
    </div>

    <div class="form-group">
      <label data-translate>Description</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.description">{{admin.node.description}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Presentation</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.presentation">{{admin.node.presentation}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Footer</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.footer">{{admin.node.footer}}</textarea>
      </div>
    </div>

    <div class="form-group">
      <label data-translate>Terms and Conditions</label>
      <div>
        <textarea class="form-control" data-ng-model="admin.node.terms_and_conditions">{{admin.node.terms_and_conditions}}</textarea>
      </div>
    </div>

    <span ng-show="!admin.node.disable_security_awareness_badge">
      <div class="form-group">
        <label data-translate>Security Awareness Badge Title</label>
        <div>
          <input class="form-control" data-ng-model="admin.node.security_awareness_title" type="text">{{admin.node.security_awareness_title}}</input>
        </div>
      </div>

      <div class="form-group">
        <label data-translate>Security Awareness Badge Text</label>
        <div>
          <textarea class="form-control" data-ng-model="admin.node.security_awareness_text">{{admin.node.security_awareness_text}}</textarea>
        </div>
      </div>

      <div class="form-group">
        <label>
          <input data-ng-model="admin.node.disable_security_awareness_questions" type="checkbox">
          <span data-translate>Disable the security awareness badge questions</span>
        </label>
      </div>
    </span>

    <div class="form-group">
      <label data-translate>Email</label>
      <input class="form-control" data-ng-model="admin.node.email" value="{{admin.node.email}}" name="email" type="email">
      <p class="has-error" data-ng-show="contentForm.email.$error.email">
        <span data-translate>Invalid email address</span>
      </p>
    </div>

    <div class="form-group">
      <label data-translate>Tor Hidden Service (url)</label>
      <input class="form-control" name="hidden_service" data-ng-model="admin.node.hidden_service" data-ng-pattern="/^http://[0-9a-z]{16}\.onion$/" type="text">
      <p class="has-error" data-ng-show="contentForm.hidden_service.$error.pattern">
        <span data-translate>Invalid format for hidden service (should be http://thirteenchars123.onion)</span>
      </p>
    </div>

    <div class="form-group">
      <label data-translate>Tor2web Public Site (url)</label>
      <input class="form-control" name="public_site" data-ng-model="admin.node.public_site" data-ng-pattern="/^https://[0-9a-z.:]*$/" type="url">
      <p class="has-error" data-ng-show="contentForm.public_site.$error.pattern">
        <span data-translate>Invalid format for public site (should be https://thirteenchars123.tor2web.org)</span>
      </p>
    </div>

    <div class="form-group">
      <label data-translate>Install default fields</label>
      <div>
        <button class="btn btn-primary" data-ng-click="install_default_fields()">
          <span class="glyphicon glyphicon-floppy-open"></span>
          <span data-translate>Install</span>
        </button>
      </div>
    </div>
  </div>
</div>
