<div class="row">
  <div class="span5">
    <h2>General</h2>
    <label>Site Title
    </label>
    <input class="big-input" type="text"
      ng-model="adminNode.name[localization.selected_language]"
      value="{{adminNode.name[localization.selected_language]}}">
  </div>
  <div class="span4">
    <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
    </p>
    <a href="XXX">Learn More</a>
  </div>
</div>
