<div class="addFieldFromTemplate" data-ng-form="newField">
  <div class="form-group">
    <label data-translate>Type</label>
    <select name="template_id" class="form-control" data-ng-model="new_field.template_id" data-ng-options="f.id as f.label for f in admin.fieldtemplates" required></select>
    <div class="text-danger" data-ng-show="newField.template_id.$error.required">
      <span data-translate>This field is mandatory</span>
    </div>
  </div>
  <div class="form-group">
    <button id="add-field-btn" data-ng-click="add_field_from_template(); toggleAddFieldFromTemplate()" class="btn btn-primary"
            data-ng-disabled="newField.$invalid" type="button">
      <i class="glyphicon glyphicon-plus-sign"></i>
      <span data-translate>Add</span>
    </button>
  </div>
</div>
