            <div id="FieldsEditBox" class="form-group">
              <div class="row">
                <span class="col-md-12">
                  <label>
                    <span data-translate>Questions</span>
                    <button class="btn btn-sm btn-primary show-add-question-btn" data-ng-click="toggleAddQuestion()">
                      <i class="fa-solid fa-plus"></i>
                      <span data-translate>Add new question</span>
                    </button>
                    <button class="btn btn-sm btn-primary show-add-question-from-template-btn" data-ng-click="toggleAddQuestionFromTemplate()" data-ng-if="resources.fieldtemplates.length">
                      <i class="fa-solid fa-plus"></i>
                      <span data-translate>Add question from template</span>
                    </button>
                  </label>
                </span>
              </div>
              <div class="row configSection" data-ng-if="showAddQuestion">
                <div class="col-md-6">
                  <div data-ng-include="'views/admin/questionnaires/add_field.html'"></div>
                </div>
              </div>
              <div class="row configSection" data-ng-if="showAddQuestionFromTemplate">
                <div class="col-md-6">
                  <div data-ng-include="'views/admin/questionnaires/add_field_from_template.html'"></div>
                </div>
              </div>
              <div class="row configuredFields">
                <div class="col-md-12" data-ng-repeat="field in step.children | orderBy:['y', 'x']">
                  <div data-ng-include="'views/admin/questionnaires/fields.html'"></div>
                </div>
              </div>
            </div>
