<div data-ng-init="submission._submission.identity_provided = true; vars={}">
  <div data-ng-class="{'has-error': f['whistleblower_identity_radio_1'].$error.required}" data-ng-if="!field.required">
    <label class="radio-inline"><input class="inputelem" type="radio" name="whistleblower_identity_radio_1" data-ng-model="submission._submission.identity_provided" data-ng-value="true" data-ng-change="vars.confirmation_upon_negative_answer=unspecified" /><span data-translate>Yes</span></label>
    <label class="radio-inline"><input class="inputelem" type="radio" name="whistleblober_identity_radio_1" data-ng-model="submission._submission.identity_provided" data-ng-value="false" data-ng-change="vars.confirmation_upon_negative_answer=unspecified" /><span data-translate>No</span></label>
  </div>
  <br /><br />
  <div data-ng-if="field.attrs.prompt_confirmation_upon_negative_answer.value">
    <div data-ng-if="submission._submission.identity_provided === false && vars.confirmation_upon_negative_answer === unspecified" class="alert alert-warning" data-ng-class="{'has-error': f['whistleblower_identity_radio_2'].$error.required}">
      <div>
        <span class="fieldLabel">{{field.attrs.title_of_confirmation_question_upon_negative_answer.value}}</span>
        <span class="text-danger"
              uib-popover="{{'This field is mandatory' | translate}}"
              popover-placement="right">*</span>
      </div>
      <div>{{field.attrs.text_of_confirmation_question_upon_negative_answer.value}}</div>
      <div data-ng-class="{'has-error': f['whistleblower_identity_radio_2'].$error.required}">
        <label class="radio-inline"><input class="inputelem" type="radio" name="whistleblower_identity_radio_2" data-ng-value="true" data-ng-model="vars.confirmation_upon_negative_answer" data-ng-change="submission._submission.identity_provided = false" /><span data-translate>Yes</span></label>
        <label class="radio-inline"><input class="inputelem" type="radio" name="whistleblower_identity_radio_2" data-ng-value="false" data-ng-model="vars.confirmation_upon_negative_answer" data-ng-change="submission._submission.identity_provided = true" /><span data-translate>No</span></label>
      </div>
    </div>
  </div>
  <div data-ng-if="vars.confirmation_upon_negative_answer === true" class="alert alert-warning">
    <label>{{field.attrs.text_of_final_statement_upon_negative_answer.value}}</label>
  </div>
  <div data-ng-if="submission._submission.identity_provided === true">
    <div data-ng-include="'views/submission/form.html'"></div>
  </div>
</div>
